/* ======================================================================================
   @ABSTRACTIONS -> NG-CLOAK
   ====================================================================================== */

/*
  Overrides ngCloak styles for angular.js

  Angular will use display: none !important, this abstraction overrides
  those default styles using opacity.

  Usage:
    Add ng-cloak as an attribute (or class)
    Add `ng-cloaked-transition` class (Optional)

  <div ng-cloak class="ng-cloaked-transition">
*/
html {
  [ng\:cloak],
  [ng-cloak],
  [data-ng-cloak],
  [x-ng-cloak],
  .ng-cloak,
  .x-ng-cloak {
    display: block !important;
    opacity: 0;
  }
}