/* ======================================================================================
   @ABSTRACTIONS -> ANGULAR CLOAK
   ====================================================================================== */

/*
  Overrides `ngCloak` styles for Angular JS. Angular will use `display: none !important;`, we override this so that the UI doesn't shift around so much.
*/

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: block !important;
  opacity: 0;

  /* Non JS users */
  .no-js & {opacity: 1;}

  /* Conditional overrides */

  /*
    We don't want the pre-JS loaded UI state here as it loads in in an obtrusive way, also old IE doesn't support `opacity` (`filter` fallback does not work in this case)
  */
  .header__primary .header__overlay &,
  .old-ie & {display: none !important;}

  /* Non JS users */
  .no-js .header__primary .header__overlay & {display: block !important;}
}