/* ======================================================================================
   @ABSTRACTIONS -> ARROWS
   ====================================================================================== */

/*
  Creates CSS arrows.

  .arrow--up          - Up arrow
  .arrow--down        - Down arrow
  .arrow--left        - Left arrow
  .arrow--right       - Right arrow

	Styleguide Arrows
*/

/*
	Note:
		Same as: 'utils/placeholders/arrows' except this version doesn't apply to an existing element rather it's an independent element which is more flexible.
*/

/* Set variables */
$arrow-width: 8px;

$arrow-bg: $color-light-txt;

/* Start abstraction */
.arrow {
	width: 0;
	height: 0;
	border: $arrow-width solid rgba(255, 255, 255, 0);
	display: inline-block;
	vertical-align: middle;

  /* Old IE */
  @include old-ie {
    border-color: transparent;
  }
}

/* Down */
.arrow--down {
	border-top-color: $arrow-bg;
	margin-bottom: -$arrow-width;
}

/* Up */
.arrow--up {
	border-bottom-color: $arrow-bg;
	margin-top: -$arrow-width;
}

/* Left */
.arrow--left {border-right-color: $arrow-bg;}

/* Right */
.arrow--right {border-left-color: $arrow-bg;}