/* ======================================================================================
   @ABSTRACTIONS -> BLOCK LIST
   ====================================================================================== */

/*
  Create big blocky lists of content.

  Styleguide Block List
*/

/* Shared */
.block-list {
  &,
  > li {border: 0 solid $color-grey-med-3;}
}

.block-list {
  border-top-width: 1px;

  /* List items */
  > li {
    border-bottom-width: 1px;
    padding: to-em($spacing-half);
  }
}

  /* Links */
  .block-list__link {
    display: block;
    padding: to-em($spacing-half);
    margin: -(to-em($spacing-half));
  }