/* ======================================================================================
   @ABSTRACTIONS -> BOX
   ====================================================================================== */

/*
  Simple cosmetics for a container.

  .box--heavy         - Heavier drop shadow
  .box--drop-down     - Drop down style drop shadow
  .box--torn          - Torn paper treatment
  .box--mrg-base      - Base bottom spacing
  .box--mrg-half      - Half bottom spacing
  .box--sphere        - Make into a sphere

  Styleguide Box
*/

.box {@include box;}

/* Modifier: heavy */
.box--heavy {@include box-heavy;}

/* Modifier: drop down */
.box--drop-down {@include box-drop-down;}

/* Modifier: torn paper treatment */
.box--torn {
  background: none;
  box-shadow: none;
  border: 1px solid $color-grey-light-1;
  border-bottom: 0;
  position: relative;

  /* Contain the torn paper image */
  &:after {
    content: "";
    background: #fff cloudinary-url("css/paper-tear.png") repeat-x 0 0;
    @include img-2x("css/paper-tear@2x.png", 10px, 6px);
    position: absolute;
    bottom: -5px;
    left: -1px;
    right: -1px;
    height: 6px;
  }
}

/* Modifier: base margin bottom */
.box--mrg-base {@include to-rem(margin-bottom, $spacing-base);}

/* Modifier: half base margin bottom */
.box--mrg-half {@include to-rem(margin-bottom, $spacing-half);}

/* Modifier: make into a sphere */
.box--sphere {border-radius: 100%;}
