/* ======================================================================================
   @ABSTRACTIONS -> DIVIDER
   ====================================================================================== */

/*
  Apply a dividing line between two elements.

  .divider--palm            - Base spacing only at palm
  .divider--dbl             - Double spacing
  .divider--dbl-non-palm    - Double spacing only at non palm
  .divider--half            - Half spacing

	Styleguide Divider
*/

.divider {
  @extend %mrg-base;
	@include to-rem(padding-bottom, $spacing-base);
  border-bottom: 1px solid $color-grey-med-3;
}

/* Modifier: larger spacing */
.divider--dbl {@include to-rem(padding-bottom margin-bottom, $spacing-dbl);}

/* Modifier: smaller spacing */
.divider--half {@include to-rem(padding-bottom margin-bottom, $spacing-half);}

/* Modifiers at breakpoints */
@include respond-min($non-palm) {
  /* Modifier: base spacing only at palm */
  .divider--palm {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }

  /* Modifier: larger spacing only at non palm */
  .divider--dbl-non-palm {@include to-rem(padding-bottom margin-bottom, $spacing-dbl);}
}