/* ======================================================================================
   @MODULES -> ABSTRACTIONS -> DROP DOWN
   ====================================================================================== */

/*
	Usage:
		A generic drop down powered by the 'Twitter Bootstrap Drop down' plugin. Individual drop down's that require custom styles will become a 'module'.

	Demo:
		Style Guide -> Abstractions -> Drop Down
*/

/* Container for the drop down and drop down trigger */
.drop-down-container {
  position: relative;

  /* Show the drop down */
  &.is-active > .drop-down {display: block;}
}

  /* The drop down (JS users only) */
  .js .drop-down {
    display: none;
    @include drop-down;
  }