/* ======================================================================================
   @ABSTRACTIONS -> DROP DOWN
   ====================================================================================== */

/*
	A generic drop down powered by 'Angular Toggle Visibility Directive' and a version for `:hover`. See the drop down menu module for an example of how it can be used.

  Styleguide Drop Down
*/

/* Container for the drop down and drop down trigger */
.drop-down-container {position: relative;}

  /* The drop down */
  .js,
  .drop-down-container--hover {
    .drop-down {
      @include drop-down;

      /* Show the drop down for 'Angular Toggle Visibility Directive' */
      &.is-active {display: block;}
    }
  }

  /* Modifier: hover version */
  .drop-down-container--hover {
    /* Show the drop down and increase the `z-index` as it's possible for a hover drop down to overlap a non hover drop down */
    &:hover .drop-down {
      display: block;
      z-index: $z-index-high+1;
    }

    /* Hide for touch devices as they don't have hover support */
    .touch & .drop-down {display: none;}
  }