/* ======================================================================================
   @ABSTRACTIONS -> DROP DOWN
   ====================================================================================== */

/*
	Usage:
		A generic drop down powered by 'Angular Toggle Visibility Directive' and a version for `:hover`.

	Demo:
		Style Guide -> Abstractions -> Drop Down
*/

/* Container for the drop down and drop down trigger */
.drop-down-container {position: relative;}

  /* The drop down */
  .js,
  .drop-down-container--hover {
    .drop-down {
      display: none;
      @include drop-down;

      /* Show the drop down for 'Angular Toggle Visibility Directive' */
      &.is-active {display: block;}
    }
  }

  /* Hover version */
  .drop-down-container--hover {
    /* Show the drop down */
    &:hover .drop-down {display: block;}

    /* Hide for touch devices as they don't have hover support */
    .touch & .drop-down {display: none;}
  }