/* ======================================================================================
   @ABSTRACTIONS -> FLAG
   ====================================================================================== */

/*
  Usage:
    Similar to the slat abstraction with image on the left and text on the right. But this allows vertical alignment

  Demo:
    Style Guide -> Abstractions -> Flag

  Credit:
    http://csswizardry.com/2013/05/the-flag-object/
*/

.flag {
  display: table;
  width: 100%;
}
  .flag__image,
  .flag__body {
    display: table-cell;
    vertical-align: middle;

    /* Extends: different alignment */
    .flag--top & {vertical-align: top;}

    .flag--bottom & {vertical-align: bottom;}
  }

  .flag__image {
    @include to-rem(padding-right, $spacing-base);

    .flag--rev & {
      padding-right: 0;
      @include to-rem(padding-left, $spacing-base);
    }
  }

  .flag__body {width: 100%;}
