/* ======================================================================================
   @ABSTRACTIONS -> FLAG
   ====================================================================================== */

/*
  Usage:
    Place any image- and text-like content side-by-side with vertical alignment.

  Note:
    Same as the 'Slat' abstraction but we get vertical alignment.

  Demo:
    Style Guide -> Abstractions -> Flag

  Credit:
    http://csswizardry.com/2013/05/the-flag-object/
*/

.flag {
  display: table;
  width: 100%;
}

/* Extend: shrink wrap */
.flag--shrink-wrap {width: auto;}

  /* Image and body container */
  .flag__image,
  .flag__body {
    display: table-cell;
    vertical-align: middle;

    /* Extend: different alignments */
    .flag--top & {vertical-align: top;}

    .flag--btm & {vertical-align: bottom;}
  }

  /* Image container */
  .flag__image {
    @include to-rem(padding-right, $spacing-base);

    /* Extend: switch the padding around for when the image is on the right of `flag__body` */
    .flag--rev & {
      padding-right: 0;
      @include to-rem(padding-left, $spacing-base);
    }
  }

/* --Extenders-- */

/* Need this for when you have things truncated within the abstraction */
.flag--fixed {table-layout: fixed;}
