/* ======================================================================================
   @ABSTRACTIONS -> FRAME
   ====================================================================================== */

/*
	Apply a nice framed effect typically to the `img` and `figure` elements.
*/

.frame {
	background-color: #fff;
	@include to-rem(padding, $spacing-quarter);
  border-radius: $border-radius;
  border-bottom: 1px solid $color-grey-med-3;
	box-shadow: $box-shadow;
	display: block;
}

/* Modifier: change to `inline-block` */
.frame--inline-block {display: inline-block;}

	/* Caption */
	.frame__caption {
		@include to-rem(padding, $spacing-quarter);
		font-family: $font-family-quote;
		font-style: italic;
		text-align: center;
	}