/* ======================================================================================
   @ABSTRACTIONS -> FRAME
   ====================================================================================== */

/*
	Usage:
		Apply a nice framed effect typically to the `img` and `figure` elements.

	Demo:
		Style Guide -> Abstractions -> Frame
*/

.frame {
	background-color: #fff;
	@include to-rem(padding, $spacing-quarter);
  border-radius: $border-radius;
  border-bottom: 1px solid $color-grey-med-3;
	box-shadow: $box-shadow;
	display: block;

	/* Old IE */
	@include old-ie {
		border: 1px solid $color-grey-med-3;
		border-bottom-width: 2px;
	}
}

/* Extend: change to `inline-block` */
.frame--inline {display: inline-block;}

	/* Caption */
	.frame__caption {
		@include to-rem(padding, $spacing-quarter);
		font-family: $font-family-quote;
		font-style: italic;
		text-align: center;
	}