/* ======================================================================================
   @ABSTRACTIONS - > HORIZONTAL LIST
   ====================================================================================== */

/*
  Make list items for `ul` and `ol` elements render horizontally.

  .horiz-list--dividers          - With dividers.
  .horiz-list--center            - Center align.
  .horiz-list--fit               - Force the items to occupy 100% of the available width of its parent.
  .horiz-list--comma             - Comma separated.
  .horiz-list--slash             - Slash separated.
  .horiz-list--half              - Half spacing between list items.

  Styleguide Horizontal List
*/

.horiz-list {

	/* List items */
	> li {

		/* List items + links */
		&,
		> a {display: inline-block;}
	}
}

/* --Extenders-- */

/* With dividers */
.horiz-list--dividers > li {
	border-left: 1px solid $color-grey-light-2;
	padding-left: to-em($spacing-half);
	margin-left: to-em($spacing-half);

	/* Kill rules for the first item */
	&:first-child {
		padding: 0;
		margin: 0;
		border: 0;
	}
}

/* Center align */
.horiz-list--center {text-align: center;}

/* Fit - force the items to occupy 100% of the available width of its parent */
.horiz-list--fit {
	display: table;
	width: 100%;

	/* List items */
	> li {
		display: table-cell;

		/* Links */
		> a {display: block;}
	}

	/* When combined with the `.horiz-list--dividers` and `.horiz-list--center` extenders */
	&.horiz-list--dividers > li {
		margin-left: 0;
		padding-right: to-em($spacing-half);
	}

	&.horiz-list--center > li {padding: 0;}
}

/* Comma/slash seperated */
.horiz-list--comma,
.horiz-list--slash {

	/* List items */
	> li {

		/* Add spacing */
		&:after {margin-right: to-em($spacing-quarter);}

		/* Remove for last child */
		&:last-child:after {display: none;}
	}
}

.horiz-list--slash > li:after {
	content: "/";
	margin-left: to-em($spacing-quarter);
}

.horiz-list--comma > li:after {content: ",";}

/* Half spacing between `li` */
.horiz-list--gutter-half > li {
	@include to-rem(padding-left, $spacing-half);

	/* Kill rules for the first item */
	&:first-child {padding-left: 0;}
}