/* ======================================================================================
   @ABSTRACTIONS -> ISLAND
   ====================================================================================== */

/*
	Usage:
		Simple, boxed off content.

	Demo:
		Style Guide -> Abstractions -> Island

	Credit:
		http://csswizardry.com/2011/10/the-island-object
*/

/* Shared */
.island,
.islet {
	@extend %clear-fix;
	@extend %mrg-base;
}

/* Island - full padding */
.island {@include to-rem(padding, $spacing-base);}

/* Islet - half the padding */
.islet {@include to-rem(padding, $spacing-half);}

/* --Extenders-- */

/* Top and bottom padding only */
.island--top-btm,
.islet--top-btm {
	padding-left: 0;
  padding-right: 0;
}

/* Center align */
.island--center,
.islet--center {text-align: center;}

/* Solid bg */
.island--fill,
.islet--fill {background-color: $color-off-white;}