/* ======================================================================================
   @ABSTRACTIONS -> ISLAND
   ====================================================================================== */

/*
	Simple, boxed off content.

  .island--top-btm    - Top and bottom padding only.
  .island--center     - Align text to the center
  .island--fill       - Solid background

  Styleguide Island
*/

/*
  Same as island, but with half the spacing.
  
  .islet--top-btm      - Top and bottom padding only
  .islet--center      - Align text to the center
  .islet--fill        - Solid background

  Styleguide Islet
*/

/*
	Credit:
		http://csswizardry.com/2011/10/the-island-object
*/

/* Shared */
.island,
.islet {@extend %clear-fix;}

/* Island - full padding */
.island {@include to-rem(padding, $spacing-base);}

/* Islet - half the padding */
.islet {@include to-rem(padding, $spacing-half);}

/* --Extenders-- */

/* Top and bottom padding only */
.island--top-btm,
.islet--top-btm {
	padding-left: 0;
  padding-right: 0;
}

/* --Turn off padding-- */

/* Bottom - palm only */
@include respond-max($palm) {
	.island--btm-palm {padding-bottom: 0;}
}

/* Mix em up */
.island-tops {@include to-rem(padding-top padding-bottom, $spacing-base);}

.islet-tops {@include to-rem(padding-top padding-bottom, $spacing-half);}

/* Center align */
.island--center,
.islet--center {text-align: center;}

/* Solid bg */
.island--fill,
.islet--fill {background-color: $color-off-white;}