/* ======================================================================================
   @ABSTRACTIONS -> OVERLAY
   ====================================================================================== */

/*
  A semi-transparent overlay that covers the entire UI, mainly used with dialog's.
*/

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-high+3;
  background-color: rgba($color-grey-light-3, 0.85);
}

/* Modifier: Set position to absolute so overlay will fit within container rather than screen */
.overlay--absolute {position: absolute;}

/* Modifier: Change the background colour to be more transparent. This works well with dark backgrounds */
.overlay--light {background-color: rgba($color-grey-light-3, 0.5);}