/* ======================================================================================
   @ABSTRACTIONS -> SLATS
   ====================================================================================== */

/*
	Place any image- and text-like content side-by-side.

	Styleguide Slats
*/

/*
	Credit:
		http://stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
*/

.slats {@extend %clear-fix;}

	/* Image container */
	.slats__img {
		float: left;
		@include to-rem(margin-right, $spacing-base);

		/* Images in `.islets`s need an appropriately sized margin */
		.islet & {@include to-rem(margin-right, $spacing-half);}
	}

	/* Extend: reverse the image location (right instead of left) */
	.slats__img--rev {
		float: right;
		@include to-rem(margin-left, $spacing-base);

		/* Images in `.islets`s need an appropriately sized margin */
		.islet & {@include to-rem(margin-left, $spacing-half);}
	}

	/* Extend: remove spacing on the right of the image */
	.slats__img--compact {margin-right: 0;}

		/* Images */
		.slats__img img,
		.slats__img--rev img {display: block;}

	/* Body container columnised at this breakpoint */
	.slats__body {
		/* Creates new block formatting context so the container will just take up remaining space next to the floated slats__img. Taken from OOCSS's clearfix-facebook https://github.com/stubbornella/oocss/blob/master/oocss/src/components/utils/_clearfix-me.scss */
		display: table-cell;
	  vertical-align: top;
	  width: 10000px;
	}

/* --Extenders-- */

/* Stack image on top of body for non-palm */
@include respond-min($non-palm) {
	.slats--stacked-non-palm {
		.slats__img {
			float: none;
			margin-right: 0;
		}

		.slats__body {width: auto;}
	}
}