/* ======================================================================================
   @ABSTRACTIONS -> SLATS
   ====================================================================================== */

/*
	Place any image- and text-like content side-by-side.

	Styleguide Slats
*/

/*
	Credit:
		http://stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
*/

.slats {@extend %clear-fix;}

	/* Image container */
	.slats__img {
		float: left;
		@include to-rem(margin-right, $spacing-base);

		/* Images in `.islets`s need an appropriately sized margin */
		.islet & {@include to-rem(margin-right, $spacing-half);}
	}

	/* Modifier: reverse the image location (right instead of left) */
	.slats__img--rev {
		float: right;
		@include to-rem(margin-left, $spacing-base);

		/* Images in `.islets`s need an appropriately sized margin */
		.islet & {@include to-rem(margin-left, $spacing-half);}
	}

	/* Modifier: remove spacing on the right/left of the image */
	.slats__img--compact {margin-right: 0;}

	.slats__img--compact.slats__img--rev {margin-left: 0;}

		/* Images */
		.slats__img img,
		.slats__img--rev img {display: block;}

	/* Body container */
	.slats__body {@extend %new-block-formatting-context;}