/* ======================================================================================
   @ABSTRACTIONS -> SLATS
   ====================================================================================== */

/*
	Place any image- and text-like content side-by-side.

	Styleguide Slats
*/

/* Credit: http://stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code */

.slats {@extend %clear-fix;}

	.slats__img {
		float: left;
		@include to-rem(margin-right, $spacing-base);

		/* Modifier: remove right spacing */
		.slats--compact & {margin-right: 0;}

		/* Modifier: as above but when used with the 'reverse' modifier */
		.slats--compact.slats--rev & {margin-left: 0;}

		/* Modifier: reverse the image location (right instead of left) */
		.slats--rev & {
			float: right;
			margin-right: 0;
			@include to-rem(margin-left, $spacing-base);
		}

			img {display: block;}
	}

	.slats__body {@extend %new-block-formatting-context;}