/* ======================================================================================
   @MODULES -> ABSTRACTIONS -> TOGGLE VISIBILITY
   ====================================================================================== */

/*
	Usage:
		Simply hiding/showing an element via a trigger powered by the 'Angular toggle visibility' directive.

	Demo:
		Style Guide -> Abstractions -> Toggle Visibility
*/

.js .toggle-visibility {
  display: none;

  /* Show */
  &.is-active {display: block;}
}