/* ======================================================================================
   @ABSTRACTIONS -> TOGGLE CONTENT
   ====================================================================================== */

/*
  Simply expands/collapses some content via jQuery.
  This uses the `jquery.toggle-content.js`. You can specify the content of the the toggle content button by passing in value into the `btnTxtOpen` and `btnTxtClose` parameters.

  Styleguide Toggle Content
*/

.toggle-content {
	display: none;
	outline: none;

	/* Non JS users */
	.no-js & {display: block !important;}
}

/* --Extenders-- */

/* Center align */
.toggle-content--btn-center {text-align: center;}

/* Apply base bottom margin */
.toggle-content--btn-mrg-base .is-expanded {@include to-rem(margin-bottom, $spacing-base);}