/* ======================================================================================
   @ABSTRACTIONS -> VERTICAL ALIGNMENT
   ====================================================================================== */

/*
  Vertically align an element within it's parent via CSS `display: table`.

  Styleguide Vertical Alignment
*/

.vert-align {
  display: table;
  width: 100%;
  height: 100%;
}

  .vert-align__inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
