<%= styleguide_block 'Tables' do |style| %>
<table cellspacing="0" class="$modifier_class">
    <caption>Parking rates</caption>
    <thead>
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Weekday</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0 - 2.0hrs</td>
            <td>Free</td>
        </tr>
        <tr>
            <td>2.0 - 2.5hrs</td>
            <td>$8.00</td>
        </tr>
        <tr>
            <td>2.5 - 3.0hrs</td>
            <td>$10.00</td>
        </tr>
    </tbody>
</table>
<% end %>