<%# Store map popup %>
<div class="map-micello__overlay islet js-toggle-store-logo <%%- classname %>">

  <%# Store logo, name and closing time %>
  <div class="map-micello__overlay__retailer map-micello__mrg-base">

    <%# Store logo %>
    <%% if(obj.logo) { %>
      <div class="map-micello__overlay__retailer__img">
        <%%=
          map.micello.Map.logoOptions.alt = name + ' logo',
          $.cloudinary.fetch_image(logo, map.micello.Map.logoOptions).attr('onerror', 'map.micello.Map.removeLogo(this)')[0].outerHTML
        %>
      </div>
    <%% } %>
    <%# //Store logo %>

    <%# Store name and closing time %>
    <div class="map-micello__overlay__retailer__body">
      <em class="map-micello__hdr txt-truncate"><%%- name %></em>
      <%% if(!closed_today){ %>
      <p>Open till <time datetime="<%%- closing_time_24 %>"><%%- closing_time_12 %></time></p>
      <%% } else {  %>
        <p>Closed today</p>
      <%%  }  %>
    </div>
    <%# //Store name and closing time %>

  </div>
  <%# //Store logo, name and closing time %>

  <%# Link and button to storefront %>
  <%%  if(storefront_path) {  %>
  <a href="<%%- storefront_path %>" class="map-micello__overlay__cta btn btn--full btn--main">
    <span class="icon icon--store icon--lrg icon--spacing-lrg" aria-hidden="true"></span>
    Store details
  </a>
  <%% } else {  %>
  <button type="button" class="map-micello__overlay__cta btn btn--full btn--main js-stores-maps-toggle-btn js-map-hide" aria-owns="stores-maps-toggle-listing-detail stores-maps-toggle-map">
    <span class="icon icon--store icon--lrg icon--spacing-lrg" aria-hidden="true"></span>
    Store details
  </button>
  <%%  }  %>
  <%# //Link and button to storefront %>

</div>

<%# Faux popup close button %>
<span class="map-micello__overlay__close icon icon--close-sml icon--xlrg icon--flush-top" aria-hidden="true"></span>
<%# //Faux popup close button %>

<%# //Store map popup %>
