<%# Store map popup %>
<div class="map-micello__overlay islet js-toggle-store-logo <%%- classname %>">

  <%# Store logo, name and closing time %>
  <div class="map-micello__overlay__retailer map-micello__mrg-base">

    <%# Store logo %>
    <%% if(obj.logo) { %>
      <div class="map-micello__overlay__retailer__img">
        <img src="//res.cloudinary.com/wlabs/image/fetch/b_rgb:FFFFFF,c_pad,h_62,w_168/<%%= logo %>" alt="<%%= name %> logo" onerror="map.micello.Map.removeLogo(this)" />
      </div>
    <%% } %>
    <%# //Store logo %>

    <%# Store name and closing time %>
    <div class="map-micello__overlay__retailer__body">
      <em class="map-micello__hdr txt-truncate"><%%- name %></em>
      <div class="js-trading-hours-map-overlay" style="height: 18px"></div>
    </div>
    <%# //Store name and closing time %>

  </div>
  <%# //Store logo, name and closing time %>

  <%# Link and button to storefront %>
  <%%  if(storefront_path) {  %>
  <a href="<%%- storefront_path %>" class="map-micello__overlay__cta btn btn--full btn--main js-micello-hijack-event-fix">
    <span class="icon icon--store icon--lrg icon--spacing-lrg" aria-hidden="true"></span>
    Store details
  </a>
  <%% } else {  %>
  <button type="button" class="map-micello__overlay__cta btn btn--full btn--main js-stores-maps-toggle-btn js-map-hide js-micello-hijack-event-fix" aria-owns="stores-maps-toggle-listing-detail stores-maps-toggle-map">
    <span class="icon icon--store icon--lrg icon--spacing-lrg" aria-hidden="true"></span>
    Store details
  </button>
  <%%  }  %>
  <%# //Link and button to storefront %>

</div>

<%# Faux popup close button %>
<span class="map-micello__overlay__close icon icon--close-sml icon--xlrg icon--flush-top" aria-hidden="true"></span>
<%# //Faux popup close button %>

<%# //Store map popup %>
