<div class="sg-section">
  <div class="sg-h1">Base</div>
  <div class="box island">This covers the default colours, typography, link and list styles</div>
</div>

<%= render 'styleguides/base/typography' %>