---
title: Default Elements - Tables
---

<div class="sg-h1">Default Element Styles - Tables</div>
<div class="sg-note sg-note--outdent">All default elements e.g. paragraphs, links, headings, images, etc. are given base styles that define how the element should look in all occurrences on the page. Base styles include setting heading sizes, default link styles, default font styles, etc. This page shows all the default elements concerned with <span class="pt-sans-narrow-bold">tables</span>.</div>

<!-- Base -->
<div class="sg-h2">Base</div>

<table cellspacing="0">
    <caption>Jimi Hendrix - albums</caption>
    <thead>
        <tr>
            <th scope="col">Album</th>
            <th scope="col">Year</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Are You Experienced</td>
            <td>1967</td>
            <td>$10.00</td>
        </tr>
        <tr>
            <td>Axis: Bold as Love</td>
            <td>1967</td>
            <td>$12.00</td>
        </tr>
        <tr>
            <td>Electric Ladyland</td>
            <td>1968</td>
            <td>$10.00</td>
        </tr>
        <tr>
            <td>Band of Gypsys</td>
            <td>1970</td>
            <td>$12.00</td>
        </tr>
    </tbody>
</table>
<!-- //Base -->

<!-- Bordered -->
<div class="sg-h2">Bordered</div>

<table cellspacing="0" class="table-bordered">
    <caption>Jimi Hendrix - albums</caption>
    <thead>
        <tr>
            <th scope="col">Album</th>
            <th scope="col">Year</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Are You Experienced</td>
            <td>1967</td>
            <th>$10.00</th>
        </tr>
        <tr>
            <td>Axis: Bold as Love</td>
            <td>1967</td>
            <td>$12.00</td>
        </tr>
        <tr>
            <td>Electric Ladyland</td>
            <td>1968</td>
            <td>$10.00</td>
        </tr>
        <tr>
            <td>Band of Gypsys</td>
            <td>1970</td>
            <td>$12.00</td>
        </tr>
    </tbody>
</table>
<!-- //Bordered -->

<!-- Striped -->
<div class="sg-h2">Striped</div>

<table cellspacing="0" class="table-striped">
    <caption>Jimi Hendrix - albums</caption>
    <thead>
        <tr>
            <th scope="col">Album</th>
            <th scope="col">Year</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Are You Experienced</td>
            <td>1967</td>
            <td>$10.00</td>
        </tr>
        <tr>
            <td>Axis: Bold as Love</td>
            <td>1967</td>
            <td>$12.00</td>
        </tr>
        <tr>
            <td>Electric Ladyland</td>
            <td>1968</td>
            <td>$10.00</td>
        </tr>
        <tr>
            <td>Band of Gypsys</td>
            <td>1970</td>
            <td>$12.00</td>
        </tr>
    </tbody>
</table>
<!-- //Striped -->

<!-- Bordered & Striped -->
<div class="sg-h2">Bordered &amp; Striped</div>

<table cellspacing="0" class="table-bordered table-striped">
    <caption>Jimi Hendrix - albums</caption>
    <thead>
        <tr>
            <th scope="col">Album</th>
            <th scope="col">Year</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Are You Experienced</td>
            <td>1967</td>
            <td>$10.00</td>
        </tr>
        <tr>
            <td>Axis: Bold as Love</td>
            <td>1967</td>
            <td>$12.00</td>
        </tr>
        <tr>
            <td>Electric Ladyland</td>
            <td>1968</td>
            <td>$10.00</td>
        </tr>
        <tr>
            <td>Band of Gypsys</td>
            <td>1970</td>
            <td>$12.00</td>
        </tr>
    </tbody>
</table>
<!-- //Bordered & Striped -->