---
title: Default Elements - Embedded Content
---

<div class="sg-h1">Default Element Styles - Embedded Content</div>
<div class="sg-note sg-note--outdent">All default elements e.g. paragraphs, links, headings, images, etc. are given base styles that define how the element should look in all occurrences on the page. Base styles include setting heading sizes, default link styles, default font styles, etc. This page shows all the default elements concerned with <span class="pt-sans-narrow-bold">embedded content</span>.</div>

<!-- Image -->
<div class="sg-h2">Image</div>

<p><img src="http://placekitten.com/110/110" alt=""></p>

<div class="sg-h3">Image Link</div>
<p><a href="#"><img src="http://placekitten.com/110/110" alt=""></a></p>
<!-- //Image -->

<!-- SVG -->
<div class="sg-h2">SVG</div>

<svg width="100px" height="100px">
    <circle cx="100" cy="100" r="100" fill="#ff0000" />
</svg>
<!-- //SVG -->

<!-- Audio -->
<div class="sg-h2">Audio</div>

<audio controls></audio>
<audio></audio>
<!-- //Audio -->

<!-- Video -->
<div class="sg-h2">Video</div>

<video controls></video>
<video></video>
<!-- //Video -->