<div class="sg-h1">Default Element Styles - Form Inputs &amp; Buttons</div>
<div class="sg-note sg-note--outdent">All default elements e.g. paragraphs, links, headings, images, etc. are given base styles that define how the element should look in all occurrences on the page. Base styles include setting heading sizes, default link styles, default font styles, etc. This page shows all the default elements concerned with <span class="pt-sans-narrow-bold">form inputs and buttons</span>.</div>

<form action="#" id="form" method="post" class="sg-inputs-btns">

  <!-- HTML5 Inputs -->
  <div class="sg-h2">HTML5 Inputs</div>

  <ul class="list sg-list--reset">
    <li><label class="sg-lbl pt-sans-narrow-reg" for="ic">Color input</label> <input type="color" id="ic" placeholder="#000000"></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="in">Number input</label> <input type="number" id="in" min="0" max="10" placeholder="5"></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="ir">Range input</label> <input type="range" id="ir" placeholder="10"></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="idd">Date input</label> <input type="date" id="idd" placeholder="1970-01-01"></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="idm">Month input</label> <input type="month" id="idm" placeholder="1970-01"></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="idw">Week input</label> <input type="week" id="idw" placeholder="1970-W01"></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="idt">Datetime input</label> <input type="datetime" id="idt" placeholder="1970-01-01T00:00:00Z"></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="idtl">Datetime-local input</label> <input type="datetime-local" id="idtl" placeholder="1970-01-01T00:00"></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="itime">Time input</label> <input type="time" id="itime" placeholder="T00:00:00Z"></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="is">Search input</label> <input type="search" id="is" name="search"></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="ie">Email input</label> <input type="email" id="ie" name="email" placeholder="name@example.com"></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="itel">Tel input</label> <input type="tel" id="itel" name="tel"></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="itel">URL input</label> <input type="url" id="iurl" name="url" placeholder="http://"></li>
  </ul>
  <!-- //HTML5 Inputs -->

  <!-- Everything Else -->
  <div class="sg-h2">Everything Else</div>

  <ul class="list sg-list--reset">
    <li><label class="sg-lbl pt-sans-narrow-reg" for="it">Text input</label> <input type="text" id="it" name="text"></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="ip">Password input</label> <input type="password" id="ip" name="password"></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="if">File input</label> <input type="file" id="if" name="file"></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="irb">Radio input</label> <input type="radio" id="irb" name="rad"></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="icb">Checkbox input</label> <input type="checkbox" id="icb"></li>
    <li>
      <label class="sg-lbl pt-sans-narrow-reg" for="s">Select list</label>
      <select id="s" name="select">
        <option selected>Option 01</option>
        <option>Option 02</option>
        <option>Option 03</option>
        <option>Option 04</option>
      </select>
    </li>
    <li>
      <label class="sg-lbl pt-sans-narrow-reg" for="sm">Multiple Select list</label>
      <select id="sm" name="select-multi" multiple="multiple" size="10">
        <optgroup label="Group 1">
          <option value="1">Some text goes here</option>
          <option value="2">Another choice could be here</option>
          <option value="3">Yet another item to be chosen</option>
        </optgroup>
        <optgroup label="Group 2">
          <option value="4">Some text goes here</option>
          <option value="5">Another choice could be here</option>
          <option value="6">Yet another item to be chosen</option>
        </optgroup>
        <optgroup label="Group 3">
          <option value="7">Some text goes here</option>
          <option value="8">Another choice could be here</option>
          <option value="9">Yet another item to be chosen</option>
        </optgroup>
      </select>
    </li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="t">Textarea</label> <textarea id="t" cols="30" rows="5"></textarea></li>
  </ul>

  <div class="sg-h3">Disabled</div>

  <ul class="list sg-list--reset">
    <li><label class="sg-lbl pt-sans-narrow-reg" for="it">Text input</label> <input type="text" id="it" name="text" disabled></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="ip">Password input</label> <input type="password" id="ip" name="password" disabled></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="if">File input</label> <input type="file" id="if" name="file" disabled></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="irb">Radio input</label> <input type="radio" id="irb" name="rad" disabled></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="icb">Checkbox input</label> <input type="checkbox" id="icb" disabled></li>
    <li>
      <label class="sg-lbl pt-sans-narrow-reg" for="s">Select list</label>
      <select id="s" name="select" disabled>
        <option selected>Option 01</option>
        <option>Option 02</option>
        <option>Option 03</option>
        <option>Option 04</option>
      </select>
    </li>
    <li>
      <label class="sg-lbl pt-sans-narrow-reg" for="sm">Multiple Select list</label>
      <select id="sm" name="select-multi" multiple="multiple" size="10" disabled>
        <optgroup label="Group 1">
          <option value="1">Some text goes here</option>
          <option value="2">Another choice could be here</option>
          <option value="3">Yet another item to be chosen</option>
        </optgroup>
        <optgroup label="Group 2">
          <option value="4">Some text goes here</option>
          <option value="5">Another choice could be here</option>
          <option value="6">Yet another item to be chosen</option>
        </optgroup>
        <optgroup label="Group 3">
          <option value="7">Some text goes here</option>
          <option value="8">Another choice could be here</option>
          <option value="9">Yet another item to be chosen</option>
        </optgroup>
      </select>
    </li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="t">Textarea</label> <textarea id="t" cols="30" rows="5" disabled>Textarea text</textarea></li>
  </ul>

  <div class="sg-h3">Read only</div>

  <ul class="list sg-list--reset">
    <li><label class="sg-lbl pt-sans-narrow-reg" for="it">Text input</label> <input type="text" id="it" name="text" readonly></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="ip">Password input</label> <input type="password" id="ip" name="password" readonly></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="if">File input</label> <input type="file" id="if" name="file" readonly></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="irb">Radio input</label> <input type="radio" id="irb" name="rad" readonly></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="icb">Checkbox input</label> <input type="checkbox" id="icb" readonly></li>
    <li><label class="sg-lbl pt-sans-narrow-reg" for="t">Textarea</label> <textarea id="t" cols="30" rows="5" readonly>Textarea text</textarea></li>
  </ul>
  <!-- //Everything Else -->

  <!-- Clickable Inputs & Buttons -->
  <ul class="list sg-list--reset">
    <li><label class="sg-lbl pt-sans-narrow-reg">Image (input)</label> <input type="image" src="http://placekitten.com/90/24" alt="Image (input)"></li>
    <li><input type="reset" value="Reset (input)"></li>
    <li><input type="button" value="Button (input)"></li>
    <li><input type="submit" value="Submit (input)"></li>
    <li><button type="reset">Reset (button)</button></li>
    <li><button type="button">Button (button)</button></li>
    <li><button type="submit">Submit (button)</button></li>
  </ul>

  <div class="sg-h3">Disabled</div>
  <ul class="list sg-list--reset">
    <li><label class="sg-lbl pt-sans-narrow-reg">Image (input)</label> <input type="image" src="http://placekitten.com/90/24" alt="Image (input)" disabled></li>
    <li><input type="reset" value="Reset (input)" disabled></li>
    <li><input type="button" value="Button (input)" disabled></li>
    <li><input type="submit" value="Submit (input)" disabled></li>
    <li><button type="reset" disabled>Reset (button)</button></li>
    <li><button type="button" disabled>Button (button)</button></li>
    <li><button type="submit" disabled>Submit (button)</button></li>
  </ul>

  <div class="sg-h3">Read only</div>
  <ul class="list sg-list--reset">
    <li><label class="sg-lbl pt-sans-narrow-reg">Image (input)</label> <input type="image" src="http://placekitten.com/90/24" alt="Image (input)" readonly></li>
    <li><input type="reset" value="Reset (input)" readonly></li>
    <li><input type="button" value="Button (input)" readonly></li>
    <li><input type="submit" value="Submit (input)" readonly></li>
  </ul>
  <!-- //Clickable Inputs & Buttons -->

</form>