---
title: Templates &amp; Pages
---

<!-- Templates -->
<div class="sg-h1">Templates</div>
<div class="sg-note sg-note--outdent">Templates are the master layouts for all the pages in the website, think of them as the scaffolding for the entire website.</div>

<ul class="list pt-sans-narrow-reg lrg">
	<li><a href="#">Master template</a></li>
</ul>
<!-- //Templates -->

<!-- Pages -->
<div class="sg-h1">Pages</div>
<div class="sg-note sg-note--outdent">Pages sit inside templates e.g. "Products" page.</div>

<div class="sg-h2">Search</div>
<ul class="list pt-sans-narrow-reg lrg">
	<li><a href="#">List view</a></li>
</ul>
<!-- //Pages -->

<!--<div class="sg-note sg-note--indent">
	<div class="sg-h4 sg-mrg-off--top sg-mrg-half">Dynamic states not seen by default</div>
    <ul class="list pt-sans-narrow-reg lrg">
        <li><a href="">List view</a> <span class="sg-meta">- no results found</span></li>
        <li><a href="">Map view</a></li>
        <li><a href="">Availability view</a></li>
   	</ul>
</div>-->

<!--
<span class="sg-alert sg-alert--success">Signed off</span>
<span class="sg-alert sg-alert--error">On hold</span>
<span class="sg-alert sg-alert--warning">Needs review</span>
<span class="sg-alert sg-alert--info">90% complete</span>
-->