<%# Notices %>
<h2 id="notice">Notices</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

<div class="spacing spacing--mrg-dbl">
  <div class="grid grid--gutter-dbl">
    <div class="grid__item non-palm-one-whole">
      <ul class="txt-formatted__list-unstyled">
        <li>
            <%# [BACKEND] The first link in the list needs to have class `list-divider--first` %>
            <a href="#" class="list-divider list-divider--first txt-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsumdolorsitametconsectetur adipiscinfelit
            <span class="icon icon--arrow-right icon--lrg icon--base-color" aria-hidden="true"></span>
          </a>
        </li>
        <li>
          <a href="#" class="list-divider txt-truncate">
            Quisque convallis leo at ligula ultricies
            <span class="icon icon--arrow-right icon--lrg icon--base-color" aria-hidden="true"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<%# //Notices %>