<h2 id="parking">Parking</h2>

<% if @parking.rates_apply? %>
  <% if @parking.type_of_rate == 'hourly_rate' %>
    <%= render :partial => 'parking_rates'%>
  <% else %>
    <%= render :partial => 'parking_fixed_rate'%>
  <% end %>
<% else %>
  <%= render :partial => 'parking_complimentary'%>
<% end %>