<div class="grid grid--gutter-dbl grid--mrg-dbl-non-palm">
  <div class="grid__item one-whole">
    <p>All parking is a fixed price of $<%= @parking.flat_rate %></p>

    <%= render partial: 'parking_terms_and_conditions' %>
  </div>

  <%= render partial: "parking_info" %>
</div>
