<small class="fine-print fine-print--<%= align %>">
  *
  <% if @parking.credit_card_surcharge_amount.to_i > 0 %>
    <%= @parking.credit_card_surcharge_amount %>% surcharge on all credit card payments.
  <% end %>
  <% if @parking.pdf_ref.present? %>
    <span class="icon icon--pdf"></span> <%= link_to 'Parking terms &amp; conditions'.html_safe, cl_image_path(@parking.pdf_ref, format:'pdf'), target: '_blank', class:"test-terms-link" %> apply.
  <% end %>
</small>