/* ======================================================================================
   @UTILS -> SHAME
   ====================================================================================== */

/*
	Usage:
		A stylesheet dedicated for back-end devs to house their quick-fix CSS when there's no time for a front-end dev to write the CSS.

	Note:
		-	Ideally the CSS in this stylesheet shouldn't make it into production rather it should be looked at and intergrated into the CSS architecture prior to that.
		-   This stylesheet is imported last so anything you put here should override all other CSS, if you're having trouble then use the sledgehammer: `!important`.

	Credit:
		http://csswizardry.com/2013/04/shame-css/
*/

.facet-filtered { width: 220px; clear: both; margin: 20px 0 10px; }
.facet-filtered .viewport { width: 200px; height: 200px; overflow: hidden; position: relative; }
.facet-filtered .overview { list-style: none; position: absolute; left: 0; top: 0; }
.facet-filtered .thumb .end,
.facet-filtered .thumb { background-color: #003D5D; }
.facet-filtered .scrollbar { position: relative; float: right; width: 15px; }
.facet-filtered .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; }
.facet-filtered .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
.facet-filtered .thumb .end { overflow: hidden; height: 5px; width: 13px; }
.facet-filtered .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
