<h1>Movies @ <%= @centre.name %></h1>

<ul id="sessions">
<% days(@movie_sessions.last['start_time'], @centre.code, params['date']).each do |day| %>
  <li><%= day %></li>
<% end %>
</ul>

<ul id="movies">
<% @movies.each do |movie| %>
  <li class="title">
    <%= image_tag ImageService.transform(ref: movie.image_url, size: "400x400"), alt: movie.title %>
    <%= movie.title %>
  </li>
<% end %>
</ul>