<% content_for :hero_intro do %>
  <div class="hero__intro">
    <%# [BACKEND] Add link to store details %>
    <a href="#" class="btn btn--main"><span class="icon icon--store icon--xlrg icon--spacing" aria-hidden="true"></span> Cinema Details</a>
  </div>
<% end %>

<h2 class="hide-visually">Session Times</h2>

  <%# Nav contextual %>
  <div class="nav-contextual js-nav-contextual">
    <div class="nav-contextual__clip">
      <div class="nav-contextual__clip__inner">
        <ul class="nav-contextual__list tab__nav horiz-list js-nav-contextual-list">
          <%# [BACKEND] Need to add <!-- --> between `li` to remove white space %>
          <% days(@movie_sessions.last['start_time'], @centre.code, params['date']).each do |day| %>
            <li><%= day %></li>
          <% end %>
        </ul>
      </div>
      <span class="nav-contextual__clip__overlay icon icon--arrow-right icon--mega icon--flush-top js-nav-contextual-clip-overlay" aria-hidden="true"></span>
    </div>
  </div>

  <% content_for :javascript do %>
    <script>
      $('.js-nav-contextual').navContextual();
    </script>
  <% end -%>
  <%# //Nav contextual %>

  <%# List of movies %>
  <ul class="grid grid--mrg-base-non-palm">
    <% @movies.each do |movie| %>
      <li class="grid__item one-half lap-sml-one-third non-palm-one-quarter">
        <article class="tile box" role="article">
          <a href="<%= centre_movie_path(centre_id: @centre.code, id: movie.id) %>">
            <div class="tile__image">
              <%# [BACKEND] Use Cloudinary to limit the dimension of the image to be 290x350. Don't need to add `width` and `height` attribute in `img`  as it's responsive site. %>
              <img src="http://placehold.it/600x400" alt="Screenshot of <%= movie.title %>">
            </div>
            <div class="tile__meta">
              <h3 class="tile__meta__hdr txt-truncate"><%= movie.title %></h3>
              <%# [BACKEND] Add next session time and output 24 hour format in `datetime` attribute as indicated below %>
              <p class="tile__meta__desc txt-truncate">Next session at <time datetime="[session time]">[SESSION TIME]</time></p>
            </div>
          </a>
        </article>
      </li>
    <% end %>
  </ul>
  <%# //List of movies %>