<%= styleguide_block 'Drop Down' do %>
  <div class="drop-down-container">
    <div class="drop-down">
      <ul>
        <li>Morbi in sem quis.</li>
        <li>Praesent dapibus</li>
        <li>Phasellus ultrices nulla quis nibh</li>
        <li>Pellentesque fermentum dolor</li>
      </ul>
    </div>
  </div>
<% end %>