<%- if @store.description.present? %>
  <li class="storefront__flexslider-blurb">
    <div class="vert-align">
      <div class="vert-align__inner">
        <p><%= @store.description[0..300] %></p>
      </div>
    </div>
  </li>
<%- end %>
