<%# Storefront header SEO description %>
<%- if @store.description.present? %>
  <li class="storefront__flexslider-blurb">
    <div class="vert-align">
      <div class="vert-align__inner">
        <p><%=raw @store.description.truncate(300, '&#8230;') %></p>
      </div>
    </div>
  </li>
<%- end %>
<%# //Storefront header SEO description %>