<%# FIXME: [BACKEND] this blurb absolutely cannot exceed 300 characters in back office console or wherever it's coming from AND because this is optional do not render the `li` if no blurb is provided, see 'https://jira.mywestfield.com/browse/WSF-4899' for more info (via server side not JS) %>
<%- if @store.description.present? %>
  <li class="storefront__flexslider-blurb">
    <div class="vert-align">
      <div class="vert-align__inner">
        <p><%= @store.description[0..300] %></p>
      </div>
    </div>
  </li>
<%- end %>
