<%# Storefront header (no banner) %>
<header>

  <%# Storefront name and SEO description carousel %>
  <div class="flexslider flexslider--contain-controls is-no-store-banner">
    <ul class="slides">
      <li>
        <div class="storefront__flexslider-storename vert-align">
          <div class="vert-align__inner">
            <h1<% if @store.name.length > 58 %> class="is-long-store-name"<% end %>>
              <%= @store.name %>
            </h1>
          </div>
        </div>
      </li>
      <%- if @store.description.present? %>
        <li class="storefront__flexslider-blurb">
          <div>
            <div class="vert-align">
              <div class="vert-align__inner">
                <p><%=raw @store.description.truncate(300, '&#8230;') %></p>
              </div>
            </div>
          </div>
        </li>
      <%- end %>
    </ul>
  </div>
  <%# //Storefront name and SEO description carousel %>

</header>
<%# //Storefront header (no banner) %>