<%# Storefront header (with banner) %>
<header>

  <%# Storefront name %>
  <h1 class="hide-visually" itemprop="name"><%= @store.name %></h1>
  <%# //Storefront name %>

  <%# Storefront banner and SEO description carousel %>
  <div class="flexslider flexslider--contain-controls">
    <ul class="slides">
      <li>
        <%= fetch_image_tag @store.storefront,
          alt: "#{@store.name} banner",
          width: 2048,
          crop: :limit,
          quality: 25,
          format: :auto
        %>
      </li>
      <%- if @store.description.present? %>
        <li class="storefront__flexslider-blurb">
          <%# We repeat the banner image in this slide so that the slide gets the same dimensions as the slide above %>
          <%= fetch_image_tag @store.storefront,
            alt: "",
            width: 2048,
            crop: :limit,
            quality: 25,
            format: :auto
          %>
          <div>
            <div class="vert-align">
              <div class="vert-align__inner">
                <p><%=raw @store.description.truncate(300, '&#8230;') %></p>
              </div>
            </div>
          </div>
        </li>
      <%- end %>
    </ul>
  </div>
  <%# //Storefront banner and SEO description carousel %>

</header>
<%# //Storefront header (with banner) %>