<header>
  <h1 class="hide-visually"><%= @store.name %> storefront</h1>
  <div class="flexslider flexslider--contain-controls" style="background-image: url(<%= cl_image_path(@store.storefront) %>);">
    <ul class="slides">
      <li>
        <%= cl_image_tag @store.storefront, alt: "#{@store.name} banner" %>
      </li>
      <%= render 'description' %>
    </ul>
  </div>
</header>
