<!--[if lte IE 8]>
<div id="map">Upgrade your browser, limited support for older browsers coming soon.</div>
<![endif]-->
<!--[if gt IE 8]><--!>
<div id="map" class="map">Loading map...</div>
<%= javascript_include_tag 'http://maps.micello.com/webmap/v0/micellomap.js' %>
<%= javascript_include_tag 'map' %>
<%= javascript_tag do %>
  new Map
<% end %>
<!--><![endif]-->
