<div class="storefront__featured storefront__featured--tiles island-ends">
  <div class="container">
    <div class="txt-formatted">
      <h2 class="mrg-half"><%= heading %> from <%= store.name %></h2>
    </div>
    <ul class="grid grid--gutter-half grid--mrg-half">
      <% results.each do |result| %>
        <li class="grid__item one-half non-palm-one-third">
          <%= render partial: "/shared/tiles/#{ kind }",
                layout: '/layouts/tile',
                locals: {
                  result: result,
                  options: {
                    height: 288
                  }
                }
            %>
        </li>
      <% end %>
    </ul>
    <%= link_to path do %>
      View more<span class="icon icon--arrow-right icon--lrg" aria-hidden="true"></span>
    <% end %>
  </div>
</div>