/* ======================================================================================
   @MODULES -> MODIFIER
   ====================================================================================== */

/*
  For sectioning modifier examples.
*/

.sg-modifier {
  position: relative;
  @include to-rem(padding-top, 60);
}

  .sg-modifier__name {
    position: absolute;
    top: 0;
    left: 0;
    @include to-rem(padding, $spacing-half);
    background-color: $color-green;
    color: #fff;
    border-top-left-radius: 4px;
  }