/* ======================================================================================
   @MODULES -> MODIFIER
   ====================================================================================== */

/*
  For sectioning modifier examples
*/

.sg-modifier {
  position: relative;
  @include to-rem(padding-top, 35);
  border-top: 1px solid $color-grey-med-1;
}

  .sg-modifier__name {
    position: absolute;
    top: 0;
    right: 0;
    @include to-rem(padding, 2 5);
    background-color: $color-green;
    color: #fff;
  }