/* ======================================================================================
   @MODULES -> WIDGETS -> ADAPTIVE GOOGLE MAP
   ====================================================================================== */

/*
	Usage:
		Adaptive Google map.

	Note:
		Loads in a static Google map image for palm sized viewports and a dynamic Google map (full API) for non-palm sized viewports.

	Demo:
		Style Guide -> Modules -> Widgets -> Adaptive Google Map

	Credit:
		http://codepen.io/bradfrost/full/tLxAs
*/

.map {
	position: relative;
	/* Have this so the preloader is contained within it's parent */
	min-height: 100px;

	/* Preloader */
	.preloader {
		position: absolute;
		top: to-em($spacing-base);
		left: to-em($spacing-base);
	}
}

	/* Static */
	.map__static {
		@include to-rem(margin-bottom, $spacing-half);
		background: url("http://maps.google.com/maps/api/staticmap?center=-33.867487,151.20699&zoom=15&markers=-33.867487,151.20699&size=640x400&sensor=false") no-repeat 50% 50%;
		/* Retina */
		@include img-2x("http://maps.google.com/maps/api/staticmap?center=-33.867487,151.20699&zoom=15&markers=-33.867487,151.20699&size=640x400&sensor=false&scale=2", 640px, 400px);

		/* Hide at this breakpoint */
		@include respond-min($non-palm) {
			display: none;
		}

		/* Print */
		@media print {
			display: block !important;
			text-align: center;
		}

		/* Hide image so we can use a bg img instead to maintain scale, see: http://webdesigntutsplus.s3.amazonaws.com/tuts/365_google_maps/demo/index.html */
		img {
			opacity: 0;

			/* Print */
			@media print {
				opacity: 1;
			}
		}
	}

	/* Dynamic */
	.map__dynamic {

		/* Print */
		@media print {
			display: none;
		}

		/* Turn off responsive images */
		img {max-width: none;}
	}

	/* Map link - hide at this breakpoint only when JS is on */
	@include respond-min($non-palm) {
		.js .map__link {display: none;}
	}