/* ======================================================================================
   @MODULES -> DIALOG
   ====================================================================================== */

/*
	A dialog in the form of an overlay i.e. sits on top of the entire UI. They're two types of dialog: default dialog (appears via an action e.g. when a dialog trigger is selected) and an alert dialog (appears on page load and only shows on initial page visit).
*/

/* Hide dialog and overlay by default */
.dialog,
.overlay--dialog {display: none;}

/* When dialog is active (`body` element) */
.is-dialog-active {
	/*
		Prevent scrolling on the `body` element when the dialog is visible, this is in addition to the `.dialog-prevent-overflow-x` hack below as this is applied via JS so applying to the `body` element prevents supported browsers from the lag of JS being applied.
	*/
	overflow: hidden;

	/* Show dialog and overlay */
	.dialog,
	.overlay--dialog {display: block;}

	/* Hide some other elements in the DOM while dialog is active */
	.skip-link,
	.btn--site-feedback {display: none;}
}

.dialog {
	position: fixed;
	z-index: $z-index-high+4;
	@include to-rem(top, $spacing-half);
	left: 4%;
	right: 4%;
}

/*
	A hack to prevent the main UI under the dialog/overlay from being scrolled vertically as iOS/Android do not support `overflow: hidden` on the `body` / `html` elements. This `div` will be injected via JS.
*/
.dialog-prevent-overflow-x {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* Modifier: National product browse centre selector */
.dialog--national-centre-selector {
	text-align: center;

	/* Set fixed width and align it to the center of the viewport */
	@include respond-min($palm-lrg) {
		left: 50%;
		right: auto;
		@include to-rem(margin-left, -220);
		@include to-rem(width, 440);
	}

	@include respond-min($lap-sml-middle) {
		@include to-rem(top, $spacing-dbl);
	}

	/* Heading */
	h1 {
		width: 92%;
		margin-left: auto;
		margin-right: auto;
		@include font-size($font-size-lrger, 1.3);

		@include respond-range(410, 478) {
			width: 78%;
		}

		@include respond-range(479, $lap-sml-middle - 1) {
			width: 70%;
		}

		@include respond-min($lap-sml-middle) {
			@include font-size(28, 1.3);
		}
	}

	/* Drop down menu */
	.drop-down-menu {
		width: 90%;
		margin-left: auto;
		margin-right: auto;

		/* Adjust widths at these breakpoints */
		@include respond-min(420) {
			width: 70%;
		}

		@include respond-min($palm-lrg) {
			@include to-rem(width, $drop-down-width);
		}
	}

		.drop-down-menu__target {text-align: left;}

	/* Close dialog button */
	.btn--faux-link {
		@include font-size($font-size-sml, 1);

		@include respond-min($lap-sml-middle) {
			@include font-size($font-size, 1);
		}
	}
}

	/* Westfield logo */
	.dialog__logo img {
		width: 82px;
		height: 26px;

		@include respond-min($lap-sml-middle) {
			width: 114px;
			height: 36px;
		}
	}

	/* Spacing */
  .dialog__mrg-base {@extend %mrg-base;}