.map__stores {
  background-color: #fff;
  border-right: 1px solid #bababa;
  overflow: auto;
  position: absolute;
  @include to-rem(top, 110);
  bottom: 0;
  left: 0;
  @include to-rem(width, 450);

  li {
    @include to-rem(padding, 10 20);
    border-bottom: 1px solid #bababa;

    &.list__store {
      position: relative;
      @include to-rem(padding-left, 120);

      img {
        position: absolute;
        @include to-rem(top, 10);
        @include to-rem(left, 20);
        @include to-rem(width, 60);
        @include to-rem(height, 60);
      }
    }

    &.list__heading {
      background-color: #e8e8e8;
    }
  }
}

#map {
  background-color: #fff;
  position: absolute;
  @include to-rem(top, 110);
  bottom: 0;
  @include to-rem(left, 450);
  right: 0;
}

