.stores-map-content {
  position: absolute;
  @include to-rem(top, 110);
  bottom: 0;
  left: 0;
  right: 0;

  ul {
    background-color: #fff;
    border-right: 1px solid #bababa;
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    @include to-rem(width, 450);

    li {
      @include to-rem(padding, 10 20);
      border-bottom: 1px solid #bababa;

      &.list__store {
        position: relative;
        @include to-rem(padding-left, 120);

        img {
          position: absolute;
          @include to-rem(top, 10);
          @include to-rem(left, 20);
          @include to-rem(width, 60);
          @include to-rem(height, 60);
        }
      }

      &.list__heading {
        background-color: #e8e8e8;
      }
    }
  }

  .map {
    position: absolute;
    top: 0;
    bottom: 0;
    @include to-rem(left, 450);
    right: 0;
  }
}

#map {
  $background-color: #e9e6e3; 
  background-color: $background-color;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;

  #micello-map #ui-levels-floors-container {
    background-color: $background-color;
  }
}

.store-location {
  position: relative;
  @include to-rem(height, 400);

  #ui-name, #ui-geo {
    opacity: 1 !important;
    display: block !important;
  }

  #ui-zoom, #ui-levels {
    display: none !important;
  }
}

.map--ie-support {

  .hidden {
    display: none !important;
  }

  .container {
    width: 100%;
    height: 100%;
    overflow: auto;

    img {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      max-width: 300%;
    }
  }

  .zoom {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: white;
    border: 1px solid #333;
    color: #333;
    z-index: 99;

    div {
      padding: 5px 10px;
      border-top: 1px solid #333;

      &:hover {
        background-color: #333;
        color: white;
      }

      &:first-child {
        border-top: 0;
      }
    }
  }

  .level-select {
    position: absolute;
    right: 20px;
    top: 100px;
    background-color: white;
    border: 1px solid #333;
    color: #333;
    z-index: 99;

    .level-select__level {
      padding: 5px 10px;
      border-top: 1px solid #333;

      &.selected {
        background-color: #da291c;
        color: white;
      }

      &:hover {
        background-color: #333;
        color: white;
      }

      &:first-child {
        border-top: 0;
      }
    }
  }
}
