.map__stores {
  background-color: #fff;
  border-right: 1px solid #bababa;
  overflow: auto;
  position: absolute;
  @include to-rem(top, 110);
  bottom: 0;
  left: 0;
  @include to-rem(width, 450);

  li {
    padding: 10px 20px;
    border-bottom: 1px solid #bababa;

    &.list__store {
      position: relative;
      padding-left: 120px;

      img {
        position: absolute;
        top: 10px;
        left: 20px;
        width: 60px;
        height: 60px;
      }
    }

    &.list__heading {
      background-color: #e8e8e8;
    }
  }
}

#map {
  background-color: #fff;
  position: absolute;
  @include to-rem(top, 110);
  bottom: 0;
  @include to-rem(left, 450);
  right: 0;
}

