/* ======================================================================================
   @MODULES -> WIDGETS -> TABS
   ====================================================================================== */

/*
	Usage:
		Similar to the accordion in terms of preserving screen real estate but a tabbed interface is typically rendered horizontally not vertically and rather than 'expanding' and 'collapsing' each item the item simply appears and you can only ever see one item at a time.

	Demo:
		Style Guide -> Modules -> Widgets -> Tabs
*/

/* Tab nav */
.tab__nav {

	/* Non JS users */
	.no-js & {display: none;}

	/* Print */
	@media print {
		display: none;
	}
}

/* Tab Content */
.tab__content {
	display: none;

	/* Active tab */
	&.is-active {display: block;}

	/* Non JS users */
	.no-js & {
		display: block;
		@extend %mrg-base;
	}

	/* Print */
	@media print {
		display: block;
		@extend %mrg-base;
	}
}

	/* Tab content heading - typically for 'print' media and 'non-JS' users */
	.tab__content__hdr {
		display: none;
		@extend %mrg-base;

		/* Non JS users */
		.no-js & {display: block;}

		/* Print */
		@media print {display: block;}
	}