/* ======================================================================================
   @BUTTONS -> BASE
   ====================================================================================== */

/*
	Usage:
		Basic button structural/reset styling that all buttons need, can only be extended from not used by itself.

	Demo:
		Style Guide -> Buttons -> Base
*/

/* Reset all the browser default styles */
.btn {
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
	background: none;
	border: 0;
	padding: 0;

	/* Print */
	@media print {
		display: none;
	}

	/* Parent + pseudo elements */
	&,
	&:before,
	&:after {@extend %transition-subtle;}

	/* --Extenders-- */

	/*
		Note: have to increase the specificity by chaining the base `.btn` class to make it easy to override non-simple extenders.
	*/

	/* Make span full width of parent */
	&.btn--full {
		display: block;
		text-align: center;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	&.btn--full-left {text-align: left;}

	/* Small and large sizes */
	&.btn--sml {@include font-size($font-size-sml, normal);}

	&.btn--lrg {@include font-size($font-size-lrg, normal);}

	/* Apply right spacing for adjacent buttons */
	&.btn--spacing {margin-right: to-em($spacing-quarter);}

	/* Used when you need to position an arrow icon over to the far right */
	&.btn--pointer {
		position: relative;
		@include to-em(padding-right, $spacing-base);

		.btn--pointer__icon {
			position: absolute;
			@include to-em(right, $spacing-half);
			top: 50%;
			@include to-em(margin-top, -8.5 - 1);
		}
	}
}