/* ======================================================================================
   @BUTTONS -> Expand/Collapse
   ====================================================================================== */

/*
	Used when something needs to be expanded and collapsed.

	Styleguide Expand/Collapse
*/

.btn--expand-collapse {
	color: $color-txt-light;
	@include font-size($font-size-sml, 1);
	@include to-em(padding-top padding-bottom, $spacing-third);
	border-top: 1px solid $color-grey-med-3;

	/* Icon */
	.icon:before {margin-left: to-em($spacing-sixth);}
}