/* ======================================================================================
   @BUTTONS -> Expand/Collapse
   ====================================================================================== */

/*
	Usage:
		Used when something needs to be expanded and collapsed.

	Demo:
		Style Guide -> Buttons -> Expand/Collapse
*/

.btn--expand-collapse {
	color: $color-light-txt;
	@include font-size($font-size-sml, 1);
	@include to-em(padding-top padding-bottom, $spacing-third);
	border-top: 1px solid $color-grey-1;

	/* Icon */
	.icon:before {margin-left: to-em($spacing-sixth);}
}