/* ======================================================================================
   @BUTTONS -> FAUX LINK
   ====================================================================================== */

/*
	Usage:
		Make a button look like a link.

	Note:
		-	The base link styles are repeated here so not very DRY (need to look into this).
		-	Extends from `.btn`, see: 'buttons/base'.

	Demo:
		Style Guide -> Buttons -> Faux Link
*/

.btn--faux-link {
	color: $color-link;

	/* Pseudo classes */
	&:hover,
	&:focus {color: $color-link-hover;}
}