/* ======================================================================================
   @BUTTONS -> MAIN
   ====================================================================================== */

/*
	Usage:
		The main button for the site.

	Note:
		Extends from `.btn`, see: 'buttons/base'.

	Demo:
		Style Guide -> Buttons -> Main
*/

.btn--main {
	@include font-size($font-size-sml, normal);
	@include to-em(padding, $spacing-half $spacing-base+$spacing-half);
	box-shadow: inset 0 -1px 0 rgba(#000, 0.4);
	border-radius: $border-radius;

	/* Bg colour combined with disabled state */
	&,
	&[disabled],
	&.is-disabled {background-color: $color-cta-green;}

	/* Parent + pseudo classes */
	&,
	&:visited,
	&:hover,
	&:focus {color: #fff;}

	/* Pseudo classes */
	&:hover,
	&:focus {@include opacity(0.8);}

	&:active {box-shadow: inset 0 1px 0 rgba(#000, 0.4);}
}

	/* --Extenders-- */

	/* -Alternate colours- */

	/* Blue */
	.btn--main-alt {
		/* Bg colour combined with disabled state */
		&,
		&[disabled],
		&.is-disabled {background-color: $color-cta-blue;}
	}

	/* Dark */
	.btn--main-alt2 {
		/* Bg colour combined with disabled state */
		&,
		&[disabled],
		&.is-disabled {background-color: $color-med-txt;}
	}

	/* Subtle */
	.btn--main-alt3 {
		box-shadow: inset 0 -1px 0 rgba(#000, 0.15);

		/* Bg colour combined with disabled state */
		&,
		&[disabled],
		&.is-disabled {background-color: $color-grey-3;}

		/* Parent + pseudo classes */
		&,
		&:visited,
		&:hover,
		&:focus {color: $color-dark-txt;}

		&:active {box-shadow: inset 0 1px 0 rgba(#000, 0.15);}
	}

	/* Compact - decrease padding */
	.btn--main-compact {@include to-em(padding, $spacing-third $spacing-base);}

	/* Large - increase top/btm padding */
	.btn--main-lrg {@include to-em(padding-top padding-bottom, $spacing-half+$spacing-micro);}

	/* Flanked - position 2 icons either ends, has to be used with the `.btn--pointer` base extender */
	.btn.btn--main-flanked {
		@include to-em(padding, $spacing-half+$spacing-micro+$spacing-micro $spacing-dbl);

		/* Arrow icon */
		.btn--pointer__icon + .btn--pointer__icon {
			@include to-em(left, $spacing-half);
			right: auto;
		}
	}