/* ======================================================================================
   @BUTTONS -> TOGGLE
   ====================================================================================== */

/*
  Make a label with a checkbox look and operate like an iOS toggle widget

  Styleguide Toggle
*/

.btn-toggle {

  .btn-toggle__handle {
    display: inline-block;
    position: relative;
    vertical-align: text-bottom;
    @include to-rem(top, 2);
    @include to-rem(border-radius, $spacing-half);
    background-color: $color-grey-med-2;
    @include to-rem(width, $spacing-base+$spacing-quarter);
    @include to-rem(height, $spacing-half+$spacing-quarter);

    &::after {
      @extend %transition-subtle;
      content: " ";
      position: absolute;
      @include to-rem(top, $spacing-micro);
      @include to-rem(left, $spacing-micro);
      @include to-rem(width, $spacing-half+($spacing-micro/2));
      @include to-rem(height, $spacing-half+($spacing-micro/2));
      background: #fff;
      border-radius: 50%;
    }
  }

  input:checked ~ .btn-toggle__handle {
    background: $color-green;

    &:after {
      @include to-rem(left, $spacing-half+$spacing-micro);
    }
  }
}

/*  */