---
http_interactions:
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movies.json?centre=bondijunction&date=08-10-2013
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"0986cc5157b9e9dd98180f4ae523e546"'
    body:
      encoding: UTF-8
      string: '[{"id":407,"title":"Gravity","cloudinary_public_id":"vmpf7ari3fhtnnzitxzy","synopsis":"Astronauts
        attempt to return to Earth after debris crashes into their space shuttle,
        leaving them drifting alone in orbit.","classification":"M"},{"id":408,"title":"Thanks
        for Sharing","cloudinary_public_id":"wcym7l6vykiti6yd6leo","synopsis":"Three
        people undergo a 12-step treatment for sex addiction.","classification":"MA"},{"id":410,"title":"Rush","cloudinary_public_id":"ne8ju5xxexieseoalxc5","synopsis":"A
        biography of Formula 1 champion driver Niki Lauda and the 1976 crash that
        almost claimed his life. Mere weeks after the accident, he got behind the
        wheel to challenge his rival, James Hunt.","classification":"MA"},{"id":415,"title":"White
        House Down","cloudinary_public_id":"t3dy5ijygtwsher2df8u","synopsis":"A Secret
        Service agent is tasked with saving the life of the U.S. President after the
        White House is overtaken by a paramilitary group.","classification":"M"},{"id":416,"title":"The
        Smurfs 2","cloudinary_public_id":"suzib0wjkcfag4nww8g3","synopsis":"The Smurfs
        team up with their human friends to rescue Smurfette, who has been kidnapped
        by Gargamel since she knows a secret spell that can turn the evil sorcerer''s
        newest creation - creatures called the Naughties - into real Smurfs.","classification":"G"},{"id":418,"title":"Percy
        Jackson: Sea Of Monsters","cloudinary_public_id":"qgbyonut1o2lafhmhsnz","synopsis":"The
        son of Poseidon and his friends head into the Sea of Monsters to find the
        mythical Golden Fleece.","classification":"PG"},{"id":419,"title":"Turbo","cloudinary_public_id":"sxnqmj85xukeikjztxcp","synopsis":"A
        garden snail with dreams of becoming the fastest snail in the world experiences
        a freak accident that might just allow him to realize his goal.","classification":"G"},{"id":422,"ti[...]
- request:
    method: get
    uri: http://centre-service.test.dbg.westfield.com/api/centre/master/centres/bondijunction.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"3b29ef91b35185d13d596c1ebdf1df39"'
    body:
      encoding: UTF-8
      string: '{"name":"Westfield Bondi Junction","short_name":"Bondi Junction","code":"bondijunction","business_unit_code":"21021","type":"premium","street_address":"500
        Oxford St .kfndsklfjsd","suburb":"Bondi Junction","state":"NSW","postcode":"2022","country":"au","phone_number":"(02)
        9947 8000","email_address":"bondijunction@au.westfield.com","latitude":"-33.891289","longitude":"151.250815","today_opening_time":null,"today_closing_time":null,"number_of_levels":7,"micello_community":7295,"facebook":null,"twitter":null,"google_plus":null,"instagram":null,"pinterest":null,"youtube":null,"retail":false,"enabled":false}'
  recorded_at: Tue, 08 Oct 2013 00:25:25 GMT
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movie_sessions.json?centre=bondijunction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"e313a7a740d4401e97adb14a329e952a"'
    body:
      encoding: UTF-8
      string: '[{"id":91743,"movie_id":416,"start_time":"2013-10-08T09:30:00.000Z","session_type":null,"booking_url":""},{"id":91753,"movie_id":418,"start_time":"2013-10-08T09:30:00.000Z","session_type":null,"booking_url":""},{"id":91773,"movie_id":434,"start_time":"2013-10-08T09:40:00.000Z","session_type":null,"booking_url":""},{"id":91737,"movie_id":415,"start_time":"2013-10-08T09:40:00.000Z","session_type":null,"booking_url":""},{"id":91814,"movie_id":425,"start_time":"2013-10-08T09:40:00.000Z","session_type":null,"booking_url":""},{"id":91787,"movie_id":423,"start_time":"2013-10-08T09:45:00.000Z","session_[...]
- request:
    method: get
    uri: http://store-service.test.dbg.westfield.com/api/store/master/stores/22739.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"c05eff0f8ed4899891bbdb52bb2c6549"'
    body:
      encoding: UTF-8
      string: '{"id":22739,"retailer_id":473,"retailer_code":"greater-union-birch-carroll-and-coyle","centre_id":"bondijunction","description":null,"errors":{},"level":null,"level_span":null,"name":"Event
        Cinemas","phone_number":"9300 1555","shop_number":"MGU","store_front_image_ref":"265ce72f98455edec61d6e27ab20eac07c46cc23f489a8f306adfeff94d46cd7.jpeg","url":"http://www.eventcinemas.com.au","email_address":"bondi@eventscinemas.com.au","_links":{"self":{"href":"/api/store/master/stores/22739.json"},"logo":{},"store_front":{}}}'
  recorded_at: Tue, 08 Oct 2013 00:25:27 GMT
recorded_with: VCR 2.5.0
