---
http_interactions:
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movies.json?centre=bondijunction&date=15-07-2013
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"e98596a0ae055ea36bec99b0d605b1f7"'
    body:
      encoding: UTF-8
      string: '{"movies":[{"title":"The Great Gatsby","image_url":"d6ffa63c6a3b31be17e22eef1bc9aaafbf013d063a6ac8ac2b32da7d62b746b4.jpeg"},{"title":"Man
        of Steel","image_url":"341b7677b9c40f2cc12224fa57c1779964d53a560be633ee3324cf50b1401175.jpeg"},{"title":"Despicable
        Me 2","image_url":"356e28c88ee1f22749d1e87720972c73bf6e3f3df790c4f887f4ccf323f7538c.jpeg"},{"title":"The
        Lone Ranger","image_url":"671af84a65fccce5f5faab77dc8700843b5dc076f847eaf66726cd5551deed5b.jpeg"},{"title":"Pacific
        Rim","image_url":"8cb94ed911daf8939edb7bcb55[...]
- request:
    method: get
    uri: http://centre-service.test.dbg.westfield.com/api/centre/master/centres/bondijunction.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"567ae91be4a8b99b76f79cb7956f6c8c"'
    body:
      encoding: UTF-8
      string: '{"code":"bondijunction","name":"Westfield Bondi Junction","short_name":"Bondi
        Junction","street_address":"500 Oxford St","postcode":"2022","state":"NSW","country":"au","latitude":"-33.891289","longitude":"151.250815","email_address":"bondijunction@au.westfield.com","retail":true,"enabled":true,"trading_hours":[],"_links":{"self":{"href":"http://localhost:3005/centres/bondijunction"}}}'
  recorded_at: Mon, 15 Jul 2013 00:55:57 GMT
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movie_sessions.json?centre=bondijunction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"a65f2f5c1699a86e0283b4426ac7056c"'
    body:
      encoding: UTF-8
      string: '{"movie_sessions":[{"movie_id":565,"start_time":"2013-07-12T10:00:00.000Z","id":157785},{"movie_id":560,"start_time":"2013-07-12T10:00:00.000Z","id":156559},{"movie_id":559,"start_time":"2013-07-12T10:00:00.000Z","id":157637},{"movie_id":566,"start_time":"2013-07-12T10:10:00.000Z","id":157789},{"movie_id":562,"start_time":"2013-07-12T10:30:00.000Z","id":157692},{"movie_id":563,"start_time":"2013-07-12T10:30:00.000Z","id":157727},{"movie_id":559,"start_time":"2013-07-12T11:45:00.000Z","id":157640},{"movie_id":568,"start_time":"2013-07-12T11:50:00.000Z","id":156629},{"movie_i[...]
