---
http_interactions:
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movies.json?centre=bondijunction&rows=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"0f8bd59371806c4254dbec6b59619801"'
    body:
      encoding: UTF-8
      string: '{"movies":[{"title":"James Bond"},{"title":"Point Break"}]}'
  recorded_at: Fri, 07 Jun 2013 07:16:36 GMT
- request:
    method: get
    uri: http://centre-service.test.dbg.westfield.com/api/centre/master/centres/bondijunction.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"b553e36a731ffddddeae35561d8c0910"'
    body:
      encoding: UTF-8
      string: '{"code":"bondijunction","name":"Westfield Bondi Junction","short_name":"Bondi
        Junction","street_address":"500 Oxford St","postcode":"2022","country":"au","state":"NSW","latitude":"-33.891289","longitude":"151.250815","email_address":"bondijunction@au.westfield.com","enabled":true,"trading_hours":[],"_links":{"self":{"href":"http://localhost:3005/centres/bondijunction"}}}'
  recorded_at: Fri, 07 Jun 2013 07:16:37 GMT
recorded_with: VCR 2.5.0
