---
http_interactions:
- request:
    method: get
    uri: http://centre-service.test.dbg.westfield.com/api/centre/master/centres/bondijunction.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"3b29ef91b35185d13d596c1ebdf1df39"'
    body:
      encoding: UTF-8
      string: '{"name":"Westfield Bondi Junction","short_name":"Bondi Junction","code":"bondijunction","business_unit_code":"21021","type":"premium","street_address":"500
        Oxford St .kfndsklfjsd","suburb":"Bondi Junction","state":"NSW","postcode":"2022","country":"au","phone_number":"(02)
        9947 8000","email_address":"bondijunction@au.westfield.com","latitude":"-33.891289","longitude":"151.250815","today_opening_time":null,"today_closing_time":null,"number_of_levels":7,"micello_community":7295,"facebook":null,"twitter":null,"google_plus":null,"instagram":null,"pinterest":null,"youtube":null,"retail":false,"enabled":false}'
  recorded_at: Thu, 03 Oct 2013 02:07:37 GMT
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movies.json?centre=bondijunction&date=03-10-2013
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"88d26ff8e1f8e78416b24c436a7a4951"'
    body:
      encoding: UTF-8
      string: '[{"id":346,"title":"Gravity","cloudinary_public_id":"v2p7ja0wafy2wdo9cuub","synopsis":"Astronauts
        attempt to return to Earth after debris crashes into their space shuttle,
        leaving them drifting alone in orbit.","classification":"M"},{"id":349,"title":"Rush","cloudinary_public_id":"diczdlga2hbuuf2tpllm","synopsis":"A
        biography of Formula 1 champion driver Niki Lauda and the 1976 crash that
        almost claimed his life. Mere weeks after the accident, he got behind the
        wheel to challenge his rival, James Hunt.","classification":"MA"},{"id":364,"title":"Runner,
        Runner","cloudinary_public_id":"c7e0rgfhgluluueuoiba","synopsis":"A businessman
        who owns an offshore gambling operation finds his relationship with his protege
        reaching a boiling point.","classification":"MA"},{"id":367,"title":"Blue
        Jasmine","cloudinary_public_id":"h5rmrovonssfsdyo0uql","synopsis":"A New York
        socialite, deeply troubled and in denial, arrives in San Francisco to impose
        upon her sister.","classification":"M"},{"id":373,"title":"Gravity 3D","cloudinary_public_id":"xdvjg1cdyxymkl9pq5xc","synopsis":"Astronauts
        attempt to return to Earth after debris crashes into their space shuttle,
        leaving them drifting alone in orbit.","classification":"M"}]'
  recorded_at: Thu, 03 Oct 2013 02:07:37 GMT
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movie_sessions.json?centre=bondijunction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"377ac9caad8080b9b2da4ceb468b10f4"'
    body:
      encoding: UTF-8
      string: '[{"id":82609,"movie_id":364,"start_time":"2013-10-03T10:00:00.000Z","session_type":"Gold
        Class","booking_url":""},{"id":82634,"movie_id":367,"start_time":"2013-10-03T10:30:00.000Z","session_type":"Gold
        Class","booking_url":""},{"id":82581,"movie_id":349,"start_time":"2013-10-03T12:00:00.000Z","session_type":"Gold
        Class","booking_url":""},{"id":76604,"movie_id":349,"start_time":"2013-10-03T12:00:00.000Z","session_type":"Gold
        Class","booking_url":"http://www.eventcinemas.com.au/ticket/Create?sessionId=4056108\u0026source=HWW"},{"id":82569,"movie_id":346,"start_time":"2013-10-03T12:[...]
- request:
    method: get
    uri: http://store-service.test.dbg.westfield.com/api/store/master/stores/22739.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"c05eff0f8ed4899891bbdb52bb2c6549"'
    body:
      encoding: UTF-8
      string: '{"id":22739,"retailer_id":473,"retailer_code":"greater-union-birch-carroll-and-coyle","centre_id":"bondijunction","description":null,"errors":{},"level":null,"level_span":null,"name":"Event
        Cinemas","phone_number":"9300 1555","shop_number":"MGU","store_front_image_ref":"265ce72f98455edec61d6e27ab20eac07c46cc23f489a8f306adfeff94d46cd7.jpeg","url":"http://www.eventcinemas.com.au","email_address":"bondi@eventscinemas.com.au","_links":{"self":{"href":"/api/store/master/stores/22739.json"},"logo":{},"store_front":{}}}'
  recorded_at: Thu, 03 Oct 2013 02:07:39 GMT
recorded_with: VCR 2.5.0
