---
http_interactions:
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movies.json?centre=bondijunction&rows=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"f715eacf649fa985d2fd41b87ad172ec"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"movies":[{"title":"James Bond"},{"title":"Point Break"}]}'
  recorded_at: Wed, 05 Jun 2013 06:43:20 GMT
- request:
    method: get
    uri: http://centre-service.test.dbg.westfield.com/api/centre/master/centres/bondijunction.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"03a5aa1e56709b0f3de4d2e71e05a674"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"bondijunction","name":"Westfield Bondi Junction","short_name":"Bondi
        Junction","street_address":"500 Oxford St","postcode":"2022","country":"au","latitude":"-33.891289","longitude":"151.250815","email_address":"bondijunction@au.westfield.com","enabled":true,"_links":{"self":{"href":"http://localhost:4050/centre/bondijunction"}}}'
  recorded_at: Wed, 05 Jun 2013 06:43:20 GMT
recorded_with: VCR 2.5.0
