---
http_interactions:
- request:
    method: get
    uri: http://store-service.test.dbg.westfield.com/api/store/master/stores/22739.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"c05eff0f8ed4899891bbdb52bb2c6549"'
    body:
      encoding: UTF-8
      string: '{"id":22739,"retailer_id":473,"retailer_code":"greater-union-birch-carroll-and-coyle","centre_id":"bondijunction","description":null,"errors":{},"level":null,"level_span":null,"name":"Event
        Cinemas","phone_number":"9300 1555","shop_number":"MGU","store_front_image_ref":"265ce72f98455edec61d6e27ab20eac07c46cc23f489a8f306adfeff94d46cd7.jpeg","url":"http://www.eventcinemas.com.au","email_address":"bondi@eventscinemas.com.au","_links":{"self":{"href":"/api/store/master/stores/22739.json"},"logo":{},"store_front":{}}}'
  recorded_at: Wed, 02 Oct 2013 01:37:56 GMT
- request:
    method: get
    uri: http://centre-service.test.dbg.westfield.com/api/centre/master/centres/bondijunction.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"3b29ef91b35185d13d596c1ebdf1df39"'
    body:
      encoding: UTF-8
      string: '{"name":"Westfield Bondi Junction","short_name":"Bondi Junction","code":"bondijunction","business_unit_code":"21021","type":"premium","street_address":"500
        Oxford St .kfndsklfjsd","suburb":"Bondi Junction","state":"NSW","postcode":"2022","country":"au","phone_number":"(02)
        9947 8000","email_address":"bondijunction@au.westfield.com","latitude":"-33.891289","longitude":"151.250815","today_opening_time":null,"today_closing_time":null,"number_of_levels":7,"micello_community":7295,"facebook":null,"twitter":null,"google_plus":null,"instagram":null,"pinterest":null,"youtube":null,"retail":false,"enabled":false}'
  recorded_at: Wed, 02 Oct 2013 01:37:56 GMT
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movie_sessions.json?centre=bondijunction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"5f11cda9d2bee05383df69622189719a"'
    body:
      encoding: UTF-8
      string: '[{"id":82595,"movie_id":363,"start_time":"2013-10-02T09:30:00.000Z","session_type":"Gold
        Class","booking_url":""},{"id":77556,"movie_id":361,"start_time":"2013-10-02T09:30:00.000Z","session_type":null,"booking_url":"http://www.eventcinemas.com.au/ticket/Create?sessionId=4047090\u0026source=HWW"},{"id":83471,"movie_id":358,"start_time":"2013-10-02T09:30:00.000Z","session_type":null,"booking_url":""},{"id":83451,"movie_id":355,"start_time":"2013-10-02T09:30:00.000Z","session_type":null,"booking_url":""},{"id":83479,"movie_id":361,"start_time":"2013-10-02T09:30:00.000Z","session_type":null,"booking_url":""[...]
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movies.json?centre=bondijunction&date=02-10-2013
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"d30d74f1f43d16df543d65a538dbe858"'
    body:
      encoding: UTF-8
      string: '[{"id":349,"title":"Rush","cloudinary_public_id":"diczdlga2hbuuf2tpllm","synopsis":"A
        biography of Formula 1 champion driver Niki Lauda and the 1976 crash that
        almost claimed his life. Mere weeks after the accident, he got behind the
        wheel to challenge his rival, James Hunt.","classification":"MA"},{"id":354,"title":"White
        House Down","cloudinary_public_id":"pb4q5cf5xzjvnfbvh346","synopsis":"A Secret
        Service agent is tasked with saving the life of the U.S. President after the
        White House is overtaken by a paramilitary group.","classification":"M"},{"id":355,"title":"The
        Smurfs 2","cloudinary_public_id":"djmrp9ugx4e6ejvefx7a","synopsis":"The Smurfs
        team up with their human friends to rescue Smurfette, who has been kidnapped
        by Gargamel since she knows a secret spell that can turn the evil sorcerer''s
        newest creation - creatures called the Naughties - into real Smurfs.","classification":"G"},{"id":357,"title":"Percy
        Jackson: Sea Of Monsters","cloudinary_public_id":"v8fwirmqdv7ustomjeyc","synopsis":"The
        son of Poseidon and his friends head into the Sea of Monsters to find the
        mythical Golden Fleece.","classification":"PG"},{"id":358,"title":"Turbo","cloudinary_public_id":"dvfzfq51gzw9xlera7xo","synopsis":"A
        garden snail with dreams of becoming the fastest snail in the world experiences
        a freak accident that might just allow him to realize his goal.","classification":"G"},{"id":361,"title":"One
        Direction: This Is Us","cloudinary_public_id":"pbsvze4migomyswda7qy","synopsis":"An
        \"all-access\" pass to British pop sensation One Direction on tour and live
        in concert at London''s O2 Arena, helmed by Morgan Spurlock (Super Size Me).
        Also shows Niall, Zayn, Liam, Harry and Louis'' meteoric rise to fame, from
        their humble beginnings and competing on X-Factor, to pop-world domination.","classification":"PG"},{"id":362,"title":"Now
        You See Me","cloudinary_public_id"[...]
