---
http_interactions:
- request:
    method: get
    uri: http://store-service.test.dbg.westfield.com/api/store/master/stores/22739.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"c05eff0f8ed4899891bbdb52bb2c6549"'
    body:
      encoding: UTF-8
      string: '{"id":22739,"retailer_id":473,"retailer_code":"greater-union-birch-carroll-and-coyle","centre_id":"bondijunction","description":null,"errors":{},"level":null,"level_span":null,"name":"Event
        Cinemas","phone_number":"9300 1555","shop_number":"MGU","store_front_image_ref":"265ce72f98455edec61d6e27ab20eac07c46cc23f489a8f306adfeff94d46cd7.jpeg","url":"http://www.eventcinemas.com.au","email_address":"bondi@eventscinemas.com.au","_links":{"self":{"href":"/api/store/master/stores/22739.json"},"logo":{},"store_front":{}}}'
  recorded_at: Mon, 30 Sep 2013 01:03:14 GMT
- request:
    method: get
    uri: http://centre-service.test.dbg.westfield.com/api/centre/master/centres/bondijunction.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"3b29ef91b35185d13d596c1ebdf1df39"'
    body:
      encoding: UTF-8
      string: '{"name":"Westfield Bondi Junction","short_name":"Bondi Junction","code":"bondijunction","business_unit_code":"21021","type":"premium","street_address":"500
        Oxford St .kfndsklfjsd","suburb":"Bondi Junction","state":"NSW","postcode":"2022","country":"au","phone_number":"(02)
        9947 8000","email_address":"bondijunction@au.westfield.com","latitude":"-33.891289","longitude":"151.250815","today_opening_time":null,"today_closing_time":null,"number_of_levels":7,"micello_community":7295,"facebook":null,"twitter":null,"google_plus":null,"instagram":null,"pinterest":null,"youtube":null,"retail":false,"enabled":false}'
  recorded_at: Mon, 30 Sep 2013 01:03:14 GMT
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movies.json?centre=bondijunction&date=30-09-2013
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"b8ee6de864de1bd09a272b225daf92af"'
    body:
      encoding: UTF-8
      string: '[{"id":292,"title":"White House Down","image_url":"http://res.cloudinary.com/wlabs/image/upload/v1380502625/w1iijpkogjrxiisvtiw3.jpg","synopsis":"A
        Secret Service agent is tasked with saving the life of the U.S. President
        after the White House is overtaken by a paramilitary group.","classification":"M"},{"id":293,"title":"The
        Smurfs 2","image_url":"http://res.cloudinary.com/wlabs/image/upload/v1380502631/kxwlaapswpeuk37cnhnk.jpg","synopsis":"The
        Smurfs team up with their human friends to rescue Smurfette, who has been
        kidnapped by Gargamel since she knows a secret spell that can turn the evil
        sorcerer''s newest creation - creatures called the Naughties - into real Smurfs.","classification":"G"},{"id":295,"title":"Percy
        Jackson: Sea Of Monsters","image_url":"http://res.cloudinary.com/wlabs/image/upload/v1380502646/jif90q3xxggtzyzq28su.jpg","synopsis":"The
        son of Poseidon and his friends head into the Sea of Monsters to find the
        mythical Golden Fleece.","classification":"PG"},{"id":296,"title":"Turbo","image_url":"http://res.cloudinary.com/wlabs/image/upload/v1380502654/ndqpbrlp4nvbym7zwcj2.jpg","synopsis":"A
        garden snail with dreams of becoming the fastest snail in the world experiences
        a freak accident that might just allow him to realize his goal.","classification":"G"},{"id":299,"title":"One
        Direction: This Is Us","image_url":"http://res.cloudinary.com/wlabs/image/upload/v1380502672/djdvokvka2m3hcibecoy.jpg","synopsis":"An
        \"all-access\" pass to British pop sensation One Direction on tour and live
        in concert at London''s O2 Arena, helmed by Morgan Spurlock (Super Size Me).
        Also shows Niall, Zayn, Liam, Harry and Louis'' meteoric rise to fame, from
        their humble beginnings and competing on X-Factor, to pop-world domination.","classification":"PG"},{"id":300,"titl[...]
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movie_sessions.json?centre=bondijunction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"04ca4836092741277176a1adb9603b26"'
    body:
      encoding: UTF-8
      string: '[{"id":68354,"movie_id":293,"start_time":"2013-09-29T14:10:00.000Z","session_type":null,"booking_url":""},{"id":68583,"movie_id":320,"start_time":"2013-09-29T14:20:00.000Z","session_type":null,"booking_url":""},{"id":67188,"movie_id":305,"start_time":"2013-09-29T14:30:00.000Z","session_type":"Gold
        Class","booking_url":""},{"id":68518,"movie_id":304,"start_time":"2013-09-29T14:30:00.000Z","session_type":null,"booking_url":""},{"id":68527,"movie_id":305,"start_time":"2013-09-29T14:30:00.000Z","session_type":null,"booking_url":""},{"id":68464,"movie_id":301,"start_time":"2013-09-29T14:30:00[...]
