---
http_interactions:
- request:
    method: get
    uri: http://centre-service.test.dbg.westfield.com/api/centre/master/parkings/doncaster.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      ETag:
      - '"7f1263ebdce1909212fdf41ac2fb24f3"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"centre_id":"doncaster","additional_parking_information":"At Westfield
        Doncaster we offer complimentary parking for the first 3 hours. \r\n\r\nPlus,
        spend more than $400 in one single visit and you will receive complimentary
        parking - no matter how long you stay.\r\n\r\nAre you seeing a movie at Village
        Cinemas, Doncaster? Be  sure to validate your ticket at the Village Cinemas
        Box Office, located on Level 2, to receive one additional hour of complimentary
        parking.\r\n\r\nParking is FREE if you arrive after 6.00pm any day.","rates_apply":true,"credit_card_surcharge_amount":"2.5","type_of_rate":"hourly_rate","maximum_daily_rate_weekday":"30","maximum_daily_rate_weekend":"30","overnight_fee_weekday":"30","overnight_fee_weekend":"30","flat_rate":"","valet_parking_instructions":"For
        a shopping experience that''s convenient and hassle-free Westfield Doncaster
        offers a Valet Parking service - accessed via Williamsons Road near Myer.
        \r\n\r\nThe Valet Parking service costs $12 plus standard parking fees (parking
        fees apply after 3 hours)\r\nValet Parking is safe, convenient and time saving
        - drive up to the door and let us take care of the rest.\r\n\r\nPre-Paid Valet
        Parking Vouchers Now Available. \r\n\r\nEvery Valet Parking customer receives
        a loyalty card which entitles you to every 6th visit free. Ask at the Valet
        Parking desk for more details.\r\n\r\nCar Wash Service\r\nNeed your car washed?
        The Valet Parking attendants can arrange that too. Car wash services start
        from just $39 (sedan) for an exterior wash including interior dust and vacuum.","pdf_ref":"df4zc8o8cxd4u8oxvqhb","parking_rates":[{"hourly_rate_from":"0","hourly_rate_to":"3.0","hourly_rate_weekday":"0.0","hourly_rate_weekend":"0.0"},{"hourly_rate_from":"3.0","hourly_rate_to":"3.5","hourly_rate_weekday":"3.00","hourly_rate_weekend":"3.00"},{"hourly_rate_from":"3.5","hourly_rate_to":"4.0","hourly_rate_weekday":"4.00","hourly_rate_weekend":"4.00"},{"hourly_rate_from":"4.0","hourly_rate_to":"4.5","hourly_rate_weekday":"5.00","hourly_rate_weekend":"5.00"},{"hourly_rate_from":"4.5","hourly_rate_to":"5.0","hourly_rate_weekday":"7.00","hourly_rate_weekend":"7.00"},{"hourly_rate_from":"5.0","hourly_rate_to":"5.5","hourly_rate_weekday":"9.00","hourly_rate_weekend":"9.00"},{"hourly_rate_from":"5.5","hourly_rate_to":"6.0","hourly_rate_weekday":"12.00","hourly_rate_weekend":"12.00"},{"hourly_rate_from":"6.0","hourly_rate_to":"6.5","hourly_rate_weekday":"15.00","hourly_rate_weekend":"15.00"},{"hourly_rate_from":"6.5","hourly_rate_to":"7.0","hourly_rate_weekday":"18.00","hourly_rate_weekend":"18.00"},{"hourly_rate_from":"7.0","hourly_rate_to":"7.5","hourly_rate_weekday":"25.00","hourly_rate_weekend":"25.00"},{"hourly_rate_from":"7.5","hourly_rate_to":"+","hourly_rate_weekday":"30.00","hourly_rate_weekend":"30.00"}]}'
  recorded_at: Sun, 16 Feb 2014 23:43:15 GMT
- request:
    method: get
    uri: http://centre-service.test.dbg.westfield.com/api/centre/master/centres/doncaster.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      ETag:
      - '"cbab7e9a61d497fc1cee4654671ebdfb"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Westfield Doncaster","short_name":"Doncaster","code":"doncaster","state":"VIC","country":"au","latitude":"-37.785423","longitude":"145.12562","hero_image_ref":null,"micello_community":20068,"retail":true,"enabled":true,"_links":{"self":{"href":"http://centre-service.test.dbg.westfield.com/api/centre/master/centres/doncaster.json"},"hero_image":{"href":""}},"business_unit_code":"28821","type":"premium","street_address":"619
        Doncaster Rd (Cnr Williamsons Rd)","suburb":"Doncaster","postcode":"3108","phone_number":"(03)
        9848 1699","email_address":"doncaster@au.westfield.com","today_opening_time":"09:00","today_closing_time":"17:30","today_closed":false,"number_of_levels":13,"micello_map_centre":{"x":0,"y":0},"facebook":"http://www.facebook.com/westfielddoncaster","twitter":"https://twitter.com/westfieldau","google_plus":"https://plus.google.com/116705982116614986647/posts","instagram":"http://instagram.com/westfielddoncaster
        ","pinterest":"http://pinterest.com/westfieldau","youtube":"http://www.youtube.com/westfieldfashion","cinema":true,"timezone":"Australia/Victoria"}'
  recorded_at: Sun, 16 Feb 2014 23:43:15 GMT
recorded_with: VCR 2.6.0
