---
http_interactions:
- request:
    method: get
    uri: http://centre-service.test.dbg.westfield.com/api/centre/master/parkings/doncaster.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"41f7395373ba132f710feaef41e1d04f"'
    body:
      encoding: UTF-8
      string: '{"centre_id":"doncaster","additional_parking_information":"additional
        parking info test","rates_apply":true,"credit_card_surcharge_amount":"3","type_of_rate":"hourly_rate","maximum_daily_rate_weekday":"8","maximum_daily_rate_weekend":"8","overnight_fee_weekday":"5","overnight_fee_weekend":"5","flat_rate":"","valet_parking_instructions":"Lorem
        ipsum dolor sit amet, consectetur adipiscing elit.\r\nVestibulum nec urna
        pharetra, ultricies enim non, tempus est. Vivamus id pellentesque tortor,
        dapibus pharetra nibh.","pdf_ref":"df4zc8o8cxd4u8oxvqhb","parking_rates":[{"hourly_rate_from":"0","hourly_rate_to":"3","hourly_rate_weekday":"0","hourly_rate_weekend":"0"},{"hourly_rate_from":"3","hourly_rate_to":"5","hourly_rate_weekday":"5","hourly_rate_weekend":"5"},{"hourly_rate_from":"5","hourly_rate_to":"7","hourly_rate_weekday":"10","hourly_rate_weekend":"10"}]}'
  recorded_at: Tue, 17 Sep 2013 06:31:31 GMT
- request:
    method: get
    uri: http://centre-service.test.dbg.westfield.com/api/centre/master/centres/doncaster.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"1285086991efdba55c5633b266005b3c"'
    body:
      encoding: UTF-8
      string: '{"name":"Westfield Doncaster","short_name":"Doncaster","code":"doncaster","business_unit_code":"11021","type":"premium","street_address":"619
        Doncaster Rd (Cnr Williamsons Rd)","state":"VIC","postcode":"3108","country":"au","phone_number":"(03)
        9848 1699","email_address":"doncaster@au.westfield.com","latitude":"-37.785423","longitude":"145.12562","today_opening_time":null,"today_closing_time":null,"number_of_levels":12,"micello_community":20068,"facebook":null,"twitter":null,"google_plus":null,"instagram":null,"pinterest":null,"youtube":null,"retail":true,"enabled":true}'
  recorded_at: Tue, 17 Sep 2013 06:31:31 GMT
- request:
    method: get
    uri: http://trading-hour-service.test.dbg.westfield.com/api/trading-hour/master/centre_trading_hours/range.json?centre_id=doncaster
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"c7475791b08ea22bf647763f07596a36"'
    body:
      encoding: UTF-8
      string: '[{"id":323,"centre_id":"doncaster","store_id":null,"hour_type":"standard","description":null,"day_of_week":0,"date":"2014-02-03","opening_time":"09:00","closing_time":"17:30","closed":false},{"id":324,"centre_id":"doncaster","store_id":null,"hour_type":"standard","description":null,"day_of_week":1,"date":"2014-02-04","opening_time":"09:00","closing_time":"17:30","closed":false},{"id":325,"centre_id":"doncaster","store_id":null,"hour_type":"standard","description":null,"day_of_week":2,"date":"2014-02-05","opening_time":"09:00","closing_time":"17:30","closed":false},{"id":326,"centre_id":"doncaster","store_id":null,"hour_type":"standard","description":null,"day_of_week":3,"date[...]
