---
http_interactions:
- request:
    method: get
    uri: http://centre-service.test.dbg.westfield.com/api/centre/master/centres/bondijunction.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      ETag:
      - '"9fb56e24526070b3d336a7aa9c0d8703"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Westfield Bondi Junction","short_name":"Bondi Junction","code":"bondijunction","state":"NSW","country":"au","latitude":"-33.891289","longitude":"151.250815","hero_image_ref":null,"micello_community":7295,"retail":true,"enabled":true,"_links":{"self":{"href":"http://centre-service.test.dbg.westfield.com/api/centre/master/centres/bondijunction.json"},"hero_image":{"href":""}},"business_unit_code":"21021","type":"premium","street_address":"500
        Oxford St","suburb":"Bondi Junction","postcode":"2022","phone_number":"(02)
        9947 8000","email_address":"bondijunction@au.westfield.com","today_opening_time":"09:30","today_closing_time":"18:00","today_closed":false,"number_of_levels":7,"micello_map_centre":{"x":377,"y":471},"facebook":"http://www.facebook.com/westfieldbondijunction","twitter":"https://twitter.com/westfieldbondij","google_plus":"https://plus.google.com/116705982116614986647/posts","instagram":"http://instagram.com/westfieldbondijunction","pinterest":"http://pinterest.com/westfieldau","youtube":"http://www.youtube.com/westfieldfashion","cinema":true,"timezone":"Australia/NSW"}'
  recorded_at: Sun, 16 Feb 2014 23:42:48 GMT
- request:
    method: get
    uri: http://stream-service.test.dbg.westfield.com/api/stream/master/stream.json?centre=bondijunction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      ETag:
      - '"da5737e3d3c0720e19e5905a98c895f9"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"stream":[{"id":1851,"name":"Kartell Goes Rock: Collaboration with
        Lenny Kravitz","description":"The Milan Salone Internazionale del Mobile,
        the world''s largest and most respected furniture fair, Kartell was the ‘rock-star’
        brand – literally. Kartell''s collaboration with musician Lenny Kravitz saw
        crowds flowing onto the streets from their Milan flagship to catch a glimpse
        of superstar musician, and now designer, Lenny Kravitz and his friend Philippe
        Starck. \r\n\r\nThe American rock icon, with his Kravitz Design team, has
        created a collection of six Mademoiselle armchairs (originally designed by
        Starck) re-imagined in a combination of upholstery fabrics chosen with Starck.
        Combining exotic finishes of python, fur, leather and woven materials, the
        end result reflects the wild spirit of the artist.\r\n\r\nAvailable exclusively
        from Kartell, Westfield Bondi Junction","image_ref":"jvtqdrkgoq0iph5znd3p","date":"2013-12-20","start":"22:28","finish":"22:28","type":"event","occurrences":[{"start":"2013-12-20T09:30+1100","finish":"2013-12-20T18:00+1100"},{"start":"2014-04-30T09:30+1100","finish":"2014-04-30T18:00+1100"}],"_links":{"self":{"href":"http://event-service.production.dbg.westfield.com/api/event/master/events/1851.json"},"centre":{"href":"http://centre-service.production.dbg.westfield.com/api/centre/master/centres/bondijunction.json"},"image":{"href":"http://res.cloudinary.com/wlabs/image/upload/jvtqdrkgoq0iph5znd3p.jpg"}}},{"id":6062,"name":"Take
        a further 20% OFF already reduced apparel","_links":{"self":{"href":"http://deal-service.production.dbg.westfield.com/deal/master/deals/6062.json"},"image":{"href":"http://stream-service.production.dbg.westfield.com/images/tiles/desktop_deal1-9a2238d5.jpg"}},"type":"deal","deal_stores":[{"store_service_id":37996,"centre_id":"bondijunction"}]},{"id":1056,"name":"Alannah
        Hill AW14 collection","centre_id":"bondijunction","url":"/bondijunction/products?last=retailer\u0026rows=50\u0026sort=product_name_sort\u0026retailer%5B%5D=alannah-hill\u0026combined_cat=canned-search","image_ref":"hxckrkda1fe1thohbq9l","image_alt":"Alannah
        Hill Rule Number One dress","start_date":"2014-02-05","end_date":"2014-02-28","type":"canned_search","_links":{"self":{"href":"/bondijunction/products?last=retailer\u0026rows=50\u0026sort=product_name_sort\u0026retailer[]=alannah-hill"},"centre":{"href":"http://centre-service.production.dbg.westfield.com/api/centre/master/centres/bondijunction.json"},"image":{"href":"http://res.cloudinary.com/wlabs/image/upload/hxckrkda1fe1thohbq9l.jpg"}}},{"id":1386,"name":"MYER
        accepts Westfield Gift Cards!","description":"Westfield Gift Cards are now
        accept[...]
- request:
    method: get
    uri: http://trading-hour-service.test.dbg.westfield.com/api/trading-hour/master/centre_trading_hours/range.json?centre_id=bondijunction&from=2014-02-17&to=2014-02-17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"8c0fdef6156ac33e4bf182c43113461d"'
    body:
      encoding: UTF-8
      string: '[{"id":827,"centre_id":"bondijunction","store_id":null,"hour_type":"standard","description":null,"day_of_week":0,"date":"2014-02-17","opening_time":"09:00","closing_time":"18:00","closed":false}]'
  recorded_at: Sun, 16 Feb 2014 23:42:52 GMT
- request:
    method: get
    uri: http://store-service.test.dbg.westfield.com/api/store/master/stores/37996.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      ETag:
      - '"d101fb6430b8a72fb7ae9d626165d075"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":37996,"retailer_id":486,"retailer_code":"blue-illusion","centre_id":"bondijunction","major":false,"description":"With
        a nod to French inspired style, Blue Illusion is a women’s clothing brand
        that connects fashionable styling with flattering fits using quality fabrics,
        vibrant colours \u0026 signature prints. Blue Illusion also offers a chic
        arrangement of fashion accessories, shoes, books \u0026 homewares.","errors":{},"level":"2","level_span":1,"name":"Blue
        Illusion","phone_number":"0293876342","email_address":"","shop_number":"2006","lease_number":"","micello_geom_id":"721520","category_codes":["womens-fashion-accessories"],"url":"","abn":"","accepts_giftcards":true,"enabled":true,"enabled_date":"2009-08-15T12:13:18Z","disabled_date":null,"store_front_image_ref":"adacioa59mgqktedhsla","has_opening_hours":false,"today_closing_time":null,"today_opening_time":null,"closed_today":null,"_links":{"self":{"href":"/api/store/master/stores/37996.json"},"logo":{"ref":"sphr2lrkw3ljegvfxt9k","href":"http://res.cloudinary.com/wlabs/image/upload/sphr2lrkw3ljegvfxt9k.png"},"store_front":{"ref":"adacioa59mgqktedhsla","href":"http://res.cloudinary.com/wlabs/image/upload/adacioa59mgqktedhsla.jpg"}}}'
  recorded_at: Sun, 16 Feb 2014 23:42:52 GMT
[...]
- request:
    method: get
    uri: http://centre-service.test.dbg.westfield.com/api/centre/master/centres.json?near_to=bondijunction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      ETag:
      - '"6605f37ccb4219c1a1659bdab00c00d6"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      str[...]
[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?centre=bondijunction&id=bondijunction&page=1&rows=50&search_query=red&utf8=%E2%9C%93
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:42:51 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset="utf-8"
    body:
      encoding: UTF-8
      string: '{"count":3744,"sorted_by":"relevancy_sort","start":0,"rows":50,"available_filters":["super_cat","category","sub_category","type","centre","retailer","brand","price","on_sale","colour","search_query"],"applied_filters":{"categories":[],"facets":{"centre":{"title":"Centre","type":"centre","selected_values":[{"value":"bondijunction","title":"Bondi
        Junction"}]},"search_query":{"type":"search_query","selected_values":{"value":"red"}}}},"display_options":{"sort_options":[{"code":"most_recent_sort","display":true,"description":"Most
        Recent","url":"/api/product/v3/products/search.json?&centre=bondijunction&id=bondijunction&rows=50&search_query=red&sort=most_recent_sort&utf8=%E2%9C%93","active":false},{"code":"price_low_high_sort","display":true,"description":"Price
        Low to High","url":"/api/product/v3/products/search.json?&centre=bondijunction&id=bondijunction&rows=50&search_query=red&sort=price_low_high_sort&utf8=%E2%9C%93","active":false},{"code":"price_high_low_sort","display":true,"description":"Price
        High to Low","url":"/api/product/v3/products/search.json?&centre=bondijunction&id=bondijunction&rows=50&search_query=red&sort=price_high_low_sort&utf8=%E2%9C%93","acti[...]
[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:29:34 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset="utf-8"
    body:
    [...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?centre=bondijunction&page=1&rows=0&super_cat=womens-fashion-accessories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:29:35 GMT
      Status:
      - 200 OK
      Content-Type:
      - application[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=womens-dresses&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:29:35 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; charse[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=womens-coats-jackets&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:29:35 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; [...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=womens-skirts&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:29:35 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=womens-pants&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:29:35 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=womens-tops&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:29:36 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset="[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=womens-suiting&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:29:36 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; charse[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=womens-swimwear&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:29:45 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; chars[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=womens-exercise-active-wear&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:29:45 GMT
      Status:
      - 200 OK
      Content-Type:
      - application[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=womens-sleepwear-intimates&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:29:45 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=womens-maternity&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:29:45 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; char[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=womens-plus-size&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:29:45 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; char[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=womens-accessories&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:29:45 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; ch[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=womens-shoes-footwear&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:29:45 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json;[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=womens-jewellery&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:29:45 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; char[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=bl-handbags&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:29:45 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset="[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?centre=bondijunction&page=1&rows=0&super_cat=mens-fashion-accessories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:29:45 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/j[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=mens-coats-jackets&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:29:46 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; ch[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=mens-suits&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:29:46 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset="u[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=mens-shirts&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:29:46 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset="[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=mens-tops&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:31:48 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset="ut[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=mens-pants&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:31:48 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset="u[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=mens-exercise-active-wear&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:31:48 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/j[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=mens-underwear-socks&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:31:49 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; [...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=mens-sleep-loungewear&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:31:49 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json;[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=mens-accessories&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:31:49 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; char[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=mens-shoes-footwear&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:31:49 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; c[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=mens-jewellery&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:31:50 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; charse[...]
- request:
    method: get
    uri: http://product-service.test.dbg.westfield.com/api/product/master/products/search.json?category=mens-grooming&centre=bondijunction&page=1&rows=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Last-Modified:
      - Sun, 16 Feb 2014 23:31:50 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset[...]
