---
http_interactions:
- request:
    method: get
    uri: http://centre-service.test.dbg.westfield.com/api/centre/master/centres/bondijunction.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"567ae91be4a8b99b76f79cb7956f6c8c"'
    body:
      encoding: UTF-8
      string: '{"code":"bondijunction","name":"Westfield Bondi Junction","short_name":"Bondi
        Junction","street_address":"500 Oxford St","postcode":"2022","state":"NSW","country":"au","latitude":"-33.891289","longitude":"151.250815","email_address":"bondijunction@au.westfield.com","retail":true,"enabled":true,"trading_hours":[],"_links":{"self":{"href":"http://localhost:3005/centres/bondijunction"}}}'
  recorded_at: Tue, 16 Jul 2013 07:34:06 GMT
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movies/557.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"81cae314780967d79480a902d50b15d6"'
    body:
      encoding: UTF-8
      string: '{"id":557,"title":"Man of Steel","image_url":"341b7677b9c40f2cc12224fa57c1779964d53a560be633ee3324cf50b1401175.jpeg","synopsis":"A
        young boy learns that he has extraordinary powers and is not of this Earth."}'
  recorded_at: Tue, 16 Jul 2013 07:34:06 GMT
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movie_sessions.json?centre=bondijunction&date=16-07-2013&movie_id=557
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"b3e6a1ca4cfdb05fc53927da3a8fd095"'
    body:
      encoding: UTF-8
      string: '{"movie_sessions":[{"movie_id":557,"start_time":"2013-07-16T12:45:00.000Z","id":157613,"booking_url":"http://www.eventcinemas.com.au/ticket/Create?sessionId=3849758\u0026source=HWW"},{"movie_id":557,"start_time":"2013-07-16T14:50:00.000Z","id":157622,"booking_url":"http://www.eventcinemas.com.au/ticket/Create?sessionId=3848685\u0026source=HWW"},{"movie_id":557,"start_time":"2013-07-16T18:00:00.000Z","id":157610,"booking_url":"http://www.eventcinemas.com.au/ticket/Create?sessionId=3848686\u0026source=HWW"},{"movie_id":557,"start_time":"2013-07-16T20:50:00.000Z","id":157608,"booking_url":"http://www.eventcinemas.com.au/ticket/Create?sessionId=3848674\u0026source=HWW"}]}'
  recorded_at: Tue, 16 Jul 2013 07:34:06 GMT
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movie_sessions.json?centre=bondijunction&movie_id=557
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"ec63c59871b78508cbf0bbbaf06a2b84"'
    body:
      encoding: UTF-8
      string: '{"movi[...]
