---
http_interactions:
- request:
    method: get
    uri: http://deal-service.test.dbg.westfield.com/api/deal/master/campaigns.json?centre=sydney
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      ETag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Tue, 14 Jan 2014 02:11:57 GMT
- request:
    method: get
    uri: http://centre-service.test.dbg.westfield.com/api/centre/master/centres/sydney.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      ETag:
      - '"79fc5f37ae8db52be59f69f374c05c00"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Westfield Sydney","short_name":"Sydney","code":"sydney","state":"NSW","country":"au","latitude":"-33.870371","longitude":"151.207735","hero_image_ref":null,"micello_community":null,"retail":true,"enabled":true,"_links":{"self":{"href":"http://centre-service.test.dbg.westfield.com/api/centre/master/centres/sydney.json"},"hero_image":{"href":null}},"business_unit_code":"16621","type":"premium","street_address":"Cnr
        Pitt St Mall and Market St","suburb":"Sydney","postcode":"2000","phone_number":"(02)
        8236 9200","email_address":"","today_opening_time":"00:00","today_closing_time":"00:00","today_closed":false,"number_of_levels":0,"micello_map_centre":{"x":0,"y":0},"facebook":null,"twitter":null,"google_plus":null,"instagram":null,"pinterest":null,"youtube":null,"cinema":false,"timezone":"Australia/NSW"}'
  recorded_at: Tue, 14 Jan 2014 02:11:57 GMT
- request:
    method: get
    uri: http://deal-service.test.dbg.westfield.com/api/deal/master/deals.json?centre=sydney&rows=50&state=published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      ETag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Tue, 14 Jan 2014 02:11:57 GMT
- request:
    method: get
    uri: http://trading-hour-service.test.dbg.westfield.com/api/trading-hour/master/centre_trading_hours/range.json?centre_id=sydney
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"d7e3558302d89b65bcaa31a18b8a2134"'
    body:
      encoding: UTF-8
      string: '[{"id":484,"centre_id":"sydney","store_id":null,"hour_type":"standard","description":null,"day_of_week":0,"date":"2014-02-03","opening_time":"09:30","closing_time":"18:30","closed":false},{"id":485,"centre_id":"sydney","store_id":null,"hour_type":"standard","description":null,"day_of_week":1,"date":"2014-02-04","opening_time":"09:30","closing_time":"18:30","closed":false},{"id":486,"centre_id":"sydney","store_id":null,"hour_type":"standard","description":null,"day_of_week":2,"date":"2014-02-05","opening_time":"09:30","closing_time":"18:30","closed":false},{"id":487,"centre_id":"sydney","store_id":null,"hour_type":"standard","description":null,"day_of_week":3,"date":"2014-0[...]
