---
http_interactions:
- request:
    method: get
    uri: http://centre-service.test.dbg.westfield.com/api/centre/master/centres/sydney.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"eb1177989a99f479392f34dec53b25dd"'
    body:
      encoding: UTF-8
      string: '{"name":"Westfield Sydney","short_name":"Sydney","code":"sydney","business_unit_code":"16621","type":"premium","street_address":"Cnr
        Pitt St Mall and Market St","state":"NSW","postcode":"2000","country":"au","phone_number":"(02)
        8236 9200","email_address":"","latitude":"-33.870371","longitude":"151.207735","today_opening_time":null,"today_closing_time":null,"number_of_levels":0,"micello_community":null,"facebook":null,"twitter":null,"google_plus":null,"instagram":null,"youtube":null,"retail":true,"enabled":true}'
  recorded_at: Tue, 27 Aug 2013 05:50:16 GMT
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movie_sessions.json?centre=sydney
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"251b7b1864fb701057bf9e6f91655370"'
    body:
      encoding: UTF-8
      string: '{"movie_sessions":[]}'
  recorded_at: Tue, 27 Aug 2013 05:50:16 GMT
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movies.json?centre=sydney&date=29-08-2013
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"d751713988987e9331980363e24189ce"'
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Tue, 27 Aug 2013 05:50:16 GMT
recorded_with: VCR 2.5.0
