---
http_interactions:
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movie_sessions.json?centre=sydney
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"251b7b1864fb701057bf9e6f91655370"'
    body:
      encoding: UTF-8
      string: '{"movie_sessions":[]}'
  recorded_at: Wed, 17 Jul 2013 05:27:57 GMT
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movies.json?centre=sydney&date=17-07-2013
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"283a5a8f3eb069eaaba85f6109c8bb42"'
    body:
      encoding: UTF-8
      string: '{"movies":[]}'
  recorded_at: Wed, 17 Jul 2013 05:27:57 GMT
- request:
    method: get
    uri: http://centre-service.test.dbg.westfield.com/api/centre/master/centres/sydney.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"bb189f0aa12a6917d5c3ac06ad9b1729"'
    body:
      encoding: UTF-8
      string: '{"code":"sydney","name":"Westfield Sydney","short_name":"Sydney","street_address":"Cnr
        Pitt St Mall and Market St","postcode":"2000","state":"NSW","country":"au","latitude":"-33.870371","longitude":"151.207735","email_address":"","retail":true,"enabled":true,"trading_hours":[],"_links":{"self":{"href":"http://localhost:3005/centres/sydney"}}}'
  recorded_at: Wed, 17 Jul 2013 05:27:57 GMT
recorded_with: VCR 2.5.0
