---
http_interactions:
- request:
    method: get
    uri: http://centre-service.test.dbg.westfield.com/api/centre/master/centres/sydney.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      ETag:
      - '"79fc5f37ae8db52be59f69f374c05c00"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Westfield Sydney","short_name":"Sydney","code":"sydney","state":"NSW","country":"au","latitude":"-33.870371","longitude":"151.207735","hero_image_ref":null,"micello_community":null,"retail":true,"enabled":true,"_links":{"self":{"href":"http://centre-service.test.dbg.westfield.com/api/centre/master/centres/sydney.json"},"hero_image":{"href":null}},"business_unit_code":"16621","type":"premium","street_address":"Cnr
        Pitt St Mall and Market St","suburb":"Sydney","postcode":"2000","phone_number":"(02)
        8236 9200","email_address":"","today_opening_time":"00:00","today_closing_time":"00:00","today_closed":false,"number_of_levels":0,"micello_map_centre":{"x":0,"y":0},"facebook":null,"twitter":null,"google_plus":null,"instagram":null,"pinterest":null,"youtube":null,"cinema":false,"timezone":"Australia/NSW"}'
  recorded_at: Tue, 14 Jan 2014 02:11:28 GMT
- request:
    method: get
    uri: http://deal-service.test.dbg.westfield.com/api/deal/master/campaigns.json?centre=sydney
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      ETag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Tue, 14 Jan 2014 02:11:31 GMT
- request:
    method: get
    uri: http://deal-service.test.dbg.westfield.com/api/deal/master/deals.json?centre=sydney&rows=50&state=published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      ETag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Tue, 14 Jan 2014 02:11:32 GMT
- request:
    method: get
    uri: http://store-service.test.dbg.westfield.com/api/store/master/stores/1.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: 
    headers:
      Status:
      - 500 Internal Server Error
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\"
        />\n  <title>Action Controller: Exception caught</title>\n  <style>\n    body
        {\n      background-color: #FAFAFA;\n      color: #333;\n      margin: 0px;\n
        \   }\n\n    body, p, ol, ul, td {\n      font-family: helvetica, verdana,
        arial, sans-serif;\n      font-size:   13px;\n      line-height: 18px;\n    }\n\n
        \   pre {\n      font-size: 11px;\n      white-space: pre-wrap;\n    }\n\n
        \   pre.box {\n      border: 1px solid #EEE;\n      padding: 10px;\n      margin:
        0px;\n      width: 958px;\n    }\n\n    header {\[...]
[...]
- request:
    method: get
    uri: http://deal-service.test.dbg.westfield.com/api/deal/master/deals.json?campaign_code=campaign-code&centre=sydney&rows=50&state=published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      ETag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[]'
  recorded_at: Tue, 14 Jan 2014 06:45:22 GMT
recorded_with: VCR 2.6.0
