---
http_interactions:
- request:
    method: get
    uri: http://store-service.test.dbg.westfield.com/api/store/master/stores/22739.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"c05eff0f8ed4899891bbdb52bb2c6549"'
    body:
      encoding: UTF-8
      string: '{"id":22739,"retailer_id":473,"retailer_code":"greater-union-birch-carroll-and-coyle","centre_id":"bondijunction","description":null,"errors":{},"level":null,"level_span":null,"name":"Event
        Cinemas","phone_number":"9300 1555","shop_number":"MGU","store_front_image_ref":"265ce72f98455edec61d6e27ab20eac07c46cc23f489a8f306adfeff94d46cd7.jpeg","url":"http://www.eventcinemas.com.au","email_address":"bondi@eventscinemas.com.au","_links":{"self":{"href":"/api/store/master/stores/22739.json"},"logo":{},"store_front":{}}}'
  recorded_at: Fri, 27 Sep 2013 01:01:09 GMT
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movie_sessions.json?centre=bondijunction&movie_id=182
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"fde8fefafcdcceecbf457817712bdd68"'
    body:
      encoding: UTF-8
      string: '[{"id":44485,"movie_id":182,"start_time":"2013-09-26T16:00:00.000Z","session_type":null,"booking_url":""},{"id":44486,"movie_id":182,"start_time":"2013-09-26T18:45:00.000Z","session_type":null,"booking_url":""},{"id":44487,"movie_id":182,"start_time":"2013-09-26T21:30:00.000Z","session_type":null,"booking_url":""},{"id":44488,"movie_id":182,"start_time":"2013-09-27T16:00:00.000Z","session_type":null,"booking_url":""},{"id":44489,"movie_id":182,"start_time":"2013-09-27T18:45:00.000Z","session_type":null,"booking_url":""},{"id":44490,"movie_id":182,"start_time":"2013-09-27T21:30:00.000Z","session_[...]
- request:
    method: get
    uri: http://centre-service.test.dbg.westfield.com/api/centre/master/centres/bondijunction.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"3b29ef91b35185d13d596c1ebdf1df39"'
    body:
      encoding: UTF-8
      string: '{"name":"Westfield Bondi Junction","short_name":"Bondi Junction","code":"bondijunction","business_unit_code":"21021","type":"premium","street_address":"500
        Oxford St .kfndsklfjsd","suburb":"Bondi Junction","state":"NSW","postcode":"2022","country":"au","phone_number":"(02)
        9947 8000","email_address":"bondijunction@au.westfield.com","latitude":"-33.891289","longitude":"151.250815","today_opening_time":null,"today_closing_time":null,"number_of_levels":7,"micello_community":7295,"facebook":null,"twitter":null,"google_plus":null,"instagram":null,"pinterest":null,"youtube":null,"retail":false,"enabled":false}'
  recorded_at: Fri, 27 Sep 2013 01:01:09 GMT
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movies/182.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"4291066bdbaa85dd11500fafa8c13088"'
    body:
      encoding: UTF-8
      string: '{"id":182,"title":"White House Down","image_url":"http://res.cloudinary.com/wlabs/image/upload/v1380156437/mp3ytwmrqsqydrbvm6w8.jpg","synopsis":"A
        Secret Service agent is tasked with saving the life of the U.S. President
        after the White House is overtaken by a paramilitary group.","classification":"M"}'
  recorded_at: Fri, 27 Sep 2013 01:01:09 GMT
recorded_with: VCR 2.5.0
