---
http_interactions:
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movie_sessions.json?centre=bondijunction&date=28-08-2013&movie_id=54
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"22bd52d42dc465bf35116890d30bc056"'
    body:
      encoding: UTF-8
      string: '{"movie_sessions":[{"id":10452,"movie_id":54,"store_id":22739,"start_time":"2013-08-28T10:00:00.000Z","session_type":null,"booking_url":"","centre":"bondijunction"},{"id":10448,"movie_id":54,"store_id":22739,"start_time":"2013-08-28T12:45:00.000Z","session_type":null,"booking_url":"","centre":"bondijunction"}]}'
  recorded_at: Tue, 27 Aug 2013 06:42:29 GMT
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movie_sessions.json?centre=bondijunction&movie_id=54
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"e2199baa771683bb0c6decbb2ea65b69"'
    body:
      encoding: UTF-8
      string: '{"movie[...]
- request:
    method: get
    uri: http://movie-service.test.dbg.westfield.com/api/movie/master/movies/54.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"b9c19967a6e66ecf805808954eee7567"'
    body:
      encoding: UTF-8
      string: '{"id":54,"title":"The Wolverine","image_url":"22b67028b630a7b93f9bbf93675146077327800b229f6e43e12da645f420c4f0.jpeg","synopsis":"Logan
        begins a forbidden romance with a Japanese woman whose hand in marriage is,
        unfortunately, promised to another man. This puts him into battle with her
        father and her samurai-sword-wielding brothers and Silver Samurai.","classification":"M"}'
  recorded_at: Tue, 27 Aug 2013 06:42:29 GMT
- request:
    method: get
    uri: http://centre-service.test.dbg.westfield.com/api/centre/master/centres/bondijunction.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"50df756e46434baaf6e396159270652e"'
    body:
      encoding: UTF-8
      string: '{"name":"Westfield Bondi Junction","short_name":"Bondi Junction","code":"bondijunction","business_unit_code":"21021","type":"premium","street_address":"500
        Oxford St .kfndsklfjsd","state":"NSW","postcode":"2022","country":"au","phone_number":"(02)
        9947 8000","email_address":"bondijunction@au.westfield.com","latitude":"-33.891289","longitude":"151.250815","today_opening_time":null,"today_closing_time":null,"number_of_levels":7,"micello_community":null,"facebook":null,"twitter":null,"google_plus":null,"instagram":null,"youtube":null,"retail":false,"enabled":false}'
  recorded_at: Tue, 27 Aug 2013 06:42:30 GMT
recorded_with: VCR 2.5.0
