/* ======================================================================================
   @HELPERS -> DISPLAY
   ====================================================================================== */

/*
	Usage: 
		Changes the `display` property of an element.
	
	Demo:
		Style Guide -> Helpers -> Display
*/

.block {display: block !important;}

.inline {display: inline !important;}

.inline-block {display: inline-block !important;}