/* ======================================================================================
   @HELPERS -> FLOAT
   ====================================================================================== */

/*
	Float an element to either the right or left or remove float altogether.
*/

.float-left {float: left !important;}

.float-right {float: right !important;}

.float-none {float: none !important;}