<%= styleguide_block 'Horizontal List' do |style| %>
  <ul class="horiz-list $modifier_class">
      <li><a href="#">Semper</a></li><!--
    --><li><a href="#">Virtute</a></li><!--
    --><li><a href="#">Euripidis</a></li><!--
    --><li><a href="#">Natoque</a></li><!--
    --><li><a href="#">Gubergren</a></li>
  </ul>
<% end %>