<!-- Slats -->
<%= styleguide_block 'Slats' do |style| %>
  <div class="slats">
    <img src="http://placekitten.com/60/60" alt="" class="slats__img">
      <div class="slats__body">
        <p>Ne mel utroque apeirian, eum ex cibo choro. Discere commune concludaturque eum te, eros movet comprehensam eum id. Cu nulla salutatus duo. Phaedrum efficiantur vix at, ius ancillae reprimique in, percipit mandamus assueverit eu eum. Alia natum vidisse id ius, vide soleat vis no.</p>
      </div>
  </div>
<% end %>
<!-- //Slats -->