<%= styleguide_block 'Toggle Visibility' do |style| %>
<button toggle-visibility="toggle-text">Toggle</button>
<div class="toggle-visibility" id="toggle-text">
  <p>Here's some text that shows and hide.</p>
</div>

<% end %>