<%= styleguide_block 'Toggle Visibility Content' do |style| %>
  <button type="button" class="btn btn--faux-link" toggle-visibility="toggle-visibility-content">
    <span class="show-when-visible show-when-visible--block">
      Read more
      <span aria-hidden="true" class="icon icon--arrow-up-full icon--lrg"></span>
    </span>
    <span class="hide-when-visible">
      Read less
      <span aria-hidden="true" class="icon icon--arrow-down-full icon--lrg"></span>
    </span>
  </button>
  <div class="toggle-visibility" id="toggle-visibility-content">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
  </div>
<% end %>