<%= styleguide_block 'Vertical Alignment' do |style| %>
  <div style="height: 200px">
      <div class="vert-align $modifier_class">
        <div class="vert-align__inner">
          <p>Nec at quodsi elaboraret definitionem. Ne facilisi pericula honestatis qui. In sanctus platonem voluptatum ius. Ad sed labores inermis disputando, etiam adversarium quo te. Nec at quodsi elaboraret definitionem. Ne facilisi pericula honestatis qui. In sanctus platonem voluptatum ius. Ad sed labores inermis disputando, etiam adversarium quo te..</p>
        </div>
      </div>
  </div>
<% end %>