/* ======================================================================================
   @UTILS -> PLACEHOLDERS -> IMAGE REPLACEMENT
   ====================================================================================== */

/*
	Usage:
		For replacing a text element with an image.

	Demo:
		Style Guide -> Utilities -> Image Replacement

	Credit:
		http://html5boilerplate.com/
*/

%img-replacement {
  background-color: transparent;
  border: 0;
  overflow: hidden;

	/* Pseudo element */
	&:before {
		content: "";
		display: block;
		width: 0;
		height: 150%;
	}
}

/* Alternate version */
%img-replacement-alt {text-indent: $off-screen-distance;}