/* ======================================================================================
   @UTILS -> PLACEHOLDERS -> SPRITE BG
   ====================================================================================== */

/*
	Usage:
		Declare the main sprite background image.

	Demo:
		Style Guide -> Utilities -> Sprite BG
*/

%sprite-bg {
	background-image: image-url("sprite.png");
	background-repeat: no-repeat;
}