/* ======================================================================================
   @LAYOUT -> CONTAINERS
   ====================================================================================== */

.container {
	width: $page-container-width;
	@include to-rem(min-width, $page-container-min-width);
	@include to-rem(max-width, $page-container-max-width);
	margin: 0 auto;

	/* Print */
	@media print {
		width: auto;
	}
}

/* Modifier: wide container (full width of viewport) */
.container--wide {
  width: auto;
  max-width: none;
}

/* Modifier: narrow container */
.container--narrow {@include to-rem(max-width, $page-container-max-width-narrow);}

/* Modifier: dark container */
.container--dark {background-color: $color-grey-dark-3;}

/* Modifier: position relative container */
.container--position {position: relative;}

/* Modifier: adds top spacing when used as the direct child of `main` */
.container--spacing-top-main-content {
  @include to-rem(margin-top, $spacing-half);

  @include respond-min($non-palm) {
    @include to-rem(margin-top, $spacing-base);
  }
}