/* ======================================================================================
   @LAYOUT -> CONTAINERS
   ====================================================================================== */

/* Generic container */
.container {
	width: 92%;
	@include to-rem(min-width, 220);
	@include to-rem(max-width, $page-container-max-width);
	margin: 0 auto;

	/* Print */
	@media print {
		width: auto;
	}
}

.container--wide {
  width: auto;
  max-width: none;
}

.container--narrow {
  @include to-rem(max-width, $page-container-max-width-narrow);
}