/* ======================================================================================
   @LAYOUT -> FOOTER
   ====================================================================================== */

.footer {
	clear: both;
	
	/* Base rules */
	p {margin-bottom: 0;}
}
	
	/* Back to top */
	.back-to-top {
		display: inline-block;
		text-decoration: none; /* Note: this may be redundant? */
		
		/* Pseudo element - up arrow */
		&:before {
			content: "\2191";
			display: block;
			text-align: center;
			@include font-size(28, 0.8);
			font-family: $font-family-mono;
		}
		
		/* Hide at this breakpoint and for print */
		@include respond-min(1024) {
			display: none;
		}
		
		@media print {
			display: none;
		}
	}