/* ======================================================================================
   @LAYOUT -> HEADER
   ====================================================================================== */

/* Set variables */
$hero-banner-height-sml: 270 !default;
$hero-banner-height-lrg: 380 !default;
$header-color-grey: #bababa !default;
$header-color-link-hover: $color-brand !default;

/* Start header */
.header {
	position: relative;
	z-index: 99;

	/* --Global rules-- */

	/* Icons */
	.icon:before {@extend %transition-subtle;}

	/* --Shared rules-- */

	/* Set common colours */
	a,
	.icon:before,
	.my-account-container__hdr.btn {color: $color-light-txt;}

	.icon--arrow-down-full:before {color: $color-dark-txt;}
}

/* --Extenders-- */

/* 'Centre home page hero banner' and 'National' */
.header--hero,
.header--national {border-bottom: 1px solid $header-color-grey;}

	/* --Header secondary-- */
	.header__secondary {
		background-color: #fff;
		position: relative;
		z-index: 2;
		@extend %clear-fix;
		@include to-rem(min-height, 44);

		/* Menu (hamburger) toggle button */
		.btn--menu {
			float: left;
			@include to-rem(margin, -1 0 0 -9);

			/* Remove top outdent and add right spacing at this breakpoint */
			@include respond-min($non-palm) {
				margin-top: 0;
				@include to-rem(margin-right, 6);

				/* Centre home page hero banner */
				.header--hero & {display: none;}
			}

			/* Hide at this breakpoint */
			@include respond-min($ipad-landscape) {
				display: none;
			}
		}

		/* Increase min height at this breakpoint */
		@include respond-min($non-palm) {
			@include to-rem(min-height, 50);

			/* Overlay the 'Centre home page hero banner' at this breakpoint */
			.header--hero & {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				@include to-rem(min-height, $hero-banner-height-sml);
				background: transparent;

				/* Increase min height at this breakpoint */
				@include respond-min($ipad-portrait) {
					@include to-rem(min-height, $hero-banner-height-lrg);
				}

					/* Shared rules */
					a,
					.icon:before,
					.my-account-container__hdr.btn {color: #fff;}
			}
		}

		/* Inner container */
		> .container {
			@include to-rem(padding-top padding-bottom, 7);

			/* Change positioning context and increase top padding at this breakpoint */
			@include respond-min($non-palm) {
				position: relative;
				@include to-rem(padding-top, 10);

				/* Apply min height and top padding for 'Centre home page hero banner' */
				.header--hero & {
					@include to-rem(padding-top, $spacing-base);
					@include to-rem(min-height, $hero-banner-height-sml);

					/* Increase min height and top padding at this breakpoint */
					@include respond-min($ipad-portrait) {
						@include to-rem(padding-top, $spacing-base + $spacing-half);
						@include to-rem(min-height, $hero-banner-height-lrg);
					}
				}
			}
		}
	}

		/* Logo */
		.logo {

			/* Increase logo size and swap out for white version for 'Centre home page hero banner' at this breakpoint */
			@include respond-min($non-palm) {
				.header--hero & {
					background: image-url("logo-white-beta.svg") no-repeat 0 0;
					display: inline-block;
					width: 126px;
					height: 41px;

					/* No SVG fallback */
					.no-svg & {background-image: cloudinary-url("logo-white-beta.png");}
				}
			}

			img {
				width: 82px;
				height: 26px;
				position: relative;
				@include to-rem(top, $spacing-micro);
				vertical-align: top;

				/* Decrease top indent at this breakpoint */
				@include respond-min($non-palm) {
					@include to-rem(top, 1);

					/* Hide for 'Centre home page hero banner' at this breakpoint */
					.header--hero & {@include hide-visually;}
				}
			}

		}

		/* --Toggle menu/search via Angular toggle visibility directive-- */
		.js .header {
			.header-menu-toggle,
			.header-search-toggle {width: 100%;}

			/* --Search-- */
			.header-search-toggle {top: 0;}

			/* Centre home page hero banner */
			@include respond-max($palm) {
				&.header--hero .header-search-toggle {@include to-rem(top, 38);}
			}

			/* Always show search at this breakpoint */
			@include respond-min($non-palm) {
				& .header-search-toggle {
					display: inline-block;
					width: auto;
					position: absolute;
					left: auto;
				}
			}

			/* Menu */
			.header-menu-toggle {

				/* Alter positioning and width of menu at this breakpoint range */
				@include respond-range($non-palm, $ipad-landscape - 1) {
					@include to-rem(margin-top, -5);
					@include to-rem(left, -7);
					@include to-rem(width, 230);
				}

				/* Always show menu at this breakpoint */
				@include respond-min($ipad-landscape) {
					&.drop-down {
						display: inline-block;
						width: auto;
						position: static;
					}
				}
			}

			/* Always show menu for 'Centre home page hero banner' at this breakpoint */
			@include respond-min($non-palm) {
				&.header--hero .header-menu-toggle {
					display: inline-block;
					width: auto;
					position: static;
				}
			}
		}

		/* Toggle menu */
		.header-menu-toggle {

			/* Apply styles at this breakpoint */
			@include respond-max($ipad-landscape - 1) {
				background-color: $color-dark-txt;
				color: #fff;

				/* Create bottom spacing */
				.header-menu-toggle__mrg-btm {@include to-rem(margin-bottom, $spacing-half);}
			}

			/* Add border at this breakpoint range */
			@include respond-range($non-palm, $ipad-landscape - 1) {
				border: 1px solid $color-med-txt;
			}

			/* Non JS users */
			.no-js & {
				@include to-rem(margin-top, $spacing-quarter);

				/* Bring inline at this breakpoint */
				@include respond-min($ipad-landscape) {
					display: inline-block;
					margin-top: 0;
				}
			}

			/* Drop down pointer arrow (most of the styles are brought over from the 'Drop down menu' module) */
			.header &:before {
				left: 4%;
				margin-left: 3px;
				color: $color-dark-txt;
				text-shadow: none;

				/* Change positioning at this breakpoint range */
				@include respond-range($non-palm, $ipad-landscape - 1) {
					left: 10px;
					margin-left: -1px;
				}

				/* Hide at this breakpoint */
				@include respond-min($ipad-landscape) {
					display: none;
				}

				/* Non JS users */
				.no-js & {display: none;}
			}

			/* Centre home page hero banner */
			@include respond-min($non-palm) {
				.header--hero &:before {display: none;}
			}
		}

				/* Generic navigation module */
				.header-menu-toggle__nav {
					background-color: $color-med-txt;

					/* Turn off bg colour for sub nav at this breakpoint */
					@include respond-min($ipad-landscape) {
						.nav-sub-container & {background: none;}
					}

					/* As above but for 'Centre home page hero banner' at this breakpoint */
					@include respond-min($non-palm) {
						.header--hero .nav-sub-container & {background: none;}

						.header--hero .my-account-signedin & {background: #fff;}
					}

					/* Items */
					li {
						border-bottom: 1px solid $color-dark-txt;

						/* Turn off borders and throw into horizontal mode for sub nav at this breakpoint */
						@include respond-min($ipad-landscape) {
							.nav-sub-container & {
								border: 0;
								display: inline-block;
							}
						}

						/* As above but for 'Centre home page hero banner' at this breakpoint */
						@include respond-min($non-palm) {

							/* Sub nav */
							.header--hero .nav-sub-container & {
								border: 0;
								display: inline-block;
								@include to-rem(margin-left, $spacing-base);
								vertical-align: middle;

								/* Turn left margin off for first child */
								&:first-child {margin-left: 0;}

								/* Increase left margin at this breakpoint */
								@include respond-min($desk) {
									@include to-rem(margin-left, $spacing-base+$spacing-quarter);
								}

								/* Bold font at this breakpoint */
								@include respond-min($desk-lrg) {
									font-weight: bold;
								}
							}

							/* My account nav drop down */
							.header--hero .my-account-signedin & {border-color: $header-color-grey;}
						}

						/* Increase right spacing at this breakpoint */
						@include respond-min($desk) {
							@include to-rem(margin-right, 8);

							/* Turn off right spacing for 'My account nav drop down' */
							.my-account-signedin & {margin-right: 0;}
						}

						/* Turn border off for last child */
						&:last-child {border: 0;}
					}

						/* Links */
						a {
							display: block;
							width: 91.5%;
							margin: 0 auto;
							color: #fff;
							@include to-rem(padding, $spacing-third 0);

							/* Full width and side padding at this breakpoint */
							@include respond-min($non-palm) {
								width: auto;
								@include to-rem(padding-left padding-right, $spacing-half + $spacing-quarter);

								/* Remove padding for 'Centre home page hero banner' sub nav */
								.header--hero .nav-sub-container & {padding: 0;}

								/* Change colour for 'Centre home page hero banner' my account nav drop down */
								.header--hero .my-account-signedin & {color: $color-dark-txt;}
							}

							/* Reduce left/right padding at this breakpoint */
							@include respond-min($ipad-landscape) {
								.nav-sub-container & {@include to-rem(padding-left padding-right, 6);}
							}

							/* Hover, focus & active states */
							.header &:hover,
							.header &:focus,
							.header &.is-active {
								&,
								.icon:before {
									color: $color-light-txt;

									/* Change state color at this breakpoint */
									@include respond-min($ipad-landscape) {
										color: $header-color-link-hover;
									}
								}
							}

							/* Hover, focus & active states for 'Centre home page hero banner' */
							@include respond-min($non-palm) {
								.header--hero &:hover,
								.header--hero &:focus,
								.header--hero &.is-active {
									&,
									.icon:before {color: $header-color-link-hover;}
								}
							}

								/* Hide link text for sub nav at this breakpoint */
								@include respond-min($ipad-landscape) {
									.nav-sub-container & .nav-sub__txt {
										@include hide-visually;

										/* Bring link text into view for centre home page hero banner */
										.header--hero & {@include hide-visually-off;}
									}
								}

								/* As above but for 'Centre home page hero banner' at this breakpoint range */
								@include respond-range($non-palm, 900) {
									.header--hero .nav-sub-container & .nav-sub__txt {@include hide-visually;}
								}
						}

							/* Icon */
							.icon:before {
								color: #fff;

								/* Bump up more for iOS/Android */
								.ios &,
								.android & {top: -2px;}

								/* Change colour at this breakpoint */
								@include respond-min($ipad-landscape) {
									.nav-sub-container & {
										color: $color-light-txt;
										@include font-size(17, 1);

										/* Bump up more for iOS/Android */
										.ios &,
										.android & {top: -3px;}

										/* Change colour for 'Centre home page hero banner' */
										.header--hero & {
											color: #fff;
											@include font-size(14, 1);

											/* Bump down for iOS/Android */
											.ios &,
											.android & {top: -2px;}
										}
									}
								}

								/* Change colour for 'Centre home page hero banner' my account nav drop down at this breakpoint */
								@include respond-min($non-palm) {
									.header--hero .my-account-signedin & {color: $color-light-txt;}
								}
							}
				}

		/* Sub navigation */
		.nav-sub-container {

			/* Display inline and create some left spacing at this breakpoint */
			@include respond-min($ipad-landscape) {
				display: inline-block;
				@include to-rem(margin-left, 16);
				top: 0;
			}

			/* Increase left spacing at this breakpoint */
			@include respond-min($desk) {
				@include to-rem(margin-left, 28);
			}

			/* 'Centre home page hero banner' styles at this breakpoint */
			@include respond-min($non-palm) {
				.header.header--hero & {
					position: absolute;
					top: auto;
					@include to-rem(bottom, 61);
					left: 0;
					margin-left: 0;

					/* Add left indent at this breakpoint */
					@include respond-min($desk) {
						@include to-rem(left, $spacing-dbl);
						@include to-rem(right, $spacing-dbl);
					}
				}
			}

					/* Hide 'Shopping hours' link for 'Centre home page hero banner' at this breakpoint */
					@include respond-min($non-palm) {
						.header.header--hero & .open-hours-link-alt {display: none;}
					}

			/* Non JS users */
			@include respond-min($non-palm) {
				.no-js & {position: static;}
			}
		}

		/* Centre select */
		.header-centre-select {
			@include to-rem(padding, $spacing-third 0 $spacing-third+$spacing-micro);
			position: relative;

			/* Adjustments for 'Centre home page hero banner' at this breakpoint */
			@include respond-max($palm) {
				.header--hero .header__hero & {
					padding: 0;
					@include to-rem(margin-bottom, $spacing-half);
				}
			}

			/* Adjustments at this breakpoint */
			@include respond-min($non-palm) {
				display: inline-block;
				padding: 0;
				@include to-rem(margin-top, 5);
				@include to-rem(margin-left, 5);

				/* Android */
				.android & {@include to-rem(margin-top, 4);}

				/* Centre home page hero banner */
				.header--hero & {
					position: absolute;
					left: 0;
					top: 50%;
					@include to-rem(margin, -24 0 0 0);

					/* Increase negative top margin at this breakpoint */
					@include respond-min($ipad-portrait) {
						@include to-rem(margin-top, -33.5);
					}

					/* Increase negative top margin and indent left/right edges at this breakpoint */
					@include respond-min($desk) {
						@include to-rem(left, $spacing-dbl);
						@include to-rem(right, $spacing-dbl);
						@include to-rem(margin-top, -42);
					}
				}

				/* Turn off container rules */
				&.container {
					width: auto;
					max-width: none;
					min-width: 0;
				}
			}

			/* Change vertical align at this breakpoint */
			@include respond-min($ipad-landscape) {
				vertical-align: top;
			}

			/* Tablet small version */
			&.header-centre-select-alt {
				display: none;

				@include respond-range($non-palm, $ipad-landscape - 1) {
					display: inline-block;

					/* Centre home page hero banner */
					.header--hero & {display: none;}
				}
			}

			/* Centre name */
			.header-centre-select__centre-name {
				@include font-size(22, 1.2);
				text-transform: uppercase;
				@include to-rem(margin-right, 60);
				color: #fff;

				/* Remove right margin and change text colour at this breakpoint */
				@include respond-min($non-palm) {
					margin-right: 0;
					color: $color-dark-txt;

					/* Centre home page hero banner */
					.header--hero & {
						text-shadow: 0 0 8px rgba(#000, 0.6);
						@include font-size(40, 1.2);
						color: #fff;

						/* Increase text size at these breakpoints */
						@include respond-min($ipad-portrait) {
							@include font-size(56, 1.2);
						}

						@include respond-min($desk) {
							@include font-size(70, 1.2);
						}
					}
				}

				/* Hide for tablet small at this breakpoint range */
				@include respond-range($non-palm, $ipad-landscape - 1) {
					.header-menu-toggle & {display: none;}
				}

				/* Hide for tablet small at this breakpoint */
				@include respond-min($ipad-landscape) {
					display: none;
				}

				/* 'Centre home page hero banner' palm version */
				.header--hero .header__hero & {
					@include font-size(27, 1.2);
					margin-right: 0;
					text-shadow: 0 0 8px rgba(#000, 0.6);

					/* Increase text size at this breakpoint */
					@include respond-min(400) {
						@include font-size(32, 1.2);
					}
				}

				/* Button version */
				&.btn {
					display: none;

					/* Show at these breakpoints */
					@include respond-min($ipad-landscape) {
						display: inline-block;
					}

					/* Centre home page hero banner */
					@include respond-min($non-palm) {
						.header--hero & {display: inline-block;}
					}
				}

					/* Down arrow icon (drop down indicator) */
					.icon:before {
						@include font-size(18, 1);
						color: $color-dark-txt;
						top: -2px;

						/* Webkit */
						@include target-webkit {
							top: -3px;
							@include to-rem(left, $spacing-quarter);
						}

						/* Centre home page hero banner */
						.header--hero & {color: #fff;}
					}
			}

				/* 'Change centre' link */
				.header-centre-select__link {
					color: #fff;

					/* Position over to the right at this breakpoint */
					@include respond-max($palm) {
						@include font-size($font-size-milli, 1);
						position: absolute;
						right: 0;
						top: 50%;
						@include translate(0, -45%);
					}

					/* Make block level and fix alignment at this breakpoint */
					@include respond-min($non-palm) {
						display: block;
						@include to-rem(width, 230);
						@include to-rem(padding-top padding-bottom, 6.5);
						@include to-rem(padding-left padding-right, $spacing-half + $spacing-quarter);
						@include to-rem(margin-top margin-left, -5);

						/* Display 'centre' text */
						.hide-visually {@include hide-visually-off;}

						/* Hide for 'Centre home page hero banner' */
						.header--hero & {display: none;}
					}

					/* Hide at this breakpoint */
					@include respond-min($ipad-landscape) {
						display: none;
					}

					/* Hover and focus states */
					&:hover,
					&:focus {
						&,
						.icon:before {color: $color-light-txt;}
					}

					/* Icon */
					.icon:before {
						color: #fff;

						/* Bump up more for iOS */
						.ios & {position: relative;}
					}
				}
		}

		/* --Social Follow and Tertiary nav-- */
		.nav-social-tertiary-container {
			@include to-rem(padding-top padding-bottom, $spacing-half+$spacing-quarter);
			background-color: $color-dark-txt;

			/* Remove `.drop-down` rules at this breakpoint */
			@include respond-max($ipad-landscape - 1) {
				.js &.drop-down {
					display: block;
					position: static;
				}
			}

			/* Remove `.container` rules and apply side padding at this breakpoint */
			@include respond-min($non-palm) {
				width: auto;
				max-width: none;
				min-width: 0;
				@include to-rem(padding-left padding-right, $spacing-half + $spacing-quarter);
			}

			/* Alter padding and add width at this breakpoint */
			@include respond-min($ipad-landscape) {
				@include to-rem(padding, 16);
				@include to-rem(width, 214);
				border: 1px solid $color-med-txt;

				/* Adjust top/left positioning (Note: need to increase the specificity) */
				.js &.drop-down {
					@include to-rem(margin-top, -5);
					@include to-rem(left, 92);
				}
			}

			/* 'Centre home page hero banner' drop down */
			@include respond-min($non-palm) {
				.js .header--hero &.drop-down {
					display: none;
					@include drop-down;
					top: 50%;
					@include to-rem(margin-top, 24 + 5);
					@include to-rem(padding, 16);
					@include to-rem(width, 214);
					border: 1px solid $color-med-txt;

					/* Show the drop down */
    			&.is-active {display: block;}

    			/* Increase top margin at this breakpoint */
					@include respond-min($ipad-portrait) {
						@include to-rem(margin-top, 33.5 + 5);
					}

					/* Increase top margin and left indent at this breakpoint */
					@include respond-min($desk) {
						@include to-rem(left, $spacing-dbl);
						@include to-rem(margin-top, 42 + 5);
					}
				}
			}

			/* Non JS users */
			.no-js & {
				width: 100%;
				@include to-rem(padding, 16);
			}

			/* Hide for 'Centre home page hero banner' at this breakpoint */
			@include respond-min($non-palm) {
				.no-js .header--hero & {display: none;}
			}

			/* Drop down arrow pointer */
			.header &:before {
				display: none;
				color: $color-dark-txt;
				text-shadow: none;

				/* Show at this breakpoints */
				@include respond-min($ipad-landscape) {
					display: block;
				}

				/* Non JS users */
				.no-js & {display: none;}
			}

				/* Centre home page hero banner */
				@include respond-min($non-palm) {
					.header.header--hero &:before {display: block;}
				}

				/* 'Change centre' link */
				.header-centre-select__link--alt {
					display: none;
					border-bottom: 1px solid $color-med-txt;
					@include to-rem(padding, 16);
					@include to-rem(padding-top padding-bottom, 8);
					@include to-rem(margin, -16);
					@include to-rem(margin-bottom, $spacing-half);

					/* Link and icon colour */
					&,
					.icon:before {color: #fff;}

					/* Hover and focus states */
					&:hover,
					&:focus {
						&,
						.icon:before {color: $color-light-txt;}
					}

					/* Show at these breakpoints */
					@include respond-min($ipad-landscape) {
						display: block;
					}

					/* Centre home page hero banner */
					@include respond-min($non-palm) {
						.header--hero & {display: block;}
					}

					/* Icon - IE fixes */
					.icon:before {
						/* IE10 */
						@include ie-10-up {
							position: relative;
							top: 1px;
						}
						/* IE9 */
						.ie-9 & {
							position: relative;
							top: 1px;
						}
						/* Old IE */
						@include old-ie {
							position: relative;
						}
					}
				}
		}

			/* Social Follow nav */
			.nav-social-follow {
				@include to-rem(margin-bottom, $spacing-half);

				/* Duplicated 'Centre home page hero banner' version only at large desk size */
				.nav-sub-container & {display: none;}

				@include respond-min($desk-lrg) {
					/* Hide when in drop down */
					.header--hero .nav-social-tertiary-container & {
						display: none;

						/* Old IE */
						@include old-ie {
							display: block;
						}
					}

					.nav-sub-container & {
						display: block;
						position: absolute;
						top: 50%;
						right: 0;
						@include translate(0, -50%);
						margin-bottom: 0;

						/* Old IE */
						@include old-ie {
							display: none;
						}

						/* Hover and focus states */
						a:hover,
						a:focus {
							.icon:before {color: $header-color-link-hover;}
						}

							/* Icon */
							.icon:before {@include font-size(20, 1);}
					}
				}

				/* Items */
				li {
					@include to-rem(margin-left, $spacing-half);

					&:first-child {margin-left: 0;}
				}

					/* Icons */
					.icon:before {color: #fff;}

					/* Hover and focus states */
					a:hover,
					a:focus {
						.icon:before {color: $color-light-txt;}
					}
			}

			/* Tertiary nav */
			.nav-tertiary {

				li {
					@include to-rem(margin-top, $spacing-micro);

					&:first-child {margin-top: 0;}
				}

				/* Links */
				.header & a {
					display: block;
					@include font-size($font-size-milli);
					color: $color-grey-1;

					/* Hover and focus states */
					&:hover,
					&:focus {color: $color-light-txt;}
				}
			}

		/* --Buy Gift Cards link-- */

		/*
			Note: this is just temporary until 'My Account' and 'Favourites' come back.
		*/

		/* Hide when in 'Tertiary nav' at this breakpoint */
		@include respond-min($lap-lrg) {
			.nav-buy-gift-cards {display: none;}
		}

		/* Non 'Tertiary nav' version */
		.nav-buy-gift-cards--alt {
			display: none;

			/* Always show and style it up at this breakpoint */
			@include respond-min($lap-lrg) {
				display: block;
				position: absolute;
				right: 0;
				top: 50%;
				@include translate(0, -50%);

				/* Hover and focus states */
				.header &:hover,
				.header &:focus {
					&,
					.icon:before {color: $header-color-link-hover;}
				}

				/* Bold at this breakpoint */
				@include respond-min($desk) {
	        font-weight: bold;
        }

        /* Alter top positioning and turn off `translate` for 'Centre home page hero banner' */
				.header--hero & {
					@include to-rem(top, 54);
					@include translate(0, 0);
				}

				/* Old IE - fix for not supporting `translate` */
				@include old-ie {
					@include to-rem(top, 16);
				}

				/* Icon */
				.icon:before {
					@include font-size(20, 1);
					color: $color-brand;

					/* Increase font size at this breakpoint */
					@include respond-min($desk) {
		         @include font-size(22, 1);
	        }

	        /* Bump up more for iOS/Android */
					.ios &,
					.android & {top: -2px;}

					/* IE10 */
					@include ie-10-up {
						position: static;
					}
					/* IE9 */
					.ie-9 & {position: static;}
				}
			}
		}

		/* --Search toggle button & favourites-- */

		/* Search toggle button (palm) */
		.search-toggle-favs {
			float: right;
			@include to-rem(margin-top, 3);

			/* Non JS users */
			.no-js & {
				float: none;
				text-align: centre;
				@include to-rem(margin-bottom, 4);
			}

			/* Hover & focus states */
			a:hover,
			a:focus {
				.icon:before {color: $header-color-link-hover;}
			}

			/* Search icon */
			.icon--search:before {

				/* IE 9/10 fixes */
				@include ie-10-up {
					position: relative;
					top: 1px;
				}
				.ie-9 & {
					position: relative;
					top: 1px;
				}
			}
		}


	/* --Header hero (centre home page)-- */
	.header__hero {
		@include to-rem(min-height, 220);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		background-color: $color-dark-txt;
		position: relative;
		z-index: 1;
		display: none;

		.header--hero & {display: block;}

		/* Increase min height at these breakpoints */
		@include respond-min($non-palm) {
			@include to-rem(min-height, $hero-banner-height-sml);
		}

		@include respond-min($ipad-portrait) {
			@include to-rem(min-height, $hero-banner-height-lrg);
		}
	}

		/* Inner container */
		.header__hero__inner {
			position: absolute;
			z-index: 2;
			@include to-rem(bottom, 24);
			left: 8%;
			right: 8%;
		}

			/* Open hours link */
			.header .open-hours-link {
				&,
				a,
				.icon:before {color: #fff;}

				/* Hover & focus states */
				&:hover,
				&:focus {
					&,
					.icon:before {color: $header-color-link-hover;}
				}
			}

			/* Hide when not 'Centre home page hero banner' */
			.header .nav-sub .open-hours-link {display: none;}

			/* Increase font size for 'Centre home page hero banner' */
			.header--hero .nav-sub .open-hours-link {
				@include font-size($font-size-lrg, 1.5);

				@include respond-min($ipad-portrait) {
					@include font-size(18, 1.5);
				}

				@include respond-min($desk) {
					@include font-size(22, 1.5);

					/* Icon */
					.icon--hours:before {top: -3px;}
				}

				/* Icon */
				.icon:before {font-size: 100%;}
			}

		/* Gradient overlay - used on national landing page as well */
		.hero-gradient {
			display: block;
			position: absolute;
			z-index: 1;
			bottom: 0;
			left: 0;
			width: 100%;
			@include to-rem(height, 180);
			pointer-events: none;
			@include linear-gradient(rgba(#000, 0.5), transparent, top, bottom);

			/* Increase gradient height at this breakpoint */
			@include respond-min($non-palm) {
				@include to-rem(height, 240);
			}
		}


	/* --Header primary-- */
	.header__primary {
		background-color: $color-dark-txt;
		position: relative;
		z-index: 1;

		/* Centre home page hero banner */
		.header--hero & {
			background-color: #fff;
			position: static;
		}

		/* Turn off container at this breakpoint */
		@include respond-max($palm) {
			> .container {width: 100%;}
		}

		/* Contain float and change positioning context at this breakpoint */
		@include respond-min($non-palm) {
			> .container {
				@include clear-fix;
				position: relative;
			}
		}
	}

		/* --Generic overlay (search/stores)-- */
		.header__overlay {
			height: 100%;

			/* Inner container */
			.container {
				position: relative;
				text-align: left;
			}

			/* Styles at this breakpoint */
			@include respond-max($palm) {
				background-color: $color-dark-txt;

				/* Centre home page hero banner */
				.header--hero & {
					background-color: #fff;
					@include to-rem(height, 45);
				}

					/* Close button */
					.header__overlay__close-btn {
						position: absolute;
						right: 0;
						top: 50%;
						@include translate(0, -50%);
						@include to-rem(padding, 6 $spacing-third);

						/* Old IE */
						@include old-ie {
							@include to-rem(top, 2);
						}

						/* Icon */
						.icon {color: lighten($color-light-txt, 6%);}
					}
			}

			/* Styles at this breakpoint */
			@include respond-min($non-palm) {
				position: absolute;
				right: 0;

				/* Inner container */
				.container {
					@include to-rem(width, 226);
					max-width: none;
					min-width: 0;

					/* Increase width at this breakpoint range */
					@include respond-range($non-palm, $ipad-portrait - 1) {
						@include to-rem(width, 300);
					}

					/* Adjust width at this breakpoint range */
					@include respond-range($ipad-portrait, 839) {
						@include to-rem(width, 241);
					}

					/* Increase width at this breakpoint */
					@include respond-min(840) {
						@include to-rem(width, 318);
					}

					/* Increase width at this breakpoint */
					@include respond-min($ipad-landscape) {
						@include to-rem(width, 418);
					}

					/* Increase width at this breakpoint */
					@include respond-min($desk) {
						@include to-rem(width, 518);
					}
				}
			}

		}

		/* Main navigation */
		.header__primary .nav-main {

			/* Change layout at this breakpoint */
			@include respond-min($non-palm) {
				float: left;
				display: block;
			}

			/* Items */
			> li {
				border-left-color: $color-med-txt;

				/* Centre home page hero banner */
				.header--hero & {border-left-color: $color-grey-2;}

				/* Make dividers appear for first/last list items at this breakpoint */
				@include respond-min($non-palm) {
					&:first-child {
						border-left: 1px solid $color-med-txt;

						/* Centre home page hero banner */
						.header--hero & {border-left-color: $color-grey-2;}
					}

					&:last-child {
						border-right: 1px solid $color-med-txt;

						/* Centre home page hero banner */
						.header--hero & {border-right-color: $color-grey-2;}
					}
				}
			}

				/* Links */
				a {
					@include to-rem(padding, 11 0 10);
					color: $color-light-txt;
					border-bottom: 2px solid transparent;

					/* Change padding at this breakpoint */
					@include respond-min($non-palm) {
						@include to-rem(padding, 20 $spacing-base 17);
					}

					/* Centre home page hero banner */
					.header--hero & {color: $color-dark-txt;}

					/* Hover & focus states */
					&:hover,
					&:focus {
						&,
						.icon:before {
							color: #fff;

							/* Centre home page hero banner */
							.header--hero & {color: $header-color-link-hover;}
						}
					}

					/* Active state */
					&.is-active {
						border-bottom-color: $color-brand;

						&,
						.icon:before {color: #fff;}

						/* Centre home page hero banner */
						.header--hero & {background-color: $color-dark-txt;}
					}

						/* Reveal link text at this breakpoint */
						@include respond-min($iphone-landscape) {
							.hide-visually {@include hide-visually-off;}
						}

						/* Hide link text at this breakpoint range */
						@include respond-range($non-palm, $ipad-portrait - 1) {
							.hide-visually {@include hide-visually;}
						}
				}

					/* Icon */
					.icon:before {
						@include font-size(20, 1);

						/* Change positon context at this breakpoint */
						@include respond-max($iphone-landscape - 1) {
							position: static;
						}

						/* Decrease text size and create some spacing between icon and link text at this breakpoint */
						@include respond-min($iphone-landscape) {
							@include font-size(17, 1);
							margin-right: to-em($spacing-sixth);
						}

						/* Increase text size, turn off right margin and change position context at this breakpoint range */
						@include respond-range($non-palm, $ipad-portrait - 1) {
							@include font-size(20, 1);
							margin-right: 0;
							position: static;
						}

						/* Bump up more for iOS/Android */
						@include respond-min($iphone-landscape) {
							.ios &,
							.android & {
								position: relative;
								top: -2px;
							}
						}
					}
		}

		/* --Search-- */

		/* -Global rules- */

		/* Right margin for search form/results to make room for the 'close' button at this breakpoint */
		@include respond-max($palm) {
			.search-mini,
			.search-results__inner {@include to-rem(margin-right, 30);}
		}

		/* -Search form- */
		.search-mini {
			background-color: #fff;
			border:	1px solid transparent;
			border-radius: $border-radius;
			@include to-rem(padding, 4 10 4 26);
			position: relative;

			/* Change padding at this breakpoint */
			@include respond-min($non-palm) {
				@include to-rem(padding-top padding-bottom, 9);
				@include to-rem(padding-left, 38);
			}

			/* Centre home page hero banner */
			.header--hero & {border-color: $header-color-grey;}

				/* Icon */
				.icon:before {
					position: absolute;
					@include to-rem(left, $spacing-third);
					@include to-rem(top, 6);
					@include font-size(18, 1);

					/* Change positioning at this breakpoint */
					@include respond-min($non-palm) {
						@include to-rem(top, 11);
						@include to-rem(left, $spacing-half+$spacing-quarter);

						/* IE 10 fixes */
						@include ie-10-up {
							@include to-rem(top, 12);
						}
					}
				}

				/* Placeholder */
				@include input-placeholder {color: $color-dark-txt;}
		}

			/* Text input */
			.search-mini__input {
				width: 100%;
				@include to-rem(padding, 4);
				border: 0;
				color: $color-dark-txt;
				@include font-size($font-size-sml, 1.2);

				/* Increase text size at this breakpoint */
				@include respond-min($non-palm) {
					@include font-size($font-size, 1.2);
				}

				/* Focus */
				&:focus {outline: none;}

				/* Hide the 'close' button generated by `input[type="search"]` for IE10 */
				&::-ms-clear {display: none;}
			}

			/* Non JS submit button */
			.search-mini__submit {
				position: absolute;
				@include to-rem(right, $spacing-third);
				top: 50%;
				@include translate(0, -50%);
			}

		/* Search results */
		.search-results {
			@include drop-down;
			width: 100%;
			@include to-rem(margin-top, -2);
			@include font-size($font-size-sml, 1.5);

			/* Increase font size at this breakpoint */
			@include respond-min($non-palm) {
				@include font-size($font-size, 1.5);
	  	}

	  	/* Non JS users */
	  	.no-js & {display: none;}
		}

			/* Inner container */
			.search-results__inner {
				background-color: #fff;
				box-shadow: 0 -3px 0 #fff,
										0 1px 3px rgba(#000, 0.5);
				max-height: 300px;
		    overflow-y: auto;
		    border-radius: 0 0 $border-radius $border-radius;

		    /* iOS/Android */
	      .ios &,
	      .android & {
	        overflow-y: scroll;
	        -webkit-overflow-scrolling: touch;
	      }

	      /* Centre home page hero banner */
				.header--hero & {
					box-shadow: 0 2px 2px rgba(#000, 0.3);
					border: 1px solid $header-color-grey;
					border-top: 0;
				}
			}

				/* List */
				.search-results__list {
					@include to-rem(padding-bottom, $spacing-half);

					/* List headers */
					dt {
						font-weight: normal;
						border-top: 1px solid $color-grey-2;
						@include to-rem(padding-left padding-right, 8.5);
						@include to-rem(padding-top margin-top, $spacing-half);

						/* Turn off top spacing for first header */
						&:first-child {margin-top: 0;}

						/* Increase left/right padding at this breakpoint */
						@include respond-min($non-palm) {
							@include to-rem(padding-left padding-right, 16.5);
						}

						/* Icon */
						.icon:before {
							@include to-rem(margin-right, 3);

							/* Increase right spacing at this breakpoint */
							@include respond-min($non-palm) {
								@include to-rem(margin-right, 4.5);
							}
						}
					}

					/* List items */
					dd {
						@include to-rem(margin-top, 3);
						@include to-rem(padding-left padding-right, 32);

						/* Android at this breakpoint */
						@include respond-max($palm) {
							.android & {@include to-rem(padding-left padding-right, 33);}
						}

						/* Increase left/right padding at this breakpoint */
						@include respond-min($non-palm) {
							@include to-rem(padding-left padding-right, 43);

							/* iOS */
							.ios & {@include to-rem(padding-left padding-right, 41);}
						}

						/* Links */
						a {
							display: block;
							color: $color-link;

							/* Pseudo focus */
							&.is-focused {outline: 1px dotted $color-link;}

							/* Hover and focus states */
							&:hover,
							&:focus {color: $color-link-hover;}
						}
					}
				}

	/* --National view-- */

	/*
		Note: these styles are for when a user arrives at a site without any centre context i.e. 'National view'
	*/

	/* Increase bottom padding for `.container` at this breakpoint */
	@include respond-min($desk) {
		.header--national .header__secondary > .container {@include to-rem(padding-bottom, 11);}
	}

		/* Tabs (palm) */
		.header__tabs {

			/* Hide at this breakpoint */
			@include respond-min($non-palm) {
				.js .header--national &.drop-down {display: none;}
	  	}

			/* --Shared rules-- */

			/* Common font family and size */
			.header__tabs__hdr h1,
			.tab__nav {
				font-family: $font-family-opensans;
				@include font-size($font-size);
			}

			/* Common spacing */
			.header__tabs__hdr h1,
			.tab__nav a {@include to-rem(padding-top padding-bottom, $spacing-third);}

			/* --Heading-- */
			.header__tabs__hdr {
				border-bottom: 1px solid $color-med-txt;

				h1 {font-weight: normal;}
			}

			/* --Tab nav-- */
			.tab__nav {

				/* Links */
				a {
					@include to-rem(padding-left padding-right, $spacing-half);

					/* Hover, focus and active states */
					&:hover,
					&:focus,
					&.is-active {color: #fff;}

						/* Abbreviation */
						abbr {
							border-bottom: 0;
							cursor: pointer;
						}
				}

				li:first-child a {padding-left: 0;}
			}

			/* --Tab panels-- */
			.tab__content {
				background-color: $color-med-txt;
				max-height: $drop-down-max-height;
		    overflow-y: auto;

		    /* iOS and Android */
			  .ios &,
			  .android & {
			  	overflow-y: scroll;
			  	-webkit-overflow-scrolling: touch;
			  }

			  /* Non JS users */
			  .no-js & {
			  	max-height: none;
			  	overflow: visible;
			  }

				/* Shared rules */
				a,
				.icon:before {color: #fff;}

				/* Global rules */
				li {border-bottom: 1px solid $color-dark-txt;}

				/* Links */
				a {
					display: block;
					text-transform: uppercase;
					@include font-size(19);
					@include to-rem(padding-top, $spacing-third+$spacing-micro);
					@include to-rem(padding-bottom, $spacing-half+$spacing-micro);
					/* Stop the link text colliding with the icon */
					@include to-rem(padding-right, $spacing-base);
					position: relative;

					/* Hover and focus states */
					&:hover,
					&:focus {
						&,
						.icon:before {color: $color-light-txt;}
					}
				}

					/* Icon */
					.icon:before {
						position: absolute;
						right: 0;
						top: 50%;
						@include translate(0, -50%);
					}
			}
		}

		/* Centre select */
		.header-centre-select-national {
			@include to-rem(margin-left, $spacing-sixth);

			/* Non JS users */
			.no-js & {display: none;}

			/* --Shared rules-- */

			/* Make `inline-block` */
			&,
			h1,
			.drop-down-menu {display: inline-block;}

			/* Common font family */
			h1,
			.header-centre-select-national__lbl,
			.drop-down-menu__trigger {font-family: $font-family-opensans;}

			/* Common font size */
			h1,
			.header-centre-select-national__lbl {
				@include font-size($font-size-lrg, 1.5);

				/* Increase font size and change font family at this breakpoint */
				@include respond-min($desk) {
					@include font-size(22, 1.5);
					font-family: $font-family-lato;
		  	}
			}

			/* Bump down heading and label so they horizontally align with the drop down trigger */
			h1,
			.header-centre-select-national__lbl {
				position: relative;
				@include to-rem(top, $spacing-micro);
			}

			/* Label */
			.header-centre-select-national__lbl {
				display: none;

				/* Show at this breakpoint */
				@include respond-min(730) {
					display: inline-block;
		  	}
			}

			/* Drop down */
			.drop-down-menu {
				@include to-rem(margin-left margin-right, $spacing-quarter);
			}

				/* Trigger icon */
				.drop-down-menu__trigger .icon--arrow-down-full:before {color: #fff;}
		}