/* ======================================================================================
   @LAYOUT -> HEADER
   ====================================================================================== */

/* Set variables */
$hero-banner-height-sml: 270 !default;
$hero-banner-height-lrg: 380 !default;

/* Start header */
.header {
	position: fixed;
	z-index: 99;
	width: 100%;
	border-bottom: 1px solid #bababa;

	/* Non JS users + toggle `position: fixed` via the jQuery toggle menu/search plugin */
	&.is-header-unfixed,
	.no-js & {position: static;}

	/* Centre home page hero banner */
	&.is-header-hero {position: relative;}

	/* --Shared rules-- */

	/* Set common colours */
	a,
	.icon:before,
	.my-account-container__hdr.btn {color: $color-light-txt;}

	.icon--arrow-down-full:before {color: $color-dark-txt;}
}

	/* --Header secondary-- */
	.header__secondary {
		background-color: #fff;
		box-shadow: 0 0 3px rgba(#000, 0.4);
		position: relative;
		z-index: 2;
		@extend %clear-fix;
		@include to-rem(min-height, 44);

		/* Centre home page hero banner */
		.is-header-hero & {box-shadow: none;}

		/* Increase min height at this breakpoint */
		@include respond-min($non-palm) {
			@include to-rem(min-height, 50);

			/* Overlay the centre home page hero banner at this breakpoint */
			.is-header-hero & {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				@include to-rem(min-height, $hero-banner-height-sml);
				background: transparent;

				/* Increase min height at this breakpoint */
				@include respond-min($ipad-portrait) {
					@include to-rem(min-height, $hero-banner-height-lrg);
				}

					/* Shared rules */
					a,
					.icon:before,
					.my-account-container__hdr.btn {color: #fff;}
			}
		}

		/* Inner container */
		> .container {
			@include to-rem(padding-top, 7);

			/* Change positioning context and increase top padding at this breakpoint */
			@include respond-min($non-palm) {
				position: relative;
				@include to-rem(padding-top, 10);

				/* Apply min height and top padding for centre home page hero banner */
				.is-header-hero & {
					@include to-rem(padding-top, $spacing-base);
					@include to-rem(min-height, $hero-banner-height-sml);

					/* Increase min height and top padding at this breakpoint */
					@include respond-min($ipad-portrait) {
						@include to-rem(padding-top, $spacing-base + $spacing-half);
						@include to-rem(min-height, $hero-banner-height-lrg);
					}
				}
			}

			/* Make room for the sub nav menu toggle btn at this breakpoint range */
			@include respond-range($non-palm, $ipad-landscape - 1) {
				@include to-rem(padding-left, 32);

				/* Remove left padding for 'Centre home page hero banner' and 'non JS users' */
				.no-js &,
				.is-header-hero & {padding-left: 0;}
			}

			/* Non JS users */
			.no-js & {@include to-rem(padding-bottom, 6);}
		}
	}

		/* Logo */
		.logo {

			/* Increase logo size and swap out for white version for 'Centre home page hero banner' at this breakpoint */
			@include respond-min($non-palm) {
				.is-header-hero & {
					background: url(/assets/logo-white.svg) no-repeat 0 0;
					display: inline-block;
					width: 126px;
					height: 41px;

					/* No SVG fallback */
					.no-svg & {background-image: url(/assets/logo-white.png);}
				}
			}

			img {
				width: 82px;
				height: 26px;
				position: relative;
				@include to-rem(top, $spacing-micro);
				vertical-align: top;

				/* Hide for 'Centre home page hero banner' at this breakpoint */
				@include respond-min($non-palm) {
					.is-header-hero & {@include hide-visually;}
				}
			}

		}

		/* --Toggle menu/search via jQuery-- */
		.js .js-menu-toggle,
		.js .js-search-toggle {

			/* Hide */
			display: none;
			width: 100%;

			/* Show */
			&.is-expanded {
				display: block;
				position: absolute;
				z-index: $z-index-max;
				top: 100%;
				left: 0;
			}
		}

		/* Search expanded */
		.js .js-search-toggle.is-expanded {top: 0;}

		/* Always show at this breakpoint */
		@include respond-min($non-palm) {
			.js .header .js-menu-toggle,
			.js .header .js-search-toggle {
				display: inline-block;
				width: auto;
			}

			.js .header .js-menu-toggle {position: static;}

			.js .header .js-search-toggle {
				position: absolute;
				left: auto;
			}
		}

		/* Toggle menu */
		.header-menu-toggle {

			/* Apply colours at this breakpoint */
			@include respond-max($palm) {
				background-color: $color-dark-txt;
				color: #fff;

				/* Create bottom spacing */
				.header-menu-toggle__mrg-btm {@include to-rem(margin-bottom, $spacing-half);}
			}

			/* Non JS users */
			.no-js & {@include to-rem(margin-top, $spacing-half);}
		}

				/* Generic navigation module */
				.header-menu-toggle__nav {
					background-color: $color-med-txt;

					/* Turn off bg colour for sub nav at this breakpoint */
					@include respond-min($ipad-landscape) {
						.sub-nav-container & {background: none;}
					}

					/* As above but for 'Centre home page hero banner' at this breakpoint */
					@include respond-min($non-palm) {
						.is-header-hero .sub-nav-container & {background: none;}

						.is-header-hero .my-account-signedin & {background: #fff;}
					}

					/* Items */
					li {
						border-bottom: 1px solid #26292f;

						/* Turn off borders and throw into horizontal mode for sub nav at this breakpoint */
						@include respond-min($ipad-landscape) {
							.sub-nav-container & {
								border: 0;
								display: inline-block;
							}
						}

						/* As above but for 'Centre home page hero banner' at this breakpoint */
						@include respond-min($non-palm) {

							/* Sub nav */
							.is-header-hero .sub-nav-container & {
								border: 0;
								display: inline-block;
								@include to-rem(margin-left, $spacing-base);

								/* Turn left margin off for first child */
								&:first-child {margin-left: 0;}

								/* Increase left margin at this breakpoint */
								@include respond-min($desk) {
									@include to-rem(margin-left, $spacing-dbl);
								}
							}

							/* My account nav drop down */
							.is-header-hero .my-account-signedin & {border-color: #bababa;}
						}

						/* Increase right spacing at this breakpoint */
						@include respond-min($desk) {
							@include to-rem(margin-right, 8);

							/* Turn off right spacing for 'My account nav drop down' */
							.my-account-signedin & {margin-right: 0;}
						}

						/* Turn border off for last child */
						&:last-child {border: 0;}
					}

						/* Links */
						a {
							display: block;
							width: 90%;
							margin: 0 auto;
							color: #fff;
							@include to-rem(padding, $spacing-third 0);

							/* Full width and side padding at this breakpoint */
							@include respond-min($non-palm) {
								width: auto;
								@include to-rem(padding-left, $spacing-half);
								@include to-rem(padding-right, $spacing-half);

								/* Remove padding for 'Centre home page hero banner' sub nav */
								.is-header-hero .sub-nav-container & {padding: 0;}

								/* Change colour for 'Centre home page hero banner' my account nav drop down */
								.is-header-hero .my-account-signedin & {color: #292a2e;}
							}

							/* Reduce left/right padding at this breakpoint */
							@include respond-min($ipad-landscape) {
								.sub-nav-container & {
									@include to-rem(padding-left, 6);
									@include to-rem(padding-right, 6);
								}
							}

							/* Psuedo classes + active state */
							&:hover .icon:before,
							&:focus .icon:before,
							&.is-active .icon:before {}

								/* Hide link text for sub nav at this breakpoint */
								@include respond-min($ipad-landscape) {
									.sub-nav-container & .nav-sub__txt {
										@include hide-visually;

										/* Bring link text into view for centre home page hero banner */
										.is-header-hero & {@include hide-visually-off;}
									}
								}

								/* As above but for 'Centre home page hero banner' at this breakpoint range */
								@include respond-range($non-palm, $ipad-portrait - 1) {
									.is-header-hero .sub-nav-container & .nav-sub__txt {
										@include hide-visually;
									}
								}
						}

							/* Icon */
							.icon:before {
								color: #fff;

								/* Change colour at this breakpoint */
								@include respond-min($ipad-landscape) {
									.sub-nav-container & {
										color: $color-light-txt;
										@include font-size(18, 1);

										/* Change colour for 'Centre home page hero banner' */
										.is-header-hero & {color: #fff;}
									}
								}

								/* Change colour for 'Centre home page hero banner' my account nav drop down at this breakpoint */
								@include respond-min($non-palm) {
									.my-account-signedin & {color: $color-light-txt;}
								}
							}

					/* Remove styles at this breakpoint */
					@include respond-min($non-palm) {
						&.header-menu-toggle__nav--plain {
							background: none;

							/* Items */
							li {border: 0;}

								/* Links */
								a {
									display: inline;
									padding: 0;
									color: $color-light-txt;

									/* Centre home page hero banner */
									.is-header-hero & {color: #fff;}
								}

									/* Icon */
									.icon:before {
										color: $color-light-txt;

										/* Centre home page hero banner */
										.is-header-hero & {color: #fff;}
									}
						}
					}
				}

		/* Sub navigation */
		.sub-nav-container {

			/* Display inline and create some left spacing at this breakpoint */
			@include respond-min($ipad-landscape) {
				display: inline-block;
				@include to-rem(margin-left, 16);
				@include to-rem(top, 1);
			}

			/* Increase left spacing at this breakpoint */
			@include respond-min($desk) {
				@include to-rem(margin-left, 28);
			}

			/* Always show drop down at these breakpoints */
			/*
				Note: it is okay to use `!important` here as we're doing it pre-emptively i.e. you know you will always want the rule it's applied too to take precedence.
			*/
			@include respond-max($palm) {
				.drop-down {
					display: block !important;
					position: static !important;
				}
			}
			@include respond-min($ipad-landscape) {
				.drop-down {
					display: block !important;
					position: static !important;
				}
			}

			/* Drop down styles at this breakpoint range */
			@include respond-range($non-palm, $ipad-landscape - 1) {
				.header & {
					position: absolute;
					z-index: $z-index-max;
					@include to-rem(top, 10);
					left: 0;
				}

					/* Drop down */
					.drop-down {
						@include to-rem(width, 180);

						/* Non JS users */
						.no-js & {width: auto;}
					}
			}

			/* 'Centre home page hero banner' styles at this breakpoint */
			@include respond-min($non-palm) {
				.header.is-header-hero & {
					position: absolute;
					top: auto;
					@include to-rem(bottom, 61);
					left: 0;
					width: 100%;
					margin-left: 0;

					/* Add left/right indent at this breakpoint */
					@include respond-min($desk) {
						@include to-rem(left, $spacing-dbl);
						@include to-rem(right, $spacing-dbl);
					}

						/* Drop down */
						.drop-down {
							width: auto;
							display: block !important;
							position: static !important;
						}
				}
			}

					/* Hide 'Shopping hours' link for 'Centre home page hero banner' at this breakpoint */
					@include respond-min($non-palm) {
						.header.is-header-hero & .shopping-hrs-link {display: none;}
					}

			/* Non JS users */
			@include respond-min($non-palm) {
				.no-js & {
					position: static;
					@include to-rem(margin, $spacing-third 0);
				}
			}
		}

		/* Shopping centre select */
		.shopping-centre-select {
			@include to-rem(padding, 6 0);
			position: relative;

			/* Adjustments for 'Centre home page hero banner' at this breakpoint */
			@include respond-max($palm) {
				.is-header-hero .header__hero & {
					padding: 0;
					@include to-rem(margin-bottom, $spacing-half);
				}
			}

			/* Adjustments at this breakpoint */
			@include respond-min($non-palm) {
				display: inline-block;
				padding: 0;
				@include to-rem(top, 4);
				@include to-rem(margin-left, 5);

				/* iOS */
				//[FLAG].ios & {@include to-rem(top, 3);}

				/* Centre home page hero banner */
				.is-header-hero & {
					position: absolute;
					left: 0;
					top: 50%;
					@include to-rem(margin, -24 0 0 0);

					/* Increase negative top margin at this breakpoint */
					@include respond-min($ipad-portrait) {
						@include to-rem(margin-top, -33.5);
					}

					/* Increase negative top margin and indent left/right edges at this breakpoint */
					@include respond-min($desk) {
						@include to-rem(left, $spacing-dbl);
						@include to-rem(right, $spacing-dbl);
						@include to-rem(margin-top, -42);
					}
				}

				/* Turn off container rules */
				&.container {
					width: auto;
					max-width: none;
					min-width: 0;
				}
			}

			/* Change vertical align at this breakpoint */
			@include respond-min($ipad-landscape) {
				vertical-align: top;
			}

			/* Shopping centre name */
			h1 {
				@include font-size(24, 1.2);
				text-transform: uppercase;
				@include to-rem(margin-right, 60);

				/* Remove right margin at this breakpoint */
				@include respond-min($non-palm) {
					margin-right: 0;

					/* Centre home page hero banner */
					.is-header-hero & {
						text-shadow: 0 0 8px rgba(#000, 0.6);
						@include font-size(40, 1.2);

						/* Increase text size at this breakpoint */
						@include respond-min($ipad-portrait) {
							@include font-size(56, 1.2);
						}

						/* Increase text size at this breakpoint */
						@include respond-min($desk) {
							@include font-size(70, 1.2);
						}
					}
				}

				/* Non palm version */
				.is-header-hero .header__hero & {
					@include font-size(29, 1.2);
					margin-right: 0;
					text-shadow: 0 0 8px rgba(#000, 0.6);

					/* Increase text size at this breakpoint */
					@include respond-min(400) {
						@include font-size(32, 1.2);
					}
				}

					/* Link */
					a {
						color: #fff;

						/* Change colour at this breakpoint */
						@include respond-min($non-palm) {
							color: $color-dark-txt;
						}
					}

						/* Icon */
						.icon:before {
							@include font-size(18, 1);
							color: $color-dark-txt;
							top: -2px;

							/* Webkit */
							@include target-webkit {top: -3px;}

							/* Centre home page hero banner */
							.is-header-hero & {color: #fff;}
						}
			}

				/* 'Change' button */
				.btn {
					font-family: $font-family-opensans;
					@include font-size(11, 1);
					color: #fff;
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -(to-em($spacing-third));

					/* Icon */
					.icon:before {color: #fff;}
				}
		}

		/* My Account */
		.my-account-favs {

			/* Position over to the right at this breakpoint */
			@include respond-min($non-palm) {
				position: absolute;
				@include to-rem(top, 13.5);
				right: 0;

				/* 'Signed in' positioning */
				&.is-my-account-signedin {@include to-rem(top, 9);}

				/* Increase top position for 'Centre home page hero banner' */
				.header.is-header-hero & {
					@include to-rem(top, 39);

					/* 'Signed in' positioning */
					&.is-my-account-signedin {@include to-rem(top, 29.5);}

					@include respond-min($ipad-portrait) {
						@include to-rem(top, 50);

						/* 'Signed in' positioning */
						&.is-my-account-signedin {@include to-rem(top, 40.5);}
					}
				}

				/* IE 10/9 fixes */
				@include ie-10-up {
					@include to-rem(top, 15);
				}
				.ie-9 & {@include to-rem(top, 15);}

				/* Non JS users */
				.no-js & {position: static;}
			}

			/* Drop down */
			.drop-down {

				/* Always show at this breakpoint */
				/*
					Note: it is okay to use `!important` here as we're doing it pre-emptively i.e. you know you will always want the rule it's applied too to take precedence.
				*/
				@include respond-max($palm) {
					display: block !important;
					position: static !important;
				}

				/* Drop down width at this breakpoint */
				@include respond-min($non-palm) {
					@include to-rem(width, 170);
				}
			}
		}

			/* Make inline at this breakpoint */
			@include respond-min($non-palm) {
				.my-account-container {display: inline-block;}
			}

			/* 'My Account' header (palm) / Drop down trigger button (non-palm) */
			.my-account-container__hdr {
				@include to-rem(padding, 6 0);
				display: block;
				@include font-size($font-size-sml);
				font-weight: normal;

				/* Enlarge text size at this breakpoint */
				@include respond-min($lap-lrg) {
					@include font-size($font-size);
				}

				/* Bold text at this breakpoint */
				@include respond-min($desk) {
					font-weight: bold;
				}

				/* Avatar */
				img {
					width: 32px;
					height: 32px;
					@include to-rem(margin-right, $spacing-micro);
				}
			}

				/* Username - reveal it at this breakpoint */
				@include respond-min($ipad-portrait) {
					.my-account-signedin__username {@include hide-visually-off;}
				}

				/* As above but for 'Centre home page hero banner' at this breakpoint */
				@include respond-min($non-palm) {
					.is-header-hero .my-account-signedin__username {@include hide-visually-off;}
				}

			/* Not signed in */
			.my-account-signedout {

				/* Reduce text size at this breakpoint range */
				@include respond-range-fixed(lap-sml) {
					a {@include font-size($font-size-sml);}
				}

				/* Bold text at this breakpoint */
				@include respond-min($desk) {
					a {font-weight: bold;}
				}

				/* User icon adjustments at this breakpoint */
				@include respond-min($non-palm) {
					.icon--user:before {
						@include font-size(23, 1);
						font-weight: normal;
						width: auto;
						margin-right: 0;
						position: static;
					}
				}

			}

				/* Reveal 'Become a member' at this breakpoint range */
				@include respond-range($non-palm, $ipad-portrait) {
					.my-account-signedout__member {@include hide-visually;}
				}

				/* As above but for 'Centre home page hero banner' at this breakpoint */
				@include respond-min($non-palm) {
					.is-header-hero .my-account-signedout__member {@include hide-visually-off;}
				}

		/* Tertiary nav */
		.nav-tertiary a {
			@include font-size($font-size-sml);
			color: $color-light-txt;
		}

		/* --Search toggle button & favourites-- */

		/* Search toggle button (palm) */
		.search-toggle-favs {
			float: right;
			display: block;
			@include to-rem(margin-top, 3);

			/* Non JS users */
			.no-js & {
				float: none;
				text-align: centre;
				@include to-rem(margin-bottom, 4);
			}

			/* Search icon */
			.icon--search:before {

				/* IE 9/10 fixes */
				@include ie-10-up {
					position: relative;
					top: 1px;
				}
				.ie-9 & {
					position: relative;
					top: 1px;
				}

			}
		}

		/* Favourites */
		.favs-link {

			/* Some left spacing at this breakpoint */
			@include respond-min($non-palm) {
				@include to-rem(margin-left, 6);

				/* Centre home page hero banner */
				.is-header-hero & {@include to-rem(margin-left, $spacing-base);}
			}

			/* Increase left spacing at this breakpoint */
			@include respond-min($desk) {
				@include to-rem(margin-left, $spacing-base);
			}

			/* Icon / count */
			.favs-link__count-icon {
				position: relative;
				top: 1px;
				display: inline-block;
			}

				/* Icon */
				.header & .icon:before {color: $color-brand;}

				/* Count */
				em {
					color: #fff;
					width: 100%;
					position: absolute;
					left: 0;
					top: 4px;
					@include font-size(11, 1);
					font-weight: bold;
					text-align: center;

					/* iOS */
					.ios & {top: 5px;}
				}

			/* Favourites text, reduce text size at this breakpoint range */
			@include respond-range-fixed(lap-sml) {
				.favs-link__txt {@include font-size($font-size-sml);}
			}

			/* Bold text at this breakpoint */
			@include respond-min($desk) {
				.favs-link__txt {font-weight: bold;}
			}
		}


	/* --Header hero (centre home page)-- */
	.header__hero {
		@include to-rem(min-height, 220);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		background-color: $color-dark-txt;
		position: relative;
		z-index: 1;
		display: none;

		.is-header-hero & {display: block;}

		/* Increase min height at this breakpoint */
		@include respond-min($non-palm) {
			@include to-rem(min-height, $hero-banner-height-sml);
		}

		/* Increase min height at this breakpoint */
		@include respond-min($ipad-portrait) {
			@include to-rem(min-height, $hero-banner-height-lrg);
		}
	}

		/* Inner container */
		.header__hero__inner {
			position: absolute;
			z-index: 2;
			@include to-rem(bottom, 24);
			left: 8%;
			right: 8%;
		}

			/* Open hours link */
			.header .open-hours-link {
				&,
				a,
				.icon:before {color: #fff;}
			}

			/* Hide when not 'Centre home page hero banner' */
			.header .nav-sub .open-hours-link {
				display: none;

				/* Show for 'Centre home page hero banner' */
				@include respond-min($non-palm) {
					.is-header-hero & {display: inline-block;}
				}
			}

		/* Gradient overlay */
		.header__hero__gradient {
			display: block;
			position: absolute;
			z-index: 1;
			bottom: 0;
			left: 0;
			width: 100%;
			@include to-rem(height, 180);
			pointer-events: none;
			@include linear-gradient(rgba(#000, 0.5), transparent, top, bottom);

			/* Increase gradient height at this breakpoint */
			@include respond-min($non-palm) {
				@include to-rem(height, 240);
			}
		}


	/* --Header primary-- */
	.header__primary {
		background-color: $color-dark-txt;
		position: relative;
		z-index: 1;

		/* Min height for 'Stores' page */
		.stores & {@include to-rem(min-height, 44);}

		/* Centre home page hero banner */
		.is-header-hero & {background-color: #fff;}

		/* Turn off container at this breakpoint */
		@include respond-max($palm) {
			> .container {width: 100%;}
		}

		/* Contain float and change positioning context at this breakpoint */
		@include respond-min($non-palm) {
			> .container {
				@include clear-fix;
				position: relative;
			}
		}
	}

		/* --Generic overlay (search/stores)-- */
		.header__overlay {

			/* Styles at this breakpoint */
			@include respond-max($palm) {
				background-color: $color-dark-txt;
				height: 100%;
				@include to-rem(padding-top, 6);

				/* Sticky version (stores) */
				&.header__overlay--stick {
					width: 100%;
					position: absolute;
					z-index: $z-index-max - 1;
					top: 0;
					left: 0;
				}

				/* Centre home page hero banner */
				.is-header-hero & {background-color: #fff;}

				/* Inner container */
				> .container {position: relative;}

					/* Close button */
					.header__overlay__close-btn {
						position: absolute;
						@include to-rem(top, 0);
						@include to-rem(right, -3);
						@include to-rem(padding, 6 $spacing-third);

						/* Icon */
						.icon {color: lighten($color-light-txt, 6%);}
					}
			}

			/* Styles at this breakpoint */
			@include respond-min($non-palm) {
				position: absolute;
				right: 0;
				@include to-rem(top, 9, !important);

				/* Inner container */
				> .container {
					@include to-rem(width, 226);
					max-width: none;
					min-width: 0;

					/* Increase width at this breakpoint range */
					@include respond-range($non-palm, $ipad-portrait - 1) {
						@include to-rem(width, 300);
					}

					/* Adjust width at this breakpoint range */
					@include respond-range($ipad-portrait, 839) {
						@include to-rem(width, 241);
					}

					/* Increase width at this breakpoint */
					@include respond-min(840) {
						@include to-rem(width, 318);
					}

					/* Increase width at this breakpoint */
					@include respond-min($ipad-landscape) {
						@include to-rem(width, 418);
					}

					/* Increase width at this breakpoint */
					@include respond-min($desk) {
						@include to-rem(width, 518);
					}
				}
			}

		}

		/* Main navigation */
		.header__primary .nav-main {

			/* Hide the main nav for the 'Stores' page at this breakpoint */
			@include respond-max($palm) {
				.stores & {display: none;}
			}

			/* Change layout at this breakpoint */
			@include respond-min($non-palm) {
				float: left;
				display: block;
			}

			/* Items */
			> li {
				border-left-color: $color-light-txt;

				/* Centre home page hero banner */
				.is-header-hero & {border-left-color: #dbdbdb;}

				/* Make dividers appear for first/last list items at this breakpoint */
				@include respond-min($non-palm) {
					&:first-child {
						border-left: 1px solid $color-light-txt;

						/* Centre home page hero banner */
						.is-header-hero & {border-left-color: #dbdbdb;}
					}

					&:last-child {
						border-right: 1px solid $color-light-txt;

						/* Centre home page hero banner */
						.is-header-hero & {border-right-color: #dbdbdb;}
					}
				}
			}

				/* Links */
				a {
					@include to-rem(padding, 11 0 10);
					color: $color-light-txt;
					border-bottom: 2px solid transparent;

					/* Change padding at this breakpoint */
					@include respond-min($non-palm) {
						@include to-rem(padding, 20 $spacing-base 17);
					}

					/* Centre home page hero banner */
					.is-header-hero & {color: $color-dark-txt;}

					/* Active state */
					&.is-active {
						border-bottom-color: $color-brand;
						color: #fff;

						/* Centre home page hero banner */
						.is-header-hero & {background-color: $color-dark-txt;}

						/* Icon */
						.icon:before {color: #fff;}
					}

						/* Reveal link text at this breakpoint */
						@include respond-min($iphone-landscape) {
							.hide-visually {@include hide-visually-off;}
						}

						/* Hide link text at this breakpoint range */
						@include respond-range($non-palm, $ipad-portrait - 1) {
							.hide-visually {@include hide-visually;}
						}
				}

					/* Icon */
					.icon:before {
						@include font-size(20, 1);

						/* Decrease text size and create some spacing between icon and link text at this breakpoint */
						@include respond-min($iphone-landscape) {
							@include font-size(17, 1);
							margin-right: to-em($spacing-sixth);
						}

						/* Increase text size at this breakpoint range */
						@include respond-range($non-palm, $ipad-portrait - 1) {
							@include font-size(20, 1);
							margin-right: 0;
						}
					}
		}

		/* Search */
		.search-mini {
			background-color: #fff;
			border:	1px solid transparent;
			border-radius: $border-radius;
			@include to-rem(padding, 4 10 4 26);
			position: relative;

			/* Focus pseudo class */
			&:focus {outline: none;}

			/* Right margin to make room for the 'close' button at this breakpoint */
			@include respond-max($palm) {
				@include to-rem(margin-right, 30);

				/* Store search & non JS users */
				&.search-mini--stores,
				.no-js & {margin-right: 0;}
			}

			/* Decrease left padding at this breakpoint range */
			@include respond-range($ipad-portrait, 839) {
				@include to-rem(padding-left, 24);
			}

			/* Increase padding at this breakpoint */
			@include respond-min($non-palm) {
				@include to-rem(padding-top, 9);
				@include to-rem(padding-bottom, 9);
			}

			/* Increase padding at this breakpoint */
			@include respond-min($lap-lrg) {
				@include to-rem(padding-top, 8);
				@include to-rem(padding-bottom, 8);
			}

			/* Centre home page hero banner */
			.is-header-hero & {border-color: #bababa;}

				/* Icon */
				.icon:before {
					position: absolute;
					@include to-rem(left, $spacing-third);
					@include to-rem(top, 6);
					@include font-size(18, 1);

					/* Increase top positioning at this breakpoint */
					@include respond-min($non-palm) {
						@include to-rem(top, 11);

						/* IE 10 fixes */
						@include ie-10-up {
							@include to-rem(top, 12);
						}
					}
				}

				/* Placeholder */
				@include input-placeholder {
					color: $color-dark-txt;
					font-style: italic;
				}
		}

			/* Text input */
			.search-mini__input {
				width: 100%;
				@include to-rem(padding, 4);
				border: 0;
				color: $color-dark-txt;
				@include font-size(11, 1.2);

				/* Increase text size at this breakpoint */
				@include respond-min($non-palm) {
					@include font-size(12, 1.2);
				}

				/* Decrease text size at this breakpoint range */
				@include respond-range($ipad-portrait, 839) {
					@include font-size(11, 1.2);
				}

				/* Increase text size at this breakpoint */
				@include respond-min($lap-lrg) {
					@include font-size(14, 1.2);
				}

				/* Focus */
				&:focus {outline: none;}
			}