/* ======================================================================================
   @MODULES -> HERO
   ====================================================================================== */

/*
  Usage:
    This is used to create a full width hero image with text on top.

  Demo:
    Style Guide -> Modules -> Hero
*/

.hero {
  @include to-rem(height, 220);
  color: #fff;
  text-align: center;

  @include respond-min($non-palm) {
    @include to-rem(height, 379);
  }
}

  .hero__inner {
    @include respond-min($non-palm) {
      text-align: left;
    }
  }

  .hero__icon {
    @include font-size(30);

    @include respond-min($non-palm) {
      @include font-size(50);
      float: left;
    }
  }

  .hero__hdr {
    text-transform: uppercase;
    @include font-size(30);

    @include respond-min($non-palm) {
      @include font-size(60);
    }
  }

  .hero__txt {
    font-family: $font-family-opensans;

    @include respond-min($non-palm) {
      @include font-size(24);
    }
  }