/* ======================================================================================
   @LAYOUT -> NATIONAL HOMEPAGE
   ====================================================================================== */

/* Class on `html` */
.national {
  &,
  body {
    padding-bottom: 0;
    height: 100%;
  }
}

/* Header section - containing logo, nav and heading */
.national-header {
  color: #fff;
  @include to-rem(height, 259);

  @include respond-min($non-palm) {
    height: 90%;
  }

  .logo img,
  h1,
  nav {
    position: absolute;
  }

  .container {
    z-index: 2;
    height: 100%;

    @include respond-min($non-palm) {
      pointer-events: none;
    }
  }

    .logo img {
      @include to-rem(top, 35);

      @include respond-min($non-palm) {
        /* Increase logo size at this breakpoint, same as dimension in `.is-header-hero .logo` */
        width: 126px;
        height: 41px;
      }
    }

    h1 {
      /* Aligns text centre vertically*/
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);

      @include respond-min($non-palm) {
        left: 0;
        @include translate(0, -50%);
      }
    }

    nav {pointer-events: auto;}
}

/* Hero image */
.national-hero {
  div {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @include to-rem(min-height, 259);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0;

    @include respond-min($non-palm) {
      height: 90%;
      background-attachment: fixed;
    }
  }
}
  
  .is-loaded {
    -webkit-animation: hero-animation 10s linear infinite 0s;
    // -moz-animation: hero-animation 36s linear infinite 0s;
    // -o-animation: hero-animation 36s linear infinite 0s;
    // -ms-animation: hero-animation 36s linear infinite 0s;
    // animation: hero-animation 36s linear infinite 0s; 
  }

  .national-hero__img-1 {
    background-image: image-url("national/national-hero-01-sml.jpg");

    @include respond-min($non-palm) {
      background-image: image-url("national/national-hero-01.jpg");
    }
  }
  .national-hero__img-2 {
    background-image: image-url("national/national-hero-02.jpg");
    -webkit-animation-delay: 5s;
    // -moz-animation-delay: 2s;
    // -o-animation-delay: 2s;
    // -ms-animation-delay: 2s;
    // animation-delay: 6s; 
  }

/* Animation for the slideshow images */
@-webkit-keyframes hero-animation { 
  0% { opacity: 0;
  -webkit-animation-timing-function: ease-in; }
  8% { opacity: 1;
       -webkit-animation-timing-function: ease-out; }
  30% { opacity: 1 }
  50% { opacity: 0 }
  100% { opacity: 0 }
}