/* ======================================================================================
   @LAYOUT -> NATIONAL HOMEPAGE
   ====================================================================================== */

/*
  Note:
    The text that sits on top of the hero image will need to be either white or dark depending on the type of image used.
    White = `#fff`.
    Dark = `$color-grey-dark-1`.
    To update search for '[Text colour change]' comments.
*/

/* [`body` ELEMENT]
-------------------------------------------------------*/
.national {
  padding-bottom: 0;
  background-color: $color-grey-dark-1;

  /* Remove `cursor` and `border` on `abbr` when it's in an anchor */
  a abbr {
    cursor: pointer;
    border-bottom: 0;
  }
}

  /* [INNER WRAPPER]
  -------------------------------------------------------*/
  .national__inner {
    position: absolute;
    width: 100%;
    height: 100%;

    /* [Text colour change] change this to colour needed */
    &,
    a,
    .icon:before {color: $color-grey-dark-1;}
  }

    /* [HEADER]
    -------------------------------------------------------*/
    .national__logo,
    .national__header__intro,
    .national__header nav {position: absolute;}

    .national__header {
      @include to-rem(height, 250);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 0;

      @include respond-group-min-width-height($non-palm, $non-palm) {
        height: 60%;
      }

      @include respond-max($palm) {
        background-image: cloudinary-url("heroes/national/national-hero-01-sml.jpg", $quality: 88, $fetch_format: 'auto');
      }

      @include respond-range($lap, $lap-sml-end) {
        background-image: cloudinary-url("heroes/national/national-hero-01-med.jpg", $quality: 88, $fetch_format: 'auto');
      }

      @include respond-min($lap-lrg) {
        background-image: cloudinary-url("heroes/national/national-hero-01-lrg.jpg", $quality: 88, $fetch_format: 'auto');
        height: 75%;
      }

      /*
        Inner container wraps around the logo, nav and tagline. This sets its height to be the full height of `.national-header`.
      */
      .container {height: 100%;}

        /* Nav */
        nav {
          right: 0;
          @include to-rem(top, 10);
          @include font-size($font-size-milli);

          @include respond-min($non-palm) {
            @include to-rem(top, 43);
            @include font-size($font-size-sml);
          }

          a {
            display: block;
            text-align: center;
            opacity: 0.7;

            @include respond-min($non-palm) {
              opacity: 1;
            }

            &:hover,
            &:focus {
              opacity: 1;

              &,
              .icon:before {color: $color-grey-med-1;}
            }
          }

            .icon {
              /* Can't do `display: block` on `.icon:before` because mobile Safari doesn't like it for some reason */
              display: block;
              @include font-size($font-size-lrger, 1);

              &:before {@extend %transition-subtle;}
            }
        }
    }

      /* Logo */
      .national__logo {
        @include to-rem(top, 13);
        width: 90px;

        @include respond-min($non-palm) {
          @include to-rem(top, 35);
          /* Increase logo size at this breakpoint, same as width in `.is-header-hero .logo` */
          width: 126px;
        }
      }

      /* Wrapper around the hero heading and video thumbnail */
      .national__header__intro {
        top: 50%;
        left: 0;
        @include translateY(-50%);
        width: 100%;
        text-align: center;

        @include respond-min($non-palm) {
          text-align: left;
        }

        h1 {
          /* Use this small bottom margin when a link appears under the `h1` */
          /* @include to-rem(margin-bottom, $spacing-quarter); */
          /* Need a tighter `line-height` so the `span` will sit closer to the text under it */
          line-height: 1;

          @include respond-min($iphone-landscape) {
            @include font-size(36);
          }

          @include respond-min($non-palm) {
            @include font-size($font-size-kilo);
          }

            /* Subtext in the heading */
            span {
              display: block;
              @include font-size($font-size-sml);

              @include respond-min($iphone-landscape) {
                @include font-size($font-size-lrg);
              }

              @include respond-min($non-palm) {
                @include font-size($font-size-lrger);
              }
            }
        }

        /* Sometimes we have a link underneath the `h1` */
        @include respond-min($non-palm) {
          a {@include font-size($font-size-lrg);}
        }
      }

    /* Hero image paths (see 'Image rotate' module) */
    .national__hero__1 {
      @include respond-max($palm) {
        background-image: cloudinary-url("heroes/national/national-hero-01-sml.jpg", $quality: 88, $fetch_format: 'auto');
      }

      @include respond-range($lap, $lap-sml-end) {
        background-image: cloudinary-url("heroes/national/national-hero-01-med.jpg", $quality: 88, $fetch_format: 'auto');
      }

      @include respond-min($lap-lrg) {
        background-image: cloudinary-url("heroes/national/national-hero-01-lrg.jpg", $quality: 88, $fetch_format: 'auto');
      }
    }

    /* [MAIN]
    -------------------------------------------------------*/

    /* Tabs */
    .national__tabs {
      /* Need the tab to sit on top of `.hero-gradient`, which the `z-index` is set in `_header.scss` */
      z-index: 2;
      /* Need `position: relative` so that it'll appear on top of the hero image which has `position: absolute` */
      position: relative;
      @include to-rem(margin-top, -42);

      @include respond-min($non-palm) {
        @include to-rem(margin-top, -64);
      }

      /* Non JS users */
      .no-js & {margin-top: 0;}

      h2 {
        display: none;

        @include respond-min($non-palm) {
          @include to-rem(margin-right, 40);
        }
      }

      h2,
      .tab__nav {
        @include font-size($font-size);
        font-family: $font-family-opensans;

        @include respond-min($non-palm) {
          display: inline-block;
          @include font-size($font-size-lrger);
        }
      }

      /* Tab nav */
      .tab__nav {
        a {
          opacity: 0.6;
          @include to-rem(padding, $spacing-half);

          &:hover,
          &:focus,
          &.is-active {opacity: 1;}

          @include respond-min($non-palm) {
            @include to-rem(padding, $spacing-base $spacing-half);
          }
        }

        li:first-child a {padding-left: 0;}
      }

      /* Tab content - non JS users */
      .no-js & .tab__content {margin-bottom: 0;}
    }

      /* Tile that links to the relevant centre homepage */
      .national__centre-tile {
        display: block;
        position: relative;
        background-size: cover;
        background-position: 0 0;
        border-bottom: 1px solid $color-grey-dark-2;

        /* [Text colour change] this is only needed if `#fff` is needed */
        .national__inner &,
        .icon:before {color: #fff;}

        /* First `.national__centre-tile` gets `box-shadow` */
        li:first-child & {box-shadow: inset 0 4px 4px 0 rgba(#000, 0.4)}

        /* Inner container */
        .container {@include to-rem(padding, 30 $spacing-base 30 0);}

          /* Centre name */
          .h1 {
            @include font-size(28);
            text-transform: uppercase;

            @include respond-min($non-palm) {
              @include font-size(38);
            }

            @include respond-min($desk) {
              @include font-size(48);
            }
          }

          /* Right arrow icon */
          .icon:before {
            position: absolute;
            right: 0;
            top: 50%;
            @include translateY(-50%);
            @include font-size(36, 1);

            @include respond-min($non-palm) {
              display: none;
            }
          }
      }

    /* [FOOTER]
    -------------------------------------------------------*/
    .national__footer {
      text-align: center;
      @include font-size($font-size-milli);
      @include to-rem(padding-top padding-bottom, $spacing-base);

      @include respond-min($lap-lrg) {
        @include to-rem(padding-top padding-bottom, $spacing-quarter);
      }

      &,
      a {color: $color-grey-med-3;}

      a:hover,
      a:focus {color: $color-txt-light;}

      .container {@extend %clear-fix;}

        .national__footer__nav {
          @include respond-min($lap-lrg) {
            float: right;
          }

          &:first-child {
            @include to-rem(margin-bottom, $spacing-half);

            @include respond-min($lap-lrg) {
              float: left;
              margin-bottom: 0;
            }
          }
        }
    }