/*
  Contextual navigation
*/
.nav-contextual {
  // Added when left hand navigation was removed
  .container{@include clear-fix;}

  position: relative;
  background-color: $color-med-txt;

  a {
    color: $color-light-txt;

    &:hover {color:#fff;}
  }

  /* Scroll the contents of the navigation when the viewport is narrow enough */
  nav {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

    @include respond-min($palm) {overflow: hidden;}
  }
}

/* Clip scrollable contents (palm) */
.nav-contextual__clip {
  position: relative;

  @include to-rem(margin-right padding-right, $spacing-base +  $spacing-base);
}

/* Holds menus items and sets container to be wide-enough that they are horiz aligned */
.nav-contextual__main-items {
  width: 250%; /* magic number */
  > li {@include to-rem(margin-right, $spacing-base);}
}

  .nav-contextual__main-items > li a {
    @include to-rem(padding-top padding-bottom, $spacing-half);

    @include respond-min($non-palm) {
      @include to-rem(padding-top padding-bottom, $spacing-base);
    }

    border-bottom: 2px solid transparent;

    &.is-active {
      color: #fff;
      border-bottom-color: $color-brand;
    }
  }

  .nav-contextual__show-more {
    @include respond-min($palm) {display: none;}

    float: right;
    @include to-rem(top, 7); // half height
    @include to-rem(padding-left, $spacing-base);
    color: $color-light-txt;
    @include linear-gradient(#f63, #ff6, top left, top right);
    background: -webkit-linear-gradient(left, rgba($color-med-txt, 0) 0%, rgba($color-med-txt, 1) 100%);
  }

// Centre selector / nearest centre
.nav-contextual__centre-selector {
  // Added when left hand navigation was removed
  width: 100%;
  @include to-rem(padding-top padding-bottom, $spacing-half);
  // End Added when left hand navigation was removed

  float: left;

  @include respond-min($non-palm) {
    float: right;
    text-align: right;
    @include to-rem(padding-top padding-bottom, $spacing-half + $spacing-quarter);
  }

  label,
  .select  {
    display: inline-block;
    vertical-align: bottom;
  }

  // Hide/show button only visible on mobile
  button {float: right;}
}

  .nav-contextual__centre-selector-control {
    @include respond-max($palm) {
      display: none;
      float: left;
      width: 80%;
    }

    @include font-size($font-size-sml);
    color: $color-light-txt;

    // Space the select away from the label
    label {@include to-rem(margin-right, $spacing-base);}
  }