/*
  Contextual navigation
*/
.nav-contextual {
  position: relative;

  /* Scroll the contents of the navigation when the viewport is narrow enough */
  nav {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

    @include respond-min($palm) {overflow: hidden;}
  }
}

/* Clip scrollable contents (palm) */
.nav-contextual__clip {
  position: relative;

  @include to-rem(margin-right, $spacing-base +  $spacing-base);
  @include to-rem(padding-right, 20);
}

/* Holds menus items and sets container to be wide-enough that they are horiz aligned */
.nav-contextual__main-items {
  width: 250%; /* magic number */
  > li {@include to-rem(margin-right, $spacing-base);}
}

  .nav-contextual__main-items > li a {
    @include to-rem(padding-top padding-bottom, $spacing-half);

    @include respond-min($non-palm) {
      @include to-rem(padding-top padding-bottom, $spacing-base);
    }

    border-bottom: 2px solid transparent;

    &.is-active {
      border-bottom-color: $color-brand;
    }
  }

  .nav-contextual__show-more {
    @include respond-min($palm) {display: none;}

    position: absolute;
    right: 0;
    @include to-rem(top, 7); // half height
    @include to-rem(padding-left, $spacing-base +  $spacing-base);

  }

// Centre selector / nearest centre
.nav-contextual__centre-selector {
  // Added when left hand navigation was removed
  @include to-rem(padding-top padding-bottom, $spacing-half);
  // End Added when left hand navigation was removed

  float: right;
  display: none;

  @include respond-min($non-palm) {
    float: right;
    text-align: right;
    @include to-rem(padding-top padding-bottom, $spacing-half + $spacing-quarter);
  }

  label,
  .select  {
    display: inline-block;
    vertical-align: bottom;
  }

  // Hide/show button only visible on mobile
  button {float: right;}
}

  .nav-contextual__centre-selector-control {
    @include respond-max($palm) {
      display: none;
      float: left;
      width: 80%;
    }

    @include font-size($font-size-sml);
    color: $color-light-txt;

    // Space the select away from the label
    label {@include to-rem(margin-right, $spacing-base);}
  }

/* --Extenders-- */

/* Dark color */
.nav-contextual--dark {

  a {
    color: $color-light-txt;

    &:hover {color:#fff;}
  }

  .nav-contextual__main-items > li a {
    &.is-active {
      color: #fff;
    }
  }

    .nav-contextual__show-more {
      color: $color-light-txt;
      //TODO: other prefixes
      // background: -webkit-linear-gradient(left, rgba($color-med-txt, 0) 0%, rgba($color-med-txt, 1) 100%);
      // background: -webkit-linear-gradient(left, rgba($color-med-txt, 0) 0%, rgba($color-med-txt, 1) 50%);
      @include linear-gradient($from: rgba($color-med-txt, 0) 0%, $to: rgba($color-med-txt, 1) 50%, $dir: right, $override-bg-color: false, $bg-color-override: "")
    }
}