/* ======================================================================================
   @LAYOUT -> OLD IE BANNER
   ====================================================================================== */

/*
	Used to notify users to upgrade their browser from an old version of IE (< 9) to a more modern browser.
*/

.old-ie-banner {
	background-color: #fff;
  border-bottom: 1px solid $color-grey-med-3;
  padding-top: $spacing-half+$spacing-third+px;
  line-height: 1.3;

  /* Inner container */
  .old-ie-banner__inner {
    width: 1050px;
    margin: 0 auto;
  }

    .h1,
    li img,
    li a {display: block;}

    .h1,
    p {margin-bottom: $spacing-half+px;}

    /* Heading */
    .h1 {
      font-size: 40px;
      line-height: 1.1;
    }

    /* Byline */
    p {color: $color-txt-light;}

    /* Browser list */
    li {
      float: left;
      width: 25%;
      text-align: center;

      img {margin: 0 auto $spacing-third+px;}
    }
}