/* ======================================================================================
   @LAYOUT -> REDIRECTION
   ====================================================================================== */

/* Styles for `body` element */
.redirection {
  text-align: center;
  @include to-rem(padding-top, 80);
  background-color: #fff;

  /* Logo */
  img {
    width: 145px;
    height: 52px;
    @include to-rem(margin-bottom, $spacing-base);
  }

  p {color: $color-light-txt;}
}