<div class="sg-section">
  <div class="sg-h1">Base</div>
  <div class="box island">This covers the default colours, typography, link, list and table styles</div>
</div>

<%= render 'styleguide/base/typography' %>

<%= render 'styleguide/base/tables' %>