<div class="sg-h1">Default Element Styles - Typography</div>
<div class="sg-note sg-note--outdent">All default elements e.g. paragraphs, links, headings, images, etc. are given base styles that define how the element should look in all occurrences on the page. Base styles include setting heading sizes, default link styles, default font styles, etc. This page shows all the default elements concerned with <span class="pt-sans-narrow-bold">typography</span>.</div>

<!-- Headings -->
<%= styleguide_example 'Headings', 'Use them everywhere!' do %>
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>
<% end %>
<!-- //Headings -->

<!-- Paragraphs -->
<%= styleguide_example 'Paragraphs' do %>
<p>Nec at quodsi elaboraret definitionem. Ne facilisi pericula honestatis qui. In sanctus platonem voluptatum ius. Ad sed labores inermis disputando, etiam adversarium quo te. Eu vis nostrud deseruisse, est possit iracundia no, has an ferri meliore nusquam. Semper apeirian pericula eos id. Error graeci graecis sed no, quo ex hinc justo pertinax. Pro nostro placerat ex, id tamquam sadipscing vim, te tota errem audiam duo. Vim scripta recusabo elaboraret eu, sea periculis iracundia repudiandae ea, has duis modus persequeris in.</p>
<p>Ne mel utroque apeirian, eum ex cibo choro. Discere commune concludaturque eum te, eros movet comprehensam eum id. Cu nulla salutatus duo. Phaedrum efficiantur vix at, ius ancillae reprimique in, percipit mandamus assueverit eu eum. Alia natum vidisse id ius, vide soleat vis no.</p>
<% end %>
<!-- //Paragraphs -->

<!-- Lists -->
<%= styleguide_block 'Lists' do %>
<div class="sg-h3">Ordered</div>
<ol class="list">
    <li>Semper apeirian</li>
    <li>Virtute omittam
        <ol>
            <li>Nec at quodsi</li>
            <li>Ius ad admodum
                <ol>
                    <li>Expetendis theophrastus</li>
                    <li>Partem nominavi</li>
                </ol>
            </li>
            <li>Perfecto quaestio gubergren</li>
            <li>Malis dictas</li>
        </ol>
    </li>
    <li>Cu verear euripidis</li>
    <li>Natoque penatibus amet</li>
</ol>

<div class="sg-h3">Unordered</div>
<ul class="list">
    <li>Semper apeirian</li>
    <li>Virtute omittam
        <ul>
            <li>Nec at quodsi</li>
            <li>Ius ad admodum
                <ul>
                    <li>Expetendis theophrastus</li>
                    <li>Partem nominavi</li>
                </ul>
            </li>
            <li>Perfecto quaestio gubergren</li>
            <li>Malis dictas</li>
        </ul>
    </li>
    <li>Cu verear euripidis</li>
    <li>Natoque penatibus amet</li>
</ul>

<div class="sg-h3">Ordered &amp; Unordered</div>
<ul class="list">
    <li>Semper apeirian</li>
    <li>Virtute omittam
        <ol>
            <li>Nec at quodsi</li>
            <li>Ius ad admodum
                <ol>
                    <li>Expetendis theophrastus</li>
                    <li>Partem nominavi</li>
                </ol>
            </li>
            <li>Perfecto quaestio gubergren</li>
            <li>Malis dictas</li>
        </ol>
    </li>
    <li>Cu verear euripidis</li>
    <li>Natoque penatibus amet</li>
</ul>

<div class="sg-h3">Definition</div>
<dl>
    <dt>Perfecto quaestio gubergren</dt>
    <dd>Malis dictas</dd>
    <dt>Semper apeirian</dt>
    <dd>Virtute omittam</dd>
    <dt>Natoque penatibus amet</dt>
    <dd>Cu verear euripidis</dd>
</dl>
<% end %>
<!-- //Lists -->

<!-- Everything Else -->
<div class="sg-h2">Everything Else</div>

<ul class="list">
    <li>The <a href="#">a element</a> and <a href="#" rel="external">a element pointing to an external site</a></li>
    <li>The <abbr>abbr element</abbr> and <abbr title="Title text">abbr element with title</abbr></li>
    <li>The <b>b element</b></li>
    <li>The <cite>cite element</cite></li>
    <li>The <code>code element</code></li>
    <li>The <del>del element</del></li>
    <li>The <dfn>dfn element</dfn> and <dfn title="Title text">dfn element with title</dfn></li>
    <li>The <em>em element</em></li>
    <li>The <i>i element</i></li>
    <li>The img element <img src="http://placekitten.com/16/16" alt=""></li>
    <li>The <ins>ins element</ins></li>
    <li>The <kbd>kbd element</kbd></li>
    <li>The <mark>mark element</mark></li>
    <li>The <output>output element</output></li>
    <li>The <q>q element <q>inside</q> a q element</q></li>
    <li>The <samp>samp element</samp></li>
    <li>The <small>small element</small></li>
    <li>The <span>span element</span></li>
    <li>The <strong>strong element</strong></li>
    <li>The <sub>sub element</sub></li>
    <li>The <sup>sup element</sup></li>
    <li>The <var>var element</var></li>
    <li>The <u>u element</u></li>
</ul>

<div class="sg-h3">Grouped</div>
<p>Going alphabetically we have the <a href="#">a element</a>, then <abbr title="abbr">an abbreviation</abbr>, then the <b>b element</b>, followed by a line break<br> next a <cite>cite element</cite>, then an inline code example: <code>&lt;code&gt;</code>. Next <del>some deleted text</del>, followed by a <dfn>definition</dfn>. <em>Emphasised text</em> is semantically different from <i>italicised text</i>. Here we have an img <img src="http://placekitten.com/16/16" alt=""> element. Some <ins>inserted text</ins> precedes text that the user should enter via the <kbd>keyboard</kbd>, and <mark>marked text</mark>. We then have programming output using the <output>output element</output>, an <q>inline quote using the q element</q>. The <samp>samp element</samp> represents output from a program or computing system, next is some <small>boring legalese</small> and some text <span>wrapped in a span element</span>. For important content there's the <strong>strong element</strong>. Next is some subscript text like H<sub>2</sub>O and superscript text such as 1<sup>st</sup>. Next we have mathematic variables like <var>$monkey</var>. Finally there's the u element for <u>underlining text</u>.</p>
<!-- //Everything Else -->

<!-- Most Common Elements Grouped Together -->
<div class="sg-h2">Most Common Elements Grouped Together</div>

<h1>Heading 1</h1>
<p>Lorem ipsum dolor sit amet, <a href="http://google.com" rel="external">aenean commodo</a> adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus amet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo <strong>apeirian</strong> dolor. Aenean massa. Cum sociis natoque penatibus amet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus amet.</p>
<p>Semper apeirian pericula eos id. Error graeci graecis sed no, quo ex hinc justo pertinax. Pro nostro placerat ex, id tamquam sadipscing vim, te tota errem audiam duo. Vim scripta recusabo elaboraret eu, sea periculis iracundia repudiandae ea, has duis modus persequeris in.</p>
<ol class="list">
    <li>Nec at quodsi</li>
    <li>Sanctus platonem</li>
    <li>Perfecto quaestio gubergren</li>
    <li>Semper apeirian</li>
</ol>
<p>Lorem adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus amet. Aenean massa. Cum sociis natoque penatibus amet. Lorem ipsum dolor sit amet</p>
<ul class="list">
    <li>Semper apeirian</li>
    <li>Virtute omittam
        <ul>
            <li>Nec at quodsi</li>
            <li>Ius ad admodum
                <ul>
                    <li>Expetendis theophrastus</li>
                    <li>Partem nominavi</li>
                </ul>
            </li>
            <li>Perfecto quaestio gubergren</li>
            <li>Malis dictas</li>
        </ul>
    </li>
    <li>Cu verear euripidis</li>
    <li>Natoque penatibus amet</li>
</ul>
<p>Vis ubique virtute omittam ea. Pro <strong>apeirian</strong> pertinax ea, mel epicurei pericula electram eu. Aenean massa. Cum sociis natoque penatibus amet. Lorem ipsum dolor sit amet</p>
<dl>
    <dt>Perfecto quaestio gubergren</dt>
    <dd>Malis dictas</dd>
    <dt>Semper apeirian</dt>
    <dd>Virtute omittam</dd>
    <dt>Natoque penatibus amet</dt>
    <dd>Cu verear euripidis</dd>
</dl>
<!-- //Most Common Elements Grouped Together -->