<style>
  /* Note: ignore all these these styles as they're for demonstration purposes only */

  .sg-h1,
  .sg-h2 {margin: 0 0 24px 0;}
    .grid {margin-bottom: 24px;}
    .grid .grid {margin-bottom: 0;}
    .grid--table > .grid__item {background-color: #002b36;}

      .sg-txt {
        margin: 0;
        padding: 24px;
        color: #fff;
      }

      .sg-txt,
      .container .grid .alt2 .sg-txt {background-color: #2aa198;}

      .grid .grid .sg-txt,
      .grid__item.alt .sg-txt {background-color: #002b36;}
</style>

<div class="container sg-cf">

  <!-- Even -->
  <div class="sg-h2">Even</div>

    <div class="grid">
        <div class="grid__item non-palm-one-whole">
            <div class="sg-txt">One whole</div>
        </div>
    </div>

  <div class="grid">
        <div class="grid__item non-palm-one-half">
            <div class="sg-txt">One half</div>
        </div>
    <div class="grid__item non-palm-one-half">
            <div class="sg-txt">One half</div>
        </div>
    </div>

  <div class="grid">
        <div class="grid__item non-palm-one-third">
            <div class="sg-txt">One third</div>
        </div>
    <div class="grid__item non-palm-one-third">
            <div class="sg-txt">One third</div>
        </div>
    <div class="grid__item non-palm-one-third">
            <div class="sg-txt">One third</div>
        </div>
    </div>

  <div class="grid">
        <div class="grid__item non-palm-one-quarter">
            <div class="sg-txt">One quarter</div>
        </div>
    <div class="grid__item non-palm-one-quarter">
            <div class="sg-txt">One quarter</div>
        </div>
    <div class="grid__item non-palm-one-quarter">
            <div class="sg-txt">One quarter</div>
        </div>
    <div class="grid__item non-palm-one-quarter">
            <div class="sg-txt">One quarter</div>
        </div>
    </div>

  <div class="grid">
        <div class="grid__item non-palm-one-fifth">
            <div class="sg-txt">One fifth</div>
        </div>
    <div class="grid__item non-palm-one-fifth">
            <div class="sg-txt">One fifth</div>
        </div>
    <div class="grid__item non-palm-one-fifth">
            <div class="sg-txt">One fifth</div>
        </div>
    <div class="grid__item non-palm-one-fifth">
            <div class="sg-txt">One fifth</div>
        </div>
    <div class="grid__item non-palm-one-fifth">
            <div class="sg-txt">One fifth</div>
        </div>
    </div>

  <div class="grid">
        <div class="grid__item non-palm-one-sixth">
            <div class="sg-txt">One sixth</div>
        </div>
    <div class="grid__item non-palm-one-sixth">
            <div class="sg-txt">One sixth</div>
        </div>
    <div class="grid__item non-palm-one-sixth">
            <div class="sg-txt">One sixth</div>
        </div>
    <div class="grid__item non-palm-one-sixth">
            <div class="sg-txt">One sixth</div>
        </div>
    <div class="grid__item non-palm-one-sixth">
            <div class="sg-txt">One sixth</div>
        </div>
    <div class="grid__item non-palm-one-sixth">
            <div class="sg-txt">One sixth</div>
        </div>
    </div>

  <div class="grid">
        <div class="grid__item non-palm-one-eighth">
            <div class="sg-txt">One eighth</div>
        </div>
    <div class="grid__item non-palm-one-eighth">
            <div class="sg-txt">One eighth</div>
        </div>
    <div class="grid__item non-palm-one-eighth">
            <div class="sg-txt">One eighth</div>
        </div>
    <div class="grid__item non-palm-one-eighth">
            <div class="sg-txt">One eighth</div>
        </div>
    <div class="grid__item non-palm-one-eighth">
            <div class="sg-txt">One eighth</div>
        </div>
    <div class="grid__item non-palm-one-eighth">
            <div class="sg-txt">One eighth</div>
        </div>
    <div class="grid__item non-palm-one-eighth">
            <div class="sg-txt">One eighth</div>
        </div>
    <div class="grid__item non-palm-one-eighth">
            <div class="sg-txt">One eighth</div>
        </div>
    </div>

  <div class="grid">
        <div class="grid__item non-palm-one-tenth">
            <div class="sg-txt">One tenth</div>
        </div>
    <div class="grid__item non-palm-one-tenth">
            <div class="sg-txt">One tenth</div>
        </div>
    <div class="grid__item non-palm-one-tenth">
            <div class="sg-txt">One tenth</div>
        </div>
    <div class="grid__item non-palm-one-tenth">
            <div class="sg-txt">One tenth</div>
        </div>
    <div class="grid__item non-palm-one-tenth">
            <div class="sg-txt">One tenth</div>
        </div>
    <div class="grid__item non-palm-one-tenth">
            <div class="sg-txt">One tenth</div>
        </div>
    <div class="grid__item non-palm-one-tenth">
            <div class="sg-txt">One tenth</div>
        </div>
    <div class="grid__item non-palm-one-tenth">
            <div class="sg-txt">One tenth</div>
        </div>
    <div class="grid__item non-palm-one-tenth">
            <div class="sg-txt">One tenth</div>
        </div>
    <div class="grid__item non-palm-one-tenth">
            <div class="sg-txt">One tenth</div>
        </div>
    </div>

  <div class="grid">
        <div class="grid__item non-palm-one-twelfth">
            <div class="sg-txt">One twelfth</div>
        </div>
    <div class="grid__item non-palm-one-twelfth">
            <div class="sg-txt">One twelfth</div>
        </div>
    <div class="grid__item non-palm-one-twelfth">
            <div class="sg-txt">One twelfth</div>
        </div>
    <div class="grid__item non-palm-one-twelfth">
            <div class="sg-txt">One twelfth</div>
        </div>
    <div class="grid__item non-palm-one-twelfth">
            <div class="sg-txt">One twelfth</div>
        </div>
    <div class="grid__item non-palm-one-twelfth">
            <div class="sg-txt">One twelfth</div>
        </div>
    <div class="grid__item non-palm-one-twelfth">
            <div class="sg-txt">One twelfth</div>
        </div>
    <div class="grid__item non-palm-one-twelfth">
            <div class="sg-txt">One twelfth</div>
        </div>
    <div class="grid__item non-palm-one-twelfth">
            <div class="sg-txt">One twelfth</div>
        </div>
    <div class="grid__item non-palm-one-twelfth">
            <div class="sg-txt">One twelfth</div>
        </div>
    <div class="grid__item non-palm-one-twelfth">
            <div class="sg-txt">One twelfth</div>
        </div>
    <div class="grid__item non-palm-one-twelfth">
            <div class="sg-txt">One twelfth</div>
        </div>
    </div>
  <!-- //Even -->

  <!-- Uneven -->
  <div class="sg-h2">Uneven</div>

  <div class="grid">
        <div class="grid__item non-palm-two-fifths">
            <div class="sg-txt">Two fifths</div>
        </div>
    <div class="grid__item non-palm-three-fifths">
            <div class="sg-txt">Three fifths</div>
        </div>
    </div>

  <div class="grid">
        <div class="grid__item non-palm-one-fifth">
            <div class="sg-txt">One fifth</div>
        </div>
    <div class="grid__item non-palm-four-fifths">
            <div class="sg-txt">Four fifths</div>
        </div>
    </div>

  <div class="grid">
        <div class="grid__item non-palm-one-fifth">
            <div class="sg-txt">One fifth</div>
        </div>
    <div class="grid__item non-palm-three-fifths">
            <div class="sg-txt">Three fifths</div>
        </div>
    <div class="grid__item non-palm-one-fifth">
            <div class="sg-txt">One fifth</div>
        </div>
    </div>

  <div class="grid">
        <div class="grid__item non-palm-one-sixth">
            <div class="sg-txt">One sixth</div>
        </div>
    <div class="grid__item non-palm-five-sixths">
            <div class="sg-txt">Five sixths</div>
        </div>
    </div>

  <div class="grid">
        <div class="grid__item non-palm-one-quarter">
            <div class="sg-txt">One quarter</div>
        </div>
    <div class="grid__item non-palm-three-quarters">
            <div class="sg-txt">Three quarters</div>
        </div>
    </div>

  <div class="grid">
        <div class="grid__item non-palm-eight-twelfths">
            <div class="sg-txt">Eight twelfths</div>
        </div>
    <div class="grid__item non-palm-one-twelfth">
            <div class="sg-txt">One twelfth</div>
        </div>
    <div class="grid__item non-palm-one-twelfth">
            <div class="sg-txt">One twelfth</div>
        </div>
    <div class="grid__item non-palm-one-twelfth">
            <div class="sg-txt">One twelfth</div>
        </div>
    <div class="grid__item non-palm-one-twelfth">
            <div class="sg-txt">One twelfth</div>
        </div>
    </div>
  <!-- //Uneven -->

  <!-- Nested -->
  <div class="sg-h2">Nested</div>

  <div class="grid">
        <div class="grid__item non-palm-one-half">
            <div class="sg-txt">One half</div>
      <div class="grid">
        <div class="grid__item non-palm-one-third">
          <div class="sg-txt">One third</div>
        </div>
        <div class="grid__item non-palm-one-third">
          <div class="sg-txt">One third</div>
        </div>
        <div class="grid__item non-palm-one-third">
          <div class="sg-txt">One third</div>
        </div>
      </div>
        </div>
    <div class="grid__item non-palm-one-half">
            <div class="sg-txt">One half</div>
      <div class="grid">
        <div class="grid__item non-palm-one-quarter">
          <div class="sg-txt">One quarter</div>
        </div>
        <div class="grid__item non-palm-one-quarter">
          <div class="sg-txt">One quarter</div>
        </div>
        <div class="grid__item non-palm-one-quarter">
          <div class="sg-txt">One quarter</div>
        </div>
        <div class="grid__item non-palm-one-quarter">
          <div class="sg-txt">One quarter</div>
        </div>
      </div>
        </div>
    </div>

  <div class="grid">
        <div class="grid__item non-palm-one-third">
            <div class="sg-txt">One third</div>
      <div class="grid">
        <div class="grid__item non-palm-one-quarter">
          <div class="sg-txt">One quarter</div>
        </div>
        <div class="grid__item non-palm-one-quarter">
          <div class="sg-txt">One quarter</div>
        </div>
        <div class="grid__item non-palm-one-quarter">
          <div class="sg-txt">One quarter</div>
        </div>
        <div class="grid__item non-palm-one-quarter">
          <div class="sg-txt">One quarter</div>
        </div>
      </div>
        </div>
    <div class="grid__item non-palm-one-third">
      <div class="sg-txt">One third</div>
      <div class="grid">
        <div class="grid__item non-palm-two-fifths">
          <div class="sg-txt">Two fifths</div>
        </div>
        <div class="grid__item non-palm-three-fifths">
          <div class="sg-txt">Three fifths</div>
        </div>
      </div>
        </div>
    <div class="grid__item non-palm-one-third">
            <div class="sg-txt">One third</div>
      <div class="grid">
        <div class="grid__item non-palm-one-third">
          <div class="sg-txt">One third</div>
        </div>
        <div class="grid__item non-palm-one-third">
          <div class="sg-txt">One third</div>
        </div>
        <div class="grid__item non-palm-one-third">
          <div class="sg-txt">One third</div>
        </div>
      </div>
        </div>
    </div>
  <!-- //Nested -->

  <!-- Gutterless -->
  <div class="sg-h2">Gutterless</div>

  <div class="grid grid--gutterless">
        <div class="grid__item non-palm-two-fifths">
            <div class="sg-txt">Two fifths</div>
        </div>
    <div class="grid__item non-palm-three-fifths alt">
            <div class="sg-txt">Three fifths</div>
        </div>
    </div>

  <div class="grid grid--gutterless">
        <div class="grid__item non-palm-one-fifth">
            <div class="sg-txt">One fifth</div>
        </div>
    <div class="grid__item non-palm-four-fifths alt">
            <div class="sg-txt">Four fifths</div>
        </div>
    </div>

  <div class="grid grid--gutterless">
        <div class="grid__item non-palm-one-fifth">
            <div class="sg-txt">One fifth</div>
        </div>
    <div class="grid__item non-palm-three-fifths alt">
            <div class="sg-txt">Three fifths</div>
        </div>
    <div class="grid__item non-palm-one-fifth">
            <div class="sg-txt">One fifth</div>
        </div>
    </div>

  <div class="grid grid--gutterless">
        <div class="grid__item non-palm-one-sixth">
            <div class="sg-txt">One sixth</div>
        </div>
    <div class="grid__item non-palm-five-sixths alt">
            <div class="sg-txt">Five sixths</div>
        </div>
    </div>

  <div class="grid grid--gutterless">
        <div class="grid__item non-palm-one-quarter">
            <div class="sg-txt">One quarter</div>
        </div>
    <div class="grid__item non-palm-three-quarters alt">
            <div class="sg-txt">Three quarters</div>
        </div>
    </div>

  <div class="sg-h3">Nested</div>

  <div class="grid grid--gutterless">
        <div class="grid__item non-palm-one-half">
            <div class="sg-txt">One half</div>
      <div class="grid grid--gutterless">
        <div class="grid__item non-palm-one-third">
          <div class="sg-txt">One third</div>
        </div>
        <div class="grid__item non-palm-one-third alt2">
          <div class="sg-txt">One third</div>
        </div>
        <div class="grid__item non-palm-one-third">
          <div class="sg-txt">One third</div>
        </div>
      </div>
        </div>
    <div class="grid__item non-palm-one-half alt">
            <div class="sg-txt">One half</div>
      <div class="grid grid--gutterless">
        <div class="grid__item non-palm-one-quarter alt2">
          <div class="sg-txt">One quarter</div>
        </div>
        <div class="grid__item non-palm-one-quarter alt">
          <div class="sg-txt">One quarter</div>
        </div>
        <div class="grid__item non-palm-one-quarter alt2">
          <div class="sg-txt">One quarter</div>
        </div>
        <div class="grid__item non-palm-one-quarter alt">
          <div class="sg-txt">One quarter</div>
        </div>
      </div>
        </div>
    </div>

  <div class="grid grid--gutterless">
        <div class="grid__item non-palm-one-third">
            <div class="sg-txt">One third</div>
      <div class="grid grid--gutterless">
        <div class="grid__item non-palm-one-quarter">
          <div class="sg-txt">One quarter</div>
        </div>
        <div class="grid__item non-palm-one-quarter alt2">
          <div class="sg-txt">One quarter</div>
        </div>
        <div class="grid__item non-palm-one-quarter">
          <div class="sg-txt">One quarter</div>
        </div>
        <div class="grid__item non-palm-one-quarter alt2">
          <div class="sg-txt">One quarter</div>
        </div>
      </div>
        </div>
    <div class="grid__item non-palm-one-third alt">
      <div class="sg-txt">One third</div>
      <div class="grid grid--gutterless">
        <div class="grid__item non-palm-two-fifths">
          <div class="sg-txt">Two fifths</div>
        </div>
        <div class="grid__item non-palm-three-fifths alt2">
          <div class="sg-txt">Three fifths</div>
        </div>
      </div>
        </div>
    <div class="grid__item non-palm-one-third">
            <div class="sg-txt">One third</div>
      <div class="grid grid--gutterless">
        <div class="grid__item non-palm-one-third">
          <div class="sg-txt">One third</div>
        </div>
        <div class="grid__item non-palm-one-third alt2">
          <div class="sg-txt">One third</div>
        </div>
        <div class="grid__item non-palm-one-third">
          <div class="sg-txt">One third</div>
        </div>
      </div>
        </div>
    </div>
  <!-- //Gutterless -->

  <!-- Reversed -->
  <div class="sg-h2">Reversed</div>

  <div class="grid grid--rev">
        <div class="grid__item non-palm-one-fifth">
            <div class="sg-txt">Source order: 1</div>
        </div>
    <div class="grid__item non-palm-one-fifth">
            <div class="sg-txt">Source order: 2</div>
        </div>
    <div class="grid__item non-palm-one-fifth">
            <div class="sg-txt">Source order: 3</div>
        </div>
    <div class="grid__item non-palm-one-fifth">
            <div class="sg-txt">Source order: 4</div>
        </div>
    <div class="grid__item non-palm-one-fifth">
            <div class="sg-txt">Source order: 5</div>
        </div>
    </div>
  <!-- //Reversed -->

  <!-- Center Align -->
  <div class="sg-h2">Center Align</div>

  <div class="grid grid--center">
        <div class="grid__item non-palm-one-quarter">
            <div class="sg-txt">One quarter</div>
        </div>
    </div>
  <div class="grid grid--center">
        <div class="grid__item non-palm-one-third">
            <div class="sg-txt">One third</div>
        </div>
    </div>
  <div class="grid grid--center">
        <div class="grid__item non-palm-two-fifths">
            <div class="sg-txt">Two fifths</div>
        </div>
    </div>
  <div class="grid grid--center">
        <div class="grid__item non-palm-one-half">
            <div class="sg-txt">One half</div>
        </div>
    </div>
  <!-- //Center Align -->

  <!-- Table -->
  <div class="sg-h2">Table (equal height columns)</div>

  <div class="grid grid--table grid--gutterless">
        <div class="grid__item non-palm-one-third">
            <div class="sg-txt">Ultricies porta montes aliquam adipiscing tincidunt, magna massa turpis risus duis in risus rhoncus aliquet et, duis ultricies, egestas scelerisque? Amet et, in parturient est diam, nec augue. Nec ut? Nisi est! Scelerisque, pellentesque arcu, sit. Diam purus augue parturient urna scelerisque! Integer odio nec a vel aliquet sed, aliquet pulvinar sed nisi lectus. Duis non nunc dolor, hac, phasellus, urna mus mattis quis proin cum. Hac ac mid! Ut aliquam elementum vel ridiculus eros nec! Ultricies auctor purus, dignissim? Mid. A amet in egestas rhoncus mid porttitor, proin scelerisque elementum, hac placerat porta turpis dignissim? Diam vel.</div>
        </div>
    <div class="grid__item non-palm-one-third">
            <div class="sg-txt">Ultricies porta montes aliquam adipiscing tincidunt, magna massa turpis risus duis in risus rhoncus aliquet et, duis ultricies, egestas scelerisque? Amet et, in parturient est diam, nec augue. Nec ut? Nisi est! Scelerisque, pellentesque arcu, sit. Diam purus augue parturient urna scelerisque! Integer odio nec a vel aliquet sed, aliquet pulvinar sed nisi lectus. Duis non nunc dolor, hac, phasellus, urna mus mattis quis proin cum. Hac ac mid! Ut aliquam elementum vel ridiculus eros nec! Ultricies auctor purus, dignissim? Mid. A amet in egestas rhoncus mid porttitor, proin scelerisque elementum, hac placerat porta turpis dignissim? Diam vel, natoque et integer elementum mauris natoque. Lorem, enim hac sit nunc sociis phasellus mus, dictumst sit nisi et? Tincidunt mid? Pulvinar etiam.</div>
        </div>
    <div class="grid__item non-palm-one-third">
            <div class="sg-txt">Ultricies porta montes aliquam adipiscing tincidunt, magna massa turpis risus duis in risus rhoncus aliquet et, duis ultricies, egestas scelerisque? Amet et, in parturient est diam, nec augue. Nec ut? Nisi est! Scelerisque, pellentesque arcu, sit. Diam purus augue parturient urna scelerisque! Integer odio nec a vel aliquet sed, aliquet pulvinar sed nisi lectus. Duis non nunc dolor, hac, phasellus, urna mus mattis quis proin cum. Hac ac mid! Ut aliquam elementum vel ridiculus eros nec! Ultricies auctor purus, dignissim? Mid. A amet in egestas rhoncus mid porttitor, proin scelerisque elementum, hac placerat porta turpis dignissim? Diam vel, natoque et integer elementum mauris natoque. Lorem, enim hac sit nunc sociis phasellus mus, dictumst sit nisi et? Tincidunt mid? Pulvinar etiam. Lorem, enim hac sit nunc sociis phasellus mus, dictumst sit nisi et? Tincidunt mid? Pulvinar etiam.</div>
        </div>
    </div>
  <!-- //Table -->

  <!-- Push/Pull -->
  <div class="sg-h2">Push/Pull</div>

  <div class="grid">
    <div class="grid__item non-palm-five-sixths non-palm-push-one-sixth">
      <div class="sg-txt">Five sixths (push)</div>
    </div>
    <div class="grid__item non-palm-one-sixth non-palm-pull-five-sixths">
      <div class="sg-txt">One sixth (pull)</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__item non-palm-four-fifths non-palm-push-one-fifth">
      <div class="sg-txt">Four fifths (push)</div>
    </div>
    <div class="grid__item non-palm-one-fifth non-palm-pull-four-fifths">
      <div class="sg-txt">One fifth (pull)</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__item non-palm-three-quarters non-palm-push-one-quarter">
      <div class="sg-txt">Three quarters (push)</div>
    </div>
    <div class="grid__item non-palm-one-quarter non-palm-pull-three-quarters">
      <div class="sg-txt">One quarter (pull)</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__item non-palm-two-thirds non-palm-push-one-third">
      <div class="sg-txt">Two thirds (push)</div>
    </div>
    <div class="grid__item non-palm-one-third non-palm-pull-two-thirds">
      <div class="sg-txt">One third (pull)</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__item non-palm-three-fifths non-palm-push-two-fifths">
      <div class="sg-txt">Three fifths (push)</div>
    </div>
    <div class="grid__item non-palm-two-fifths non-palm-pull-three-fifths">
      <div class="sg-txt">Two fifths (pull)</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__item non-palm-one-half non-palm-push-one-half">
      <div class="sg-txt">One half (push)</div>
    </div>
    <div class="grid__item non-palm-one-half non-palm-pull-one-half">
      <div class="sg-txt">One half (pull)</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__item non-palm-two-fifths non-palm-push-three-fifths">
      <div class="sg-txt">Two fifths (push)</div>
    </div>
    <div class="grid__item non-palm-three-fifths non-palm-pull-two-fifths">
      <div class="sg-txt">Three fifths (pull)</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__item non-palm-one-third non-palm-push-two-thirds">
      <div class="sg-txt">One third (push)</div>
    </div>
    <div class="grid__item non-palm-two-thirds non-palm-pull-one-third">
      <div class="sg-txt">Two thirds (pull)</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__item non-palm-one-quarter non-palm-push-three-quarters">
      <div class="sg-txt">One quarter (push)</div>
    </div>
    <div class="grid__item non-palm-three-quarters non-palm-pull-one-quarter">
      <div class="sg-txt">Three quarters (pull)</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__item non-palm-one-fifth non-palm-push-four-fifths">
      <div class="sg-txt">One fifth (push)</div>
    </div>
    <div class="grid__item non-palm-four-fifths non-palm-pull-one-fifth">
      <div class="sg-txt">Four fifths (pull)</div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__item non-palm-one-sixth non-palm-push-five-sixths">
      <div class="sg-txt">One sixth (push)</div>
    </div>
    <div class="grid__item non-palm-five-sixths non-palm-pull-one-sixth">
      <div class="sg-txt">Five sixths (pull)</div>
    </div>
  </div>
  <!-- //Push/Pull -->

  <!-- Lists -->
  <div class="sg-h2">Lists <code class="sg-code">ul/ol</code></div>

  <ul class="grid grid--list">
    <li class="grid__item non-palm-one-third"><div class="sg-txt">One third</div></li>
    <li class="grid__item non-palm-one-third"><div class="sg-txt">One third</div></li>
    <li class="grid__item non-palm-one-third"><div class="sg-txt">One third</div></li>
    <!-- New row -->
    <li class="grid__item non-palm-one-third"><div class="sg-txt">One third</div></li>
    <li class="grid__item non-palm-one-third"><div class="sg-txt">One third</div></li>
    <li class="grid__item non-palm-one-third"><div class="sg-txt">One third</div></li>
  </ul>

  <ul class="grid grid--list">
    <li class="grid__item non-palm-one-quarter"><div class="sg-txt">One quarter</div></li>
    <li class="grid__item non-palm-one-quarter"><div class="sg-txt">One quarter</div></li>
    <li class="grid__item non-palm-one-quarter"><div class="sg-txt">One quarter</div></li>
    <li class="grid__item non-palm-one-quarter"><div class="sg-txt">One quarter</div></li>
    <!-- New row -->
    <li class="grid__item non-palm-one-quarter"><div class="sg-txt">One quarter</div></li>
    <li class="grid__item non-palm-one-quarter"><div class="sg-txt">One quarter</div></li>
    <li class="grid__item non-palm-one-quarter"><div class="sg-txt">One quarter</div></li>
    <li class="grid__item non-palm-one-quarter"><div class="sg-txt">One quarter</div></li>
    <!-- New row -->
    <li class="grid__item non-palm-one-quarter"><div class="sg-txt">One quarter</div></li>
    <li class="grid__item non-palm-one-quarter"><div class="sg-txt">One quarter</div></li>
  </ul>
  <!-- //Lists -->

</div>
