<% content_for :title, "Home" %>
<% content_for :class_for_body, "sg-homepage" %>

<!-- Container narrow-->
<div class="container container--narrow">

  <h2 class="sg-h1">Westfield Style Guide</h2>

  <% Styleguide::TREE.in_groups_of(2, false) do |styleguides| %>
    <div class="sg-section">
      <div class="grid grid--gutter-dbl">
        <% styleguides.each do |styleguide| %>
          <% slug = ActiveSupport::Inflector.parameterize(styleguide['title']) %>
          <div class="grid__item non-palm-one-half">
            <div class="sg-section">
              <div class="sg-h2"><%= link_to styleguide['title'], styleguide_path(slug) %></div>
              <p><%=raw styleguide['description'] %></p>
            </div>
          </div>
        <% end -%>
      </div>
    </div>
  <% end %>

</div>
<!-- //Container narrow-->