---
title: Modules - Feedback
---

<div class="sg-h1">Modules - Feedback</div>
<div class="sg-note sg-note--outdent">Provides appropriately designed UI feedback messages for users to acknowledge their actions and to orient users to their location in the site. Most common use case is for errors e.g. form validation errors. <a href="http://styleguide.yahoo.com/writing/write-clear-user-interface-text/feedback-messages-and-error-messages">Read more here</a>.</div>

<!-- Error State -->
<div class="sg-h2">Error State</div>

<div class="sg-h3">Block</div>
<div class="feedback feedback--block feedback--error">
    <h2 class="h3 hn">Lorem ipsum dolor sit ame</h2>
    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
    <ul class="list">
        <li><a href="#">Duis autem vel</a></li>
        <li>Eodem modo typi</li>
        <li>Nam liber tempor cum </li>
        <li>Typi non habent</li>
    </ul>
</div>

<div class="sg-h3">Short Message</div>
<p class="feedback feedback--error">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
<!-- //Error State -->

<!-- Success State -->
<div class="sg-h2">Success State</div>

<div class="sg-h3">Block</div>
<div class="feedback feedback--block feedback--success">
    <h2 class="h3 hn">Lorem ipsum dolor sit ame</h2>
    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
    <ul class="list">
        <li><a href="#">Duis autem vel</a></li>
        <li>Eodem modo typi</li>
        <li>Nam liber tempor cum </li>
        <li>Typi non habent</li>
    </ul>
</div>

<div class="sg-h3">Short Message</div>
<p class="feedback feedback--success">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
<!-- //Success State -->

<!-- Warning State -->
<div class="sg-h2">Warning State</div>

<div class="sg-h3">Block</div>
<div class="feedback feedback--block feedback--warning">
    <h2 class="h3 hn">Lorem ipsum dolor sit ame</h2>
    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
    <ul class="list">
        <li><a href="#">Duis autem vel</a></li>
        <li>Eodem modo typi</li>
        <li>Nam liber tempor cum </li>
        <li>Typi non habent</li>
    </ul>
</div>

<div class="sg-h3">Short Message</div>
<p class="feedback feedback--warning">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
<!-- //Warning State -->

<!-- Info State -->
<div class="sg-h2">Info State</div>

<div class="sg-h3">Block</div>
<div class="feedback feedback--block feedback--info">
    <h2 class="h3 hn">Lorem ipsum dolor sit ame</h2>
    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
    <ul class="list">
        <li><a href="#">Duis autem vel</a></li>
        <li>Eodem modo typi</li>
        <li>Nam liber tempor cum </li>
        <li>Typi non habent</li>
    </ul>
</div>

<div class="sg-h3">Short Message</div>
<p class="feedback feedback--info">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
<!-- //Info State -->