---
title: Modules
---

<div class="sg-h1">Modules</div>
<div class="sg-note sg-note--outdent">Modules are the discrete components of the page e.g. carousel, tabs, pagination, etc. This is the meat of the page. Some modules are built on top of <a href="abstractions.html">Abstractions</a>.</div>

<!-- Microformat (hCard) -->
<div class="sg-h2">Microformat <span class="pt-sans-narrow-reg--hdr">(hCard)</span></div>
<div class="sg-note">The Microformat hCard: <a href="http://microformats.org/wiki/hcard">http://microformats.org/wiki/hcard</a>.</div>
<!-- //Microformat (hCard) -->

<!-- Sprite -->
<div class="sg-h2">Sprite</div>
<div class="sg-note">Applies a background image and nothing else, usually from a sprite.</div>
<!-- //Sprite -->

<!-- Pagination -->
<div class="sg-h2">Pagination</div>
<div class="sg-note">For paginating between many sets of pages e.g. search results.</div>
<!-- //Pagination -->

<!-- Pager -->
<div class="sg-h2">Pager</div>
<div class="sg-note">As above but only renders the 'Prev' and 'Next' links.</div>
<!-- //Pager -->

<!-- Preloader -->
<div class="sg-h2">Preloader</div>
<div class="sg-note">Provides feedback to the user letting them know that their action is being processed e.g. a form submission. It renders an animating spinner (light) but can also include a message with the spinner e.g. "Loading, please wait&#8230;" (full).</div>
<div class="sg-h3">Include message (full)</div>

<div class="sg-h3">Spinner only (light)</div>

<!-- //Preloader -->

<!-- Thumbnail Grid -->
<div class="sg-h2">Thumbnail Grid</div>
<div class="sg-note">Renders thumbnail images in a grid, typically used for photo galleries.</div>
<!-- //Thumbnail Grid -->