---
title: Modules - Widgets
---

<div class="sg-h1">Modules - Widgets</div>
<div class="sg-note sg-note--outdent">Module widgets are more interactive rich and therefore require JavaScript/jQuery to function.</div>

<!-- Flexslider -->
<div class="sg-h2">Flexslider</div>
<div class="sg-note">A fully responsive jQuery slider, typically for photo galleries, see: <a href="http://www.woothemes.com/flexslider/">Flexslider</a>.</div>
<!-- //Flexslider -->

<!-- Accordion -->
<div class="sg-h2">Accordion</div>
<div class="sg-note">Typically for preserving screen real estate e.g. a complex menu as each item can be 'expanded' to reveal the content associated with that item and it can also be 'collapsed' to hide its associated content. There can be zero or more items expanded at a time, depending on the jQuery plugin configuration.</div>
<!-- //Accordion -->

<!-- Tabs -->
<div class="sg-h2">Tabs</div>
<div class="sg-note">Similar to the accordion in terms of preserving screen real estate but a tabbed interface is typically rendered horizontally not vertically and rather than 'expanding' and 'collapsing' each item the item simply appears and you can only ever see one item at a time.</div>
<!-- //Tabs -->

<!-- Tooltip -->
<div class="sg-h2">Tooltip</div>
<div class="sg-note">A small overlay that is displayed when the mouse hovers over an element that requires it. Typically the tooltip's job is to describe the element it's being used on e.g. a menu only uses icons, when a mouse hovers over an icon the overlay will appear describing what the icon is.</div>
<!-- //Tooltip -->

<!-- Modal -->
<div class="sg-h2">Modal</div>
<div class="sg-note">Typically for dialog prompts e.g. warning/error messages in the form of an overlay (child window). Depending on the jQuery plugin configuration the parent window (page the dialog is overlaying) can either be interacted with again i.e. closing the dialog by clicking anywhere outside the dialog or by only clicking the 'Close' button within the dialog (the latter is true modal behaviour). This is using the <a href="http://twitter.github.com/bootstrap/javascript.html#modals">Twitter Bootstrap modal plugin</a>.</div>
<!-- //Modal -->

<!-- Social Media Share -->
<div class="sg-h2">Social Media Share</div>
<div class="sg-note">Embedding all or whatever is required of the Social Media share buttons.</div>
<!-- //Social Media Share -->

<!-- Adaptive Google Map -->
<div class="sg-h2">Adaptive Google Map</div>
<div class="sg-note">Loads in a static Google map image for palm sized viewports and a dynamic Google map (full API) for non-palm sized viewports.</div>
<!-- //Adaptive Google Map -->