/* ======================================================================================
   @MODULES -> CENTRES SELECTOR
   ====================================================================================== */

/*
  Usage:
    Position shopping centre selector

  Demo:
    Style Guide -> Modules -> Centres Selector
*/

.centre-selector {
  // Added when left hand navigation was removed
  width: 100%;
  @include to-rem(padding-top padding-bottom, $spacing-half);
  // End Added when left hand navigation was removed
  @include clear-fix();


  @include respond-min($non-palm) {
    text-align: right;
    @include to-rem(padding-top padding-bottom, $spacing-half + $spacing-quarter);
  }

  label,
  .select  {
    display: inline-block;
    vertical-align: middle;
  }

  /* Button that toggles the shopping centre select dropdown */
  button {
    @include respond-min($non-palm) {
      float: right;
      display: none;
    }
  }
}
  
  /* Wrapper around the label and select */
  .centre-selector-control {
    @include respond-max($palm) {
      display: none;
      float: left;
      width: 80%;
    }

    @include font-size($font-size-sml);
    color: $color-light-txt;

    // Space the select away from the label
    label {@include to-rem(margin-right, $spacing-base);}
  }