/* ======================================================================================
   @MODULES -> CENTRE LOCATION
   ====================================================================================== */

/*
  Usage:
    Contains the Google static map of the centre and the centre address

  Demo:
    Style Guide -> Modules -> Centre Location
*/

.centre-location {
  position: relative;

  /* Custom rules for the 'Map Google Static' module */
  .map-google-static {
    @include to-rem(margin-bottom, $spacing-sixth);

    /* Remove bottom spacing at this breakpoint */
    @include respond-min($lap-lrg) {
      margin-bottom: 0;
    }
  }
}

  /* The location box containing the img and the address */
  .centre-location__info {
    /* Needs a tighter line-height than the default */
    line-height: 1.4;

    /* Position it over the map at this breakpoint */
    @include respond-min($lap-lrg) {
      position: absolute;
      @include to-rem(left top, $spacing-half);
      /* Restricts the width of the box so if the text is really long, it won't keep stretching the box */
      @include to-rem(width, 340);
    }

    /* The address of the centre */
    p {@include to-rem(margin-bottom, $spacing-sixth);}
  }