/* ======================================================================================
   @MODULES -> CENTRE MAP
   ====================================================================================== */

/*
  Usage:
    Contains the Google static map of the centre and the centre addres

  Demo:
    Style Guide -> Modules -> Centre Map
*/

.centre-location {
  position: relative;

  .map-google-static {@include to-rem(margin-bottom, $spacing-sixth);}

    /* The location box containing the img and the address */
    .centre-location__info {
      @include respond-min($non-palm) {
        & {
          @include to-rem(top, $spacing-half);
          @include to-rem(left, $spacing-half);
          position: absolute;
          width: 200px;
        }
      }
    }
      /* The thumbnail photo of the shopping centre */
      .centre-location__img {
        @include respond-min ($non-palm) {
          @include to-rem(width, 200);
        }
      }

      .centre-location__address {@include to-rem(margin-bottom, $spacing-sixth);}
}