/* ======================================================================================
   @MODULES -> CENTRE MAP
   ====================================================================================== */

/*
  Usage:
    Contains the Google static map of the centre and the centre addres

  Demo:
    Style Guide -> Modules -> Centre Map
*/

.centre-location {
  position: relative;

  .map-google-static {
    @include to-rem(margin-bottom, $spacing-sixth);

    @include respond-min($lap-lrg) {
      margin-bottom: 0;
    }
  }
}

  /* The location box containing the img and the address */
  .centre-location__info {
    /* Needs a tighter line-height than the default */
    @include font-size(14, 1.4);

    @include respond-min($lap-lrg) {
      @include to-rem(top, $spacing-half);
      @include to-rem(left, $spacing-half);
      position: absolute;
      width: 400px;
    }

    /* The address of the centre */
    p {@include to-rem(margin-bottom, $spacing-sixth);}
  }
  