/* ======================================================================================
   @MODULES -> DEAL MAIN
   ====================================================================================== */

/*
	Usage:
		Main deal details.

	Note:
		Deal details can be shown via two different modules: 'Tile' and 'Deal Main', 'Deal Main' is used in the 'Deal Detail View' but may appear elsewhere.

	Demo:
		Style Guide -> Modules -> Deal main
*/

.deal-main {
	@include to-rem(min-height, 316);
	@include to-rem(padding, 88 $spacing-base);

	/* Deal title */
	.hn {
		font-family: $font-family-opensans;
		@include font-size(36);
		text-transform: uppercase;
		@include to-rem(margin-bottom, $spacing-third);
	}

	/* Deal meta */
	p {
		margin-bottom: 0;
		color: $color-light-txt;
		@include font-size($font-size-lrg, 1.5);

		/* Deal end date */
		span {display: block;}
	}
}