/* ======================================================================================
   @MODULES -> DEAL MAIN
   ====================================================================================== */

/*
	Main deal details. Deal details can be shown via two different modules: 'Tile' and 'Deal Main'. 'Deal Main' is used in the 'Deal Detail View' but may appear elsewhere.

	Styleguide Deal Main
*/

.deal-main {
	@include to-rem(min-height, 316);
	@include to-rem(padding, 88 $spacing-base);

	/* Old IE */
	@include old-ie {
		min-height: 0;
		@include to-rem(padding-top padding-bottom, 108);
	}
}

	/* Title */
	.deal-main__hdr {
		@include font-size(36);
		@include to-rem(margin-bottom, $spacing-third);
	}

	/* Meta (deal owner and end date) */
	.deal-main__meta {
		margin-bottom: 0;
		color: $color-txt-light;
		@include font-size($font-size-lrg, 1.5);

		/* End date */
		span {display: block;}
	}