/* ======================================================================================
   @MODULES -> DETAIL VIEW
   ====================================================================================== */

/*
  Usage:
    Detail views for 'Products', 'Events' and 'Deals'.

  Note:
    At desktop size the detail views go into a dialog.

  Demo:
    Style Guide -> Modules -> Detail View
*/

.detail-view {
  @include font-size($font-size-sml);

  /* Turn off shadow at this breakpoint */
  @include respond-max($palm) {
    box-shadow: none;
  }

  /* Adjustments at this breakpoint */
  @include respond-min($non-palm) {
    @include font-size($font-size);
    width: 92%;
    @include to-rem(margin, $spacing-base auto);
  }

  /* --Set fixed widths for each detail view at these breakpoints-- */

  /* Event */
  @include respond-min($ipad-portrait) {
    &.detail-view--event {@include to-rem(width, 680);}
  }

  /* Deal */
  @include respond-min(826) {
    &.detail-view--deal {@include to-rem(width, 760);}
  }

  /* Product */
  @include respond-min(978) {
    &.detail-view--product {@include to-rem(width, 900);}
  }

  /* --Global rules-- */

  /* Off with bottom margins */
  p {margin-bottom: 0;}

  /* Headings */
  .hn {font-family: $font-family-opensans;}

}

  /* --Global-- */

  /* Headings */
  .detail-view__hdr {
    @include font-size(27, 1.2);
    @extend %mrg-base;
    color: $color-dark-txt;

    /* Increase text size at this breakpoint */
    @include respond-min($non-palm) {
      @include font-size(36, 1.2);
    }
  }

  .detail-view__hdr-sub {
    @include font-size(18, 1.3);
    @include to-rem(margin-bottom, $spacing-half);
    color: $color-light-txt;

    /* Increase text size at this breakpoint */
    @include respond-min($non-palm) {
      @include font-size(24, 1.5);
    }
  }

  /* --Dividing lines-- */
  .detail-view__divider,
  .detail-view__divider--top-btm,
  .detail-view__divider--palm,
  .detail-view__divider--top-non-palm {
    border-style: solid;
    border-color: $color-grey-1;
    border-bottom-width: 1px;
  }

  /* Top & bottom */
  .detail-view__divider--top-btm {border-top-width: 1px;}

  /* Top only */
  .detail-view__divider--top,
  .detail-view__divider--top-non-palm {border-width: 1px 0 0 0;}

  /* Dividers only at these breakpoints */
  @include respond-min($non-palm) {
    .detail-view__divider--palm {border-width: 0;}
  }

  @include respond-max($palm) {
    .detail-view__divider--top-non-palm {border-width: 0;}
  }

  /* Divider for columns at this breakpoint */
  @include respond-min($non-palm) {
    .detail-view__divider--col {position: relative;}

      .detail-view__divider--col-line {
        position: absolute;
        top: 0;
        background-color: $color-grey-1;
        width: 1px;
        height: 100%;

        /* Deal */
        .detail-view--deal & {left: 50%;}

        /* Product */
        .detail-view--product & {left: 60%;}
      }
  }

  /* Spacing */
  .detail-view__mrg-base {@extend %mrg-base;}

  .detail-view__mrg-half {@include to-rem(margin-bottom, $spacing-half);}

  .detail-view__mrg-off {margin-bottom: 0;}

  /* Description */
  .detail-view__desc p {
    @include to-rem(margin-bottom, $spacing-half);
    line-height: 1.6;

    /* Turn off for last child */
    &:last-child {margin-bottom: 0;}
  }

    /* Fine print */
    .detail-view__desc--fine-print {@include font-size($font-size-milli, 1.5);}

  /* Subtle text */
  .detail-view__subtle-txt {color: $color-light-txt;}

  /* Check store availability */
  .detail-view__check-avble {

    .detail-view__subtle-txt {@include font-size($font-size-sml);}

    /* Phone no + icon */
    em {
      @include font-size($font-size-lrg);
      display: block;

      /* Make inline and create left spacing at this breakpoint */
      @include respond-min(900) {
        display: inline;
        @include to-rem(margin-left, $spacing-base);
      }
    }
  }

  /* Centres list ('Also available at') */
  @include respond-max($palm) {
    .detail-view__centres {@include to-rem(margin-top, $spacing-sixth);}
  }

  /* --Controls-- */
  .detail-view__controls {

    /* Horizontal list */
    > .horiz-list {

      /* Adjustments at this breakpoint */
      @include respond-min($non-palm) {
        text-align: left;
      }

        > li {
          border-color: $color-grey-1;
          width: 50%;

          /* Change display at this breakpoint */
          @include respond-min($non-palm) {
            display: inline-block;
            width: auto;

            /* Add right border for last child */
            &:last-child {border-right: 1px solid $color-grey-1;}
          }
        }
      }

        /* Buttons */
        .controls__btn {
          display: inline-block;
          width: 100%;
          @include to-rem(padding, 12 $spacing-base+$spacing-half 11);
          @include font-size($font-size-sml, 1);

          /* Hover/focus states */
          &:hover,
          &:focus {
            &,
            .icon:before {color: $color-light-txt;}
          }

          /* Saved state for 'Save' button */
          &.is-saved {
            &,
            .icon:before {color: $color-brand;}
          }

            /* Icon */
            .icon:before {@extend %transition-subtle;}

            /* Webkit */
            @include target-webkit {
              .icon--share:before {top: -2px;}
            }
        }
  }

    /*.detail-view__controls__button--close {
      border: 0;
      background-color: black;
      color: white;
      float: right;
      border-bottom: 1px solid black;
      display: none;
      @include to-rem(width, 40);
      @include to-rem(padding, $spacing-half);

      @include respond-min($non-palm) {
        display: block;
      }
    }*/

  /* --Variations-- */

  /* Deal */
  .detail-view--deal {

    /* Faux columns applied to the grid */
    .grid {background-color: $color-off-white;}

      .grid__item:first-child {background-color: #fff;}

    /* Adjustment for the `.box--torn` abstraction so the torn paper bg image aligns with left/right borders */
    .box--torn {
      margin-left: -1px;
      margin-right: -1px;
    }

    /* Toggle content plugin adjustments */
    .toggle-content,
    .toggle-content--btn {@include to-rem(margin-top, $spacing-base);}

    .btn--expand-collapse {
      @include to-em(padding-top, $spacing-half);
      border-top: 0;
      box-shadow: inset 0 5px 5px -5px rgba(#000, 0.4);

      /* Old IE */
      @include old-ie {
        border-top: 1px solid $color-grey-1;
      }
    }
  }

  /* Product */
  .detail-view--product {

    /* Meta */
    .detail-view__meta em {
      display: block;
      @include font-size(18, 1.3);

      /* Sale price */
      &.detail-view__meta__sale-price {
        color: $color-brand;

        span {
          color: $color-dark-txt;
          text-decoration: line-through;
        }
      }
    }

  }

  /* Event */
  .detail-view--event {

    /* Schedule */
    .detail-view__schedule {
      @include to-rem(padding-bottom, 40);
    }

    /* Meta */
    .detail-view__meta li {
      width: 50%;
      @include to-rem(padding-right, $spacing-half);

      /* Turn off for last child */
      &:last-child {
        padding-right: 0;
        text-align: right;
      }
    }

  }