/* ======================================================================================
   @MODULES -> DROP DOWN MENU
   ====================================================================================== */

/*
  Usage:
    Common styles for a drop down menu.

  Note:
    -  Uses the 'Angular toggle visibility' plugin.
    -  Requires the 'Drop down' abstraction.
    -  A lot of these styles flow into the 'Filters' module.

  Demo:
    Style Guide -> Modules -> Drop Down Menu
*/

.drop-down-menu {

  /* Trigger - apply more top/bottom padding than `.btn--main` */
  .drop-down-menu__trigger {@include to-em(padding-top padding-bottom, $spacing-half+$spacing-micro);}

  /* 'Apply' button (used on multi-facet lists) */
  .drop-down-menu__apply {
    position: absolute;
    @include to-rem(right, $spacing-half);
    @include to-rem(top, 5);
    @include to-em(padding, $spacing-half $spacing-base);

    /* Webkit */
    @include target-webkit {
      @include to-rem(top, 4.5);
    }
  }

  /* --Global rules-- */

  /* Form elements */
  label,
  input[type="checkbox"] {vertical-align: middle;}

  input[type="checkbox"] {@include to-rem(margin-right, $spacing-quarter);}
}

  /* Target (drop down) */
  .drop-down-menu__target {
    @include font-size($font-size-sml);
    width: 100%;
    @include to-rem(margin-top, 10);

    /* Override default width for palm at this breakpoint */
    @include respond-max($palm) {
      &.drop-down-menu__target--alt-width-palm {@include to-rem(width, $drop-down-width);}
    }

    /* Reduce widths at this breakpoint */
    @include respond-min($iphone-landscape) {
      /* Default version */
      @include to-rem(width, $drop-down-width);

      /* Alternative version */
      .drop-down-menu--alt & {@include to-rem(width, 170);}
    }

    /* Reduce the top margin for IE 9/8 */
    .ie-9 &,
    .old-ie & {@include to-rem(margin-top, 4);}

    /* Old IE */
    @include old-ie {
      border: 1px solid $color-grey-3;
      border-bottom-width: 2px;
    }

    /* Hover version */
    .drop-down-container--hover & {@include to-rem(margin-top, -4);}

    /* Shared rules */
    .drop-down-menu__hdr,
    .drop-down-menu__hdr-sub {font-weight: normal;}

    /* Header */
    .drop-down-menu__hdr {
      position: relative;
      text-align: center;
      color: $color-light-txt;

      /* Header text */
      h3 {
        display: inline;
        @include font-size($font-size-sml);
      }

      /* Back button */
      .btn {
        position: absolute;
        top: 50%;
        left: 0;
        @include translate(0, -50%);
        @include to-rem(padding, $spacing-half);
      }
    }

    /* Header button */
    .drop-down-menu__hdr-btn.btn {
      @include to-rem(padding, $spacing-half);

      /* Forward indicator (arrow icon) */
      .icon.btn--pointer__icon {@include to-rem(right, $spacing-half);}
    }

    /* Sub header */
    .drop-down-menu__hdr-sub {
      color: $color-light-txt;
      @include to-rem(padding-top padding-bottom, $spacing-micro);
      @include to-rem(padding-left padding-right, $spacing-half);
    }

    /* Alternative header */
    .drop-down-menu__hdr-alt {
      @include font-size($font-size);
      font-weight: bold;
      border-bottom: 1px solid $color-grey-1;
      @include to-rem(padding-bottom, $spacing-third);
      @include to-rem(margin-bottom, $spacing-third+$spacing-quarter);
    }

    /* Divider */
    .drop-down-menu__divider {border-bottom: 1px solid $color-grey-1;}
  }

    /* Drop down pointer arrow (inc. for 'Filters' and 'Header menu' module) */
    .drop-down-menu__target:before,
    .drop-down-menu__target .filters__target:before,
    .header-menu-toggle:before,
    .nav-social-tertiary-container:before, {
      pointer-events: none;
      display: block;
      position: absolute;
      z-index: $z-index-high+1;
      left: 10px;
      top: -9px;
      font-size: 26px;
      line-height: 11px;
      height: 11px;
      overflow: hidden;
      color: #fff;
      text-shadow: 0 -2px rgba(#e5e5e5, 0.9);

      /* iOS */
      .ios & {top: -10px;}

      /* IE 10 */
      @include ie-10-up {
        top: -8px;
      }

      /* Hide for IE 9/8 */
      .ie-9 &,
      .old-ie & {display: none;}
    }

    /* List */
    .drop-down-menu__list {
      position: relative;
      z-index: $z-index-high+2;
      max-height: $drop-down-max-height;
      overflow-y: auto;

      /* iOS/Android */
      .ios &,
      .android & {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
      }

      /* List items */
      > li,
      > dd {

        /* Turn off border for last child */
        &:last-child {border-bottom: 0;}

        /* Apply 'Islet' padding and default colour to buttons */
        .btn--full {
          color: $color-base-txt;
          @include to-rem(padding, $spacing-half);

          /* Hover and focus states, need to increase the specificity so as to override hover/focus styles from any outer modules */
          .drop-down-menu &:hover,
          .drop-down-menu &:focus {color: $color-link;}
        }
      }

      /* Truncate `label`s */
      label.txt-truncate {
        display: inline-block;
        /* Need to override the helper class `!important` keyword */
        max-width: 90% !important;
      }
    }

    /* Alternative list, need to increase the specificity so as to override hover/focus styles from any outer modules */
    .drop-down-menu .drop-down-menu__list-alt > li {
      @include to-rem(margin-top, $spacing-third);

      &:first-child {margin-top: 0;}

      /* Links */
      a {
        display: block;
        color: $color-light-txt;

        /* Hover and focus states */
        &:hover,
        &:focus {color: $color-link;}
      }
    }

    /* Range */
    .drop-down-menu__range {
      position: relative;

      /* Old IE */
      @include old-ie {
        width: 100%;
      }
    }

      /* Range inputs - position them side by side */
      .drop-down-menu__range__input {
        width: 40%;
        float: left;
        position: relative;

        /* '$' sign */
        span {
          position: absolute;
          /* These rules are matching some of the rules of base text inputs mainly `padding` to keep spacing consistent */
          @include to-rem(left, $spacing-half);
          @include to-rem(top, $spacing-third + 1);
          line-height: normal;
        }

        /* Text input */
        .txt-input {@include to-rem(padding-left, $spacing-half+$spacing-third);}
      }

      /* Last range input */
      .drop-down-menu__range__input--last {float: right;}

      /* 'To' label - sits in the middle of the range inputs */
      .drop-down-menu__range__lbl {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);

        /* Old IE */
        @include old-ie {
          @include to-rem(margin-top, -10);
          @include to-rem(margin-left, -5);
        }
      }