/* ======================================================================================
   @MODULES -> FILTERS
   ====================================================================================== */

/*
  Usage:
    Filters and sorting.

  Note:
    A lot of styles are being used from the 'Drop down menu' module.

  Demo:
    Style Guide -> Modules -> Filters
*/

.filters {

  /* --Overrides for 'Drop down' module-- */

  /* Turn off the drop down hidden rules and 'box' treatment for drop down target at this breakpoint */
  @include respond-min($non-palm) {
    .drop-down-menu__target {
      display: block;
      position: static;
      background: none;
      box-shadow: none;

      /* Hide the arrow pointer from 'Drop down' module */
      > .arrow {display: none;}
    }
  }

  /* 'On sale' toggle */
  .filters__sale {
    @extend .islet;
    @extend %transition-subtle;

    /* Turn off hover state at this breakpoint */
    @include respond-max($palm) {
      &:hover {background: none;}
    }

    /* Change top/bottom padding at this breakpoint */
    @include respond-min($non-palm) {
      @include to-em(padding-top padding-bottom, $spacing-half+1.5);
    }
  }
}

/* --Extenders-- */

/* When used for pin board */
.filters--pin-board {
  position: relative;
  @include to-rem(margin-top, $spacing-half);

  /* Increase top margin at this breakpoint */
  @include respond-min($non-palm) {
    @include to-rem(margin-top, $spacing-base);
  }
}

  /* Throw list into horizontal mode at this breakpoint */
  @include respond-min($non-palm) {
    .filters__list > li {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      @include to-rem(margin-right, $spacing-micro);

      /* Turn off right margin for last child */
      &:last-child {margin-right: 0;}

      /* Old IE */
      @include old-ie {
        @include to-rem(margin-right, $spacing-quarter);
      }
    }

      /* Filters target (drop down) */
      .filters__target {
        @include drop-down;
        @include box;
        @include to-rem(width, 285);
        @include to-rem(margin-top, 10.5);

        /* Drop down pointer arrow */
        > .arrow {border-bottom-color: $color-off-white;}
      }
  }

    /* Filter trigger (drop down trigger) - we need to toggle the display of the triggers between viewports as we have 2 triggers for each */
    .filters__trigger {

      &.hide-fully--palm {display: none !important;}

      @include respond-min($non-palm) {
        &.hide-fully--non-palm {display: none !important;}

        &.hide-fully--palm {display: block !important;}
      }
    }

  /* Sort */
  .filters__sort-options {
    @include font-size($font-size-sml);
    position: absolute;
    top: 0;
    right: 0;
  }