/* ======================================================================================
   @MODULES -> FINE PRINT
   ====================================================================================== */

/*
  For fine print text such as terms and conditions.

  .fine-print--center   - Centre aligns the text

  Styleguide Fine Print
*/

.fine-print {
  @include font-size($font-size-milli);
  font-style: italic;
}

/* Modifier: centre aligns the text */
.fine-print--center {
  /* Need this as it's most likely we'll apply to a `small` element */
  display: block;
  text-align: center;
}