/* ======================================================================================
   @ABSTRACTIONS -> FINE PRINT
   ====================================================================================== */

/*
  Usage:
    For fine print text such as terms and conditions

  Demo:
    Style Guide -> Abstractions -> Fine Print
*/

.fine-print {
  @include to-rem(font-size, $font-size-milli);
  font-style: italic;
}

/* --Extenders-- */

/* Centre aligns the text */
.fine-print--center {
  /* Need this as it's most likely we'll apply the classes to a <small> element */
  display: block;
  text-align: center;
}