/* ======================================================================================
   @MODULES -> FINE PRINT
   ====================================================================================== */

/*
  Usage:
    For fine print text such as terms and conditions.

  Demo:
    Style Guide -> Modules -> Fine Print
*/

.fine-print {
  @include font-size($font-size-milli);
  font-style: italic;
}

/* Extend: centre aligns the text */
.fine-print--center {
  /* Need this as it's most likely we'll apply to a `small` element */
  display: block;
  text-align: center;
}