/* ======================================================================================
   @MODULES -> GALLERY
   ====================================================================================== */

/*
  Usage:
    Creates a gallery of rotating images

  Demo:
    Style Guide -> Modules -> Gallery
*/

.gallery {
  position: relative;
}

  .gallery__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    /* IE8 will just ignore this rule so will always show the image */
    opacity: 0;

    /* IE8 will just ignore this rule */
    &:first-of-type {opacity: 1;}
  }

@include gallery($item-count: 2, $display-duration: 8, $transition-duration: 2);