/* ======================================================================================
   @MODULES -> HERO
   ====================================================================================== */

/*
  This is used to create a full width hero image with text on top, typically used for sub pages.

  Styleguide Hero
*/

.hero {
  @include to-rem(height, 220);
  @include to-rem(margin-bottom, $spacing-base);
  color: #fff;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;

  @include respond-min($non-palm) {
    @include to-rem(height, 300);
    @include to-rem(margin-bottom, $spacing-base+$spacing-half);
  }

  .hero__icon,
  h1 {
    display: block;

    /* Horizontally align them at this breakpoint */
    @include respond-min($non-palm) {
      display: inline-block;
      vertical-align: middle;
    }
  }

  /* Hero icon */
  .hero__icon:before {
    @include font-size($font-size-deca, 1);
    @include to-rem(margin-bottom, $spacing-sixth);

    @include respond-min($iphone-landscape) {
      @include font-size(40, 1);
    }

    @include respond-min($non-palm) {
      @include font-size(50, 1);
      @include to-rem(margin-right, $spacing-base);
      margin-bottom: 0;
      @include to-rem(top, 2);
    }
  }

  /* Hero heading */
  h1 {
    text-transform: uppercase;
    @include font-size($font-size-deca);

    @include respond-min($iphone-landscape) {
      @include font-size(40);
    }

    @include respond-min($non-palm) {
      @include font-size(60);
    }
  }
}

  /* Hero inner */
  @include respond-min($lap-lrg) {
    .hero__inner {text-align: left;}
  }

    /* Hero intro - wrapper around content that comes under the hero heading */
    .hero__intro {
      @include to-rem(margin-top, $spacing-half);

      @include respond-min($non-palm) {
        @include to-rem(margin-top, $spacing-base);
      }
    }