/* ======================================================================================
   @MODULES -> HERO
   ====================================================================================== */

/*
  Usage:
    This is used to create a full width hero image with text on top, typically used for sub pages.

  Demo:
    Style Guide -> Modules -> Hero
*/

.hero {
  @include to-rem(height, 220);
  @include to-rem(margin-bottom, $spacing-base);
  color: #fff;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;

  /* Increase height and bottom margin at this breakpoint */
  @include respond-min($non-palm) {
    @include to-rem(height, 300);
    @include to-rem(margin-bottom, $spacing-base+$spacing-half);
  }

  /* Old IE */
  @include old-ie {
    background-position: 50% 50%;
  }

  .hero__icon,
  h1 {
    display: block;

    /* Set them as `inline-block` at this breakpoint */
    @include respond-min($non-palm) {
      display: inline-block;
      vertical-align: middle;
    }
  }

  /* Hero icon next to the heading */
  .hero__icon:before {
    @include font-size(30, 1);

    @include respond-min($non-palm) {
      @include font-size(50, 1);
      /* Add `margin-right` as the icon is aligned next to the `h1` at this breakpoint */
      @include to-em(margin-right, $spacing-third);
    }
  }

  /* Hero heading */
  h1 {
    text-transform: uppercase;
    @include font-size(30);

    @include respond-min($non-palm) {
      @include font-size(60);
    }
  }
}

  /* Hero inner */
  @include respond-min($lap-lrg) {
    .hero__inner {text-align: left;}
  }

    /* Hero intro - wrapper around content that comes under the hero heading */
    .hero__intro {
      @include to-rem(margin-top, $spacing-half);

      @include respond-min($non-palm) {
        @include to-rem(margin-top, $spacing-base);
      }
    }