/* ======================================================================================
   @MODULES -> HERO
   ====================================================================================== */

/*
  Usage:
    This is used to create a full width hero image with text on top.

  Demo:
    Style Guide -> Modules -> Hero
*/

.hero {
  @include to-rem(height, 220);
  @include to-rem(margin-bottom, $spacing-base);
  color: #fff;

  @include respond-min($non-palm) {
    @include to-rem(height, 300);
    @include to-rem(margin-bottom, $spacing-dbl);
  }
}

  .hero__inner {
    position: relative;

    @include respond-min($lap-lrg) {
      text-align: left;
    }
  }

    /* Shared styles */
    .hero__icon,
    h1 {
      display: inline-block;
      vertical-align: middle;
    }

    /* Hero icon next to the heading   */
    .hero__icon {
      @include font-size(30, 1);

      @include respond-min($non-palm) {
        @include font-size(50, 1);
      }
    }

    /* Hero heading */
    h1 {
      text-transform: uppercase;
      @include font-size(30);

      @include respond-min($non-palm) {
        @include font-size(60);
      }
    }