/* ======================================================================================
   @MODULES -> ICON
   ====================================================================================== */

/*
	Applies an icon font and nothing else (similar to the sprite module).
*/

.icon:before,
/*
  Note: these pseudo elements are to render the 'Drop down menu' / 'Micello map' arrow pointers as they use an icon font (`@extend` isn't suitable for this)
*/
/* 'Drop down menu' */
.pointer-up:before,
/* 'Micello map' */
.menuTip:after,
#ui-levels-arrow-up:before,
#ui-levels-arrow-down:before {
	@extend %sprite-icon;
	speak: none;
	font-family: "icons";
  font-style: normal;
  font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
}

/* Set icons */

/* Store */
.icon--store:before {content: "\e002";}

/* Products */
.icon--product:before {content: "\e000";}

/* Deals */
.icon--deal:before {content: "\e001";}

/* Events */
.icon--event:before {content: "\e003";}

/* Favourites */
.icon--fav:before {content: "\e030";}

/* Search */
.icon--search:before {content: "\e014";}

/* Dining */
.icon--dining:before {content: "\e00c";}

/* Share */
.icon--share:before {content: "\e026";}

/* Information */
.icon--info:before {content: "\e01d";}

/* Pin */
.icon--pin:before {content: "\e01e";}

/* Map */
.icon--map:before {content: "\e01f";}

/* Map 2 */
.icon--map2:before {content: "\e029";}

/* Location */
.icon--location:before {content: "\e00d";}

/* Video */
.icon--video:before {content: "\e004";}

/* User */
.icon--user:before {content: "\e02a";}

/* Phone */
.icon--phone:before {content: "\e005";}

/* Phone2 */
.icon--phone2:before {content: "\e006";}

/* Hours */
.icon--hours:before {content: "\e021";}

/* Keyword filter */
.icon--keyword-filter:before {content: "\e00e";}

/* List */
.icon--list:before {content: "\e02b";}

/* Comment */
.icon--comment:before {content: "\e010";}

/* Email */
.icon--email:before {content: "\e020";}

/* External link */
.icon--external-link:before {content: "\f08e";}

/* Collection */
.icon--collection:before {content: "\e03f";}

/* Curation */
.icon--curation:before {content: "\e03e";}

/* Twitter */
.icon--twitter:before {content: "\e022";}

/* Facebook */
.icon--facebook:before {content: "\e023";}

/* Google + */
.icon--google-plus:before {content: "\e025";}

/* Pinterest */
.icon--pinterest:before {content: "\e024";}

/* Instagram */
.icon--instagram:before {content: "\e032";}

/* YouTube */
.icon--youtube:before {content: "\e033";}

/* Close large */
.icon--close-lrg:before {content: "\e00f";}

/* Close small */
.icon--close-sml:before {content: "\e011";}

/* Close full */
.icon--close-full:before {content: "\e028";}

/* Tick */
.icon--tick:before {content: "\e012";}

/* Tick full */
.icon--tick-full:before {content: "\e027";}

/* Service */
.icon--service:before {content: "\e02f";}

/* Ellipses horizontal */
.icon--ellipsis-horizontal:before {content: "\e034";}

/* Ellipses vertical */
.icon--ellipsis-vertical:before {content: "\e035";}

/* Plus */
.icon--plus:before {content: "\e036";}

/* PDF */
.icon--pdf:before {content: "\e037";}

/* Gift card */
.icon--gift-card:before {
  content: "\e038";
  color: $color-brand;
}

/* Shirt */
.icon--shirt:before {content: "\e03b";}

/* Play */
.icon--play:before {content: "\e03c";}

/* Megaphone */
.icon--megaphone:before {content: "\e03d";}

/* Arrow up */
.icon--arrow-up:before {content: "\e018";}

/* Arrow down */
.icon--arrow-down:before {content: "\e017";}

/* Arrow left */
.icon--arrow-left:before {content: "\e016";}

/* Arrow right */
.icon--arrow-right:before {content: "\e015";}

/* Arrow big up */
.icon--arrow-up-big:before {content: "\e01b";}

/* Arrow big down */
.icon--arrow-down-big:before {content: "\e01a";}

/* Arrow big left */
.icon--arrow-left-big:before {content: "\e019";}

/* Arrow big right */
.icon--arrow-right-big:before {content: "\e01c";}

/* Arrow full up */
.icon--arrow-up-full:before,
/*
  These pseudo elements are to render the 'Drop down menu' / 'Micello map' arrow pointers as they use an icon font (`@extend` isn't suitable for this)
*/
/* 'Drop down menu' */
.pointer-up:before,
/* 'Micello map' */
#ui-levels-arrow-up:before {content: "\e00b";}

/* Arrow full down */
.icon--arrow-down-full:before,
/*
  Note: these pseudo elements are to render the 'Micello map' arrow pointers as they use an icon font (`@extend` isn't suitable for this)
*/
.menuTip:after,
#ui-levels-arrow-down:before {content: "\e00a";}

/* Arrow full left */
.icon--arrow-left-full:before {content: "\e008";}

/* Arrow full right */
.icon--arrow-right-full:before {content: "\e009";}

/* Arrow double up */
.icon--arrow-up-dbl:before {content: "\e02c";}

/* Arrow double down */
.icon--arrow-down-dbl:before {content: "\e02d";}

/* Arrow opposites */
.icon--arrow-opposites:before {content: "\e007";}

/* Modifiers */

/* Modifier: apply some spacing between the icon element and adjacent text */
.icon--spacing:before {margin-right: to-em($spacing-sixth);}

.icon--spacing-lrg:before {margin-right: to-em($spacing-third);}

/* Modifier: remove the negative 1px top positiong */
.icon--flush-top:before {position: static;}

/* Firefox */
@include target-mozilla {
	.icon--flush-top-mozilla:before {position: static;}
}

/* Modifier: fixed width */
.icon--fixed-width:before {
	width: 1em;
	text-align: center;
}

/* Modifier: small */
.icon--sml:before {@include font-size($font-size-sml, 1);}

/* Modifier: large */
.icon--lrg:before {@include font-size($font-size-lrg, 1);}

.icon--lrger:before {@include font-size($font-size-lrger, 1);}

.icon--xlrg:before {@include font-size($font-size-xlrg, 1);}

/* Modifier: extra large */
.icon--giga:before {@include font-size($font-size-giga, 1);}

.icon--kilo:before {@include font-size($font-size-kilo, 1);}

.icon--hecto:before {@include font-size($font-size-hecto, 1);}

@include respond-min($non-palm) {
  .icon--hecto-non-palm:before {@include font-size($font-size-hecto, 1);}
}

.icon--deca:before {@include font-size($font-size-deca, 1);}

/* Modifier: restore base font size */
.icon--base-size:before {font-size: inherit;}

/* Modifier: restore base text colour */
.icon--base-color:before {color: $color-txt-base;}