/* ======================================================================================
   @MODULES -> ICON
   ====================================================================================== */

/*
	Usage:
		Applies an icon font and nothing else (similar to the sprite module).

	Demo:
		Style Guide -> Modules -> Icon
*/

.icon:before {
	@extend %sprite-icon;
	speak: none;
	font-family: "icons";
  font-style: normal;
  font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
}

/* --Set icons-- */

/* Store */
.icon--store:before {content: "\e815";}

/* Products */
.icon--products:before {content: "\e816";}

/* Deals */
.icon--deals:before {content: "\e813";}

/* Events */
.icon--events:before {content: "\e814";}

/* Favourites */
.icon--favs:before {content: "\e811";}

/* Favourites 2 */
.icon--favs2:before {content: "\e81b";}

/* Tag */
.icon--tag:before {content: "\e810";}

/* Search */
.icon--search:before {content: "\e812";}

/* Search 2 */
.icon--search2:before {content: "\e804";}

/* Dining */
.icon--dining:before {content: "\e803";}

/* Share */
.icon--share:before {content: "\e808";}

/* Information */
.icon--info:before {content: "\e807";}

/* Pin */
.icon--pin:before {content: "\e809";}

/* Map */
.icon--map:before {content: "\e80a";}

/* Video */
.icon--video:before {content: "\e800";}

/* User */
.icon--user:before {content: "\e805";}

/* Phone */
.icon--phone:before {content: "\e801";}

/* Hours */
.icon--hours:before {content: "\e80b";}

/* Signout */
.icon--signout:before {content: "\e802";}

/* Twitter */
.icon--twitter:before {content: "\e822";}

/* Facebook */
.icon--facebook:before {content: "\e81d";}

/* Google + */
.icon--google-plus:before {content: "\e820";}

/* Pinterest */
.icon--pinterest:before {content: "\e821";}

/* Comment */
.icon--comment:before {content: "\e818";}

/* Email */
.icon--email:before {content: "\e823";}

/* Close large */
.icon--close-lrg:before {content: "\e817";}

/* Close small */
.icon--close-sml:before {content: "\e806";}

/* Close full */
.icon--close-full:before {content: "\e81f";}

/* Tick */
.icon--tick:before {content: "\e81c";}

/* Tick full */
.icon--tick-full:before {content: "\e81e";}

/* Arrow down */
.icon--arrow-down:before {content: "\e80c";}

/* Arrow right */
.icon--arrow-right:before {content: "\e80d";}

/* Arrow big left */
.icon--arrow-left-big:before {content: "\e80e";}

/* Arrow big right */
.icon--arrow-right-big:before {content: "\e80f";}

/* Arrow down full */
.icon--arrow-down-full:before {content: "\e819";}

/* Arrow down right */
.icon--arrow-right-full:before {content: "\e81a";}

/* --Extenders-- */

/* Apply some spacing between the icon element and adjacent text */
.icon--spacing:before {margin-right: to-em($spacing-sixth);}

.icon--spacing-lrg:before {margin-right: to-em($spacing-third);}

/* Remove the negative 1px top positiong */
.icon--flush-top:before {position: static;}

/* Fixed width */
.icon--fixed-width:before {
	width: 1em;
	text-align: center;
}

/* -Alternate sizes- */

/* Small */
.icon--sml:before {@include font-size($font-size-sml, 1);}

/* Large */
.icon--lrg:before {@include font-size($font-size-lrg, 1);}

.icon--xlrg:before {@include font-size(18, 1);}

/* Extra large */
.icon--giga:before {@include font-size(48, 1);}

.icon--mega:before {@include font-size(30, 1);}

.icon--kilo:before {@include font-size(24, 1);}

/* Default */
.icon--default:before {font-size: inherit;}