/* ======================================================================================
   @MODULES -> NAV CONTEXTUAL
   ====================================================================================== */

/*
  Usage:
    Generic contextual nav that can be scrolled horizontally when it needs to be i.e. when there isn't enough screen real estate.

  Notes:
    To apply the horizontal scroll functionality append the relevant JS hooks, see the JS file: 'javascripts/jquery-extensions/jquery.nav-contextual.coffee'.

  Demo:
    Style Guide -> Modules -> Nav Contextual
*/

.nav-contextual {
  position: relative;
  @extend %mrg-base;
  border-bottom: 1px solid $color-grey-1;
}

/* Shared rules */
.nav-contextual__clip__overlay:before,
.nav-contextual__list > li > a {color: $color-light-txt;}

  /* Clip scrollable content */
  .nav-contextual__clip {
    /* Make space for the arrow on the right, the spacing needs to be smaller than `.nav-contextual__clip__overlay` */
    .is-clipped & {@include to-rem(margin-right, $spacing-base);}
  }

    .nav-contextual__clip__inner {
      /* To make the UI load more gracefully (prevent scrollbar appearing) whilst waiting for the JS to load */
      overflow: hidden;

      /* Allows scrolling of the list of links when JS detects that the width of `.nav-contextual__list` is wider than `.nav-contextual__clip__inner` */
      .is-clipped & {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
      }

      /* Non JS users */
      .no-js & {overflow-x: auto;}
    }

    /* Gradient that fades out the right side of the links and the scrolling indicator */
    .nav-contextual__clip__overlay {

      /* Shared rules */
      &,
      &:before {
        position: absolute;
        right: 0;
      }

      pointer-events: none;
      top: 0;
      height: 100%;
      @include to-rem(padding-left, $spacing-dbl);
      @include linear-gradient($from: rgba($color-grey-3, 0) 0%, $to: rgba($color-grey-3, 1) 50%, $dir: right, $dir-webkit: left);

      /* Hide the overlay by default */
      display: none;

      /* Show the overlay when JS detects that the width of `.nav-contextual__list` is wider than `.nav-contextual__clip__inner` */
      .is-clipped & {display: block;}

      /* Arrow icon - scrolling indicator */
      &:before {
        top: 50%;
        @include translate(28%, -50%);
      }
    }

    /* List of nav items */
    .nav-contextual__list {
      /* To make the UI load more gracefully (prevent `li`s wrapping) whilst waiting for the JS to load */
      width: 10000px;

      /* Non JS users */
      .no-js & {width: auto;}

      > li {
        @include to-rem(margin-left, $spacing-base);

        &:first-child {margin-left: 0;}

        /* Links */
        > a {
          @include to-rem(padding-top padding-bottom, $spacing-half);
          border-bottom: 2px solid transparent;

          /* Increase the top/bottom padding at this breakpoint */
          @include respond-min($non-palm) {
            @include to-rem(padding-top padding-bottom, $spacing-base);
          }

          /* Hover and focus states */
          &:hover,
          &:focus {color: $color-link-hover;}

          /* When the nav item is the selected section */
          &.is-active {border-bottom-color: $color-brand;}
        }

        /* Highlight parent item (`li`) for when hover drop downs are in view and apply link hover/focus/active states */
        &:hover > a,
        > a:hover,
        > a:focus {color: $color-link-hover;}
      }
    }

/* Extend: dark color */
.nav-contextual--dark {

  /* Highlight parent item (`li`) for when hover drop downs are in view and apply link hover/focus/active states */
  .nav-contextual__list > li  {
    &:hover > a,
    > a:hover,
    > a:focus,
    > .is-active {color: #fff;}
  }

  /* Gradient that fades out the right side of the links and the scrolling indicator */
  .nav-contextual__clip__overlay {@include linear-gradient($from: rgba($color-med-txt, 0) 0%, $to: rgba($color-med-txt, 1) 50%, $dir: right, $dir-webkit: left)}
}