/* ======================================================================================
   @MODULES -> NAV CONTEXTUAL
   ====================================================================================== */

/*
  Generic contextual nav that can be scrolled horizontally when it needs to be i.e. when there isn't enough screen real estate.

  .nav-contextual--dark       - Dark colour

  Styleguide Nav Contextual
*/

/*
  Note: To apply the horizontal scroll functionality append the relevant JS hooks, see the JS file: 'jquery.nav-contextual.coffee'.
*/

.nav-contextual {
  @extend %mrg-base;
  position: relative;
  border-bottom: 1px solid $color-grey-med-3;

  /* Indent any hovered drop downs so it aligns flush to the left edge of the anchor text */
  .drop-down-container--hover .drop-down {@include to-rem(left, $spacing-half);}
}

  /* Clip scrollable content */
  .nav-contextual__clip {
    /* Make space for the arrow on the right, the spacing needs to be smaller than `.nav-contextual__clip__overlay` */
    .is-clipped & {@include to-rem(margin-right, $spacing-base);}
  }

    .nav-contextual__clip__inner {
      /* To make the UI load more gracefully (prevent scrollbar appearing) whilst waiting for the JS to load */
      overflow: hidden;

      /*
        Allows scrolling of the list of links when JS detects that the width of `.nav-contextual__list` is wider than `.nav-contextual__clip__inner`.
      */
      .is-clipped & {overflow-x: scroll;}

      /*
        Add native scrolling effect in Webkit when `.nav-contextual` is in viewport. This is to fix the problem of `-webkit-overflow-scrolling` disabling the "tap on status bar to scroll to top" function in iOS.
      */
      .is-in-viewport &,
      /* We need this for navs that don't require the 'is in viewport' check */
      .nav-contextual--no-viewport-check & {-webkit-overflow-scrolling: touch;}

      /* Non JS users */
      .no-js & {overflow-x: auto;}
    }

    /* Gradient that fades out the right side of the links and the scrolling indicator */
    .nav-contextual__clip__overlay {

      &,
      &:before {
        position: absolute;
        right: 0;
      }

      pointer-events: none;
      top: 0;
      height: 100%;
      @include to-rem(padding-left, $spacing-dbl);
      @include linear-gradient($from: rgba($color-grey-light-2, 0) 0%,
                              $to: rgba($color-grey-light-2, 1) 50%,
                              $dir: right,
                              $dir-webkit: left);

      /* Hide the overlay by default */
      display: none;

      /*
        Show the overlay when JS detects that the width of `.nav-contextual__list` is wider than `.nav-contextual__clip__inner`.
      */
      .is-clipped & {display: block;}

      /* Arrow icon - scrolling indicator */
      &:before {
        top: 50%;
        @include translate(28%, -52%);
        color: $color-txt-light;
      }
    }

    /* List of nav items */
    .nav-contextual__list {
      /* To make the UI load more gracefully (prevent `li`s wrapping) whilst waiting for the JS to load */
      width: 10000px;

      /* Non JS users */
      .no-js & {width: auto;}

      > li {

        > a {
          @include to-rem(padding, $spacing-half);
          border-bottom: 2px solid transparent;

          @include respond-min($non-palm) {
            @include to-rem(padding-top padding-bottom, $spacing-base);
          }

          /* When the nav item is the selected section */
          &.is-active {border-bottom-color: $color-brand;}
        }

        /* Highlight parent item (`li`) for when hover drop downs are in view and apply link hover/focus/active states */
        &:hover > a,
        > a:hover,
        > a:focus,
        > a.is-active {color: $color-txt-dark;}
      }
    }

      /* Creates a divider on the left of the nav item, class should be added on `a` */
      .nav-contextual__divider {
        /* To compensate for the negative `margin-left` on `.nav-contextual__divider:before` */
        @include to-rem(margin-left, $spacing-base);

        /* The dividing line */
        &:before {
          content: "";
          /* Same border color as `.nav-contextual` */
          border-left: 1px solid $color-grey-med-3;
          /*
            Negative margin is needed to compensate for the `padding-left` so you won't get this gap on the anchor when it's highlighted.
          */
          @include to-rem(margin-left, -$spacing-base);
          @include to-rem(padding-left, $spacing-base);
        }
      }

/* Modifier: dark color */
.nav-contextual--dark {

  .nav-contextual__list > li  {

    a {color: $color-grey-med-2;}

    /* Highlight parent item (`li`) for when hover drop downs are in view and apply link hover/focus/active states */
    &:hover > a,
    > a:hover,
    > a:focus,
    > .is-active {color: #fff;}
  }

  /* Gradient that fades out the right side of the links and the scrolling indicator */
  .nav-contextual__clip__overlay {@include linear-gradient($from: rgba($color-grey-dark-3, 0) 0%,
                                                          $to: rgba($color-grey-dark-3, 1) 50%,
                                                          $dir: right,
                                                          $dir-webkit: left)}
}