/* ======================================================================================
   @MODULES -> NO CONTENT FALLBACK MESSAGE
   ====================================================================================== */

/*
  Fallback message when there is no content or search results.

  .no-content-fallback-msg--flush       - Remove top padding

  Styleguide No Content Fallback Message
*/

.no-content-fallback-msg {
  text-align: center;
  @include to-rem(padding-top, 62);

  @include respond-min($non-palm) {
    @include to-rem(padding-top, 118);
  }

  /* Set common colour */
  &,
  .icon:before {color: $color-txt-light;}

  em,
  span {display: block;}

  .no-content-fallback-msg__icon:before {
    @include font-size(48, 1);

    @include respond-min($non-palm) {
      @include font-size(60, 1);
    }
  }

  .drop-down-container {
    margin: 0 auto;
    @include to-rem(max-width, $drop-down-width);
  }

    /* 'No content/search results' text */
    em {
      text-transform: uppercase;
      @include font-size(22, 1.3);
      @include to-rem(margin-bottom, $spacing-third);
      @include to-rem(margin-top, $spacing-half);
    }

    /* 'See nearby centres' text */
    p > span {color: $color-txt-dark;}
}

/* Modifier: remove top padding */
.no-content-fallback-msg--flush {padding-top: 0;}