/* ======================================================================================
   @MODULES -> PAGINATION
   ====================================================================================== */

/*
	Usage:
		For paginating between many sets of pages e.g. search results. There's a lighter version (pager) which just renders the 'Prev' and 'Next' links.

	Demo:
		-	Style Guide -> Modules -> Pagination
		-	Style Guide -> Modules -> Pager
*/

.pagination {
	border: 1px solid $color-grey-lighter;
	border-radius: $border-radius;
	padding: to-em($spacing-third);
	text-align: center;

	/* Shared */
	li,
	a,
	.pagination__skip:before {display: inline-block;}

	/* Pagination items */
	li {
		@include to-em(margin, $spacing-sixth 0 $spacing-sixth $spacing-micro);

		/* Adjust margin at this breakpoint */
		@include respond-min($ipad-portrait) {
			@include to-em(margin, 0 0 0 $spacing-micro);
		}

		/* Turn off margin for first child */
		&:first-child {margin-left: 0;}
	}

		/* Links */
		a,
    .pagination__btn {
			@include to-em(padding, $spacing-micro $spacing-third);
			background-color: $color-grey-lightest;
			text-decoration: none; /* Note: this may be redundant? */
			border: 1px solid $color-grey-lighter;
			border-radius: $border-radius;

			/* Pseudo classes + active state */
			&:hover,
			&:focus,
			&.is-active {
				background-color: $color-grey-dark;
				border-color: $color-grey-darker;
				color: #fff;
			}
		}

		/* Pseudo elements - 'Previous' and 'Next' links */
    .pagination__btn[rel="prev"]:before,
    .pagination__btn[rel="next"]:after,
		a[rel="prev"]:before,
		a[rel="next"]:after {
			speak: none;
			vertical-align: top;
		}

		/* Previous - single left-pointing angle quotation mark */
    .pagination__btn[rel="prev"]:before,
		a[rel="prev"]:before {
			content: "\2039";
			margin-right: to-em($spacing-quarter);
		}

		/* Next - single right-pointing angle quotation mark */
    .pagination__btn[rel="next"]:after,
		a[rel="next"]:after {
			content: "\203a";
			margin-left: to-em($spacing-quarter);
		}
}

	/* Page count */
	.pagination__count {
		padding-right: to-em($spacing-sixth);

		/* Change the display at this breakpoint */
		@include respond-max($palm) {
			.pagination & {display: block;}
		}
	}

	/* Page jump - pseudo element - horizontal ellipsis glyph */
	.pagination__skip:before {
		content: "\2026";
		speak: none;
		margin-right: to-em($spacing-quarter);
		color: $color-grey;
		vertical-align: bottom;
	}

  /* */
  .pagination__prev { float: left; }
  .pagination__next { float: right; }