/* ======================================================================================
   @MODULES -> PAGER
   ====================================================================================== */

/*
	Usage:
		For paging between sets of pages via 'Prev' and 'Next' links, also includes a page count.

	Demo:
    Style Guide -> Modules -> Pager
*/

.pager {
	border-top: 1px solid $color-grey-med-3;
  @include to-rem(padding-top, $spacing-half);
  color: $color-txt-light;
  line-height: normal;

  /* Increase top padding at this breakpoint */
  @include respond-min($non-palm) {
    @include to-rem(padding-top, $spacing-base);
  }

  /* Prev and next */
  .btn--main {
    @include font-size($font-size, normal);
    position: absolute;
    top: 0;

    /* Old IE */
    @include old-ie {
      .btn--pointer__icon {top: 18%;}
    }
  }

    /* Arrow icons */
    .icon:before {@include font-size(20, 1);}
}

/* Modifier: pin board version */
.pager--pin-board {
  @include to-rem(margin-top, $spacing-base);
  /* Need a negative bottom margin to offset the bottom padding on the `body` to keep the spacing consistent with the top spacing */
  @include to-rem(margin-bottom, -$spacing-half);

  /* Increase top margin and remove negative bottom margin at this breakpoint */
  @include respond-min($non-palm) {
    @include to-rem(margin-top, $spacing-base);
    margin-bottom: 0;
  }
}

  /* Inner container */
  .pager__inner {
    position: relative;
    text-align: center;
  }

    /* Count */
    .pager__count {
      @include to-em(padding-top padding-bottom, $spacing-half);
      display: inline-block;

      /* Turn off bottom padding when they're no prev/next links */
      &:only-child {padding: 0;}
    }

    /* Prev */
    .pager__prev {
      left: 0;

      /* Position off-centre at this breakpoint */
      @include respond-min($non-palm) {
        left: 50%;
        @include to-rem(margin-left, -$spacing-dbl*4);
      }
    }

    /* Next */
    .pager__next {
      right: 0;

      /* Position off-centre at this breakpoint */
      @include respond-min($non-palm) {
        right: 50%;
        @include to-rem(margin-right, -$spacing-dbl*4);
      }
    }