/* ======================================================================================
   @MODULES -> Pill
   ====================================================================================== */

/*
  Usage:
    Create a pill like button but not limited to buttons.

  Demo:
    Style Guide -> Modules -> Pill
*/

.pill {
  @include to-rem(padding-left padding-right, $spacing-quarter);
  display: inline-block;
  vertical-align: middle;
  border-radius: $border-radius;
  background-color: #fff;
  box-shadow: $box-shadow;
  @include font-size($font-size-milli);
}

/* Modifier: apply spacing both sides */
.pill--spacing {@include to-rem(margin-left margin-right, $spacing-base);}