/* ======================================================================================
   @MODULES -> Pill
   ====================================================================================== */

/*
  Usage:
    This is used to create a pill

  Demo:
    Style Guide -> Modules -> Pill
*/

.pill {
  @include to-rem(padding, $spacing-quarter);
  border-radius: $border-radius;
  background-color: #fff;
  box-shadow: $box-shadow;
}

/* Apply spacing both sides */
.pill--spacing {@include to-rem(margin-left margin-right, $spacing-base);}