/* ======================================================================================
   @MODULES -> PRELOADER
   ====================================================================================== */

/*
	Usage:
		Provides feedback to the user letting them know that their action is being processed e.g. a form submission. It renders an animating spinner (light) but can also include a message with the spinner e.g. "Loading, please wait..." (full).

	Demo:
		Style Guide -> Modules -> Preloader
*/

.preloader {

	&,
	& * {display: inline-block;}

	& * {vertical-align: middle;}

	em {font-style: italic;}
}

/* Modifier: position the loader in the centre of it's parent */
.preloader--middle {
	position: absolute;
	z-index: 99;
	top: 50%;
	left: 50%;
	@include translate(-50%, -50%);

	/* Old IE */
	@include old-ie {
		&.preloader--light {margin: -20px 0 0 -20px;}
	}
}

/* Modifier: position the loader in the centre of it's parent */
.preloader--top {
	@include to-rem(top, $spacing-base);
	@include translate(-50%, 0);
}

	/* Spinner animation */
	.preloader--light,
	.preloader__spinner {
		width: 40px;
		height: 40px;
		overflow: hidden;
		border-radius: $border-radius;
		background: $color-grey-light-3 cloudinary-url("css/preloader.gif") no-repeat 50% 50%;
		@include img-2x("css/preloader@2x.gif", 24px, 24px);
	}

	/* Create some space between the spinner and the message */
	.preloader__spinner {margin-right: to-em($spacing-quarter);}

	/* Remove the spinner as it's parent has hijacked it's styles */
	.preloader--light .preloader__spinner {display: none;}