/* ======================================================================================
   @MODULES -> PRELOADER
   ====================================================================================== */

/*
  Provides feedback to the user letting them know that their action is being processed e.g. a form submission. It renders an animating spinner (light) but can also include a message with the spinner e.g. "Loading, please wait...".

  .preloader--middle      - position the loader in the centre of it's parent
  .preloader--top         - position the loader near the top of it's parent

  Styleguide Preloader
*/

.preloader {

  background: $color-grey-light-3;
  border-radius: $border-radius;

  &,
  & * {display: inline-block;}

  & * {vertical-align: middle;}

  em {font-style: italic;}
}

/* Modifier: shared rules for position modifiers */
.preloader--middle,
.preloader--top {
  position: absolute;
  z-index: 99;
  left: 50%;
 }

/* Modifier: position the loader in the middle of it's parent */
.preloader--middle {
  top: 50%;
  @include translate(-50%, -50%);
}

/* Modifier: position the loader near the top of it's parent */
.preloader--top {
  @include to-rem(top, $spacing-base);
  @include translateX(-50%);
}

  /* Spinner animation */
  .preloader__spinner {
    @include to-rem(width height, 24);
    @include to-rem(margin, 8);

    .cssanimations & {
      @include prefix(animation, rotate 1s infinite linear);
      border-radius: 100%;
      border: $spacing-micro + px solid $color-grey-dark-3;

      /* the 'gap' in the preloader circle */
      &:after {
        content:"";
        position: absolute;
        @include to-rem(top, -3);
        left: 50%;
        @include translateX(-50%);
        @include to-rem(height, $spacing-third);
        @include to-rem(width , $spacing-quarter);
        background: $color-grey-light-3;
      }
    }

    .no-cssanimations & {
      background: $color-grey-light-3 cloudinary-url("css/preloader.gif") no-repeat 50% 50%;
      @include img-2x("css/preloader@2x.gif", 24px, 24px);
    }
  }