/* ======================================================================================
   @MODULES -> PRELOADER
   ====================================================================================== */

/*
  Provides feedback to the user letting them know that their action is being processed e.g. a form submission. It renders an animating spinner (light) but can also include a message with the spinner e.g. "Loading, please wait...".

  .preloader--middle      - Position the loader in the centre of its parent

  Styleguide Preloader
*/

$preloader-stroke-width: 3;
$preloader-stroke-width-px: $preloader-stroke-width + px;

.preloader {

  &,
  & * {display: inline-block;}

  & * {vertical-align: middle;}

  em {font-style: italic;}
}

/* Modifier: shared rules for position modifiers */
.preloader--middle,
.preloader--top {
  position: absolute;
  z-index: 99;
  left: 50%;
 }

/* Modifier: position the loader in the middle of it's parent */
.preloader--middle {
  top: 50%;
  @include translate(-50%, -50%);
}

/* Modifier: position the loader near the top of it's parent */
.preloader--top {
  @include to-rem(top, $spacing-base);
  @include translateX(-50%);
}

/* Modifier: light background */
.preloader--light {
  background-color: $color-grey-light-3;
  border-radius: $border-radius;
}

  /* Spinner animation */
  .preloader__spinner {
    @include to-rem(width height, 26);
    @include to-rem(margin, $spacing-third);
    border-radius: 100%;
    border: $preloader-stroke-width-px solid $color-grey-dark-3;

    @include prefix(animation, rotate 1s infinite linear);

    .android & {@include to-rem(height, 27);}

    /* the 'gap' in the preloader circle */
    &:after {
      content:"";
      position: absolute;
      @include to-rem(top, -$preloader-stroke-width);
      left: 50%;
      @include translateX(-50%);
      @include to-rem(height, $spacing-third);
      @include to-rem(width , $spacing-quarter);
      background: $color-grey-light-3;
    }
  }

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}


