/* ======================================================================================
   @MODULES -> PROMO TILE
   ====================================================================================== */

/*
  Usage:
    Special tile design with specific icon centred in the middle

  Demo:
    Style Guide -> Modules -> Promo Tile
*/

.promo-tile {
  text-align: center;

  img {border-bottom: 1px solid $color-grey-1;}

  p {@include to-rem(margin-bottom, $spacing-half);}
}

  /* The tile's heading */
  .promo-tile__hdr {
    @include font-size($font-size-lrg);
    @include to-rem(margin-bottom, $spacing-quarter);

    @include respond-min($non-palm) {
      @include font-size(18);
    }
  }

  /* The main icon of the tile that sits above the text */
  .promo-tile__icon:before {
    @include to-rem(padding, $spacing-third);
    @include font-size($font-size-xlrg, 1);
    @include to-rem(margin-top, -20);
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid $color-grey-1;

    @include respond-min($non-palm) {
      @include to-rem(padding, $spacing-half);
      @include font-size(36, 1);
      @include to-rem(margin-top, -28);
    }
  }
