/* ======================================================================================
   @MODULES -> SOCIAL SHARE
   ====================================================================================== */

/*
	Usage:
		List of social media share links used in the detail views and on the pin board tiles, the default styles are set for the detail views.

	Demo:
		Style Guide -> Modules -> Social Share
*/

$share-facebook: #355f9f !default;
$share-twitter: #2ba9e1 !default;
$share-email: #f4801f !default;
$share-google: #db5442 !default;
$share-pinterest: #ca2026 !default;

.social-share {

  /* Non JS users */
  .no-js & {display: none;}

  /* Horizontal mode at this breakpoint */
  @include respond-min($non-palm) {
    display: inline-block;

    /* 'Tile' version */
    .tile & {display: block;}
  }

	a {
		@include to-rem(padding-top padding-bottom, 9);
		color: #fff;
	}

		/* Icon for 'Tile' version */
		.tile & .icon:before {margin-right: 0;}

	/* Drop down menu trigger */
  .social-share__trigger {
    color: $color-grey-dark-3;

    /* Hide elements that need to be shown when the drop down is active */
    .drop-down-container__active {display: none;}

    &:hover,
    &:focus {color: $color-txt-light;}

    /* Preloader */
    .preloader {
      display: none;

      /* Override bg color */
      &,
      .preloader__spinner {background-color: transparent;}
    }
  }

  /* Active state */
  &.is-active .social-share__trigger {
    background-color: $color-grey-dark-3;
    color: #fff;

    /* Hide elements that need to be shown when the drop down is non-active */
    .drop-down-container__non-active {display: none;}

    /* Show elements that need to be shown when the drop down is active */
    .drop-down-container__active {display: inline-block;}
  }

  /* Loading state */
  &.is-loading .social-share__trigger {

    /* Show the preloader */
    .preloader {display: inline-block;}

    /* Hide elements whilst in loading state */
    .drop-down-container__non-active,
    .drop-down-container__active {display: none;}
  }

    /* Hide button text for 'Tile' version */
    .tile & .social-share__trigger__txt {@include hide-visually;}

  /* Drop down menu target */
  .drop-down {

    /* Alter position and width at this breakpoint */
    @include respond-min($non-palm) {
      @include to-rem(width, 290);
      left: 100%;
      top: 0;
      margin-left: -1px;
    }

    /* 'Tile' version */
    .tile & {
      width: 100%;
      left: 0;
      top: 100%;
      margin-left: 0;
      z-index: $z-index-high - 1;

      li {
        display: block;

        /* Round off bottom left/right corners */
        &:last-child a {border-radius: 0 0 $border-radius $border-radius;}
      }
    }
  }

  /* Active state */
  &.is-active .drop-down.horiz-list--fit {
  	display: table;

  	/* 'Tile' version */
  	.tile & {display: block;}
  }
}

	/* Colour scheme for icons */

	/* Facebook */
	.social-share__facebook a {
		background-color: $share-facebook;

		&:hover,
		&:focus {background-color: darken($share-facebook, 5%);}
	}

	/* Twitter */
	.social-share__twitter a {
		background-color: $share-twitter;

		&:hover,
		&:focus {background-color: darken($share-twitter, 5%);}
	}

	/* Email */
	.social-share__email a {
		background-color: $share-email;

		&:hover,
		&:focus {background-color: darken($share-email, 5%);}
	}

	/* Google */
	.social-share__google a {
		background-color: $share-google;

		&:hover,
		&:focus {background-color: darken($share-google, 5%);}
	}

	/* Pinterest */
	.social-share__pinterest a {
		background-color: $share-pinterest;

		&:hover,
		&:focus {background-color: darken($share-pinterest, 5%);}
	}