/* ======================================================================================
   @MODULES -> STORES LIST
   ====================================================================================== */

/*
	Usage:
		List of stores.

	Demo:
		Style Guide -> Modules -> Store List
*/

.stores-list {
  background-color: #fff;
  @include font-size($font-size-sml, 1.5);
  overflow: hidden;

  /* Store A-Z grouping header */
  dt {
    background-color: $color-off-white;
    font-weight: normal;
    color: $color-light-txt;
    text-transform: uppercase;
    border-top: 1px solid $color-grey-1;
    @include to-rem(padding-top padding-bottom, $spacing-micro);
  }

  /* Store items */
  dd {
    border-top: 1px solid $color-grey-1;

    /* Inner container */
    .container {position: relative;}
  }
}

  /* Shared rules */
  .stores-list__data-cell,
  .stores-list__data-cell__icon {
    position: absolute;
    top: 0;
    height: 100%;
  }

  /* Logo */
  .stores-list__data-cell--logo {
    left: 0;
    @include to-rem(padding-top, $spacing-half - 1);
    @include to-rem(width, 41);
    @include to-rem(max-width, 82);
  }

  /* Store name */
  .stores-list__data-cell--store-name {
    position: static;
    @include to-rem(margin-right, 110);
    @include to-rem(padding-top padding-bottom, $spacing-half);

    strong {font-weight: normal;}

      a {
        display: block;
        color: $color-dark-txt;
      }
  }

  /* Icon links - phone & location */
  .stores-list__data-cell--icons {right: -4.5%;}

    .stores-list__data-cell__icon {
      right: 0;
      border-left: 1px solid $color-grey-1;
      @include to-rem(width, 54);
      text-align: center;

      /* Icons */
      .icon:before {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
        @include font-size(28, 1);
      }
    }

    /* Phone icon */
    .stores-list__data-cell__icon--phone {
      @include to-rem(right, 54);

      .icon:before {color: $color-cta-green;}
    }

    /* Location icon */
    .stores-list__data-cell__icon--location .icon:before {color: $color-brand;}