/* ======================================================================================
   @MODULES -> STORES / MAPS
   ====================================================================================== */

/*
	Usage:
		'Stores' section of the site, includes store listings, store detail, and centre maps.

	Demo:
		Style Guide -> Modules -> Stores / Maps
*/

.stores-maps {
  position: relative;
  z-index: 2;
  height: 100%;
}