/* ======================================================================================
   @MODULES -> STORES / MAPS
   ====================================================================================== */

/*
	Usage:
		'Stores' section of the site, layout for both listing and detail views and any other 'Stores' specific styling.

  Notes:
    Modules that live here:
    -  Stores list
    -  Storefront
    -  Micello maps

	Demo:
		Style Guide -> Modules -> Stores / Maps
*/

/* `body` element */
.stores {padding-bottom: 0;}

.stores-maps {
  position: absolute;
  z-index: 2;
  @include to-rem(top, 88);
  bottom: 0;
  left: 0;
  right: 0;

  @include respond-min($non-palm) {
    @include to-rem(top, 110);
  }

  /* Inner container */
  &.container {
    width: auto;

    /* Reapply default width */
    @include respond-min($ipad-landscape) {
      width: $page-container-width;
    }
  }

  /* Old IE */
  @include old-ie {
    .stores & {top: 381px;}
  }

  /* Non JS users */
  .no-js & {position: static;}

  /* Location icon */
  .icon--pin:before {
    color: $color-brand;
    @include font-size(28, 1);
  }
}

  /* Outdent the pin icons so they're flush to left edge */
  .stores-list__store-name .icon--pin:before,
  .stores-maps__filters-count .icon--pin:before {@include to-rem(margin-left, -4);}

  /* Show a preloader whilst waiting for the list/detail view content to load via PJAX */
  .js-pjax-container-stores {

    /* Hide the preloader by default */
    & > .preloader {display: none;}

    /* Toggle the display of the preloader/content via the `.is-loading` class */
    &.is-loading {
      .preloader {display: block;}

      .stores-maps__inner {display: none;}
    }
  }

  /* Listing and detail views container */
  .stores-maps__inner {
    position: absolute;
    z-index: 4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* Half the width at this breakpoint */
    @include respond-min($ipad-landscape) {
      width: 50%;
    }

    /* Modifier: Detail view */

    /* Turn off absolute positioning for 'detail view' */
    &.stores-maps__inner--detail {
      position: static;

      @include respond-min($ipad-landscape) {
        position: absolute;
      }
    }

    /* Enable click events on map canvas that sits behind this */
    @include respond-min($ipad-landscape) {
      &.stores-maps__inner--detail {
        pointer-events: none;

        /* IE 8/9/10 fallbacks for not supporting `pointer-events` */
        @include old-ie {bottom: auto;}

        .ie-9 & {bottom: auto;}

        @include ie-10-up {bottom: auto;}
      }

      /* Featured items */
      &.stores-maps__inner--detail.is-featured-items {bottom: 0;}
    }

    /* Change `position` context when in map view */
    .is-map-view & {
      position: static;

      @include respond-min($ipad-landscape) {
        position: absolute;
      }
    }

    /* Non JS users */
    .no-js & {
      position: static;
      width: auto;
    }
  }

    /* Filters / toggle */
    .stores-maps__filters-toggle {
      background-color: $color-grey-light-2;
      border-bottom: 1px solid $color-grey-med-3;
      position: relative;
      z-index: 6;

      /* Apply box treatments at this breakpoint */
      @include respond-min($ipad-landscape) {
        border: 0;
        @include box;
        @include box-heavy;
        @include to-rem(margin-top, $spacing-base);
      }

      /* Map view */
      .is-map-view & {
        background: none;
        border: 0;
        pointer-events: none;

        /* Restore `pointer-events` for nested elements */
        .stores-maps__filters,
        .stores-maps__toggle {pointer-events: auto;}

        /* Restore `pointer-events` and bg color at this breakpoint */
        @include respond-min($ipad-landscape) {
          pointer-events: auto;
          background-color: #fff;
        }
      }

      /* Modifier: Detail view */
      .stores-maps__inner--detail & {
        display: none;

        /* Map view */
        .is-map-view & {display: block;}

        /* Show and restore `pointer-events` */
        @include respond-min($ipad-landscape) {
          display: block;
          pointer-events: auto;
        }
      }

      /* Inner container */
      > .container {
        @extend %clear-fix;
        @include to-rem(padding-top padding-bottom, $spacing-half);

        @include respond-min($non-palm) {
          @include to-rem(padding-top padding-bottom, $spacing-half+$spacing-quarter);
        }

        /* Remove bottom padding for 'Listing' view at this breakpoint */
        @include respond-min($ipad-landscape) {
          .stores-maps__inner--listing & {padding-bottom: 0;}
        }
      }
    }

      /* Header */
      .stores-maps__filters-toggle__hdr {
        display: block;
        font-family: $font-family-opensans;
        @include font-size($font-size-xlrg, 1.5);
        color: $color-txt-dark;

        /* Hide the header and add bottom margin at this breakpoint */
        @include respond-min($ipad-landscape) {
          @include hide-visually-off;
          @include to-em(margin-bottom, $spacing-third);
        }

        /* Hide when in map view */
        .is-map-view & {
          display: none;

          @include respond-min($ipad-landscape) {
            display: block;
          }
        }

        /* Modifier: Detail view */
        .stores-maps__inner--detail & {
          margin-bottom: 0;

          .icon:before {
            top: -2px;

            /* IE 10/9 fixes */
            @include ie-10-up {top: 0;}

            .ie-9 & {top: 0;}
          }
        }

          > span {color: $color-txt-light;}
      }

          /* Reapply global link hover to first child `span` */
          a.stores-maps__filters-toggle__hdr {
            &:hover > span,
            &:focus > span {color: $color-link-hover;}
          }

      /* Filters */

      /* 'Categories' and 'Gift card toggle' */
      .stores-maps__filters {
        float: left;

        @include respond-min($ipad-landscape) {
          float: none;
        }

        /* Hide when in map view */
        .is-map-view & {
          display: none;

          @include respond-min($ipad-landscape) {
            display: block;
          }
        }

          /* Increase right padding for drop down trigger at this breakpoint */
          @include respond-min($non-palm) {
            .drop-down-menu__trigger {@include to-em(padding-right, $spacing-dbl+$spacing-base);}
          }

          /* Gift card toggle */
          .btn--main-checkbox-toggle {

            /* Reveal text at this breakpoint */
            @include respond-min($non-palm) {
              .hide-visually {@include hide-visually-off;}
            }

            .icon--gift-card:before {
              color: #fff;
              @include to-rem(margin-left, $spacing-quarter);
            }
          }
      }

      /* A-Z pagination */
      .stores-maps__pagination {
        position: absolute;
        left: 0;
        /* This right position equals the width of the map view toggle button + 10px */
        @include to-rem(right, 55);
        @include to-rem(top, 6);

        /* Increase top and right positioning at this breakpoint */
        @include respond-min($non-palm) {
          /* This right position equals the width of the map view toggle button + 10px */
          @include to-rem(right, 139);
          @include to-rem(top, 12);
        }

        /* Remove absolute positioning and apply cosmetics/structural rules at this breakpoint */
        @include respond-min($ipad-landscape) {
          position: static;
          background-color: $color-grey-light-3;
          border-top: 1px solid $color-grey-med-3;
        }

        /* Hide when in map view */
        .is-map-view & {
          display: none;

          /* Show at this breakpoint */
          @include respond-min($ipad-landscape) {
            display: block;
          }
        }

          /* Nav contextual */
          .nav-contextual {border-bottom: 0;}

            /* Links and disabled state */
            .nav-contextual__list {

              /* Disabled state */
              .is-disabled {
                @include to-rem(padding, $spacing-half);
                color: lighten($color-txt-light, 20%);
              }

              a,
              .is-disabled {
                /* Decrease top and bottom padding for links at this breakpoint */
                @include respond-min($non-palm) {
                  @include to-rem(padding-top padding-bottom, $spacing-half);
                }

                /* Tighten up for non touch devices to avoid the horizontal scroll */
                @include respond-min($ipad-landscape) {
                  .no-touch & {
                    @include to-rem(padding-left padding-right, $spacing-sixth);
                    @include font-size(12, 1.5);

                    /* Pad out more at these breakpoints */
                    @include respond-min(1200) {
                      @include to-rem(padding-left padding-right, $spacing-sixth+0.5);
                      @include font-size(13, 1.5);
                    }

                    @include respond-min(1300) {
                      @include to-rem(padding-left padding-right, $spacing-quarter - 1);
                      @include font-size(14, 1.5);
                    }

                    @include respond-min(1400) {
                      @include to-rem(padding-left padding-right, $spacing-quarter+0.25);
                    }
                  }
                }
              }
            }

            /* Gradient that fades out the right side of the links and the scrolling indicator, change the colour at this breakpoint */
            @include respond-min($ipad-landscape) {
              .nav-contextual__clip__overlay {@include linear-gradient($from: rgba($color-grey-light-3, 0) 0%, $to: rgba($color-grey-light-3, 1) 50%, $dir: right, $dir-webkit: left)}
            }
      }

      /* Toggle button */
      .stores-maps__toggle {
        float: right;

        /* Reveal button text, float right and fix a width at this breakpoint */
        @include respond-min($non-palm) {
          @include to-rem(min-width, 120);

          /* Link version */
          &.stores-maps__toggle--link {@include to-rem(min-width, 106);}

          /* Reveal button text */
          .hide-visually {@include hide-visually-off;}
        }

        /* Hide at this breakpoint */
        @include respond-min($ipad-landscape) {
          display: none;
        }

        /* Non JS users */
        .no-js & {display: none;}

          /* Left spacing for icon at this breakpoint */
          @include respond-min($non-palm) {
            .icon {@include to-rem(margin-left, $spacing-base);}
          }

          /* Hide/show icons */
          .icon--list {display: none;}

          /* Map view */
          .is-map-view & {
            .icon--map2 {display: none;}
            .icon--list {display: inline-block;}
          }
      }

      /* Post filter count */
      .stores-maps__filters-count {
        @include font-size($font-size-sml, 1.5);
        border-top: 1px solid $color-grey-med-3;

        /* Hide when in map view */
        .is-map-view & {
          display: none;

          @include respond-min($ipad-landscape) {
            display: block;
          }
        }

        /* Inner container */
        .container {
          @include to-rem(padding-top padding-bottom, $spacing-micro);

          @include respond-min($non-palm) {
            @include to-rem(padding-top padding-bottom, $spacing-sixth);
          }
        }
      }

    /* List / Detail views */
    .stores-maps__list-detail {
      position: absolute;
      z-index: 5;
      @include to-rem(top, 55);
      bottom: 0;
      left: 0;
      right: 0;
      overflow-y: auto;

      /* Make white bg for 'listing view' */
      .stores-maps__inner--listing & {background-color: #fff;}

      /* Modifier: Detail view */
      .stores-maps__inner--detail & {
        position: static;
        overflow-y: visible;

        @include respond-min($ipad-landscape) {
          position: absolute;
          overflow-y: auto;
        }
      }

      /* Post filter count */
      .is-filter-applied & {@include to-rem(top, 88);}

      /* Touch device */
      .touch & {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
      }

      /* Hide when in map view */
      .is-map-view & {
        display: none;

        @include respond-min($ipad-landscape) {
          display: block;
        }
      }

      /* Non JS users */
      .no-js & {position: static;}

      /* Old IE - change the bg colour */
      @include old-ie {
        .stores-maps .stores-maps__inner.stores-maps__inner--detail & {background-color: lighten($color-grey-light-2, 5%);}
      }

      /* Alter top positioning at this breakpoint */
      @include respond-min($non-palm) {
        @include to-rem(top, 65);

        /* Post filter count */
        .is-filter-applied & {@include to-rem(top, 102);}
      }

      /* Apply box treatments and alter top/btm positioning at this breakpoint */
      @include respond-min($ipad-landscape) {
        @include to-rem(top, 151);
        @include to-rem(bottom, $spacing-base);
        @include box;
        @include box-heavy;

        /* Modifier: Detail view */
        .stores-maps__inner--detail & {
          bottom: auto;
          pointer-events: auto;
          @include to-rem(top, 110);
        }

        /* Modifier: Detail view - when they're 'Featured items' */
        .stores-maps__inner--detail.is-featured-items & {
          background-color: $color-grey-light-2;
          @include to-rem(bottom, $spacing-base);
        }

        /* Post filter count */
        .is-filter-applied & {@include to-rem(top, 200);}
      }

      /* Store list module */

      /* Remove right indent for store name at this breakpoint */
      @include respond-min($ipad-landscape) {
        .stores-list__store-name {margin-right: 0;}
      }

      /* Hide location icon for 'storefront' and 'store list' modules at this breakpoint */
      @include respond-min($ipad-landscape) {
        .storefront-storelist-phone-map-links__cell--location {display: none;}
      }
    }

      /* Category applied indicator at this breakpoint */
      .is-filter-applied .stores-list__store-name {

        @include respond-min($ipad-landscape) {
          @include to-rem(padding-left, $spacing-base+$spacing-quarter);
        }

        /* Location pin */
        .icon--pin:before {
          display: none;

          @include respond-min($ipad-landscape) {
            display: block;
            position: absolute;
            left: 0;
            @include to-rem(top, $spacing-base+$spacing-micro);
            @include to-rem(margin-top, -$spacing-sixth);
          }
        }
      }

  /* Micello map */
  .stores-maps__map {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    background-color: $color-grey-light-2;

    /* Map view */
    .is-map-view & {display: block;}

    /* Always show at this breakpoint */
    @include respond-min($ipad-landscape) {
      display: block;
    }

    /* Always show for old IE */
    @include old-ie {display: block;}

    /* Non JS users */
    .no-js & {position: static;}

    /* Preloader */
    @include respond-min($ipad-landscape) {
      &.map-micello .preloader {left: 75%;}
    }
  }