/* ======================================================================================
   @MODULES -> TAGS
   ====================================================================================== */

/*
  Tags typically used when filtering.

  Styleguide Tags
*/

.tags {
  border-width: 1px 0;
  border-style: solid;
  border-color: $color-grey-med-3;
  @include to-rem(padding-top, $spacing-quarter - 1);
  @include to-rem(padding-bottom, $spacing-quarter*2);

  /* Add some top spacing when they live in the 'Filters' module */
  .filters & {@include to-rem(margin-top, $spacing-half);}
}

  /* Main button */
  .tags__btn {
    @include to-rem(margin-right margin-top, $spacing-quarter);
    position: relative;
    @include font-size($font-size-sml, 1);
    color: $color-txt-light;
    border: 1px solid $color-grey-med-3;
    border-radius: $border-radius;
    @include to-rem(max-width, 120);

    &:hover,
    &:focus {
      border-color: $color-link;
      color: $color-link;

      /* Button text (truncate) */
      & .txt-truncate {text-decoration: line-through;}
    }

    /* Button text (truncate) */
    .txt-truncate {
      vertical-align: middle;
      @include to-rem(padding-top padding-bottom, $spacing-third);
      @include to-rem(padding-right, $spacing-base);
      @include to-rem(margin-left, $spacing-half);
    }

    /* Close icon */
    .icon:before {
      position: absolute;
      top: 50%;
      @include to-rem(right, $spacing-micro);
      @include translateY(-50%);
    }
  }

  /* Modifier: remove the default margin when there is only one tag */
  .tags__btn--solo {margin: 0;}

  /* Modifier: clear all tags button */
  .tags__btn--clear {
    border: 0;
    margin-right: 0;
  }
