/* ======================================================================================
   @MODULES -> TILE
   ====================================================================================== */

/*
  Usage:
    Renders a tile, which is to be used in pin board style layout

  Note:
    This module is to be used with isotope. See: http://isotope.metafizzy.co

  Demo:
    Style Guide -> Modules -> Tile
*/

.tile {
  position: relative;
  color: $color-base-txt;
  @include font-size($font-size-sml, 1.5);

  /* Needed so the social share controls can be seen */
  &:hover {z-index: 2;}

  /* Apply bottom spacing when inside the 'Pin board' module */
  .pin-board & {
    @include to-rem(margin-bottom, $grid-gutter-half);

    /* Turn off for the last tile */
    &:last-child {margin-bottom: 0;}

    /* Old IE - avoid `article` getting `display: inline` when the pin board is constructed with JS as the HTML5 shiv doesn't work in this case */
    @include old-ie {
     display: block;
    }
  }

  /* Global styles */
  a {color: $color-light-txt;}

  p {margin-bottom: 0;}
}

  /* Meta */
  .tile__meta {
    position: relative;
    @include to-rem(min-height, $spacing-base*2);
    @include to-rem(padding, 8 10);
  }

    /* Inner container */
    .tile__meta__inner {
      /* Needed to create spacing for `.tile__meta__icon`. Spacing = `.tile__meta` left padding + width of `.tile__meta__icon` + spacing between `.tile__meta__icon` and the text  */
      @include to-rem(margin-left, 25);

      /* Increase the left margin at this breakpoint */
      @include respond-min($non-palm) {
        @include to-rem(margin-left, 30);
      }
    }

  /* Image */
  .tile__image {text-align: center;}

  /* Icon */
  .tile__meta__icon {
    position: absolute;
    @include to-rem(left, -2);
    @include to-rem(top, 9);
    border-left: 2px solid $color-brand;
    background-color: $color-off-white;
    color: $color-light-txt;
    @include font-size($font-size-lrg, 1);
    @include to-rem(padding, 3 5);

    /* Increase the padding at this breakpoint, as we have more space */
    @include respond-min($non-palm) {
      @include to-rem(padding, 5 7);
    }
  }

  /* Header */
  .tile__meta__hdr {
    color: $color-dark-txt;
    font-weight: bold;
    @include font-size($font-size-milli, 1.5);

    /* Increase the font size at this breakpoint */
    @include respond-min($desk) {
      @include font-size($font-size-sml, 1.5);
    }
  }

  /* Description */
  .tile__meta__desc {
    color: $color-light-txt;
    @include font-size($font-size - 4, 1.5);

    /* Increse font size at this breakpoint */
    @include respond-min($desk) {
      @include font-size($font-size-milli, 1.5);
    }
  }

    /* Price */
    .tile__meta__price {
      color: $color-dark-txt;
      font-weight: bold;

      /* Make the font larger at this breakpoint, as we have the space */
      @include respond-min($desk) {
        @include font-size($font-size-milli, 1);
      }
    }

  /* Controls - share/favourites */
  .tile__controls {
    display: none;
    position: absolute;
    @include to-rem(top right, $spacing-quarter);

    .controls__btn {
      @include to-rem(width, $spacing-base* 2);
      @include to-rem(height, $spacing-base* 2);
      border: 1px solid rgba(#000, 0.15);
      border-radius: $border-radius;
      background-color: #fff;
    }

    /* Remove the border radius when button is active */
    .controls__btn.is-active {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    /* Only show on non-touch devices as they dont have hover */
    .no-touch .tile:hover & {display: block;}
  }

/* Deals */
.tile--deals {

  /* Meta */
  .tile__meta {
    @include to-rem(padding, 45 15);

    /* Increase the padding at this breakpoint to keep the proportions right */
    @include respond-min($non-palm) {
      @include to-rem(padding, 84 25);
    }
  }

    /* Logo */
    .tile__meta__image {
      display: block;
      @include to-rem(width, 84);
      @include to-rem(margin-bottom, $spacing-quarter);

      /* Increase the bottom spacing at this breakpoint */
      @include respond-min($non-palm) {
        @include to-rem(margin-bottom, $spacing-half);
      }

      /* Old IE - prevent the image from getting distorted*/
      @include old-ie {
        img {
          width: 100%;
        }
      }
    }

    /* Description */
    .tile__meta__desc {
      font-family: $font-family-lato;
      color: $color-dark-txt;
      @include font-size($font-size, 1.5);

      /* Increase the font size at this breakpoint */
      @include respond-min($non-palm) {
        @include font-size(22, 1.3);
      }
    }

  /* Icon */
  .tile__meta__icon {
    top: auto;
    @include to-rem(bottom, 7.5);

    /* Increase bottom spacing at this breakpoint */
    @include respond-min($non-palm) {
      @include to-rem(bottom, 9);
    }
  }
}