/* ======================================================================================
   @MODULES -> TILE
   ====================================================================================== */

/*
  Renders a tile for different types of content e.g. a 'Product', 'Deal', 'Event', etc. Mainly used in the pin board module.

  .tile--product            - Product
  .tile--deal               - Deal
  .tile--fixed-img-height   - Fix the tile image height
  .tile--no-icon            - No icon

  Styleguide Tile
*/

.tile {
  position: relative;

  /* Set font size */
  &,
  .tile__meta__hdr {@include font-size($font-size-sml, 1.4);}

  /* So the social share module can be seen when they overlap another tile */
  &:hover {z-index: 2;}

  /* Apply bottom spacing when inside the 'Pin board' module */
  .pin-board & {
    @include to-rem(margin-bottom, $grid-gutter-half);

    /* Turn off for the last tile */
    &:last-child {margin-bottom: 0;}
  }

  a {
    color: $color-txt-light;
    display: block;
    @include to-rem(padding-bottom, 8);

    &:focus {box-shadow: $box-shadow;}
  }
}

  /* Modifiers: product and deal */
  .tile--product a,
  .tile--deal a {padding-bottom: 0;}

  /* Image */
  .tile__image {
    text-align: center;
    position: relative;
    /*
      Note: if this `margin-bottom` value changes then adjust the `$tile-img-btm-mrg` value in the 'Pin Board module -> Modifier: curation'.
    */
    @include to-rem(margin-bottom, 8);

    /* Red transparent image overlay shown on hover/focus of the tile */
    &:before {
      @extend %transition-subtle;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: transparent;
      cursor: pointer;

      .tile:hover & {background-color: rgba($color-brand, 0.15);}
    }
  }

  /* Meta */

  /*
    Note: if the height of this element changes then adjust the `$tile-meta-height` value in the 'Pin Board module -> Modifier: curation'.
  */

  .tile__meta {
    position: relative;
    @include to-rem(padding-left, 32);
    @include to-rem(padding-right, $spacing-half);

    @include respond-min($non-palm) {
      @include to-rem(padding-left, 36);
    }

    /* Modifier: deal */
    .tile--deal & {
      @include to-rem(padding, 45 15);

      @include respond-min($non-palm) {
        @include to-rem(padding, 84 25);
      }
    }

    /* Modifier: no icon */
    .tile--no-icon & {@include to-rem(padding-left, $spacing-half);}

      /* Product price from the 'Price strip' module */
      .price-strip {
        @include to-rem(margin-top, $spacing-third);
        @include to-rem(margin-left, -32);
        @include to-rem(margin-right, -$spacing-half);
        @include to-rem(padding, $spacing-quarter $spacing-third);

        @include respond-min($non-palm) {
          @include to-rem(margin-left, -36);
        }
      }

        /* Hide normal price due to lack of real estate at these breakpoint ranges */
        .is-long-price .price-strip__normal {
          display: none;

          @include respond-min(460) {
            display: inline;
          }
        }

        /* Savings % tag % */
        .price-strip__savings {@include to-rem(padding, $spacing-quarter);}
  }

    /* Icon that identifies the tile */
    .tile__meta__icon {
      position: absolute;
      left: -2px;
      top: 0;
      border-left: 2px solid $color-brand;
      background-color: $color-grey-light-3;
      @include to-rem(padding, 3 5);

      @include respond-min($non-palm) {
        @include to-rem(padding, 5 7);
      }

      /* Modifier: deal */
      .tile--deal & {
        top: auto;
        @include to-rem(bottom, 7.5);

        @include respond-min($non-palm) {
          @include to-rem(bottom, 9);
        }
      }
    }

      /* Header */
      .tile__meta__hdr {
        color: $color-txt-dark;
        font-weight: bold;
      }

      /* Description */
      .tile__meta__desc {
        @include font-size($font-size-milli, 1.4);

        /* Modifier: deal */
        .tile--deal & {
          font-family: $font-family-lato;
          @include font-size($font-size, 1.5);
          font-weight: 300;
          color: $color-txt-dark;

          @include respond-min($non-palm) {
            @include font-size(22, 1.3);
          }
        }
      }

  /* Alternative icon, icon that sits top left corner of it's tile, have 2 types: 'Canned search' and 'Curation' */
  .tile__icon-alt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    @include to-rem(padding, 3 5);
    /* 135deg diagonal gradient */
    background: -webkit-linear-gradient(-45deg, rgba(#000, 0.4) 0%, rgba(#000, 0.05) 36%, rgba(#000, 0) 55%, rgba(#000, 0) 100%);
    background: linear-gradient(135deg, rgba(#000, 0.4) 0%, rgba(#000, 0.05) 36%, rgba(#000, 0) 55%, rgba(#000, 0) 100%);

    @include respond-min($non-palm) {
      @include to-rem(padding, 5 7);
    }

    /* IE 9 - black transparent square bg as a fallback for the CSS gradient */
    .ie-9 & {
      background-color: rgba(#000, 0.5);
      width: auto;
      height: auto;
    }

    &:before {color: #fff;}
  }

  /* Controls - 'Share' and 'Favourites' */
  .tile__controls {
    display: none;
    position: absolute;
    @include to-rem(top right, $spacing-quarter);

    /* Only show on non-touch devices when tile is hovered and to keep in view via dynamic `is-active` class */
    .no-touch .tile:hover &,
    .no-touch .tile &.is-active {display: block;}

    /* Buttons */
    .controls__btn {
      @include to-rem(width height, $spacing-dbl);
      border: 1px solid $color-grey-light-1;
      border-radius: $border-radius;
      background-color: #fff;

        /* Icon */
        .icon:before {position: static;}

        /* Preloader */
        .preloader em {@extend %hide-visually;}
    }

    /* Active state */
    .is-active .controls__btn {
      border-color: $color-grey-dark-3;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

/* Modifier: deal */
.tile--deal {

  /* Header and logo spacing */
  .tile__meta__hdr,
  .tile__meta__logo {
    @include to-rem(margin-bottom, $spacing-quarter);

    @include respond-min($non-palm) {
      @include to-rem(margin-bottom, $spacing-half);
    }
  }

  /* Logo */
  .tile__meta__logo {@include to-rem(width, 126);}
}

/* Modifier: fix image height */

/* Note: using `line-height` to vertically align the images */

$tile-fixed-height-1: 160px !default;
$tile-fixed-height-2: 180px !default;
$tile-fixed-height-3: 220px !default;
$tile-fixed-height-4: 240px !default;
$tile-fixed-height-5: 260px !default;
$tile-fixed-height-6: 270px !default;

.tile--fixed-img-height .tile__image {
  height: $tile-fixed-height-1;
  line-height: $tile-fixed-height-1 - 1;
  /* Need this to remove browser generated white space from the `line-height` rule */
  font-size: 0;

  /* Increase heights/line-heights at these breakpoints */
  @include respond-min(400) {
    height: $tile-fixed-height-2;
    line-height: $tile-fixed-height-2 - 1;
  }

  @include respond-min($iphone-landscape) {
    height: $tile-fixed-height-3;
    line-height: $tile-fixed-height-3 - 1;
  }

  @include respond-min($ipad-portrait) {
    height: $tile-fixed-height-4;
    line-height: $tile-fixed-height-4 - 1;
  }

  @include respond-min(860) {
    height: $tile-fixed-height-5;
    line-height: $tile-fixed-height-5 - 1;
  }

  @include respond-min($desk) {
    height: $tile-fixed-height-6;
    line-height: $tile-fixed-height-6 - 1;
  }

  /* This needs to be used along with Cloudinary's 'crop - pad' and specify the maximum width the image can ever be e.g. `c_pad,w_407` */
  img {max-height: 100%;}
}