.timelines {

}
.timelines__timeline {
  position: relative;
  @include to-rem(padding-left, 100);

}
.timelines__day {
  @include to-rem(margin-bottom, $spacing-quarter);
}
.timelines__day__date {
  position: absolute;
  background-color: black;
  color: white;
  text-align: center;
  left: 0;
  top: 0;
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 18px;
  @include to-rem(width, 75);
  @include to-rem(height, 75);
  @include font-size(14);

  em {
    font-weight: normal;
    display: block;
    @include font-size(30, 0.8);
  }

}
.timelines__time {
  // TODO: make e8e8e8 a var as its also used in the body background
  background-color: #e8e8e8;
  @include to-rem(border-radius, 2);
  @include to-rem(padding, $spacing-half $spacing-base);
  @include to-rem(margin-bottom, $spacing-half);
}