/* ======================================================================================
   @MODULES -> TEXT FORMATTED
   ====================================================================================== */

/*
	Pseudo base styles as we were unable to set base styles at the start of the build due to not knowing what they were. These will eventually become base styles when we implement the new global design guidelines.

  .txt-formatted--user-generated     - User generated rules

  Styleguide Text Formatted
*/

.txt-formatted {

  /* Set base bottom margin */
  p {@extend %mrg-base;}

  /* Reset the list by removing all styles */
  .txt-formatted__list-unstyled {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
  }
}

/* Modifier: user generated rules */
.txt-formatted--user-generated {
  i,
  em {font-style: italic;}
}