<%# FIXME: This really needs to be moved to something that can handle templating in JS better %>
<div class="map-micello__overlay islet">
  <div class="map-micello__overlay__retailer map-micello__mrg-base">
    <div class="map-micello__overlay__retailer__img">
      <img src="#{store.logo}" alt="#{store.name} logo" onerror="window.$ && $(this).parents('.map-micello__overlay.islet').addClass('is-no-store-logo').find('.map-micello__overlay__retailer__img').remove()">
    </div>
    <div class="map-micello__overlay__retailer__body">
      <em class="map-micello__hdr txt-break-word">#{store.name}</em>
      <p>Open till <time datetime="">5:30pm</time> tonight</p>
    </div>
  </div>
  <a href="#{store.url}" class="btn btn--full btn--main"><span class="icon icon--store icon--lrg icon--spacing-lrg" aria-hidden="true"></span>Store details</a>
</div>
<span class="map-micello__overlay__close icon icon--close-sml icon--xlrg icon--flush-top" aria-hidden="true"></span>
