<div class="social-share drop-down-container js-social-share" data-url="<%= tile_social_share_url(@centre, kind, id) %>">




  <button type="button" class="social-share__trigger controls__btn btn">
    <span class="icon icon--share icon--lrg icon--spacing-lrg drop-down-container__non-active" aria-hidden="true"></span><!--
    --><span class="drop-down-container__non-active social-share__trigger__txt">Share</span><!--
    --><span class="icon icon--close-lrg icon--lrg icon--spacing-lrg drop-down-container__active" aria-hidden="true"></span><!--
    --><span class="drop-down-container__active social-share__trigger__txt">Close</span>
  </button>

</div>