<h1 class="hide-visually">Events</h1>

<% if @events.blank? %>

  <%# No events fallback message %>
  <div class="no-content-fallback-msg">
    <p>
      <span class="no-content-fallback-msg__icon icon icon--events icon--flush-top" aria-hidden="true"></span>
      <em class="h1">No events at this centre</em>
      <span>See nearby centres</span>
    </p>
  </div>
  <%# //No events fallback message %>

<%- else -%>

  <%# Pin board %>
  <%= pin_board(@events) do |event| %>
    <%= tile "event", result: event %>
  <% end %>
  <%# //Pin board %>

<%- end -%>