<br /><br />

<main class="container" id="main" role="main">
  <div id="pin-board">

    <%- @events.each do |event| -%>
      <%= render partial: "shared/tiles/event", locals: {result: event} %>
    <%- end -%>

  </div>
</main>

<br /><br />