<h1 class="hide-visually">Events</h1>

<div id="pin-board" class="pin-board">

	<%- @events.each do |event| -%>
	  <%= render partial: "/shared/tiles/event", layout: '/layouts/tile', locals: {
      result: event
    } %>
	<%- end -%>

</div>
