<br /><br /><br /><br /><br /><br /><br /><br />
<main class="container" id="main" role="main">

  <h1 class="hide-visually">Events</h1>

  <div id="pin-board">

    <%- @events.each do |event| -%>
      <%= render partial: "shared/tiles/event", locals: {result: event} %>
    <%- end -%>

  </div>
</main>

<br /><br />