<div class="island">

  <h1 class="detail-view__hdr hn" id="detail-view__hdr">Terms &amp; Conditions of Use</h1>

  <div class="islet islet--top detail-view__divider detail-view__divider--top detail-view__desc txt-formatted">
    <h2>General Terms &amp; Conditions of Use</h2>

    <p>Current as at 1 October 2013</p>

    <p>We update our site as often as is practicable, but information can change rapidly and no member of Westfield Group guarantees its accuracy at any time. We are not liable for any loss incurred from relying on this site, including data corruption on download. Information on our site is not financial advice - you should obtain advice before making any decision based on information on this site.</p>

    <p>By accessing this site you agree to these terms, and acknowledge reading them. We do not take responsibility for sites of other organisations, whether or not linked, or any device used to access or view our site.</p>

    <p>The Westfield Site has been prepared under Australian law. Nothing it constitutes an offer of securities, or an invitation to subscribe for securities, enter into any legal agreement or exercise any rights in relation to the offering of any financial product, or amount to a solicitation for any business.</p>

    <h3>Find a Product</h3>

    <p>On this website we have detailed a range of products, prices and stores available in Westfield centres. Each of these products link through to a retailer website for purchase. All prices are provided by relevant retailers and suppliers and are updated regularly to reflect pricing changes, however we advise you to review the retailer website for the most accurate information about price and availability.</p>

    <p>Westfield does not accept any responsibility for price variations or errors, availability or quality of products. No responsibility is accepted by Westfield for the accuracy of any statement or advice contained in the text or advertisements or the accuracy of any prices quoted.</p>

    <h2>Online Terms &amp; Conditions of Use</h2>

    <p>Current as at 1 October 2013</p>

    <p>These terms and conditions of use, together with the policies, notices and disclaimers referred to below (<span class="txt-bold">Terms &amp; Conditions</span>), govern your use of the services at westfield.com.au (<span class="txt-bold">Westfield Online</span> or <span class="txt-bold">Site</span>).</p>

    <h3>1. About Westfield Online</h3>

    <p>Westfield Online is operated by Westfield Digital Pty Limited, ACN 141 708 125, Level 30, 85 Castlereagh St, Sydney, 2000 (<span class="txt-bold">Westfield</span>), an indirectly wholly owned subsidiary of Westfield Holdings Limited ACN 001 671 496 (together with its subsidiaries, <span class="txt-bold">Westfield Group</span>).</p>

    <p>Westfield Online is an online venue which allows users to do a number of activities, including sign up to be members, to view shopping centre and retailer information and click through to the websites of individual retailer participating in the Site (<span class="txt-bold">Participating Retailers</span>). In addition to these Terms &amp; Conditions, you should also refer to the terms and conditions of each Participating Retailers as these terms govern interaction with Participating Retailers.</p>

    <h3>2. Acceptance of terms</h3>

    <p>Your access to and use of the Site, including your use of the materials and information accessible on or from the Site, is governed by these Terms &amp; Conditions.</p>

    <p>Your use of the Site is conditional upon your acceptance and compliance with these Terms &amp; Conditions. You should read the Terms &amp; Conditions carefully. By using the Site, you agree to be bound by, and comply with, these Terms &amp; Conditions. You must not access, browse or otherwise use the Site unless you agree to be bound by the Terms &amp; Conditions.</p>

    <p>Westfield reserves the right to amend the Site and the Terms &amp; Conditions at any time and from time to time without notice to you. Your continued use of the Site after any amendment to the Terms &amp; Conditions constitutes an agreement by you to abide and be bound by the Terms &amp; Conditions as so amended. If you breach these Terms &amp; Conditions, your right to use the Site will cease immediately and we may refuse you access to the Site at our complete discretion.</p>

    <h3>3. Accessing the Site</h3>

    <p>Access to the Site is not provided on a continuous, uninterrupted or permanent basis. Not all sections of the Site may be able to be accessed by all users of the Site. Westfield reserves the right to withdraw or amend the service Westfield provides on the Site without notice. Westfield will not be liable if for any reason the Site is unavailable at any time or for any period.</p>

    <p>From time to time, Westfield may restrict access to some parts of the Site, or the entire Site, to users who have registered with us. When you register, you are required to provide Westfield with information about yourself which is true, accurate, current and complete in all respects. Westfield may change registration requirements from time to time at its complete discretion.</p>

    <p>If you choose, or you are provided with, a user identification code, password or any other piece of information as part of the Westfield security procedures, you must treat such information as confidential, and you must not disclose it to any third party. Westfield has the right to disable any user identification code or password, whether chosen by you or allocated by Westfield, at any time, if in Westfield’s opinion you have failed to comply with any of the provisions of these Terms &amp; Conditions.</p>

    <h3>4. Westfield Online Membership</h3>

    <p>When you sign up to become a member of Westfield Online, you will provide us with certain personal information. Your personal information may be used for providing you with news, offers and information about Westfield Online, Westfield Group shopping centres and promotions run by the Westfield Group, as well as for the purposes set out in section 13 of these Terms &amp; Conditions.</p>

    <h3>5. Products advertised on the Site</h3>

    <p>Products advertised on the Site are provided by, and sold by, Participating Retailers. Westfield does not review or control, and is not responsible in any way for, listings provided by Participating Retailers or purchases made on a Participating Retailer’s website. Products advertised by Participating Retailers on the Site may vary from time to time. Before making a purchase from a Participating Retailer, you should carefully review that Participating Retailer's terms and conditions applying to a potential transaction on their store front and product details page. Subject to law, and other than in relation to any liability which under law cannot be excluded, Westfield is not liable for any costs, damages or other loss in connection with the advertising or purchase of Products from a Participating Retailer or your use of the Site.</p>

    <p>Some products sold by Participating Retailers may be products which, under law, may not be freely sold to all consumers, e.g. alcohol, knives or certain videos or dvds, or may only be sold to consumers on certain terms and conditions (<span class="txt-bold">Restricted Products</span>). Those products are subject to the terms and conditions of the Participating Retailer selling those products. If you wish to discuss or organise a return, exchange or refund of any item, please contact the Participating Retailer directly.</p>

    <h3>Prices &amp; Taxes</h3>

    <p>All prices are in Australian dollars ($). Prices displayed on the Site are inclusive of GST on the sale, if any.</p>

    <p>You are responsible for the payment of any and all taxes, duties, charges, imposts or other liabilities imposed by any government agency, government taxation agency or other government body, including without limitation, any customs duty, any additional GST payable or any value added tax imposed on any products or services acquired or ordered by you from the Site. The Site is designed for use by Australian residents, and we require all Participating Retailers to provide an estimate of any such liabilities on the assumption that you are an Australian resident.</p>

    <p>If you are not an Australian resident you must make your own enquiries about whether any such liabilities will be imposed if Products are delivered to you.</p>

    <h3>7. Copyright and intellectual property rights</h3>

    <p>Westfield, or a member of the Westfield Group, is the copyright owner of the content of the Site or is licensed by the copyright owner to use the content on the Site. Except as permitted by the Copyright Act 1968 (Cth), you must not in any form or by any means:</p>

    <ul>
      <li>copy, adapt, reproduce, broadcast, store, transmit, distribute, print, publish or create derivative works from any information or material on the Site;</li>
      <li>perform in public or transmit in any form by any process (graphic, electronic or mechanical, including further copying, recording, taping or by a storage and information retrieval system) any of the information or material on the Site without the specific prior written consent of Westfield;</li>
      <li>alter, decompile, disassemble, reverse engineer or modify any material or information that you receive from the Site which can be accessed through the Site; or</li>
      <li>use or apply, for commercial purposes any material or information on the Site, without the prior written consent of Westfield.</li>
    </ul>

    <p>All trademarks, brands and names appearing on the Site are the property of their respective owners. Nothing contained on the Site is intended to grant any express or implied right to you to use or exploit any patent, copyright, trademark or trade secret information. No trademarks, brands or names, including as part of domain names or email addresses, may be used in any manner that is likely to cause confusion.</p>

    <h3>8. Links and Third-Party Statements on the Site</h3>

    <p>You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists. The Site must not be framed on any other website, nor may you create a link to any part of the Site other than the home page. To the extent any permission has been granted to link to the site, we reserve the right to withdraw linking permission without notice.</p>

    <p>The Site provides links to other websites not maintained or controlled by, or associated with, Westfield, including those of Participating Retailers. Westfield makes no endorsements, representations or warranties about any other website which you may access through the Site, including those of Participating Retailers (<span class="txt-bold">Other Website</span>). When you access an Other Website, that Other Website is independent from the Site, and Westfield has no control over the content on that Other Website. Any link to an Other Website is provided as a convenience to users of the Site. Other Websites are not under the control of Westfield, and Westfield is not responsible for the accuracy of any information on any Other Website. Westfield does not monitor or review the content of any Other Website. You must take your own precautions to ensure that any Other Website that you access by link from the Site are free from viruses, worms, Trojan horses and other material of a destructive nature.</p>

    <p>Westfield will not routinely monitor or review statements made by persons other than Westfield (<span class="txt-bold">Third Parties</span>) on the Site. Third Parties may post statements or information on some portion of the Site, from time to time, including in connection with Products (<span class="txt-bold">Third Party Posted Material</span>). Westfield has the right at all times to remove any Third Party Posted Material from the Site or to edit any Third Party Posted Material, including in response to complaints received in relation to that material. Westfield makes no representations to you in relation to about the accuracy, quality, legality, ownership or other aspect of any Third Party Posted Material. Westfield expressly disclaims any liability to you for all Third Party Posted Material. Subject to any liability which cannot by law be excluded, Westfield is not liable to you or any other person for any direct, indirect, special or other consequential damages arising out of any use of the Site, the use of any other hyper linked website, the use of any Other Website or any Third Party Posted Material, and including but without limitation, any loss of profits, business interruption, loss of programs or other data on your information handling system or otherwise, even if Westfield has been expressly advised of the possibility of such loss or damages.</p>

    <p>You must indemnify and keep indemnified Westfield in respect of all loss and expense suffered by you as a result of any use or exploitation by you of any Third Party Posted Material or any Other Website, or both.</p>

    <h3>9. Security</h3>

    <p>While Westfield takes appropriate technical and organisational measures to safeguard the personal data that you provide to Westfield, no transmission over the internet can ever be guaranteed secure. Consequently, please note that Westfield cannot guarantee the security of any personal data that you transfer over the Internet to Westfield or its payment gateway.</p>

    <p>If you are using a computer or terminal in a public location, Westfield recommends that you always log out and close the website browser when you complete an online session for your security. In addition Westfield recommends that you take the following security measures to enhance your online safety:</p>

    <ul>
      <li>Keep your account passwords private. Remember, anybody who knows your password may access your account.</li>
      <li>When creating a password, use at least 6 characters. A combination of letters and numbers is best. Do not use dictionary words, your name, email address, or other personal data that can be easily obtained. Westfield also recommends that you frequently change your password. You can do this by going to 'My Account' and clicking 'Change password',</li>
      <li>Avoid using the same password for multiple online accounts.</li>    
    </ul>

    <p>Westfield will never ask you to confirm any account or credit card details via email. If you receive an email claiming to be from westfield.com asking you to do so, please ignore it and do not respond.</p>

    <p>The Australian Government has published additional information about protecting yourself in online transactions. This is available at <%= link_to 'http://www.staysmartonline.gov.au/', 'http://www.staysmartonline.gov.au/', rel: 'external' %> (this website is not provided by the Westfield Group).</p>

    <h3>10. Viruses, hacking and other offences</h3>

    <p>You must not misuse our Site by knowingly introducing viruses, Trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to the Site, the server on which the Site is stored or any server, computer or database connected to our Site. You must not attack the Site via a denial-of-service attack or a distributed denial-of-service attack.</p>

    <p>If we become aware that you have breached any law in connection with your use or access of this Site, we will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use the Site will cease immediately.</p>

    <p>Westfield does not represent that any information (including any file) obtained from or through the Site are free from computer viruses or other faults or defects. It is your responsibility to scan any such information for computer viruses. Westfield will not be liable to you or to any other person for any loss or damage (whether direct, indirect, consequential or economic), however caused and whether by negligence or otherwise, which may result directly or indirectly from any such information or due to your use of the Site or any website linked to the Site, howsoever caused. To the extent that any liability may be imposed on Westfield, to the extent permitted by law it shall be limited to the cost of re-supplying that information.</p>

    <h3>11. Disclaimers</h3>

    <p>Westfield updates the Site as often as is practicable, but information can change rapidly and no member of Westfield Group guarantees its accuracy at any time.</p>

    <p>The Site has been prepared under Australian law. Nothing in it constitutes an offer of securities, or an invitation to subscribe for securities, enter into any legal agreement or exercise any rights in relation to the offering of any financial product, or amount to a solicitation for any business.</p>

    <p>Westfield cannot give any undertaking, that goods or services you purchase from Participating Retailers through the Site will be of satisfactory quality, and any such warranties are DISCLAIMED by Westfield absolutely. This DISCLAIMER does not affect your statutory rights against the Participating Retailer. Where you order goods or services through the Site Westfield may disclose your customer information related to that transaction to the relevant Participating Retailer.</p>

    <p>By using the Site, you agree that your access to, and use of, the Site is subject to these Terms &amp; Conditions and all applicable laws, and is at your own risk. While the information and material contained on the Site is believed to be accurate and current, it is provided by Westfield in good faith on an "as is" basis, and Westfield, related entities of Westfield and the directors, officers and employees of Westfield accept no responsibility for and make no representations or warranties to you or to any other person as to the reliability, accuracy or completeness of the information contained on the Site. Any reference to products or services on the Site is for information purposes only and does not constitute an endorsement or a recommendation of those products or services by Westfield or any Westfield Group company.</p>

    <p>Subject to any non-excludable provisions in the Competition and Consumer Act 2010 and similar State or Territory legislation in Australia:</p>

    <ul>
      <li>Westfield expressly disclaims any implied or express warranties or conditions of any kind, including non infringement of intellectual property rights relating to information or materials accessible from or on the Site; and</li>
      <li>Westfield shall not be liable to you for any damage resulting from use of or reliance on the materials or information on the website or any other loss or damage whatsoever including, but without limitation, special, indirect, consequential or incidental loss or damage (including loss of profits, revenue, production, opportunity, access to markets, goodwill, reputation, use or any indirect, remote, abnormal or unforeseeable loss), or any loss or damage relating to business interruption, loss of programs or other data on your information systems or costs of replacement goods, or otherwise, even if Westfield is expressly advised of the likelihood of such loss or damage.</li>
    </ul>

    <p>To the extent (if any) that the content of the website does not satisfy the laws of a country other than Australia, it is not directed to persons in those countries and they should not use the Site.</p>

    <h3>12. Confidentiality</h3>

    <p>You should not send any information or material that you consider to be confidential or proprietary, to Westfield or any other person, through the Site. Any information or material sent to Westfield at, or through the Site, is deemed to be not confidential. You are deemed to grant to Westfield an unrestricted, irrevocable licence to use, reproduce, display, perform, modify, transmit and distribute all materials or information sent by you to or through the Site. Westfield is free to use any ideas, concepts, know-how or techniques that you send to Westfield, for any purpose.</p>

    <h3>13. Privacy</h3>

    <p>Westfield may collect your personal information through your use of the Site or through your contact with Westfield. Any personal data and other information provided by you will be processed by Westfield in accordance with the <%= link_to 'Westfield Online Privacy Policy', '/privacy-policy#online-privacy-policy' %></a>.</p>

    <p>By providing any such personal data or other information you agree to the terms of the <%= link_to 'Westfield Online Privacy Policy', '/privacy-policy#online-privacy-policy' %>, and in particular you agree that Westfield or members of the Westfield Group can collect, hold, use and disclose your personal information in the following ways:</p>

    <ul>
      <li>for the purpose of and incidental to your use of the Site, including facilitating the completion of orders through the Site and other uses and disclosures we required to operate the Site;</li>
      <li>for the purposes of providing you with news and information about Westfield events, activities and promotions, both in centre and as part of Westfield's other activities;</li>
      <li>for other purposes to which you, either expressly or impliedly, consent to,</li>
    </ul>
    <p>and for the purposes set out above, we may transfer your personal information to others in countries outside Australia.</p>

    <p>You may access your personal information by logging into your Westfield Online account.</p>

    <h3>14. Relevant Parties</h3>

    <p>Any indemnity, agreement, representation or promise provided by you to Westfield as set out in these Terms &amp; Conditions shall be taken to be an indemnity, agreement, representation or promise also provided by you to the employees, officers, agents and shareholders of Westfield and any related entity of Westfield in relation to the Site.</p>

    <h3>15. Waiver</h3>

    <p>If we fail at any time to insist upon strict performance of any of your obligations under these Terms &amp; Conditions, or if we fail to exercise any of the rights or remedies to which we are entitled under them, this shall not constitute a waiver of such rights or remedies and shall not relieve you from compliance with such obligations. A waiver by us of any default shall not constitute a waiver of any subsequent default. No waiver by us of any of these Terms &amp; Conditions shall be effective unless it is expressly stated to be a waiver and is communicated to you in writing.</p>

    <h3>16. Severability</h3>

    <p>If any of these Terms &amp; Conditions are determined by any competent authority to be invalid, unlawful or unenforceable to any extent, such term, condition or provision will to that extent be severed from the remaining terms, conditions and provisions which will continue to be valid to the fullest extent permitted by law.</p>

    <h3>17. Applicable Law</h3>

    <p>These Terms &amp; Conditions shall be governed by, construed and enforced in accordance with the laws of the state of New South Wales, Australia. You agree to submit to the non-exclusive jurisdiction of the courts of the state of New South Wales, Australia.</p>

    <p>The Site may be accessed throughout Australia and overseas. Westfield makes no representation that the content of the Site complies with the laws (including intellectual property laws) of any country outside Australia. If you access the Site from outside Australia, you do so at your own risk and are responsible for complying with the laws in the place where you access the website.</p>

    <h3>18. Alterations to Terms &amp; Conditions</h3>

    <p>Westfield may revise or alter these Terms &amp; Conditions at any time. Revisions and alterations will be posted on the Site. Users are responsible for reviewing the Site from time to time to ensure compliance. If Westfield makes a request to you to stop using the Site or to promptly return or destroy copies of information provided on the Site, you must immediately comply with that request, and confirm in writing to Westfield within five (5) business days after that request, that you have done so.</p>

    <h3>19. Feedback and complaints</h3>

    <p>You can contact us about questions or comments about Westfield Online on 1300 788 957 Monday - Friday 9:00AM - 5:00PM AEDST or by email to <%= mail_to "eshoppersupport@au.westfield.com" %></p>

    <p>Complaints about a specific Participating Retailer or product must be directed to the Participating Retailer concerned through the contact details provided on the email that you receive confirming that your order is being processed, for resolution directly with them. Westfield has no obligation to help resolve disputes with Participating Retailers. If you have a complaint about a specific purchase, and have paid by Visa or Mastercard, you may have charge back rights and should contact your financial institution.</p>

    <h3>20. Entire agreement</h3>

    <p>These Terms &amp; Conditions and any document expressly referred to in them represent the entire agreement between you and Westfield and supersede any prior agreement, understanding or arrangement between you and Westfield, whether oral or in writing.</p>
  </div>

</div>