<ul class="drop-down horiz-list horiz-list--fit horiz-list--center">

  <li class="social-share__facebook">
    <a href="#" rel="external" target="_blank">
      <span class="icon icon--facebook icon--xlrg icon--flush-top" aria-hidden="true"></span>
      <span class="hide-visually">Facebook</span>
    </a>
  </li>

  <li class="social-share__twitter">
    <a href="#" rel="external" target="_blank">
      <span class="icon icon--twitter icon--xlrg icon--flush-top" aria-hidden="true"></span>
      <span class="hide-visually">Twitter</span>
    </a>
  </li>

  <li class="social-share__google">
    <a href="#" rel="external" target="_blank">
      <span class="icon icon--google-plus icon--xlrg icon--flush-top" aria-hidden="true"></span>
      <span class="hide-visually">Google+</span>
    </a>
  </li>

  <li class="social-share__pinterest">
    <a href="#" rel="external" target="_blank">
      <span class="icon icon--pinterest icon--xlrg icon--flush-top" aria-hidden="true"></span>
      <span class="hide-visually">Pinterest</span>
    </a>
  </li>

  <li class="social-share__email">
    <a href="#">
      <span class="icon icon--email icon--xlrg icon--flush-top" aria-hidden="true"></span>
      <span class="hide-visually">Email</span>
    </a>
  </li>

</ul>