/* ======================================================================================
   @BASE -> EMBEDDED CONTENT
   ====================================================================================== */

/*
	1.	Remove the gap between images and the bottom of their containers.
 	2.	Make responsive.
	3.	So that `alt` text is visually offset if images don't load.
*/
img {
	vertical-align: middle; /* 1 */
	max-width: 100%; /* 2 */
	height: auto; /* 2 */
	font-style: italic; /* 3 */
}

/* Images in `figure` elements */
figure > img {display: block;}