/* ======================================================================================
   @BASE -> FONTS
   ====================================================================================== */

/*
	Note: all `@font-face` declarations here.
*/

/* [Icons]
-------------------------------------------------------*/
@font-face {
	font-family: "icons";
	src: asset-url("fonts/icons/fontello.eot");
	src: asset-url("fonts/icons/fontello.eot#iefix") format('embedded-opentype'),
	   asset-url("fonts/icons/fontello.woff") format('woff'),
	   asset-url("fonts/icons/fontello.ttf") format('truetype'),
	   asset-url("fonts/icons/fontello.svg#fontello") format('svg');
	font-weight: normal;
	font-style: normal;
}