/* ======================================================================================
   @BASE -> HEADINGS
   ====================================================================================== */

/*
  Base heading styles

  Styleguide Headings
*/

/* Note: to target any heading of any level use this generic heading class: `.hn` */

@include headings(1, 6) {
  font-weight: normal;
}

h1, .h1 {
  font-family: $font-family-lato;
  font-weight: 300;
  /* This is needed to turn off the top margin set in 'utils/normalize' */
  margin-top: 0;
}