/* ======================================================================================
   @BASE -> HEADINGS
   ====================================================================================== */

/*
  Base heading styles

  Styleguide Headings
*/

/*
	Note: to target any heading of any level use this generic heading class: `.hn`.
*/

/* Shared */
@include headings(1, 6) {
  font-weight: normal;
}

/* H1 */
h1, .h1 {
  font-family: $font-family-lato;
  font-weight: 300;
  margin-top: 0; /* Note: this is needed to turn off the top margin set in 'utils/normalize' */
}