/* ======================================================================================
   @BASE -> LISTS
   ====================================================================================== */

/*
	Note: including selectors from the 'user-generated-formatting' module to keep things DRY.
*/

/* [UNORDERED/ORDERED]
-------------------------------------------------------*/
.list,
.user-generated-formatting ul,
.user-generated-formatting ol {
	@extend %mrg-base;

	/* Left indent */
	&,
	ul,
	ol {
		@include to-rem(margin-left, $spacing-base);

		@include respond-min($non-palm) {
			@include to-rem(margin-left, $spacing-dbl);
		}
	}
}

	/* Unordered bullets */
	ul.list,
	.user-generated-formatting ul {
		list-style: disc;

		ul {
			list-style: circle;

				ul {list-style: square;}
		}
	}

	/* Ordered bullets */
	ol.list,
	.user-generated-formatting ol {
		list-style: decimal;

		ol {
			list-style: lower-alpha;

				ol {list-style: lower-roman;}
		}
	}

/* [DEFINITION]
-------------------------------------------------------*/
dl {@extend %mrg-base;}

	dt {font-weight: bold;}