/* ======================================================================================
   @BASE -> LISTS
   ====================================================================================== */

/*
  Styleguide Lists
*/


/* [UNORDERED / ORDERED]
-------------------------------------------------------*/
.list,
.txt-formatted ul,
.txt-formatted ol {
	@extend %mrg-base;

	/* Left indent */
	&,
	ul,
	ol {
		@include to-rem(margin-left, $spacing-base);

		/* Increase left indent at this breakpoint */
		@include respond-min($non-palm) {
			@include to-rem(margin-left, $spacing-dbl);
		}
	}
}

	/* Unordered bullets */
	ul.list,
	.txt-formatted ul {
		list-style: disc;

		ul {
			list-style: circle;

				ul {list-style: square;}
		}
	}

	/* Ordered bullets */
	ol.list,
	.txt-formatted ol {
		list-style: decimal;

		ol {
			list-style: lower-alpha;

				ol {list-style: lower-roman;}
		}
	}

/* [DEFINITION]
-------------------------------------------------------*/
dl {@extend %mrg-base;}

	dt {font-weight: bold;}