/* ======================================================================================
   @BASE -> MAIN
   ====================================================================================== */

html {
	font-size: ($font-size/16)+em;
	line-height: $line-height-ratio;
}

.ipad {
	/* Because we have to use `overflow-x: hidden` to fix the orientation bug (see below) the `height` of the `html` / `body` elements will stop where the content stops rather than stretching the full height of the viewport which can cause problems with elements that need to overlap the UI e.g. drop downs as they can get cut-off */
	height: 100%;

	/* This is also to get around the `overflow-x: hidden` issue that we need to fix the orientation bug (see below). Needs `min-height` instead of `height` as `body` has `padding-bottom` on some pages and `height: 100%` cuts it off. Not sure why `min-height` on HTML doesn't work */
	body {min-height: 100%;}

	/* iOS orientation bug fix: https://github.com/twbs/bootstrap/issues/6643. Only happens on iPad on iOS  6.1.3 */
	&,
	body {overflow-x: hidden;}

	/* Have to remove for 'Stores' as it screws up the `z-index` stacking order for header elements */
	.stores {overflow-x: visible;}
}

body {
	background-color: $color-grey-light-2;
	@include to-rem(padding-bottom, $spacing-base);
}

/* Set `font-family` and `color` */
html,
button,
input,
select,
textarea {
	font-family: $font-family;
	color: $color-txt-base;
}