/* ======================================================================================
   @BASE -> MISCELLANEOUS
   ====================================================================================== */

/* [HORIZONTAL RULE]
-------------------------------------------------------*/
hr {
	@extend %mrg-base;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $color-grey-med-3;
  padding: 0;
	position: relative;
}

/* [ABBREVIATION]
-------------------------------------------------------*/
abbr[title] {cursor: help;}

/* [INSERT]
-------------------------------------------------------*/
ins {
	background-color: #ff9;
	color: $color-grey-dark-1;
	text-decoration: none;
}

/* [PRE]
-------------------------------------------------------*/
pre {@extend %mrg-base;}

/* [ADDRESS/EM]
-------------------------------------------------------*/
address,
em {font-style: normal;}

/* [SMALL]
-------------------------------------------------------*/
small {font-size: 100%;}

/* [CANVAS]
-------------------------------------------------------*/
/* Set the default behavior for touch-based browsing in IE 10 on devices running Windows 8 */
canvas {-ms-touch-action: double-tap-zoom;}

/* [CODE]
-------------------------------------------------------*/
code {color: $color-blue;}

/* [STRIKETHOUGH]
-------------------------------------------------------*/
s {text-decoration: line-through;}


/* [MARK]
-------------------------------------------------------*/
mark {
  background-color: transparent;;
  font-weight: strong;
  color: inherit;
}