/* ======================================================================================
   @BASE -> QUOTES
   ====================================================================================== */

/* [INLINE]
-------------------------------------------------------*/
q {
	quotes: "\2018" "\2019" "\201C" "\201D";

	/* Pseudo elements */
	&:before {
		content: "\2018"; /* Left single quotation mark */
		content: open-quote;
	}

	&:after {
		content: "\2019"; /* Right single quotation mark */
		content: close-quote;
	}

		/* Nested */
		q {
			&:before {
				content: "\201C"; /* Left double quotation mark */
				content: open-quote;
			}

			&:after {
				content: "\201D"; /* Right double quotation mark */
				content: close-quote;
			}
		}
}