/* ======================================================================================
   @BASE -> QUOTES
   ====================================================================================== */

/* [INLINE]
-------------------------------------------------------*/
q {
	quotes: "\2018" "\2019" "\201C" "\201D";

	/* Pseudo elements */
	&:before {
		content: "\2018"; /* Left single quotation mark */
		content: open-quote;
	}

	&:after {
		content: "\2019"; /* Right single quotation mark */
		content: close-quote;
	}

		/* Nested */
		q {
			&:before {
				content: "\201C"; /* Left double quotation mark */
				content: open-quote;
			}

			&:after {
				content: "\201D"; /* Right double quotation mark */
				content: close-quote;
			}
		}
}

/* [BLOCK]
-------------------------------------------------------*/
.quote {
	@extend %mrg-base;

	/* Reduce the width and center align at this breakpoint */
	@include respond-min($non-palm) {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

	/* Reduce the width at this breakpoint */
	@include respond-min($ipad-portrait) {width: 88%;}

	/* Reduce the width align at this breakpoint */
	@include respond-min($desk) {width: 70%;}

	/* Shared */
	blockquote,
	figcaption {
		@include to-rem(padding-left, $spacing-dbl);

		/* Increase padding at this breakpoint */
		@include respond-min($non-palm) {
			@include to-rem(padding-left padding-right, $spacing-dbl+$spacing-base);
		}
	}

	/* The quote */
	blockquote {
		font-family: $font-family-quote;
		@include font-size(20, 1.2);
		font-style: italic;
		color: $color-brand;
		padding-top: 1em;
		padding-bottom: 1em;
		position: relative;
		quotes: none;

		/* Increase font size at this breakpoint */
		@include respond-min($non-palm) {
			@include font-size(22, 1.1);
		}

		/* Pseudo elements - left/right double quotation marks  */
		&:before,
		&:after {
			font-style: normal;
			@include font-size(74, 1);
			speak: none;
			position: absolute;

			/* Increase font size at this breakpoint */
			@include respond-min($non-palm) {
				@include font-size(100, 1);
			}
		}

		&:before {
			content: "\201C";
			top: 0;
			left: 0;
		}

		&:after {
			content: "\201D";
			bottom: 0;
			right: 0;
			line-height: 0.2;

			/* Hide at this breakpoint */
			@include respond-max($palm) {
				display: none;
			}
		}
	}

	/* The source */
	figcaption {
		color: $color-grey;
		text-align: right;
		@include font-size($font-size-sml);

		/* Pseudo element - em dash */
		&:before {content: "\2014";}
	}
}