/* ======================================================================================
   @BASE -> SKIP LINK
   ====================================================================================== */

/*
	An accessibility feature to allow assistive technology users e.g. screen readers to easily skip to the main content, also assists keyboard users.
*/

.hide-visually.skip-link {
	&:active,
	&:focus {
		@extend %transition-off;
		position: absolute;
		left: 0;
		top: 0;
		z-index: $z-index-high;
		width: 100%;
		height: auto;
		overflow: visible;
		clip: auto;
		margin: 0;
		padding: to-em($spacing-third) 0;
		background-color: rgba($color-brand, 0.8);
		color: #fff;
		box-shadow: 0 8px 6px -6px rgba(#000, 0.4);
		text-align: center;
	}
}