<% content_for :section_nav do %>
  <%= render 'section_nav' %>
<% end %>

<h1 class="hide-visually">Deals</h1>

<% if @deals.blank? %>

  <%# No deals fallback message %>
  <div class="no-content-fallback-msg">
    <span class="icon icon--deals icon--flush-top" aria-hidden="true"></span>
    <p><em class="h1">No deals at this centre</em> <span>See nearby centres</span></p>
  </div>
  <%# //No deals fallback message %>

<%- else -%>

  <%# Pin board %>
  <%= pin_board(@deals) do |deal| %>
    <%= tile "deal", result: deal %>
  <% end %>
  <%# //Pin board %>

<%- end -%>
