<h1 class="hide-visually">Deals</h1>

<div id="pin-board" class="pin-board">

  <%- @deals.each do |deal| -%>
    <%= render partial: "/shared/tiles/deal", layout: '/layouts/tile', locals: {
      result: deal
  } %>
  <%- end -%>

</div>