<br/><br/><br/><br/><br/><br/>

<main class="container" id="main" role="main">

  <h1 class="hide-visually">Deals</h1>

  <div id="pin-board">

    <%- @deals.each do |deal| -%>
      <%= render partial: "shared/tiles/deal", locals: {deal: deal} %>
    <%- end -%>

  </div>
</main>

<br /><br />