/* ======================================================================================
   @MAIN
   ====================================================================================== */

/* [SECTION]
-------------------------------------------------------*/
.sg-section {
  @include to-rem(margin-bottom, $spacing-dbl);

  &:last-child {margin-bottom: 0;}
}

  /* Description of section */
  .sg-section__desc {
    &,
    p {@extend %mrg-base;}
  }

/* [EXAMPLE]
-------------------------------------------------------*/
.sg-example {@extend %mrg-base;}

/* [MODIFIER]
-------------------------------------------------------*/
.sg-modifier {
  position: relative;
  @include to-rem(padding-top, 35);
  border-top: 1px solid $color-grey-med-1;
}

  .sg-modifier__name {
    position: absolute;
    top: 0;
    right: 0;
    @include to-rem(padding, 2 5);
    background-color: $color-green;
    color: #fff;
  }

/* [CODE]
-------------------------------------------------------*/
.sg-code-block {
  @include to-rem(padding, 1 6);
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Override style from prism.css. This is to stop the main content area from getting too wide */
code[class*="language-"],
pre[class*="language-"] {white-space: pre-wrap;}

/* [TABLE]
-------------------------------------------------------*/
.sg-table {
  /* Cells */
  th,
  td {border-color: $color-grey-med-3;}
}

/* [OVERRIDES]
-------------------------------------------------------*/
/* Site feedback button */
.btn--site-feedback {

  /* Hide the default version */
  .styleguides & {display: none;}

  /* Force feedback button to show in example */
  .sg-section & {
    display: block;
    position: static;
  }
}