<div class="tile products category " data-url="lightbox:occasion">
  <img alt="" width="240" src="<%= result["_links"]["image"]["href"]%>" />
  <div class="title">
    <div class="name">
      <%= result['name'] %><br/>
    </div>
  </div>
  <div class="tag"><i class="products"></i></div>
</div>
