<div class="tile products events " data-url="lightbox:event">
  <img alt="" width="240" src="<%= result["_links"]["image"]["href"]%>" />
  <div class="icons">
    <span class="icon save"></span>
  </div>
  <div class="title">
    <div class="name">
      <%= result['name'] %><br/>
    </div>
  </div>
  <div class="tag"><i class="events"></i></div>
</div>
