<%= styleguide_block 'Button Base' do %>
<p><button type="button" class="btn btn--main $modifier_class">Button (button)</button></p>
<p><a href="#" class="btn btn--main $modifier_class">Button (anchor)</a></p>
<% end %>