<%= styleguide_block 'Expand/Collapse' do %>
<p><button type="button" class="btn btn--full btn--expand-collapse">Button (button) <span aria-hidden="true" class="icon icon--arrow-down-full icon--lrg"></span></button></p>
<% end %>