<%= styleguide_block 'Faux Link' do |style| %>
<div class="sg-sub-section"><button type="button" class="btn btn--faux-link $modifier_class">Button (button)</button></div>
<div class="sg-sub-section"><a href="#" class="btn btn--faux-link $modifier_class">Button (anchor)</a></div>
<% end %>