<%= styleguide_block 'Faux Link' do %>
<p><button type="button" class="btn btn--faux-link $modifier_class">Button (button)</button></p>
<p><a href="#" class="btn btn--faux-link $modifier_class">Button (anchor)</a></p>
<% end %>