/* ======================================================================================
   @LAYOUT -> GRID
   ====================================================================================== */

/*
	Usage:
		Fluid and nestable mobile first grid system.

	Demo:
		Style Guide -> Grid

	Credit:
		https://github.com/csswizardry/csswizardry-grids/blob/master/csswizardry-grids.scss
*/

/* Grid container */
.grid {
	/* Negative `margin-left` to negate the columns' gutters */
	@include to-rem(margin-left, -$grid-gutter);

	/* Clear fix */
	@include clear-fix;

	/* Very infrequently occuring grid rows as children of grid rows */
	> .grid {margin-left: 0;}

	/* Non-linear (always cols) version */
	&.grid--non-linear {
		/* Need to offset bottom margin to keep spacing consistent */
		@include to-rem(margin-bottom, -$grid-gutter);
	}
}

	/* Grid item */
	.grid__item {
		width: 100%;
		float: left;
		@include to-rem(padding-left, $grid-gutter);

		/* Print - have to re-linearise as all browsers except Chrome will honor any width classes above the `$non-palm` breakpoint */
		@media print {
			width: 100% !important;
		}
	}

	/* Apply bottom margins between the grid elements for linearised version */
	.grid,
	.grid__item {
		@extend %mrg-base;

		/* Turn off bottom margin at this breakpoint (non-linearised) and only for 'screen' media so as not to affect 'print' media */
		@include respond-min($non-palm, $screen-only: true) {
			margin-bottom: 0;
		}
	}

/* --Extenders-- */

/* 'Gutterless' and 'Center align' */
.grid--gutterless,
.grid--center {margin-left: 0;}

/* -Gutters- */

/* Gutterless */
.grid--gutterless > .grid__item {padding-left: 0;}

/* Double the gutter */
.grid--gutter-dbl {
	/* Negative `margin-left` to negate the columns' gutters */
	@include to-rem(margin-left, -$grid-gutter-dbl);

	/* Grid item */
	> .grid__item {@include to-rem(padding-left, $grid-gutter-dbl);}
}

/* Half the gutter */
.grid--gutter-half {
  /* Negative `margin-left` to negate the columns' gutters */
  @include to-rem(margin-left, -$grid-gutter-half);

  /* Grid item */
  > .grid__item {@include to-rem(padding-left, $grid-gutter-half);}
}

/* -Bottom spacing- */

/* Remove bottom margin */
.grid--flush {
	&,
	> .grid__item {
		margin-bottom: 0;

		/* Turn off for last child */
		&:last-child {margin-bottom: 0;}
	}
}

/* Apply half bottom margin */
.grid--mrg-half {
	&,
	> .grid__item {
		@include to-rem(margin-bottom, $grid-gutter-half);

		/* Turn off for last child */
		&:last-child {margin-bottom: 0;}
	}

	/* Non-linear (always cols) version */
	&.grid--non-linear {
		/* Need to offset bottom margin to keep spacing consistent */
		@include to-rem(margin-bottom, -$grid-gutter-half);
		/* Need to renable bottom margin for `:last-child` */
		> .grid__item:last-child {@include to-rem(margin-bottom, $grid-gutter-half);}
	}
}

/* Apply bottom margin only for 'Non-palm' */
@include respond-min($non-palm) {
	.grid--mrg-base-non-palm > .grid__item {@include to-rem(margin-bottom, $grid-gutter);}
}

/* Apply bottom margin only for 'Lap small' when linearised */
@include respond-range-fixed(lap-sml) {
  .grid--mrg-base-lap-sml {
  	&,
	  > .grid__item {
	    @include to-rem(margin-bottom, $grid-gutter);

	    /* Turn off for last child */
	    &:last-child {margin-bottom: 0;}
	  }
  }
}

/* Center align */
.grid--center > .grid__item {
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	float: none;
}

/* Reversed */
.grid--rev > .grid__item {float: right;}

/* Change stacking order for 'Palm' - only works for 2 cols */
@include respond-max($palm) {
	.grid--rev-stack {
		display: table;
		width: 100%;

		> .grid__item {
			float: none;
			width: 100%;
			display: table-footer-group;
		}

		> .grid__item + .grid__item {display: table-caption;}
	}
}

/* Table */
.grid--table {
	display: table;

	> .grid__item {
		display: table-cell;
		float: none;
	}
}

/* Table at 'Non-palm' */
@include respond-min($non-palm) {
	.grid--table-non-palm {
		display: table;

		> .grid__item {
			display: table-cell;
			float: none;
		}
	}
}