/* ======================================================================================
   @LAYOUT -> GRID -> PULL
   ====================================================================================== */

/*
	Usage: pull classes, to move grid items over to the right by certain amounts.

	Credit: https://github.com/csswizardry/csswizardry-grids/blob/master/csswizardry-grids.scss
*/

@mixin pull-classes($namespace: "") {

	/* Whole */
	.pull-#{$namespace}one-whole {right: $one-whole;}

	/* Halves */
	.pull-#{$namespace}one-half {right: $one-half;}

	/* Thirds */
	.pull-#{$namespace}one-third {right: $one-third;}
	.pull-#{$namespace}two-thirds {right: $two-thirds;}

	/* Quarters */
	.pull-#{$namespace}one-quarter {right: $one-quarter;}
	.pull-#{$namespace}two-quarters {right: $one-half;}
	.pull-#{$namespace}three-quarters {right: $three-quarters;}

	/* Fifths */
	.pull-#{$namespace}one-fifth {right: $one-fifth;}
	.pull-#{$namespace}two-fifths {right: $two-fifths;}
	.pull-#{$namespace}three-fifths {right: $three-fifths;}
	.pull-#{$namespace}four-fifths {right: $four-fifths;}

	/* Sixths */
	.pull-#{$namespace}one-sixth {right: $one-sixth;}
	.pull-#{$namespace}two-sixths {right: $one-third;}
	.pull-#{$namespace}three-sixths {right: $one-half;}
	.pull-#{$namespace}four-sixths {right: $two-thirds;}
	.pull-#{$namespace}five-sixths {right: $five-sixths;}

	/* Eighths */
	.pull-#{$namespace}one-eighth {right: $one-eighth;}
	.pull-#{$namespace}two-eighths {right: $one-quarter;}
	.pull-#{$namespace}three-eighths {right: $three-eighths;}
	.pull-#{$namespace}four-eighths {right: $one-half;}
	.pull-#{$namespace}five-eighths {right: $five-eighths;}
	.pull-#{$namespace}six-eighths {right: $three-quarters;}
	.pull-#{$namespace}seven-eighths {right: $seven-eighths;}

	/* Tenths */
	.pull-#{$namespace}one-tenth {right: $one-tenth;}
	.pull-#{$namespace}two-tenths {right: $one-fifth;}
	.pull-#{$namespace}three-tenths {right: $three-tenths;}
	.pull-#{$namespace}four-tenths {right: $two-fifths;}
	.pull-#{$namespace}five-tenths {right: $one-half;}
	.pull-#{$namespace}six-tenths {right: $three-fifths;}
	.pull-#{$namespace}seven-tenths {right: $seven-tenths;}
	.pull-#{$namespace}eight-tenths {right: $four-fifths;}
	.pull-#{$namespace}nine-tenths {right: $nine-tenths;}

	/* Twelfths */
	.pull-#{$namespace}one-twelfth {right: $one-twelfth;}
	.pull-#{$namespace}two-twelfths {right: $one-sixth;}
	.pull-#{$namespace}three-twelfths {right: $one-quarter;}
	.pull-#{$namespace}four-twelfths {right: $one-third;}
	.pull-#{$namespace}five-twelfths {right: $five-twelfths;}
	.pull-#{$namespace}six-twelfths {right: $one-half;}
	.pull-#{$namespace}seven-twelfths {right: $seven-twelfths;}
	.pull-#{$namespace}eight-twelfths {right: $two-thirds;}
	.pull-#{$namespace}nine-twelfths {right: $three-quarters;}
	.pull-#{$namespace}ten-twelfths {right: $five-sixths;}
	.pull-#{$namespace}eleven-twelfths {right: $eleven-twelfths;}
}

@if $grid-pull == true {

	/* Not a particularly great selector, but the DRYest way to do things */
	[class*="pull-"] {position: relative;}

	/*
		Output all the pull classes.

		Note: these may not be required esp. if the width classes are only being used for the grid.
	*/
	@include pull-classes();

	/*
		Output all the pull classes under specific breakpoints applied via specific classes (namespaced) e.g. `.pull-lap-one-half`.

		Note: be sure to comment out what you don't use as a lot of CSS is generated from all of this.
	*/

	/* Non-palm */
	@include respond-min($non-palm) {
		@include pull-classes("non-palm-");
	}

	/* Lap */
	@include respond-range-fixed(lap) {
		@include pull-classes("lap-");
	}

	/* Lap small */
	@include respond-range-fixed(lap-sml) {
		@include pull-classes("lap-sml-");
	}

	/* Lap large */
	@include respond-range-fixed(lap-lrg) {
		@include pull-classes("lap-lrg-");
	}

	/* Desk */
	@include respond-min($desk) {
		@include pull-classes("desk-");
	}

	/* Desk small */
	@include respond-range-fixed(desk-sml) {
		@include pull-classes("desk-sml-");
	}

	/* Desk large */
	@include respond-min($desk-lrg) {
		@include pull-classes("desk-lrg-");
	}

}
/* endif */