<%= styleguide_block 'Deal Main' do |style| %>
  <header class="deal-main box box--torn">
    <h1 class="deal-main__hdr h1">Receive a $30 Bonus Gift Card when you spend $300 </h1>
    <p class="deal-main__meta">from David Jones <span>Deal from  <time datetime="2013-12-10">Tuesday 10 December</time> to <time datetime="2013-12-11">Wednesday 11 December</time></span></p>
  </header>
<% end %>