<%= styleguide_block 'Drop Down Menu' do |style| %>

<div class="drop-down-menu drop-down-menu--alt drop-down-container drop-down-container--hover">
  <a href="/bondijunction/products/bags-luggage" ng-class="{'is-active': (activeNavigationItem == 'bags-luggage')}">Bags</a>
  <div class="drop-down-menu__target drop-down pointer-up box box--drop-down">
    <div class="island">
      <h2 class="drop-down-menu__hdr-alt">Top Categories</h2>
      <ul class="drop-down-menu__list-alt">
        <li><a href="#">Kids Bags</a></li>
        <li><a href="#">Handbags &amp; Purses</a></li>
        <li><a href="#">Bags &amp; Packs</a></li>
        <li><a href="#">Business</a></li>
        <li><a href="#">Travel and Luggage</a></li>
      </ul>
    </div>
  </div>
</div>

<% end %>