<%= styleguide_block 'Fallback Message' do |style| %>
<div class="fallback-msg $modifier_class">
  <p>
    <span class="fallback-msg__icon icon icon--deal icon--flush-top" aria-hidden="true"></span>
    <em class="h1">No deals at this centre</em>
    <span>See nearby centres</span>
  </p>
</div>
<% end %>