<%= styleguide_block 'Feedback' do |style| %>
<p class="feedback $modifier_class">Feedback message here. Phasellus ultrices nulla quis nibh. Quisque a lectus.</p>

<% example '.feedback--block' do %>
<div class="feedback feedback--block feedback--success">
  <h2 class="h3 hn">A heading about your message</h2>
  <p>Feedback message with more than one paragraph of text.</p>
  <ul class="list">
    <li>You can have a list too.</li>
    <li>Praesent dapibus</li>
    <li>Pellentesque fermentum dolor.</li>
  </ul>
</div>
<% end %>

<% end %>