<%= styleguide_block 'List Divider' do |style| %>
<ul>
  <li class="list-divider $modifier_class">
    <p>Lorem ipsum</p>
  </li>
  <li class="list-divider">
    <p>Lorem ipsum</p>
  </li>
</ul>
<% end %>