<%= styleguide_block 'Nav Contextual' do |style| %>
<div class="nav-contextual $modifier_class js-nav-contextual js-viewport-check is-in-viewport-history is-in-viewport">
  <div class="nav-contextual__clip">
    <div class="nav-contextual__clip__inner">
      <ul class="nav-contextual__list horiz-list js-nav-contextual-list">
        <li><a href="#">Nec at quodsi</a></li><!--
        --><li><a href="#">Ad sed labores inermis</a></li><!--
        --><li><a href="#">Ne mel utroque</a></li><!--
        --><li><a href="#">Discere commune</a></li><!--
        --><li><a href="#">In sanctus platonem voluptatum ius</a></li><!--
        --><li><a href="#">Nec at quodsi</a></li>
      </ul>
    </div>
    <span class="nav-contextual__clip__overlay icon icon--arrow-right icon--deca icon--flush-top js-nav-contextual-clip-overlay" aria-hidden="true"></span>
  </div>
</div>
<% end %>