<%= styleguide_block 'No Content Fallback Message' do |style| %>
<div class="no-content-fallback-msg $modifier_class">
  <span class="icon icon--deals icon--flush-top" aria-hidden="true"></span>
  <p><em class="h1">No deals at this centre</em> <span>See nearby centres</span></p>
</div>
<% end %>