<%= styleguide_block 'Pager' do |style| %>
<nav class="pager $modifier_class" role="navigation" aria-label="Product pagination">
  <div class="pager__inner">
    <em class="pager__count">
      <span class="hide-visually">Page </span>
      2 of 1572
    </em>
    <a class="pager__prev btn btn--pointer btn--pointer-alt btn--main btn--main-white " href="#" rel="prev">
      <span class="icon icon--arrow-left-big btn--pointer__icon btn--pointer__icon--flush" aria-hidden="true"></span>
      Prev
    </a>
    <a class="pager__next btn btn--pointer btn--main btn--main-white" href="#" rel="next">Next
        <span class="icon icon--arrow-right-big btn--pointer__icon btn--pointer__icon--flush" aria-hidden="true"></span>
    </a>
  </div>
</nav>
<% end %>