<%= styleguide_block 'Pin Board' do |style| %>
  <div class="pin-board $modifier_class grid is-loaded">
    <div class="grid__item one-half">
      <article class="tile box" role="article">
        <div class="tile__image">
          <img src="http://placehold.it/289x389&text=image" alt="">
        </div>
      </article>
    </div>
    <div class="grid__item one-half">
      <article class="tile box" role="article">
        <div class="tile__image">
          <img src="http://placehold.it/289x389&text=image" alt="">
        </div>
      </article>
    </div>
  </div>
<% end %>