<%= styleguide_block 'Price Strip' do |style| %>
  <p class="price-strip $modifier_class island-sides islet-ends">
    <span class="price-strip__normal hide-visually">Normal price: </span>
    <s class="price-strip__normal">$249.99</s>
    <span class="hide-visually">Sale price: </span>
    <strong class="price-strip__sale">$210.88</strong>
    <strong class="price-strip__savings islet">5% Off</strong>
  </p>
<% end %>