<%= styleguide_block 'Promo Tile' do |style| %>
<div class="promo-tile $modifier_class box">
  <img alt="" src="http://placehold.it/957x127">
  <span class="promo-tile__icon icon icon--service icon--flush-top" aria-hidden="true"></span>
  <div class="islet island-non-palm">
    <h2 class="promo-tile__hdr">Centre Services</h2>
    <p>Centre Concierge, Giftcards and a list of services available.</p>
    <a href="/bondijunction/services">View Centre Services</a>
  </div>
</div>
<% end %>