<%= styleguide_block 'Social Follow' do |style| %>
<a href="#" class="flag flag--shrink-wrap social-follow" rel="external" target="_blank">
  <div class="flag__img">
    <div class="box islet">
      <span class="icon icon--facebook icon--base-color icon--fixed-width icon--flush-top" aria-hidden="true"></span>
    </div>
  </div>
  <div class="flag__body">Facebook</div>
</a>
<% end %>