<%= styleguide_block 'Stores List' do |style| %>
<dl class="stores-list">
  <dt>
    <div class="stores-list__inner container">
      A
    </div>
  </dt>
  <dd>
    <div class="stores-list__inner container">
      <div class="stores-list__store-name">
        <strong><a href="http://www.westfield.com.au/sydney/stores/adidas/42549">adidas Originals</a></strong>
        <span class="hide-fully--palm"><span class="hide-visually">Call store: </span>02 9221 0499</span>
      </div>
      <div class="stores-list__logo hide-fully--palm">
        <div class="vert-align">
          <div class="vert-align__inner">
            <img src="http://res.cloudinary.com/wlabs/image/fetch/b_rgb:FFFFFF,c_pad,f_auto,h_62,w_168/http://res.cloudinary.com/wlabs/image/upload/pnvbkafcqncuxd78nkei.png" data-image-alt="adidas Originals logo">
          </div>
        </div>
      </div>
      <div class="stores-list__phone-map storefront-storelist-phone-map-links">
        <a class="storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--phone hide-fully--non-palm" href="tel:0292210499">
        <span class="hide-visually">Call store: 02 9221 0499</span>
        <span class="icon icon--phone2 icon--flush-top storefront-storelist-phone-map-links__cell__valign" aria-hidden="true"></span>
        </a>
        <a href="#infoDiv" class="storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--location" data-store-id="42549">
        <span class="hide-visually">View on map</span>
        <span class="icon icon--pin icon--flush-top storefront-storelist-phone-map-links__cell__valign" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </dd>
  <dd>
    <div class="stores-list__inner container">
      <div class="stores-list__store-name">
        <strong><a href="http://www.westfield.com.au/sydney/stores/angus-and-coote/42279">Angus &amp; Coote</a></strong>
        <span class="hide-fully--palm"><span class="hide-visually">Call store: </span>02 9232 6235</span>
      </div>
      <div class="stores-list__logo hide-fully--palm">
        <div class="vert-align">
          <div class="vert-align__inner">
            <img src="http://res.cloudinary.com/wlabs/image/fetch/b_rgb:FFFFFF,c_pad,f_auto,h_62,w_168/http://res.cloudinary.com/wlabs/image/upload/weslvxnc7ocghs7fedpp.png" data-image-alt="Angus &amp; Coote logo">
          </div>
        </div>
      </div>
      <div class="stores-list__phone-map storefront-storelist-phone-map-links">
        <a class="storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--phone hide-fully--non-palm" href="tel:0292326235">
        <span class="hide-visually">Call store: 02 9232 6235</span>
        <span class="icon icon--phone2 icon--flush-top storefront-storelist-phone-map-links__cell__valign" aria-hidden="true"></span>
        </a>
        <a href="#infoDiv" class="storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--location" data-store-id="42279">
        <span class="hide-visually">View on map</span>
        <span class="icon icon--pin icon--flush-top storefront-storelist-phone-map-links__cell__valign" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </dd>
  <dt>
    <div class="stores-list__inner container">
      C
    </div>
  </dt>
  <dd>
    <div class="stores-list__inner container">
      <div class="stores-list__store-name">
        <strong><a href="http://www.westfield.com.au/sydney/stores/calvin-klein/42177">Calvin Klein platinum label</a></strong>
        <span class="hide-fully--palm"><span class="hide-visually">Call store: </span>02 8246 9150</span>
      </div>
      <div class="stores-list__logo hide-fully--palm">
        <div class="vert-align">
          <div class="vert-align__inner">
            <img src="http://res.cloudinary.com/wlabs/image/fetch/b_rgb:FFFFFF,c_pad,f_auto,h_62,w_168/http://res.cloudinary.com/wlabs/image/upload/hgvoii8fstoblfq4et8p.png" data-image-alt="Calvin Klein platinum label logo">
          </div>
        </div>
      </div>
      <div class="stores-list__phone-map storefront-storelist-phone-map-links">
        <a class="storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--phone hide-fully--non-palm" href="tel:0282469150">
        <span class="hide-visually">Call store: 02 8246 9150</span>
        <span class="icon icon--phone2 icon--flush-top storefront-storelist-phone-map-links__cell__valign" aria-hidden="true"></span>
        </a>
        <a href="#infoDiv" class="storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--location" data-store-id="42177">
        <span class="hide-visually">View on map</span>
        <span class="icon icon--pin icon--flush-top storefront-storelist-phone-map-links__cell__valign" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </dd>
  <dd>
    <div class="stores-list__inner container">
      <div class="stores-list__store-name">
        <strong><a href="http://www.westfield.com.au/sydney/stores/cerrone/42620">Cerrone</a></strong>
        <span class="hide-fully--palm"><span class="hide-visually">Call store: </span>02 8246 9119</span>
      </div>
      <div class="stores-list__logo hide-fully--palm">
        <div class="vert-align">
          <div class="vert-align__inner">
            <img src="http://res.cloudinary.com/wlabs/image/fetch/b_rgb:FFFFFF,c_pad,f_auto,h_62,w_168/http://res.cloudinary.com/wlabs/image/upload/fwg2u9olo0oxeezrqpsk.png" data-image-alt="Cerrone logo">
          </div>
        </div>
      </div>
      <div class="stores-list__phone-map storefront-storelist-phone-map-links">
        <a class="storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--phone hide-fully--non-palm" href="tel:0282469119">
        <span class="hide-visually">Call store: 02 8246 9119</span>
        <span class="icon icon--phone2 icon--flush-top storefront-storelist-phone-map-links__cell__valign" aria-hidden="true"></span>
        </a>
        <a href="#infoDiv" class="storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--location" data-store-id="42620">
        <span class="hide-visually">View on map</span>
        <span class="icon icon--pin icon--flush-top storefront-storelist-phone-map-links__cell__valign" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </dd>
  <dd>
    <div class="stores-list__inner container">
      <div class="stores-list__store-name">
        <strong><a href="http://www.westfield.com.au/sydney/stores/colette-accessories/42281">colette by colette hayman</a></strong>
        <span class="hide-fully--palm"><span class="hide-visually">Call store: </span>02 9223 7763</span>
      </div>
      <div class="stores-list__logo hide-fully--palm">
        <div class="vert-align">
          <div class="vert-align__inner">
            <img src="http://res.cloudinary.com/wlabs/image/fetch/b_rgb:FFFFFF,c_pad,f_auto,h_62,w_168/http://res.cloudinary.com/wlabs/image/upload/zp7aotnfnfkndulvnqgb.png" data-image-alt="colette by colette hayman logo">
          </div>
        </div>
      </div>
      <div class="stores-list__phone-map storefront-storelist-phone-map-links">
        <a class="storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--phone hide-fully--non-palm" href="tel:0292237763">
        <span class="hide-visually">Call store: 02 9223 7763</span>
        <span class="icon icon--phone2 icon--flush-top storefront-storelist-phone-map-links__cell__valign" aria-hidden="true"></span>
        </a>
        <a href="#infoDiv" class="storefront-storelist-phone-map-links__cell storefront-storelist-phone-map-links__cell--location" data-store-id="42281">
        <span class="hide-visually">View on map</span>
        <span class="icon icon--pin icon--flush-top storefront-storelist-phone-map-links__cell__valign" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </dd>
</dl>

<%# stores-list--comapct %>
<% example '.stores-list--compact' do %>
<dl class="stores-list $modifier_class">
  <dt>
  <div class="stores-list__inner container">
    Items
  </div>
  </dt>
  <% %w(pharetra lectus justo arcu sit sapien turpis).each do |store| %>
  <dd>
    <div class="stores-list__store-name container">
      <a href="#"><%= store %></a>
    </div>
  </dd>
  <% end %>
</dl>
<% end %>
<%# //stores-list--comapct %>

<%# stores-list--fixed-height %>
<% example '.stores-list--fixed-height' do %>
<dl class="stores-list stores-list--compact $modifier_class">
  <dt>
  <div class="stores-list__inner container">
    Items
  </div>
  </dt>
  <% %w(pharetra lectus justo arcu sit sapien turpis vestibulum tincidunt sodales).each do |store| %>
  <dd>
    <div class="stores-list__store-name container">
      <a href="#"><%= store %></a>
    </div>
  </dd>
  <% end %>
</dl>
<% end %>
<%# //stores-list--fixed-height %>

<% end %>