<%= styleguide_block 'Tags' do |style| %>
<div class="tags">
  <ul class="horiz-list">
    <li>
      <button type="button" class="tags__btn btn">
        <span class="txt-truncate">David Jones</span>
        <span class="icon icon--close-sml icon--lrg icon--flush-top" aria-hidden="true"></span>
      </button>
    </li>
    <li>
      <button type="button" class="tags__btn btn">
        <span class="txt-truncate">colette by colette hayman</span>
        <span class="icon icon--close-sml icon--lrg icon--flush-top" aria-hidden="true"></span>
      </button>
    </li>
    <li>
      <button type="button" class="tags__btn tags__btn--clear btn">
        <span class="txt-truncate">Clear all</span>
        <span class="icon icon--close-sml icon--lrg icon--flush-top" aria-hidden="true"></span>
      </button>
    </li>
  </ul>
</div>
<% end %>