<%= styleguide_block 'Timeline' do |style| %>
<dl class="timeline">
  <dt>
    Wednesday
    <em class="timeline__date">
      <span>15</span>
      <abbr title="January">Jan</abbr>
    </em>
  </dt>
  <dd>
    <time datetime="2014-01-15T09:00+1100">9:00am</time> &#8211; <time datetime="2014-01-15T17:30+1100">5:30pm</time>
  </dd>
  <dt>
    Tuesday
    <em class="timeline__date">
      <span>4</span>
      <abbr title="February">Feb</abbr>
    </em>
  </dt>
  <dd>
    <time datetime="2014-02-04T09:00+1100">9:00am</time> &#8211; <time datetime="2014-02-04T17:30+1100">5:30pm</time>
  </dd>
</dl>
<% end %>