<nav role="navigation">
  <ul class="horiz-list horiz-list--spacing-half horiz-list--spacing-half-wrap">
    <li>
      <a href="#" class="btn btn--main btn--main-dark btn--main-compact-sides">
        <span class="txt-truncate">Colette by Colette Hayman</span>
      </a>
    </li><!--
    --><li>
      <a href="#" class="btn btn--main btn--main-dark btn--main-compact-sides">
        <span class="txt-truncate">DC Shoes</span>
      </a>
    </li><!--
    --><li>
      <a href="#" class="btn btn--main btn--main-dark btn--main-compact-sides">
        <span class="txt-truncate">Florsheim</span>
      </a>
    </li><!--
    --><li>
      <a href="#" class="btn btn--main btn--main-dark btn--main-compact-sides">
        <span class="txt-truncate">Lush Fresh Handmade Cosmetics</span>
      </a>
    </li>
  </ul>
</nav>