<%# Pager %>
<section class="product-curation__pager divider divider--lrg-non-palm" aria-labelledby="curation-pager">
  <h2 class="hide-visually" id="curation-pager">Pagination</h2>
  <nav class="pager pager--compact" role="navigation">
    <div class="pager__inner">
      <em class="pager__count">
        <span class="hide-visually">Page </span>
        20 of 10
      </em>
      <%# Previous page %>
      <a href="#" rel="prev" class="pager__prev btn btn--pointer btn--pointer-alt btn--main btn--main-white">
        <span class="icon icon--arrow-left-big btn--pointer__icon btn--pointer__icon--flush" aria-hidden="true"></span>
        Prev
      </a>
      <%# //Previous page %>
      <%# Next page %>
      <a href="#" rel="next" class="pager__next btn btn--pointer btn--main btn--main-white">
        Next
        <span class="icon icon--arrow-right-big btn--pointer__icon btn--pointer__icon--flush" aria-hidden="true"></span>
      </a>
      <%# //Next page %>
    </div>
  </nav>
</section>
<%# //Pager %>
