<%# Hero tile %>
<article class="tile tile--products box" role="article">
  <a href="#" target="_self">
    <div class="tile__image">
      <div class="vert-align">
        <div class="vert-align__inner">
          <!-- <img alt="" src="<%= tile_hero[:image_url] %>"> -->
          <img alt="" src="http://res.cloudinary.com/wlabs/image/fetch/c_pad,f_auto,w_825/http://res.cloudinary.com/wlabs/image/upload/v1381336879/l8itsnowlxzljr7vsd6d.jpg">
        </div>
      </div>
    </div>
    <div class="tile__meta">
      <span class="tile__meta__icon">
        <span class="icon icon--products icon--lrg" aria-hidden="true"></span>
      </span>
      <div class="tile__meta__inner">
        <h3 class="tile__meta__hdr txt-truncate">Leopard Assassin</h3>
        <p class="tile__meta__desc txt-truncate">
          <span class="tile__meta__desc__price">$99.95</span>
          from <strong>Bardot</strong>
        </p>
      </div>
    </div>
  </a>
</article>
<%# //Hero tile %>