body {
	color: #FFFFFF;
	background-color: #29292B;
	font-family: 'Droid Sans', sans-serif;
}

h1, h3 {
	font-weight: normal;
}

h3 {
	margin-top: 0;
	padding-top: 0;
}

a,
a:hover,
p {
	color: #FFFFFF;
}

pre {
	color: #BFBEBE;
	background-color: #29292B;
	border: 0;
	border-radius: 0;
}

.model-signature pre:hover {
	background-color: #29292B;	
}

pre code, pre .subst, pre .tag .title, pre .lisp .title, pre .clojure .built_in, pre .nginx .title {
	color: #BFBEBE;
}

pre .number, pre .date, pre .regexp, pre .literal, pre .smalltalk .symbol, pre .smalltalk .char, pre .go .constant, pre .change, pre .markdown .bullet, pre .markdown .link_url {
	color: #6EC23D;
}

pre .string, pre .title, pre .constant, pre .parent, pre .tag .value, pre .rules .value, pre .rules .value .number, pre .preprocessor, pre .ruby .symbol, pre .ruby .symbol .string, pre .aggregate, pre .template_tag, pre .django .variable, pre .smalltalk .class, pre .addition, pre .flow, pre .stream, pre .bash .variable, pre .apache .tag, pre .apache .cbracket, pre .tex .command, pre .tex .special, pre .erlang_repl .function_or_atom, pre .markdown .header {
	color: #E8488C;
}

.navbar-inverse .navbar-inner {
	background-color: #231F20;
	background-image: none;
	border: none;
}

.logo {
	margin: 15px 0;
}

.container-fluid {
	padding: 0 !important;
}

.sidebar-nav {
	position:	absolute;
	top: 0;
	bottom: 0;
	background-color: #393939;
	margin-top: 81px;
	padding-top: 40px;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: auto;
}

ul, ol {
	margin: 0;
}

.swagger-link a {
	display: inline-block;
	padding: 20px;
	width: 200px;
	margin: 80px 50px;
	font-size: 16px;
	text-transform: uppercase;
}

.swagger-link a:hover {
	color: #6CB4D0;
	background-color: #171D22;
	text-decoration: none;
}

.swagger-link img {
	margin-bottom: 20px;
	width: 140px;
	height: 140px;
}

.accordion-group {
	padding: 10px 20px;
	margin: 8px 25px;
	border: 0;
	border-top: 1px solid #7A7B7A;
	border-radius: 0;
}

.accordion-group a {
	color: #BFBFBE;
	font-size: 13px;
}

.accordion-inner {
	border-top: 0;
	padding: 9px 15px 0;
}

.accordion-inner li {
	padding: 5px 0;
	font-weight: bold;
}

.accordion-heading a {
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 12px;
}

.accordion-heading .accordion-toggle {
	padding: 8px 0;
	width: 204px;
}

.accordion-toggle .caret {
	margin-top: 3px;
	border-left-width: 6px;
	border-right-width: 6px;
	border-top: 7px solid #FFFFFF;
}

.accordion-toggle.dropup .caret {
	border-top: 0 !important;
	border-bottom: 7px solid #7A7B7A;
}

body ul#resources li.resource {
	padding: 4px 0;
	border-top: 1px solid #7A7B7A;
	border-bottom: 0;
}

body ul#resources li.resource div.heading h2 a:hover,
body ul#resources li.resource:hover div.heading h2 a {
  color: #AAAAAA;
}

body ul#resources li.resource.active div.heading ul.options li a,
body ul#resources li.resource.active div.heading h2 a {
	color: #FFFFFF;
	font-weight: normal;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading {
	background-color: #393939;
	border: 0;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading ul.options li a,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading ul.options li a,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading ul.options li a,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading ul.options li a {
	color: #FFFFFF;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading h3 span.http_method a,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading h3 span.http_method a,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading h3 span.http_method a,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading h3 span.http_method a {
	font-size: 0.6em;
	border-radius: 0;
	background-color: #7A7B7A;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading h3 span.http_method a {
	background-color: #E33D32;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading h3 span.path a,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading h3 span.path a,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading h3 span.path a,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading h3 span.path a {
	font-size: 14px;
	color: #FFFFFF;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.content,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.content {
	background-color: #393939;
	border: 0;
	border-top: 2px solid #29292B;
	border-radius: 0;
	margin: 0 0 10px;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content h4,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content h4,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.content h4,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.content h4,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content div.sandbox_header a,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content div.sandbox_header a,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.content div.sandbox_header a,
body ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.content div.sandbox_header a,
.model-signature .signature-nav .selected,
.model-signature .signature-nav a:hover,
.model-signature .description .strong,
.content > .content-type > div > label {
	font-size: inherit;
	color: #FFFFFF;
}

.model-signature .propName,
.model-signature .propType {
	color: #BFBEBE;
}

body ul#resources li.resource ul.endpoints li.endpoint ul.operations div.content div.sandbox_header input.submit {
	background-color: #7A7B7A;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 12px;
	border: 0;
}

#message-bar {
	padding-top: 0;
	min-height: 26px;
}

#image-doc {
	max-width: 960px;
}

#image-doc h2 {
	font-weight: bold;
	font-size: 19px;
	padding-bottom: 20px;
}

#image-doc h2,
#image-doc p {
	color: #999999;
}

.footer {
	margin-bottom: 40px;
}

