/* ======================================================================================
   @LAYOUT -> SITE STRUCTURE -> PAGES -> REDIRECT
   ====================================================================================== */

/*
  An interstitial page used to inform users they're leaving Westfield site and going to an external website.
*/

/* `body` element */
.page-redirect {
  text-align: center;
  @include to-rem(padding-top, 80);
  background-color: #fff;

  /* Logo */
  img {
    width: 145px;
    height: 52px;
    @extend %mrg-base;
  }

  /* Message */
  p {color: $color-txt-light;}
}