<%= styleguide_block 'Button Main' do |style| %>
  <button type="button" class="btn btn--main $modifier_class">Button (button)</button>

  <a href="#" class="btn btn--main $modifier_class">Button (anchor)</a>

<<<<<<< HEAD
  <% example '.btn--main-arrow' do %>
    <button type="button" class="btn btn--main btn--main-dark btn--main-arrow">Button (button)</button>
    <a href="#" class="btn btn--main btn--main-dark btn--main-arrow">Button (anchor)</a>
  <% end %>

  <% example '.btn--main-checkbox-toggle' do %>
    <label class="btn btn--main btn--main-white btn--main-checkbox-toggle">
      <input type="checkbox" class="btn--main-checkbox-toggle__input"><!--
      --><span class="btn--main-checkbox-toggle__lbl">On sale</span>
=======
  <% example '.btn--main-toggle-checkbox' do %>
    <label class="btn btn--main btn--main-white btn--main-toggle btn--main-toggle-checkbox">
      <input type="checkbox" class="btn--main-toggle__input"><!--
      --><span class="btn--main-toggle-checkbox__lbl">On sale</span>
>>>>>>> Add iOS toggle and updated checkbox toggle to stylguide
    </label>
  <% end %>

  <% example '.btn--main-toggle-ios' do %>
    <label class="btn btn--main btn--main-white btn--main-toggle btn--main-toggle-ios">
      <input type="checkbox" class="btn--main-toggle__input hide-visually">
      <span class="btn--main-toggle__lbl">iOS toggle</span>
      <span class="btn--main-toggle-ios__handle"></span>
    </label>
  <% end %>
<% end %>