<%= styleguide_block 'Button Main' do |style| %>
  <button type="button" class="btn btn--main $modifier_class">Button (button)</button>

  <a href="#" class="btn btn--main $modifier_class">Button (anchor)</a>

  <% example '.btn--main-arrow' do %>
    <button type="button" class="btn btn--main btn--main-dark btn--main-arrow">Button (button)</button>
    <a href="#" class="btn btn--main btn--main-dark btn--main-arrow">Button (anchor)</a>
  <% end %>

  <% example '.btn--main-checkbox-toggle' do %>
    <label class="btn btn--main btn--main-white btn--main-checkbox-toggle">
      <input type="checkbox" class="btn--main-checkbox-toggle__input"><!--
      --><span class="btn--main-checkbox-toggle__lbl">On sale</span>
    </label>
  <% end %>

  <% example '.btn--main-checkbox-toggle.btn--main-checkbox-toggle-icon' do %>
    <label for="gift-card-toggle" class="btn btn--main btn--main-dark btn--main-checkbox-toggle btn--checkbox-toggle-icon">
      <input id="gift-card-toggle" type="checkbox" class="btn--main-checkbox-toggle__input"><span class="btn--main-checkbox-toggle__lbl"><span class="hide-visually">Westfield </span>Gift Card <span class="hide-visually"> accepted</span><span aria-hidden="true" class="icon icon--gift-card icon--xlrg icon--flush-top-mozilla"></span></span>
    </label>
  <% end %>
<% end %>