/* ======================================================================================
   @FORMS -> BASE
   ====================================================================================== */

/* Indicate that `label` will shift focus to the associated `input` element */
label {cursor: pointer;}

/* Text inputs via the `.txt-input` class, `textarea` and `select` */
.txt-input,
textarea,
.no-touch select {
  color: $color-base-txt;
  border-radius: $border-radius;
  border: 1px solid $color-grey-1;
	background: #fff;
	@include prefix(transition, border 0.2s linear);

	/* Focus state */
	&:focus {
		outline: none;
		border-color: darken($color-grey-1, 12%);
	}
}

.txt-input,
textarea {
  width: 100%;
  @include to-rem(padding, $spacing-third $spacing-half);
}

/* Textarea */
textarea {
	height: 9em;
	resize: vertical;
}

/* Search inputs */
input[type="search"] {
  @include prefix(appearance, none);
  @include prefix(box-sizing, border-box);
}

/* Select list */
.no-touch select {@include to-rem(padding, $spacing-third);}

/* Alternate sizes */
.txt-input--sml {@include to-rem(width, 80);}

.txt-input--med {@include to-rem(width, 236);}

/* Placeholder */
@include input-placeholder {
	color: $color-light-txt;
	font-style: italic;
}

/* Disabled and Read-only */

/*
	Note: it is okay to use `!important` here as we're doing it pre-emptively i.e. you know you will always want the rule it's applied too to take precedence.
*/

button[disabled],
input[disabled],
select[disabled],
textarea[disabled],
.is-disabled {
	cursor: not-allowed !important;
	text-shadow: none !important;
	box-shadow: none !important;
	@include opacity(0.7, !important);
}

/* 'Required field' indicator (asterisk) */
.req-field {
	font-family: Verdana, Geneva, sans-serif;
	line-height: 1;
	color: $color-attention;
	cursor: help;
}

/* Resest some defaults */
form p {margin: 0;}