<%- @centres.each do |state, centres| -%>
  <div>
    <%= state %>
    <ul>
      <%- centres.each do |centre| -%>
        <li><%= link_to centre.short_name, centre_path(centre.code) %></li>
      <%- end -%>
    </ul>
  </div>
<%- end -%>