<% content_for :custom_styles,
  render('/shared/hero_custom_styles', image: @centre.code, target: '.header__hero')
%>

<div id="pin-board" class="pin-board">

  <%- @stream.each do |result| -%>
    <%= render partial: "/shared/tiles/#{result.kind}",
        layout: '/layouts/tile',
        locals: { result: result, image: {href: result[:_links][:image][:href], title: result[:name]} }
    %>
  <%- end -%>

</div>
