/* ======================================================================================
   @APPLICATION STYLESHEET
   ====================================================================================== */

/*
  This stylesheet imports all Sass partials which is compiled to: 'application.css' which is then loaded from the HTML Head.

  Partial dir structure:
    - UTILS.................generic utility styles and Sass settings e.g. mixins.
      - PLACEHOLDERS........placeholder selectors to keep things DRY.
    - BASE..................base styles; unclassed HTML elements.
    - FORMS.................everything relating to forms.
    - BUTTONS...............you guessed it; all the buttons!
    - LAYOUT................site structure styles e.g. header/footer.
      - GRID................you guessed it; the grid!
    - ABSTRACTIONS..........very common patterns to be used 'as is' or built upon.
    - MODULES...............discrete components of the page, this is the meat.
      - WIDGETS ............more interactive rich requiring JavaScript/jQuery.
    - HELPERS...............a bunch of classes to apply very common styles.
    - PRINT.................global print styles (rest of print styles live inline).
    - SHAME.................home for housing nasty, hacky, quick-fix CSS.
*/

/* [IMPORT ALL PARTIALS]
-------------------------------------------------------*/

/* Utils */
@import "partials/utils/vars";
@import "partials/utils/mixins";
@import "partials/utils/functions";
@import "partials/utils/normalize";
@import "partials/utils/reset";
@import "partials/utils/debug";

  /* Utils -> Placeholders */
  @import "partials/utils/placeholders/bottom-spacing";
  @import "partials/utils/placeholders/clear-fix";
  @import "partials/utils/placeholders/disguised-link";
  @import "partials/utils/placeholders/image-replacement";
  @import "partials/utils/placeholders/sprite-bg";
  @import "partials/utils/placeholders/sprite-icon";
  @import "partials/utils/placeholders/transitions";
  @import "partials/utils/placeholders/arrows";
  @import "partials/utils/placeholders/box-shadows";
  @import "partials/utils/placeholders/hide";
  @import "partials/utils/placeholders/new-block-formatting-context";
  @import "partials/utils/placeholders/hardware-accelerated-css";

/* Base */
@import "partials/base/fonts";
@import "partials/base/main";
@import "partials/base/viewport";
@import "partials/base/links";
@import "partials/base/lists";
@import "partials/base/embedded-content";
@import "partials/base/headings";
@import "partials/base/tables";
@import "partials/base/quotes";
@import "partials/base/text-selection";
@import "partials/base/misc";
@import "partials/base/skip-link";

/* Forms */
@import "partials/forms/base";
//@import "partials/forms/layout";
//@import "partials/forms/validation";

/* Buttons */
@import "partials/buttons/base";
@import "partials/buttons/main";
@import "partials/buttons/menu";
@import "partials/buttons/faux-link";
@import "partials/buttons/expand-collapse";
@import "partials/buttons/site-feedback";

/* Layout */
@import "partials/layout/containers";
@import "partials/layout/header";
@import "partials/layout/national";
@import "partials/layout/redirection";
@import "partials/layout/old-ie-banner";

  /* Layout -> Grid */
  @import "partials/layout/grid/grid";
  @import "partials/layout/grid/widths";
  @import "partials/layout/grid/pull";
  @import "partials/layout/grid/push";

/* Abstractions */
@import "partials/abstractions/horizontal-list";
@import "partials/abstractions/island";
@import "partials/abstractions/slats";
@import "partials/abstractions/divider";
@import "partials/abstractions/vertical-alignment";
@import "partials/abstractions/drop-down";
@import "partials/abstractions/toggle-visibility";
@import "partials/abstractions/toggle-visibility-content";
@import "partials/abstractions/box";
@import "partials/abstractions/angular-cloak";
@import "partials/abstractions/flag";
@import "partials/abstractions/overlay";
//@import "partials/abstractions/definition-list";
//@import "partials/abstractions/block-list";
//@import "partials/abstractions/complex-link";
//@import "partials/abstractions/split";
//@import "partials/abstractions/frame";
//@import "partials/abstractions/preserve-aspect-ratio";
//@import "partials/abstractions/columns";
//@import "partials/abstractions/arrows";

/* Modules */
@import "partials/modules/feedback";
@import "partials/modules/icon";
@import "partials/modules/preloader";
@import "partials/modules/pager";
@import "partials/modules/tile";
@import "partials/modules/detail-view";
@import "partials/modules/social-share";
@import "partials/modules/tags";
@import "partials/modules/pin-board";
@import "partials/modules/list-divider";
@import "partials/modules/timeline";
@import "partials/modules/deal-main";
@import "partials/modules/filters";
@import "partials/modules/nav-contextual";
@import "partials/modules/drop-down-menu";
@import "partials/modules/storefront-storelist-phone-map-links";
@import "partials/modules/stores-list";
@import "partials/modules/storefront";
@import "partials/modules/stores-maps";
@import "partials/modules/filters";
@import "partials/modules/pill";
@import "partials/modules/section-nav";
@import "partials/modules/hero";
@import "partials/modules/centre-location";
@import "partials/modules/map-google-static";
@import "partials/modules/social-follow";
@import "partials/modules/fine-print";
@import "partials/modules/promo-tile";
@import "partials/modules/no-content-fallback-msg";
@import "partials/modules/img-rotate";
//@import "partials/modules/sprite";

  /* Modules -> Widgets */
  @import "partials/modules/widgets/flexslider";
  @import "partials/modules/widgets/map-micello";
  @import "partials/modules/widgets/tabs";
  @import "partials/modules/widgets/dialog";
  //@import "partials/modules/widgets/accordion";
  //@import "partials/modules/widgets/adaptive-google-map";
  //@import "partials/modules/widgets/social-media-share";
  //@import "partials/modules/widgets/tooltip";

/* Note: this must come after all the modules and widgets so it will always be applied */
@import "partials/modules/txt-formatted";

/* Helpers */
@import "partials/helpers/spacing";
@import "partials/helpers/display";
@import "partials/helpers/text";
/* Note: this must come after all the helpers so it will always be applied */
@import "partials/helpers/hide";
//@import "partials/helpers/float";
//@import "partials/helpers/pull";
//@import "partials/helpers/vertical-alignments";

/* Print */
@import "partials/print/print";

/* Shame */
@import "partials/shame/shame";