/*
======================================================================================

Old IE (IE < 9) stylesheet

	Usage:
		Refer to the 'Usage' section in 'main.scss'.

======================================================================================
*/


/* ======================================================================================
   @SASS SETTINGS
   ====================================================================================== */

/* [VARS]
-------------------------------------------------------*/
/* For targetting old IE (IE < 9) */
$old-ie: true;

/* Set the max width breakpoint of the media query CSS we want to grab i.e. anything above this width will be discarded  */
/*
	Note: '1600' is the max width for the page container as declared by the `$page-container-max-width` var in 'utils/vars'.
*/
$fix-mqs: 1600;

/* [IMPORTS]
-------------------------------------------------------*/
/* Import everything from 'application.scss' */
@import "application";

/* ======================================================================================
   @OLD IE BANNER - Inform old IE users they should upgrade their browser
   ====================================================================================== */

.old-ie-banner {
	background-color: #fff;
  border-bottom: 1px solid $color-grey-med-3;
  padding-top: $spacing-half+$spacing-third+px;
  line-height: 1.3;

  /* Inner container */
  .old-ie-banner__inner {
    width: 1050px;
    margin: 0 auto;
  }

    /* Shared rules */
    .h1,
    li img,
    li a {display: block;}

    /* Heading */
    .h1 {
      font-size: 40px;
      line-height: 1.1;
      margin-bottom: $spacing-half+px;
    }

    /* Byline */
    p {color: $color-txt-light;}

    /* Browser list */
    li {
      float: left;
      width: 25%;
      text-align: center;

      img {margin: 0 auto $spacing-third+px;}
    }
}