<%# Sub category items for category nav - this is rendered in the section nav layout (layouts/_section_nav.html.erb) %>
<li class="drop-down-menu drop-down-menu--alt drop-down-container drop-down-container--hover">
  <%=
    attrs = {'ng-class' => "{'is-active': (activeNavigationItem == '#{category.code}')}"}
    if category.has_code?(params[:super_cat])
      attrs[:class] = 'is-active'
    end
    link_to(
      category.short_name,
      centre_products_super_cat_path(@centre, category.code),
      attrs
    )
  %>
  <div class="drop-down-menu__target drop-down pointer-up box box--drop-down">
    <div class="island">
      <h2 class="drop-down-menu__hdr-alt">Top Categories</h2>
      <ul class="drop-down-menu__list-alt">
        <%=
          render(
            :collection => category.children,
            :partial => 'categories/category_nav',
            :as => :category,
            :locals => {:super_cat => category}
          )
        %>
      </ul>
    </div>
  </div>
</li>
<%# //Sub category items for category nav - this is rendered in the section nav layout (layouts/_section_nav.html.erb) %>