<li class="drop-down-menu drop-down-container drop-down-container--hover">
  <%=
    link_to(
      category.short_name,
      centre_products_path(:super_cat => category.code),
      :target => '_self'
    )
  %>
  <div class="drop-down-menu__target drop-down box box--drop-down">
    <ul class="drop-down-menu__list">
      <%=
        render(
          :collection => category.children,
          :partial => 'categories/category_nav',
          :as => :category
        )
      %>
    </ul>
  </div>
</li>
