<li class="drop-down-menu drop-down-container drop-down-container--hover">
<a href="#" ng-click="filterCategory( 'super_cat', '<%= category.code %>' )"><%= category.short_name %></a>
  <div class="drop-down-menu__target drop-down box box--drop-down">
    <ul class="drop-down-menu__list">
      <%=
        render(
          :collection => category.children,
          :partial => 'categories/category_nav',
          :as => :category
        )
      %>
    </ul>
  </div>
</li>