<%# Image %>
<div class="tile__image">
  <%= cl_image_tag(result.image_ref,
    width: 269,
    alt: "",
    crop: 'limit',
    format: 'jpg',
    fetch_format: 'auto')
  %>
</div>
<%# //Image %>

<%# Meta %>
<div class="tile__meta">

  <%# Title %>
  <h3 class="tile__meta__hdr txt-truncate"><%= result.name %></h3>
  <%# //Title %>

  <%# Tagline %>
  <p class="tile__meta__desc txt-truncate"><%= result.tag_line %></p>
  <%# //Tagline %>

  <%# Icon %>
  <span class="tile__meta__icon icon icon--<%= result.icon %> icon--lrg" aria-hidden="true"></span>
  <%# //Icon %>

</div>
<%# //Meta %>

<%# Alternative icon %>
<% if result.icon == 'product' %>
  <span class="tile__icon-alt icon icon--collection icon--flush-top icon--lrg" aria-hidden="true"></span>
<% end %>
<%# //Alternative icon %>