<div class="tile__image">
  <%= cl_image_tag(result.image_ref,
    alt: result.image_alt,
    width: 288,
    crop: 'limit',
    format: 'jpg',
    fetch_format: 'auto')
</div>
<div class="tile__meta">
  <span class="tile__meta__icon">
    <span class="icon icon--<%= result.icon %>" aria-hidden="true"></span>
  </span>
  <div class="tile__meta__inner">
    <h3 class="tile__meta__hdr txt-truncate"><%= result.name %></h3>
    <p><%= result.tag_line %></p>
  </div>
</div>
