<%# Tile curation image %>
<div class="tile__image">
  <%= image_tag 'dummy/curation-hero.jpg', alt: '', quality: 25, width: 289, crop: 'limit', fetch_format: 'auto' %>
</div>
<%# //Tile curation image %>

<%# Tile curation meta %>
<div class="tile__meta">

  <%# Tile curation icon %>
  <span class="tile__meta__icon">
    <span class="icon icon--products icon--lrg" aria-hidden="true"></span>
  </span>
  <%# //Tile curation icon %>

  <%# Tile curation title and tag line %>
  <div class="tile__meta__inner">
    <h3 class="tile__meta__hdr txt-truncate">Curation name</h3>
    <p class="tile__meta__desc txt-truncate">View collection</p>
  </div>
  <%# //Tile curation title and tag line %>

</div>
<%# //Tile curation meta %>

<%# Tile curation alternative icon %>
<span class="tile__icon-alt icon icon--product-curation icon--flush-top icon--lrg" aria-hidden="true"></span>
<%# //Tile curation alternative icon %>