<%# Image %>
<div class="tile__image">
  <%= fetch_image_tag result.image,
    width: 289,
    alt: '',
    crop: :limit,
    format: :auto,
    itemprop: :image,
    quality: 25
  %>
</div>
<%# //Image %>

<%# Meta %>
<div class="tile__meta">

  <%# Title %>
  <h3 class="tile__meta__hdr txt-truncate"><%= result.name %></h3>
  <%# //Title %>

  <%# Tagline %>
  <p class="tile__meta__desc txt-truncate">View collection</p>
  <%# //Tagline %>

  <%# Icon %>
  <span class="tile__meta__icon icon icon--products icon--lrg" aria-hidden="true"></span>
  <%# //Icon %>

</div>
<%# //Meta %>

<%# Alternative icon %>
<span class="tile__icon-alt icon icon--product-curation icon--flush-top icon--lrg" aria-hidden="true"></span>
<%# //Alternative icon %>