<%# Tile curation image %>
<div class="tile__image">
  <%= fetch_image_tag result.image,
    width: 289,
    alt: '',
    crop: :limit,
    format: :auto,
    itemprop: :image,
    quality: 25
  %>
</div>
<%# //Tile curation image %>

<%# Tile curation meta %>
<div class="tile__meta">

  <%# Tile curation icon %>
  <span class="tile__meta__icon icon icon--products icon--lrg" aria-hidden="true"></span>
  <%# //Tile curation icon %>

  <%# Tile curation title and tag line %>
  <div class="tile__meta__inner">
    <h3 class="tile__meta__hdr txt-truncate"><%= result.name %></h3>
    <p class="tile__meta__desc txt-truncate">View collection</p>
  </div>
  <%# //Tile curation title and tag line %>

</div>
<%# //Tile curation meta %>

<%# Tile curation alternative icon %>
<span class="tile__icon-alt icon icon--product-curation icon--flush-top icon--lrg" aria-hidden="true"></span>
<%# //Tile curation alternative icon %>
