<%# Tile deal meta %>
<div class="tile__meta">

  <%# Tile deal logo %>
  <% if result.logo %>
    <%= fetch_image_tag result.logo,
      alt: "#{result.store_name} logo",
      width: 168,
      height: 62,
      class: "tile__meta__logo",
      crop: :pad,
      format: :auto
    %>
  <%# //Tile deal logo %>

  <%# Tile deal store name %>
  <% else %>
    <h3 class="tile__meta__hdr txt-truncate"><%= result.store_name %></h3>
  <% end %>
  <%# //Tile deal store name %>

  <%# Tile deal title %>
  <p class="tile__meta__desc txt-hyphenate"><%= result.title %></p>
  <%# //Tile deal title %>

</div>
<%# //Tile deal meta %>

<%# Tile deal icon %>
<span class="tile__meta__icon icon icon--deals icon--lrg" aria-hidden="true"></span>
<%# //Tile deal icon %>