<a class="tile tile--deals" href="<%#= link %>">
  <article class="box" role="article">
    <div class="tile__meta">
      <p class="tile__meta__desc"><%= deal.title %></p>
      <span class="tile__meta__image" data-picture data-alt="<%= deal.store_name %> logo">
        <img src="<%= deal.retailer_logo_url %>" alt="<%= deal.store_name %> logo">
      </span>
    </div>

    <span class="tile__meta__icon">
      <span class="icon icon--deals" aria-hidden="true"></span>
    </span>

  </article>
</a>