<div class="tile__meta">
  <% if result.logo %>
    <%= fetch_image_tag result.logo,
      alt: "#{result.store_name} logo",
      width: 168,
      height: 62,
      class: "tile__meta__logo",
      crop: :pad,
      format: :auto
    %>
  <% else %>
    <h3 class="tile__meta__hdr txt-truncate"><%= result.store_name %></h3>
  <% end %>
  <p class="tile__meta__desc txt-hyphenate"><%= result.title %></p>
</div>

<span class="tile__meta__icon">
  <span class="icon icon--deals" aria-hidden="true"></span>
</span>