<div class="tile__meta">

  <p class="tile__meta__desc"><%= result.title %></p>
  <% if result.logo %>
    <span class="tile__meta__image">
      <%= fetch_image_tag(result.logo, width: 168, height: 62, quality: 25, crop: :pad, background: 'rgb:FFFFFF') %>
    </span>
  <% end %>
</div>

<span class="tile__meta__icon">
  <span class="icon icon--deals" aria-hidden="true"></span>
</span>