<% content_for :tile_attrs, 'itemprop="event" itemscope itemtype="http://schema.org/Event"'.html_safe, flush: true %>

<%# Image %>
<div class="tile__image">
  <%= fetch_image_tag result.image,
    width: 269,
    alt: '',
    crop: :limit,
    format: :auto,
    itemprop: :image
  %>
</div>
<%# //Image %>

<%# Meta %>
<div class="tile__meta">

  <%# Title %>
  <h3 class="tile__meta__hdr txt-truncate" itemprop="name"><%= result.name %></h3>
  <%# //Title %>

  <%# Date %>
  <p class="tile__meta__desc txt-truncate"><%= display_event_date(result) %></p>
  <%# //Date %>

  <%# Icon %>
  <span class="tile__meta__icon icon icon--event icon--lrg" aria-hidden="true"></span>
  <%# Icon %>

</div>
<%# //Meta %>
