<div id="pin-board" class="grid pin-board no-js grid--gutter-half">
  <%- rows.in_groups(2, false) do |row| -%>
    <div class="grid__item one-half">
      <% row.each do |result| %>
        <%= yield result %>
      <%- end -%>
    </div>
  <%- end -%>
</div>