<div class="tile__image">
  <% # TODO: fix alt tag %>
  <%= image_tag result.primary_image, alt: result.title %>
</div>

<div class="tile__meta">
  <span class="tile__meta__icon">
    <span class="icon icon--products" aria-hidden="true"></span>
    <span class="hide-visually"></span>
  </span>
  <div class="tile__meta__inner">
    <h3 class="tile__meta__hdr"><%= result.name %></h3>
    <p class="tile__meta__desc">
      <span class="txt-break-word">from <strong><%= result.retail_chain_name %></strong></span>
      <span class="tile__meta__price"><%=number_to_currency result.sale_price %></span>
    </p>
  </div>
</div>