<a class="tile tile--products" href="<%= centre_product_path((params[:centre_id] || params[:id]), result[:id]) %>">
  <article class="box" role="article">

    <span class="tile__image">
      <% # TODO: fix alt tag %>
      <%= image_tag result[:_links][:image][:href], alt: result['name'] %>
    </span>

    <div class="tile__meta">
      <span class="tile__meta__icon">
        <span class="icon icon--products" aria-hidden="true"></span>
        <span class="hide-visually">Event</span>
      </span>
      <div class="tile__meta__inner">
        <h3 class="tile__meta__hdr"><%= result[:name] %></h3>
        <p class="tile__meta__desc"><%= result[:description] %></p>
      </div>
    </div>

  </article>
</a>