<% if result.cloudinary_public_id %>
  <div class="tile__image">
    <%= cl_image_tag result.cloudinary_public_id,
      format: 'jpg',
      alt: "Photo of product: #{result.title}",
      width: 288,
      crop: :limit,
      'data-height' => result.image_height
    %>
  </div>
<% end %>

<div class="tile__meta">
  <span class="tile__meta__icon">
    <span class="icon icon--products" aria-hidden="true"></span>
    <span class="hide-visually"></span>
  </span>
  <div class="tile__meta__inner">
    <h3 class="tile__meta__hdr txt-truncate"><%= result.name %></h3>
    <p class="tile__meta__desc txt-truncate">
      <span class="tile__meta__price"><%=number_to_currency result.sale_price %></span>
      from <strong><%= result.retail_chain_name %></strong>
    </p>
  </div>
</div>