<%# Image %>
<div class="tile__image">
  <%# TODO There is something causing some images in beta not to load if the cl_image_tag is used here %>
  <%= fetch_image_tag result.primary_image, {
      'data-height' => result.image_height,
      width: 289,
      alt: "",
      crop: :limit,
      format: :auto
    }.merge((options if defined? options) || {})
  %>
</div>
<%# //Image %>

<%# Meta %>
<div class="tile__meta">

  <%# Product name %>
  <h3 class="tile__meta__hdr txt-truncate"><%= result.name %></h3>
  <%# //Product name %>

  <%# Product brand %>
  <p class="tile__meta__desc txt-truncate">from <strong><%= result.retail_chain_name %></strong></p>
  <%# //Product brand %>

  <%# Product price %>
  <p class="price-strip">
    <strong>
      <span class="hide-visually">Price: </span>
      <%= number_to_currency result.sale_price %>
    </strong>
  </p>
  <%# //Product price %>

  <%# Icon %>
  <span class="tile__meta__icon icon icon--product icon--lrg" aria-hidden="true"></span>
  <%# //Icon %>

</div>
<%# //Meta %>
