<%# Tile deal meta %>
<div class="tile__meta">

  <%# Tile deal logo %>
  <% if result.logo %>
    <%= fetch_image_tag result.logo,
      alt: "#{result.display} logo",
      width: 168,
      height: 62,
      class: "tile__meta__logo",
      crop: :pad,
      format: :auto
    %>
  <%# //Tile deal logo %>
  <% end %>

  <%# Tile deal store name %>
  <h3 class="tile__meta__hdr txt-truncate"><%= result[:display] %></h3>
  <%# //Tile deal store name %>

</div>
<%# //Tile deal meta %>

<%# Tile deal icon %>
<span class="tile__meta__icon">
  <span class="icon icon--deals icon--lrg" aria-hidden="true"></span>
</span>
<%# //Tile deal icon %>