<%# Dialog to push users to choose a centre when in national view %>
<div wng-dialog class="dialog dialog--national-centre-selector box island js-dialog js-dialog-alert" aria-describedby="dialog-desc" aria-hidden="false" role="alertdialog">

  <%# Logo and heading %>
  <div class="dialog__logo dialog__mrg-base">
    <%= image_tag 'logo-beta.svg', alt: 'Westfield' %>
  </div>
  <h1 id="dialog-desc" class="dialog__mrg-base">Want to shop local? Choose your nearest Westfield centre</h1>
  <%# //Logo and heading %>

  <%# Centre selector %>
  <div class="dialog__mrg-base drop-down-menu drop-down-container">

    <%# Centre selector trigger %>
    <button type="button" class="drop-down-menu__trigger btn btn--full btn--full-left btn--main btn--main-dark btn--pointer" toggle-visibility="national-dialog-centre-selector">
      Westfield Centre
      <span aria-hidden="true" class="icon icon--lrg icon--arrow-down-full btn--pointer__icon"></span>
    </button>
    <%# //Centre selector trigger %>

    <%# Centre selector target %>
    <div class="drop-down-menu__target drop-down pointer-up box box--drop-down" id="national-dialog-centre-selector">
      <dl class="drop-down-menu__list">
      	<% %w(NSW ACT QLD VIC SA WA).each do |state| %>
      	  <dt class="drop-down-menu__hdr-sub drop-down-menu__divider"><%= state %></dt>
      	  <% @centres[state].each do |centre| %>
      	    <dd class="drop-down-menu__divider">
      	      <%= link_to centre.short_name, centre_products_path(centre_id: centre), class: 'btn btn--full btn--full-left', target: '_self' %>
      	    </dd>
      	  <% end %>
      	<% end %>
      </dl>
    </div>
    <%# //Centre selector target %>

  </div>
  <%# //Centre selector %>

  <%# Dismiss dialog %>
  <button type="button" class="dialog__mrg-base btn btn--faux-link js-dialog-close">
    No Thanks
    <span class="hide-visually"> and close dialog</span>
  </button>
  <%# //Dismiss dialog %>

</div>
<div class="overlay overlay--dialog" tabindex="-1"></div>
<%# //Dialog to push users to choose a centre when in national view %>