<div id="pin-board" class="pin-board">
  <%- @search.products.each do |result| -%>
    <%= render partial: "/shared/tiles/product",
        layout: '/layouts/tile',
        locals: { result: result, image: { href: result.default_image_url, title: result.lozenge_name } } %>
  <%- end -%>
</div>