<% if @search.products.blank? %>

  <%# No product search results message %>
  <div class="no-content-fallback-msg">
    <span class="icon icon--products icon--flush-top" aria-hidden="true"></span>
    <p role="status" aria-live="polite"><em class="h1">No products matching <span><%= params[:search_query] %></span></em> <span>See nearby centres</span></p>
  </div>
  <%# //No product search results message %>

<%- else -%>

  <%# Pin board %>
  <%= pin_board(@search.products) do |result| %>
    <%= tile "product",
      result: result,
      image: { href: result.default_image_url, title: result.name }
    %>
  <% end %>

  <% if request.xhr? %>
    <script>(new PinBoard).build()</script>
  <% end %>
  <%# //Pin board %>

<%- end -%>