<div ng-app="Westfield">
  <div ng-view></div>

  <!-- Used to list 'super_cat' and 'category' -->
  <script type="text/ng-template" id="categoryItemTemplate">
    <ul>
      <li ng-repeat="category in search.categories.values | orderBy: 'sort_order'">
        <a href="" ng-click="filterCategory( search.categories.field, category.code )">{{ category.name }}</a>
      </li>
    </ul>
  </script>

  <script type="text/ng-template" id="TypeListTemplate">
    <button ng-click="mvFilterSearch( 'categories' )">Apply</button>
    <ul>
      <li ng-repeat="category in search.categories.values | orderBy: 'sort_order'">
        <input ng-model="category.selected"
               ng-checked="category.selected"
               value="{{ category.code }}"
               id="category_{{ category.code }}"
               type="checkbox">
        <label for="category_{{ category.code }}">{{ category.name }} ({{ category.count }})</label>
      </li>
    </ul>
  </script>

  <script type="text/ng-template" id="super_catTemplate">
    <div ng-include src="'categoryItemTemplate'"></div>
  </script>

  <script type="text/ng-template" id="categoryTemplate">
    <div ng-include src="'categoryItemTemplate'"></div>
  </script>

  <script type="text/ng-template" id="sub_categoryTemplate">
    <div ng-include src="'categoryItemTemplate'"></div>
  </script>

  <script type="text/ng-template" id="typeTemplate">
    <div ng-include src="'TypeListTemplate'"></div>
  </script>

  <script type="text/ng-template" id="productBrowseTemplate">
    <form ng-submit="updateSearch()" method="get">
      <div class="select-filter categories">
        <div ng-include src="search.categories.field + 'Template'"></div>
      </div>


      <div class="select-filter">
        <button ng-click="mvFilterSearch( 'retailers' )">Apply</button>
        <input ng-model="storeSearch" type="search" placeholder="Enter a store name">

        <ul class="multi-facet-list">
          <li ng-repeat="retailer in search.retailers.values | filter: storeSearch | limitTo: 250">
            <input ng-model="retailer.selected"
                   ng-checked="retailer.selected"
                   value="{{ retailer.code }}"
                   id="retailer_{{ retailer.code }}"
                   type="checkbox">

            <label for="retailer_{{ retailer.code }}">{{ retailer.name }} ({{ retailer.count }})</label>
          </li>
        </ul>
      </div>

      <div class="select-filter brand">
        <button ng-click="mvFilterSearch( 'brands' )">Apply</button>
        <input ng-model="brandSearch" type="search" placeholder="Enter a brand name">

        <ul class="multi-facet-list">
          <li ng-repeat="brand in search.brands.values | filter: brandSearch | limitTo: 250">
            <input ng-model="brand.selected"
                   ng-checked="brand.selected"
                   value="{{ brand.code }}"
                   id="brand_{{ brand.code }}"
                   type="checkbox">
            <label for="brand_{{ brand.code }}">{{ brand.name }} ({{ brand.count }})</label>
          </li>
        </ul>
      </div>

      <div class="select-filter colour"></div>
      <div class="select-filter price-range">
        Price range
        <input ng-model="search.price.range_start" ng-change="rangeFilter('price')" type="text">
        <input ng-model="search.price.range_end" ng-change="rangeFilter('price')" type="text">
      </div>

      <div class="select-filter on-sale">
        <label for="sale-items">
          Sale items only:
          <input ng-model="on_sale"
                 ng-checked="search.params.on_sale"
                 ng-change="filterSearch('on_sale')"
                 type="checkbox">
        </label>
      </div>

      <label>
        Sort by:
        <select ng-model="sort"
                ng-change="filterSearch('sort')"
                ng-options="option.code as option.description for option in search.sortOptions | filter:{display: true}"
                class="sort-options"></select>
      </label>
    </form>

    <hr>
    <div class="selected-filters">
      <ul>
        <li ng-repeat="filter in search.appliedFilters">
          {{ filter.title }}
          <button ng-click="removeSelectedFilter( filter.type, filter.value )">X</button>
        </li>
      </ul>
      <button ng-click="clearFilters()">Clear all</div>
    </div>

    <div class="product-results">
      <div ng-hide="products.loaded" class="spinner"><h1>Loading</h1></div>

      <div ng-show="products.loaded" ng-bind-html-unsafe="products.list"></div>

      <%# Using a !products.loaded on ng-hide so that the loader will be shown immediately %>
      <div ng-hide="!products.loaded" ng-if="!products.list.length">
        <%= render 'products' %>
      </div>
    </div>
  </script>
</div>