<div class="container">
  <%= site_logo %>

  <p>Forwarding to <%= meta.retail_chain_name %> website<br> or go to the
  <%= link_to "retailer's site", meta.product_tracking_url.html_safe, target: "_blank",
    class: "js-redirect", rel: "external" %>
  directly.</p>

  <span class="preloader preloader--light">
    <span class="preloader__spinner"></span>
    <em class="hide-visually">Loading, please wait&#8230;</em>
  </span>
</div>

<%- content_for :javascript do -%>
  <script>
    $(document).ready(function() {
      $('.js-redirect').on("click", function(e){
        e.preventDefault();
        window.location.replace(collectUtmData());
      });

      setTimeout(function(){
        window.location.replace(collectUtmData());
      },3000)
    });


    function collectUtmData() {
      var utmSource, utmKeyword, utmMedium, queryString;
      var utmData = "";
      var s = "%7C";
      var ptu = "<%= meta.product_tracking_url.html_safe %>";

      <%# Only need to get pubref data if there is cam_ref %>
      <%- if @cam_ref.present? %>
        queryString = window.location.search;

        utmSource = queryString.match(/utm_source=([^&]*)/)
        utmMedium = queryString.match(/utm_medium=([^&]*)/)
        utmKeyword = queryString.match(/utm_keyword=([^&]*)/)

        utmData += utmSource ? utmSource[1] : "";
        utmData += s;
        utmData += utmMedium ? utmMedium[1] : "";
        utmData += s;
        utmData += utmKeyword ? utmKeyword[1] : "";

        ptu = ptu.replace(s + s + "/adref:", utmData + "/adref:");
      <%- end %>

      return ptu;
    }

  </script>
<%- end %>
