<%= styleguide_block 'Tabs' do |style| %>
<div class="tabs">
  <ul class="tab__nav horiz-list">
    <li>
      <a class="is-active" href="#tab-1">Tab 1</a>
    </li>
    <li>
      <a href="#tab-2">Tab 2</a>
    </li>
  </ul>
  <div class="tab__content is-active" id="tab-1">
    <h2 class="tab__content__hdr">Heading 1 - for print and Non-JS uers</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae risus lectus. Donec sit amet interdum purus. Vestibulum ante ipsum primis in faucibus.</p>
  </div>
  <div class="tab__content" id="tab-2">
    <h2 class="tab__content__hdr">Heading 2</h2>
    <p>Etiam et est ac nunc ultricies ultrices id ac massa. Donec non est et leo scelerisque ultricies tincidunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae risus lectus. Donec sit amet interdum purus. Vestibulum ante ipsum primis in faucibus.</p>
  </div>
</div>
<% end %>