<div class="header__overlay header-search-toggle drop-down js-global-search" id="site-search">
  <div class="vert-align">
    <div class="vert-align__inner">
      <div class="container container--position" ng-controller="GlobalSearchCtrl" ng-cloak>

        <%# Search form %>
        <%= form_tag centre_products_path(centre_id: params[:centre_id] || params[:id]), "ng-submit" => "submit($event)", class: "search-mini", role: "search", method: :get do %>
          <span class="icon icon--search" aria-hidden="true"></span>
          <label for="global-search" class="hide-visually">Search stores &amp; products</label>
          <input type="hidden" ng-model="centre" value="<%= params[:centre_id] || params[:id] %>">
          <input ng-model="searchQuery" ng-blur="hideSuggestions()" ng-focus="makeSuggestions()" ng-keyup="makeSuggestions($event)" ng-keydown="navigateSuggestions($event)" type="search" class="search-mini__input" id="global-search" name="search_query" autocomplete="off" placeholder="Search stores &amp; products&#8230;">
          <input type="submit" value="Search" ng-hide="true" class="search-mini__submit">
          <em role="status" aria-live="polite" class="hide-visually"><span ng-if="suggestions" ng-pluralize count="{{suggestions.stores.length + suggestions.products.length}}" when="searchResultText()"></span></em>
        <% end %>
        <%# //Search form %>

        <%# Search results %>
        <div class="search-results" ng-show="suggestionsVisible">
          <div class="search-results__inner">
            <dl class="search-results__list">
              <dt class="search-results__list__spacing" ng-if="suggestions.stores">
                <span aria-hidden="true" class="icon icon--store icon--xlrg"></span> Stores</dt>
              <dd ng-repeat="suggestion in suggestions.stores" role="presentation">
                <a ng-class="{'is-focused': suggestion === focusedSuggestion}"
                  ng-href="{{url(suggestion)}}" tabindex="-1">
                  {{suggestion.description}}
                </a>
              </dd>
              <dt ng-if="suggestions.products"><span aria-hidden="true" class="icon icon--products icon--xlrg"></span> Products</dt>
              <dd ng-repeat="suggestion in suggestions.products" role="presentation">
                <a ng-class="{'is-focused': suggestion === focusedSuggestion}"
                   ng-href="{{url(suggestion)}}" tabindex="-1">
                  {{suggestion.description}}
                </a>
              </dd>
            </dl>
          </div>
        </div>
        <%# //Search results %>

        <%# Close search %>
        <button class="btn header__overlay__close-btn hide-fully--non-palm js-disabled-hide" type="button" aria-owns="site-search" toggle-visibility="site-search">
          <span class="hide-visually">Close search</span>
          <span class="icon icon--close-lrg" aria-hidden="true"></span>
        </button>
        <%# //Close search %>

      </div>
    </div>
  </div>
</div>