<%# Header national %>
<header class="header header--national" role="banner">

	<%# Header secondary %>
	<div class="header__secondary drop-down-container">
		<div class="container">

			<%# Logo %>
      <%= link_to centre_path(@centre), target: "_self", rel: "home", class: "logo" do %>
        <%= image_tag 'logo-beta.svg', alt: 'Westfield', class: 'national__logo' %>
      <% end %>
			<%# //Logo %>

			<%# Menu toggle button (palm) %>
			<button type="button" class="btn btn--menu hide-fully--non-palm js-disabled-hide" toggle-visibility="header-menu-toggle-palm">
				<span class="hide-visually">Choose a centre</span>
				<span class="btn--menu__icon"></span>
			</button>
			<%# //Menu toggle button (palm) %>

			<%# Centre select tabs (palm) %>
			<nav class="header__tabs header-menu-toggle tabs drop-down pointer-up" id="header-menu-toggle-palm" role="navigation">

				<%# Tab header %>
				<div class="header__tabs__hdr">
					<h1 class="container">Choose a centre</h1>
				</div>
				<%# //Tab header %>

				<%# Tab nav %>
	      <ul class="tab__nav container horiz-list">
	        <li>
            <a href="#tab-nsw" class="is-active">
              <abbr title="New South Wales">NSW</abbr>
            </a>
          </li>
	        <li>
            <a href="#tab-act">
              <abbr title="Australian Capital Territory">ACT</abbr>
            </a>
          </li>
	        <li>
            <a href="#tab-qld">
              <abbr title="Queensland">QLD</abbr>
            </a>
          </li>
	        <li>
            <a href="#tab-vic">
              <abbr title="Victoria">VIC</abbr>
            </a>
          </li>
	        <li>
            <a href="#tab-sa">
              <abbr title="South Australia">SA</abbr>
            </a>
          </li>
	        <li>
            <a href="#tab-wa">
              <abbr title="Western Australia">WA</abbr>
            </a>
          </li>
	      </ul>
      	<%# //Tab nav %>

      	<%# Tab panels %>
      	<% %w(NSW ACT QLD VIC SA WA).each do |state| %>
		      <ul id="tab-<%= state.downcase %>" class="tab__content<%= ' is-active' if state == 'NSW' %>">
		        <% @centres[state].each do |centre| %>
		          <li>
                <%= link_to context_aware_link(centre), class: 'container h1', target: '_self' do %>
                  <%= centre.short_name %>
                  <span class="icon icon--arrow-right-big icon--flush-top" aria-hidden="true"></span>
                <% end %>
              </li>
		        <% end %>
		      </ul>
		    <% end %>
		    <%# //Tab panels %>

			</nav>
			<%# //Centre select tabs (palm) %>

			<%# Centre select (non-palm) %>
			<nav class="header-centre-select-national hide-fully--palm-inline-block" role="navigation">
				<h1>Choose a <span class="hide-visually">centre to see products, deals, events, and centre info:</span></h1>

        <div class="drop-down-menu drop-down-container">

          <button type="button" class="drop-down-menu__trigger btn btn--main btn--main-dark btn--pointer btn--pointer-padding-med" toggle-visibility="header-menu-toggle-non-palm">
            Westfield Centre
            <span aria-hidden="true" class="icon icon--lrg icon--arrow-down-full btn--pointer__icon"></span>
          </button>

          <div class="drop-down-menu__target drop-down pointer-up box box--drop-down" id="header-menu-toggle-non-palm">
          	<dl class="drop-down-menu__list">
      				<% %w(NSW ACT QLD VIC SA WA).each do |state| %>
	          		<dt class="drop-down-menu__hdr-sub drop-down-menu__divider"><%= state %></dt>
		        		<% @centres[state].each do |centre| %>
	          			<dd class="drop-down-menu__divider">
                    <%= link_to centre.short_name, context_aware_link(centre), class: 'btn btn--full btn--full-left', target: '_self' %>
                  </dd>
	          		<% end %>
	          	<% end %>
          	</dl>
          </div>

        </div>

        <span class="header-centre-select-national__lbl" aria-hidden="true">to see products, deals, events, and centre info</span>
			</nav>
			<%# //Centre select (non-palm) %>

      <%# Search toggle %>
      <% if national_product_index? %>
        <div class="search-toggle-favs js-disabled-hide">
          <button type="button" class="btn" toggle-visibility="site-search" aria-owns="site-search">
            <span class="hide-visually">Show site search</span>
            <span class="icon icon--search icon--spacing icon--flush-top icon--kilo" aria-hidden="true"></span>
          </button>
        </div>
      <% end %>
      <%# //Search toggle %>

      <%# Global search %>
      <%= render partial: 'layouts/global_search' if national_product_index? %>
      <%# //Global search %>

		</div>
	</div>
	<%# //Header secondary %>

</header>
<%# //Header national %>