<div class="nav-contextual">
  <div class="container">
    <nav role="navigation" aria-label="Contextual navigation">
      <ul class="nav-contextual__top-level-items horiz-list horiz-list--center">
        <li>
          <a href="#">Women's Fashion</a>
          <div class="drop-down-menu box">
            <ul>
              <li><a href="#">link</a></li>
              <li><a href="#">link</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="#">Men's Fashion</a>
        </li>
        <li>
          <a href="#">Kids</a>
        </li>
        <li>
          <a href="#">Shoes</a>
        </li>
        <li>
          <a href="#">Homewares</a>
        </li>
      </ul>
    </nav>

    <div class="nav-contextual__centre-selector">
      <span>Showing products from stores at</span>

      <div class="drop-down-menu">
        <button class="drop-down-menu__trigger drop-down-menu__trigger--light btn btn--main btn--pointer hide-fully--non-palm">
          Bondi Junction
          <span class="icon icon--lrg icon--arrow-down-full icon--flush-top btn--pointer__icon" aria-hidden="true"></span>
        </button>

        <div class="drop-down-menu__target box">
          <form action="#">
            <fieldset>
              <div class="nav-contextual__centre-selector__group island">
                <input id="current_centre" name="" type="radio" checked>
                <label for="current_centre">Bondi Junction</label>
              </div>

              <div class="nav-contextual__centre-selector__group island">
               <span>Nearby Centres</span>

                <ul>
                  <li><input type="checkbox" id="nearby_centre_1"><label for="nearby_centre_1">Sydney</label></li>
                  <li><input type="checkbox" id="nearby_centre_2"><label for="nearby_centre_2">Eastgardens</label></li>
                  <li><input type="checkbox" id="nearby_centre_3"><label for="nearby_centre_3">Burwood</label></li>
                </ul>

              </div>

              <div class="nav-contextual__centre-selector__group island">
                <input id="all_centres" type="radio">
                <label for="all_centres">Bondi Junction</label>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>