<div id="pin-board" class="pin-board grid grid--gutter-half grid--flush">
  <%- rows.in_groups(2, false) do |row| -%>
    <div class="grid__item one-half">
      <% row.each do |result| %>
        <%= yield result %>
      <%- end -%>
    </div>
  <%- end -%>
</div>

<% if request.xhr? %>
  <script>(new PinBoard("#pin-board")).build()</script>
<% end %>