<% content_for :class_for_body, "page-detail-view" %>
<% content_for :class_for_main, "container--wide" %>

<% if in_lightbox? %>
  <div class="page-overlay"></div>
  <article role="article" class="detail-view detail-view--<%= params[:controller].singularize %> box" tabindex="-1" role="dialog" aria-labelledby="detail-view__hdr" aria-hidden="true">
<% else %>
  <article role="article" class="detail-view detail-view--<%= params[:controller].singularize %> box">
<% end %>

  <div class="detail-view__controls detail-view__divider">
    <ul class="horiz-list horiz-list--fit horiz-list--center horiz-list--dividers">
      <li>
        <!-- [BACK END] this button toggles the saving/unsaving of an item, what needs to be toggled: class `is-saved` and button text 'Save' / 'Saved' -->
        <button type="button" class="controls__btn btn"><span class="icon icon--favs icon--lrg icon--spacing-lrg" aria-hidden="true"></span>Save</button>
      </li><!--
      -->
      <li>
        <% render "/shared/social_share", url: current_url, title: meta.title, image: meta.image %>
      </li>
    </ul>

    <% if in_lightbox? %>
      <button type="button" class="btn btn--close"><span class="icon icon--close-sml icon--flush-top" aria-hidden="true"></span><span class="hide-visually"> Close</span></button>
    <% end %>
  </div>

  <%= yield %>
</article>

<%= parent_layout 'application' %>